Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

fix test to also carry the rest of the options
  tests/js/client/authentication/auth.js
Owners: none

lint
  tests/js/client/authentication/auth.js
Owners: none

Add new AqlValueType and implement ctor(DocumentData& ResourceMonitor*=nullptr)
  arangod/Aql/AqlValue.cpp
  arangod/Aql/AqlValue.h
Owners: none

Correct ctor(Document&)
  arangod/Aql/AqlValue.cpp
  arangod/Aql/AqlValue.h
Owners: none

Extract extractAttributeValues
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  arangod/Transaction/Helpers.cpp
  arangod/Transaction/Helpers.h
Owners: none

Remove redundant tests
  tests/js/client/server_parameters/www-authenticate.js
Owners: none

Added missing include
  arangod/GeneralServer/RequestLane.h
Owners: none

fix error message to only appear if we fail to parse the output of the build
  js/client/modules/@arangodb/testsuites/js.js
Owners: none

chore: update colors
  js/apps/system/_admin/aardvark/APP/frontend/scss/_colors.scss
Owners: @arangodb/team-frontend

chore: update colors indent
  js/apps/system/_admin/aardvark/APP/frontend/scss/_colors.scss
Owners: @arangodb/team-frontend

chore: fix subnav menu alignment
  js/apps/system/_admin/aardvark/APP/frontend/scss/_subNavbar.scss
Owners: @arangodb/team-frontend

Fix arangosh test
  client-tools/Shell/V8ClientConnection.cpp
Owners: none

first draft of a yaml convertion of test-definitions.txt
  tests/test-definitions.yml
Owners: none

fix yaml syntaxt
  tests/test-definitions.yml
Owners: none

don't stringify buckets
  .circleci/generate_config.py
Owners: none

fix grammer
  tests/test-definitions.yml
Owners: none

work on fixing merge issues
  .circleci/generate_config.py
Owners: none

fix cluster/single flag handling
  .circleci/generate_config.py
Owners: none

first parser adaption
  .circleci/generate_config.py
Owners: none

need to check it out
  .circleci/config.yml
Owners: none

finalize yaml
  tests/test-definitions.yml
Owners: none

fix some editing issues
  tests/test-definitions.yml
Owners: none

lint python snake_case
  .circleci/generate_config.py
Owners: none

reformat more test definitions to yml
  tests/arangojs-test-definitions.yml
  tests/go-test-definitions.yml
  tests/java-driver-test-definitions.yml
  tests/kafka-test-definitions.yml
  tests/test-definitions.yml
Owners: none

delete old test definitions
  tests/arangojs-test-definitions.txt
  tests/go-test-definitions.txt
  tests/java-test-definitions.txt
  tests/kafka-test-definitions.txt
  tests/test-definitions.txt
Owners: @arangodb/team-qa

work on merge
  .circleci/generate_config.py
Owners: none

make it int
  .circleci/generate_config.py
Owners: none

fix handling, error messages, correct yaml issues
  .circleci/generate_config.py
  tests/arangojs-test-definitions.yml
  tests/go-test-definitions.yml
  tests/java-test-definitions.yml
  tests/kafka-test-definitions.yml
Owners: none

fix custom yaml header
  .circleci/generate_config.py
Owners: none

move bucket: auto to buckets: auto, add documentation
  .circleci/generate_config.py
  tests/README.md
  tests/test-definitions.yml
Owners: none

switch to yml file
  .circleci/config.yml
Owners: none

don't use special tag to run several suites
  .circleci/generate_config.py
  tests/test-definitions.yml
Owners: none

unify function
  .circleci/generate_config.py
Owners: none

QA-711: Feature/testsuite grouping (#22041)
  .circleci/generate_config.py
  js/client/modules/@arangodb/testutils/testing.js
  tests/arangojs-test-definitions.yml
  tests/go-test-definitions.yml
  tests/java-test-definitions.yml
  tests/kafka-test-definitions.yml
  tests/test-definitions.yml
Owners: none

remove comments
  tests/test-definitions.yml
Owners: none

lint
  .circleci/generate_config.py
Owners: none

add suffix for result handling
  tests/test-definitions.yml
Owners: none

don't configure small machine for cluster tests
  tests/test-definitions.yml
Owners: none

Apply suggestion from @mpoeter
  js/client/modules/@arangodb/testutils/testing.js
Owners: none

delete .txt support
  .circleci/config.yml
  .circleci/generate_config.py
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
