Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

re-enable them
  js/client/modules/@arangodb/testsuites/communication.js
  tests/js/client/communication/test-kill.js
Owners: none

chore: update yarn.lock
  js/apps/system/_admin/aardvark/APP/react/package.json
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

chore: update changelog
  CHANGELOG
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

revert
  js/client/modules/@arangodb/testsuites/communication.js
Owners: none

Fix arangodb_metadata_number_of_shards metric documentation
  Documentation/Metrics/arangodb_metadata_number_of_shards.yaml
Owners: @arangodb/team-documentation

re-enable and rework test
  tests/js/client/recovery/search/view-arangosearch-link-populate-transaction.js
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-arangosearch-link-populate-transaction-no-flushthread.js
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-search-alias-populate-fail.js
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-search-alias-populate-transaction-multiple-batches-no-flushthread.js
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-search-alias-populate-transaction-no-flushthread.js
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-arangosearch-link-populate-transaction-single-batch-no-flushthread.js
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-arangosearch-link-populate-transaction-abort-no-flushthread.js
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-arangosearch-link-populate-transaction-multiple-batches-no-flushthread.js
Owners: none

Los geht's
  arangod/Graph/EdgeDocumentToken.h
Owners: none

Remove unnecessary template parameter
  arangod/Graph/Providers/BaseStep.h
  arangod/Graph/Steps/ClusterProviderStep.h
  arangod/Graph/Steps/SingleServerProviderStep.h
  tests/Graph/FifoQueueTest.cpp
  tests/Graph/LifoQueueTest.cpp
  tests/Graph/PathStoreTest.cpp
  tests/Graph/WeightedQueueTest.cpp
  tests/Mocks/MockGraphProvider.cpp
  tests/Mocks/MockGraphProvider.h
Owners: none

clang-format nannying
  arangod/Graph/EdgeDocumentToken.h
Owners: none

clang-format nannying
  arangod/Graph/EdgeDocumentToken.h
Owners: none

clang-format nannying
  tests/Mocks/MockGraphProvider.h
Owners: none

Simplify if constexpr
  arangod/Graph/Enumerators/OneSidedEnumerator.cpp
Owners: none

Clang-format
  tests/Aql/Executor/ShortestPathExecutorTest.cpp
Owners: none

Remove some orphans
  arangod/Graph/BaseOptions.h
Owners: none

Remove EdgeDocumentToken coordinator version (2)
  arangod/Graph/EdgeDocumentToken.h
Owners: none

Make Coordinator Version of EdgeDocumentSlice unnecessary
  tests/Aql/Executor/ShortestPathExecutorTest.cpp
Owners: none

Remove Coordinator version of EdgeDocumentToken
  arangod/Graph/EdgeDocumentToken.h
  arangod/Graph/Enumerators/YenEnumerator.h
  tests/Mocks/MockGraphProvider.cpp
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-arangosearch-link-populate-transaction-abort.js
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-search-alias-populate-transaction-single-batch-no-flushthread.js
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-arangosearch-link-populate-fail.js
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-search-alias-populate-transaction.js
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-search-alias-populate-transaction-abort.js
Owners: none

re-enable and rework test
  tests/js/client/recovery/search/view-search-alias-populate-transaction-abort-no-flushthread.js
Owners: none

lint
  tests/js/client/recovery/search/view-arangosearch-link-populate-fail.js
  tests/js/client/recovery/search/view-arangosearch-link-populate-transaction-abort-no-flushthread.js
  tests/js/client/recovery/search/view-arangosearch-link-populate-transaction-abort.js
  tests/js/client/recovery/search/view-arangosearch-link-populate-transaction-multiple-batches-no-flushthread.js
  tests/js/client/recovery/search/view-arangosearch-link-populate-transaction-no-flushthread.js
  tests/js/client/recovery/search/view-arangosearch-link-populate-transaction-single-batch-no-flushthread.js
  tests/js/client/recovery/search/view-arangosearch-link-populate-transaction.js
  tests/js/client/recovery/search/view-search-alias-populate-fail.js
  tests/js/client/recovery/search/view-search-alias-populate-transaction-abort-no-flushthread.js
  tests/js/client/recovery/search/view-search-alias-populate-transaction-abort.js
  tests/js/client/recovery/search/view-search-alias-populate-transaction-multiple-batches-no-flushthread.js
  tests/js/client/recovery/search/view-search-alias-populate-transaction-no-flushthread.js
  tests/js/client/recovery/search/view-search-alias-populate-transaction-single-batch-no-flushthread.js
  tests/js/client/recovery/search/view-search-alias-populate-transaction.js
Owners: none

chore: update yarn.lock
  js/apps/system/_admin/aardvark/APP/react/package.json
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

chore: update changelog
  CHANGELOG
Owners: none

Check for existance of cgroup limits files
  lib/Basics/FileUtils.cpp
  lib/Basics/NumberOfCores.cpp
  lib/Basics/PhysicalMemory.cpp
Owners: none

Revert changes
  lib/Basics/FileUtils.cpp
Owners: none

vector indices aren't experimental anymore
  js/client/modules/@arangodb/testsuites/aql.js
  js/client/modules/@arangodb/testsuites/dump.js
  js/client/modules/@arangodb/testsuites/hotbackup.js
  js/client/modules/@arangodb/testsuites/rta_makedata.js
Owners: none

Further simplification of EdgeDocumentToken
  arangod/Graph/EdgeDocumentToken.h
Owners: none

Fix output of explain/profile of aql where vector idnex was not shown in used indexes
  js/common/modules/@arangodb/aql/explainer.js
Owners: none

Add changelog
  CHANGELOG
Owners: none
