Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Fix
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

FE-611 | Initial Review Comments Addressed
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/CollectionIndex.types.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/CollectionIndicesContext.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/AddIndexForm.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/useSupportedIndexTypes.tsx
Owners: @arangodb/team-frontend

Move async task cleanup before transaction destruction (#21734)
  arangod/Aql/ExecutionBlock.cpp
  arangod/Aql/ExecutionBlock.h
  arangod/Aql/ExecutionBlockImpl.h
  arangod/Aql/ExecutionBlockImpl.tpp
  arangod/Aql/ExecutionEngine.cpp
  arangod/Aql/ExecutionEngine.h
  arangod/Aql/Query.cpp
Owners: none

Add tests for async vs future
  tests/Async/AsyncVsFuture.cpp
  tests/Async/CMakeLists.txt
Owners: none

Use visit on variant
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/asyncregistry/gdb_data.py
  lib/Async/Registry/promise.h
Owners: none

Add explanation to shared resource
  lib/Containers/Concurrent/shared.h
Owners: none

Remove dataKeys
  tests/js/client/server_parameters/test-telemetrics-true-auth.js
Owners: none

Fix equality comparison
  js/apps/system/_admin/aardvark/APP/react/src/views/graphV2/viewGraph/graphSettings/useNodeStartOptions.tsx
Owners: @arangodb/team-frontend

Improve performance of graph settings query
  js/apps/system/_admin/aardvark/APP/react/src/views/graphV2/viewGraph/graphSettings/useNodeStartOptions.tsx
Owners: @arangodb/team-frontend

Connect tasks over threads
  lib/TaskMonitoring/include/TaskMonitoring/task.h
  lib/TaskMonitoring/task.cpp
  tests/TaskMonitoring/TaskRegistryTest.cpp
Owners: none

Add a scheduled task
  lib/Async/Registry/promise.h
  lib/TaskMonitoring/include/TaskMonitoring/task.h
  lib/TaskMonitoring/task.cpp
  tests/TaskMonitoring/TaskRegistryTest.cpp
Owners: none

Add a customizable printer to a task
  lib/TaskMonitoring/include/TaskMonitoring/task.h
  lib/TaskMonitoring/task.cpp
  tests/TaskMonitoring/TaskRegistryTest.cpp
Owners: none

Add changelog
  CHANGELOG
Owners: none

[BTS-2149] Improve performance of graph settings query (#21794)
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/react/src/views/graphV2/viewGraph/graphSettings/useNodeStartOptions.tsx
Owners: @arangodb/team-frontend

Stop using a streaming transaction after an operation timeouts
  tests/js/client/aql/aql-complex.js
  tests/js/client/chaos/test-chaos-load-common.inc
  tests/js/client/shell/shell-improved-metrics-accounting-fail-at.inc
Owners: none

Abort transactions with failed operations
  tests/js/client/chaos/test-chaos-load-common.inc
Owners: none

Fixes SingleServer lock.
  arangod/Auth/UserManager.cpp
  arangod/Auth/UserManager.h
  arangod/RestHandler/RestAuthReloadHandler.cpp
  arangod/RestServer/UpgradeFeature.cpp
  arangod/V8Server/v8-users.cpp
Owners: none

local cluster to allow external access / compression (#21755)
  scripts/startLocalCluster.sh
Owners: @arangodb/team-qa

Add thread name back in (#21791)
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/asyncregistry/gdb_data.py
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/asyncregistry/gdb_forest.py
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/pretty-printer.py
  arangod/SystemMonitor/AsyncRegistry/RestHandler.cpp
  lib/Async/Registry/promise.cpp
  lib/Async/Registry/promise.h
  lib/Async/include/Async/async.h
  lib/Async/include/Async/context.h
  lib/Async/include/Async/coro-utils.h
  lib/Containers/Concurrent/CMakeLists.txt
  lib/Containers/Concurrent/shared.h
  lib/Containers/Concurrent/thread.cpp
  lib/Containers/Concurrent/thread.h
  lib/Futures/include/Futures/Future.h
  lib/Futures/include/Futures/Promise.h
  lib/Futures/include/Futures/Utilities.h
  lib/Futures/include/Futures/coro-helper.h
  tests/Async/AsyncTest.cpp
  tests/Async/Registry/RegistryTest.cpp
  tests/Containers/Concurrent/CMakeLists.txt
  tests/Containers/Concurrent/SharedTest.cpp
  tests/Futures/FutureCoroutineTest.cpp
  tests/Futures/FutureTest.cpp
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/gdb_integration/async_registry_gdb_pretty_printer_test.cpp
Owners: none

Add changelog
  CHANGELOG
Owners: none

Fix vector index missing in telemetrics (#21788)
  CHANGELOG
  arangod/Utils/SupportInfoBuilder.cpp
  tests/js/client/server_parameters/test-telemetrics-true-auth.js
  tests/js/common/test-data/telemetry/telemetrySchema.json
Owners: none

Fixed compile error, fixed bogus comparison, and did some cleanup
  tests/js/client/chaos/test-chaos-load-common.inc
Owners: none

permit longer timeouts for tsan
  tests/js/client/shell/shell-in-background-failures-noncluster-fp.js
  tests/js/client/wal_cleanup/wal-cluster-nocov.js
Owners: none

uniq name
  tests/js/client/shell/shell-in-background-failures-noncluster-fp.js
Owners: none

Updated ChangeLog File
  CHANGELOG
Owners: none

Updated ChangeLog File
  CHANGELOG
Owners: none

BTS-2148: permit longer timeouts for tsan (#21797)
  tests/js/client/shell/shell-in-background-failures-noncluster-fp.js
  tests/js/client/wal_cleanup/wal-cluster-nocov.js
Owners: none

Replaces the hunt for the _users to be ready and just trigger the first reload on the frist call.
  arangod/Auth/UserManager.cpp
  arangod/GeneralServer/AuthenticationFeature.cpp
  arangod/RestServer/BootstrapFeature.cpp
  arangod/RestServer/DatabaseFeature.cpp
  arangod/RestServer/UpgradeFeature.cpp
Owners: none

Fix gtest
  arangod/Auth/UserManager.cpp
  tests/Auth/UserManagerClusterTest.cpp
Owners: none

Updated ChangeLog File
  CHANGELOG
Owners: none

Updated ChangeLog File
  CHANGELOG
Owners: none

Revert "Add thread name back in (#21791)"
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/asyncregistry/gdb_data.py
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/asyncregistry/gdb_forest.py
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/pretty-printer.py
  arangod/SystemMonitor/AsyncRegistry/RestHandler.cpp
  lib/Async/Registry/promise.cpp
  lib/Async/Registry/promise.h
  lib/Async/include/Async/async.h
  lib/Async/include/Async/context.h
  lib/Async/include/Async/coro-utils.h
  lib/Containers/Concurrent/CMakeLists.txt
  lib/Containers/Concurrent/shared.h
  lib/Containers/Concurrent/thread.cpp
  lib/Containers/Concurrent/thread.h
  lib/Futures/include/Futures/Future.h
  lib/Futures/include/Futures/Promise.h
  lib/Futures/include/Futures/Utilities.h
  lib/Futures/include/Futures/coro-helper.h
  tests/Async/AsyncTest.cpp
  tests/Async/Registry/RegistryTest.cpp
  tests/Containers/Concurrent/CMakeLists.txt
  tests/Containers/Concurrent/SharedTest.cpp
  tests/Futures/FutureCoroutineTest.cpp
  tests/Futures/FutureTest.cpp
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/gdb_integration/async_registry_gdb_pretty_printer_test.cpp
Owners: none

Bug fix/fuzzer set request path (#21789)
  client-tools/Shell/RequestFuzzer.cpp
  client-tools/Shell/RequestFuzzer.h
  client-tools/Shell/V8ClientConnection.cpp
Owners: none

Be more tolerant when waiting for drop of database.
  arangod/Cluster/ClusterInfo.cpp
Owners: none

Add test.
  tests/js/client/shell/shell-drop-database-with-stopped-server-cluster.js
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Make test much simpler
  tests/Async/AsyncVsFuture.cpp
Owners: none

FE-611 | Secondary Review Comments Addressed
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

Updated ChangeLog File
  CHANGELOG
Owners: none

Updated ChangeLog File
  CHANGELOG
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
