Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

switch to lz4 submodule
  .gitmodules
Owners: none

Move posting to scheduler
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
Owners: none

Address review comments and refactor
  CHANGELOG
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
Owners: none

Fix crash
  arangod/Aql/QueryRegistry.cpp
Owners: none

Fix checks
  arangod/Aql/QueryRegistry.cpp
Owners: none

Fix bad alloc by moving entry struct into namespace
  arangod/SystemMonitor/AsyncRegistry/RestHandler.cpp
  arangod/SystemMonitor/TaskMonitoring/RestHandler.cpp
  lib/Containers/Forest/depth_first.h
  lib/Containers/Forest/forest.h
Owners: none

Updated CHANGELOG
  CHANGELOG
Owners: none

Cleanup: Move QueryDestructionContext into QueryRegistry
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
Owners: none

Added explicit types, pass direct reference to QueryInfo
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
Owners: none

Fix constness
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
Owners: none

Take query-id from QueryInfo, instead of queryToFinish
  arangod/Aql/QueryRegistry.cpp
Owners: none

Remove redundant line
  arangod/Aql/QueryRegistry.cpp
Owners: none

Instrumented Database Creation and UpgradeTasks
  arangod/RestHandler/RestDatabaseHandler.cpp
  arangod/VocBase/Methods/Databases.cpp
  arangod/VocBase/Methods/UpgradeTasks.cpp
Owners: none

Extend the lifetime of `queryInfo` (#21741)
  CHANGELOG
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
Owners: none

Fix BTS-2135: Query info destruction
  CHANGELOG
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
Owners: none

Refactored MaintenanceActions to use a seperate folder.
  arangod/Cluster/Maintenance.cpp
  arangod/Cluster/MaintenanceActions/Action.cpp
  arangod/Cluster/MaintenanceActions/Action.h
  arangod/Cluster/MaintenanceActions/ActionBase.cpp
  arangod/Cluster/MaintenanceActions/ActionBase.h
  arangod/Cluster/MaintenanceActions/ActionDescription.cpp
  arangod/Cluster/MaintenanceActions/ActionDescription.h
  arangod/Cluster/MaintenanceActions/CreateCollection.cpp
  arangod/Cluster/MaintenanceActions/CreateCollection.h
  arangod/Cluster/MaintenanceActions/CreateDatabase.cpp
  arangod/Cluster/MaintenanceActions/CreateDatabase.h
  arangod/Cluster/MaintenanceActions/DropCollection.cpp
  arangod/Cluster/MaintenanceActions/DropCollection.h
  arangod/Cluster/MaintenanceActions/DropDatabase.cpp
  arangod/Cluster/MaintenanceActions/DropDatabase.h
  arangod/Cluster/MaintenanceActions/DropIndex.cpp
  arangod/Cluster/MaintenanceActions/DropIndex.h
  arangod/Cluster/MaintenanceActions/EnsureIndex.cpp
  arangod/Cluster/MaintenanceActions/EnsureIndex.h
  arangod/Cluster/MaintenanceActions/ResignShardLeadership.cpp
  arangod/Cluster/MaintenanceActions/ResignShardLeadership.h
  arangod/Cluster/MaintenanceActions/SynchronizeShard.cpp
  arangod/Cluster/MaintenanceActions/SynchronizeShard.h
  arangod/Cluster/MaintenanceActions/TakeoverShardLeadership.cpp
  arangod/Cluster/MaintenanceActions/TakeoverShardLeadership.h
  arangod/Cluster/MaintenanceActions/UpdateCollection.cpp
  arangod/Cluster/MaintenanceActions/UpdateCollection.h
  arangod/Cluster/MaintenanceActions/UpdateReplicatedLogAction.cpp
  arangod/Cluster/MaintenanceActions/UpdateReplicatedLogAction.h
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
  arangod/Cluster/MaintenanceRestHandler.h
  arangod/Cluster/MaintenanceWorker.h
  arangod/Replication2/StateMachines/Document/MaintenanceActionExecutor.cpp
  arangod/RestHandler/RestCollectionHandler.cpp
  arangod/RestHandler/RestReplicationHandler.cpp
  arangod/arangoserver.cmake
  tests/Maintenance/MaintenanceFeatureTest.cpp
  tests/Maintenance/MaintenanceTest.cpp
  tests/Mocks/Servers.cpp
Owners: none

dump has more code for ddl generation, don't spoil the results by that
  tests/rta-dump-test-definitions.txt
  tests/rta-test-definitions.txt
Owners: none

Fix BTS-2135: Query info destruction (#21758)
  CHANGELOG
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
Owners: none

Fixed RestCursorHandler::cancel(): Must not reset wakeup handler
  arangod/GeneralServer/RestHandler.h
  arangod/RestHandler/RestCursorHandler.cpp
Owners: none

Fixed false positives in shell-aql-kill.js
  tests/js/client/shell/multi/shell-aql-kill.js
Owners: none

arangodb release 3.12.4.4
  ARANGO-VERSION
  CHANGELOG
  CMakeLists.txt
  js/apps/system/_admin/aardvark/APP/api-docs.json
Owners: @arangodb/team-frontend

Improve vector index error message (#21737)
  CHANGELOG
  arangod/Aql/Function/VectorFunctions.cpp
Owners: none

Fixed QueryCursorTest: call RestCursorHandler::executeAsync() instead of ::execute()
  tests/Aql/QueryCursorTest.cpp
Owners: none

Fix more C++ tests
  tests/Aql/QueryCursorTest.cpp
  tests/Mocks/MockGraph.cpp
  tests/Transaction/RestTransactionHandlerTest.cpp
Owners: none

Restored LogContext functionality by adding it to async::Context
  arangod/GeneralServer/RestHandler.cpp
  lib/Async/include/Async/context.h
  lib/Logger/LogContext.cpp
  lib/Logger/LogContext.h
Owners: none

clang-format
  arangod/GeneralServer/RestHandler.cpp
  lib/Logger/LogContext.h
Owners: none

Just set kill flag during cancel to avoid a data race
  arangod/RestHandler/RestCursorHandler.cpp
Owners: none

hide credentials from tests (#21752)
  scripts/test/site_config.py
Owners: @arangodb/team-qa

Instrumented Maintenance Actions
  arangod/Cluster/MaintenanceActions/CreateCollection.cpp
  arangod/Cluster/MaintenanceActions/CreateDatabase.cpp
  arangod/Cluster/MaintenanceActions/DropCollection.cpp
  arangod/Cluster/MaintenanceActions/DropDatabase.cpp
  arangod/Cluster/MaintenanceActions/DropIndex.cpp
  arangod/Cluster/MaintenanceActions/EnsureIndex.cpp
  arangod/Cluster/MaintenanceActions/ResignShardLeadership.cpp
  arangod/Cluster/MaintenanceActions/SynchronizeShard.cpp
  arangod/Cluster/MaintenanceActions/TakeoverShardLeadership.cpp
  arangod/Cluster/MaintenanceActions/UpdateCollection.cpp
  arangod/Cluster/MaintenanceActions/UpdateReplicatedLogAction.cpp
  arangod/Replication2/StateMachines/Document/MaintenanceActionExecutor.cpp
Owners: none

Make variable atomic (ported change from devel #21026)
  lib/SimpleHttpClient/ConnectionCache.cpp
  lib/SimpleHttpClient/ConnectionCache.h
Owners: none

Added a Pretty Printer for the RestEndpoint output
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/README.md
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/pretty_printer.py
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/taskmonitoring/__init__.py
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/taskmonitoring/tasktree.py
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/tests/__init__.py
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/tests/test_tasktree.py
Owners: none

Load custom libomp
  .circleci/config.yml
Owners: none

Update lib/ApplicationFeatures/ProcessEnvironmentFeature.cpp
  lib/ApplicationFeatures/ProcessEnvironmentFeature.cpp
Owners: none

Fix
  libomp.so
Owners: none

lint
  lib/ApplicationFeatures/ProcessEnvironmentFeature.cpp
Owners: none

Next version on pretty printing
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/taskmonitoring/tasktree.py
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/tests/test_tasktree.py
Owners: none

Updated the layout a bit. Running tasks are not Grouped
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/taskmonitoring/tasktree.py
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/tests/test_tasktree.py
Owners: none

Reversed order in Pretty printer
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/taskmonitoring/tasktree.py
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/tests/test_tasktree.py
Owners: none

Added a show-deleted flag
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/README.md
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/pretty_printer.py
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/taskmonitoring/tasktree.py
  arangod/SystemMonitor/TaskMonitoring/PrettyPrinter/src/tests/test_tasktree.py
Owners: none

Verbose omp
  .circleci/config.yml
Owners: none
