Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

optionally choose pre-packaged node modules (#21729)
  .circleci/base_config.yml
  .circleci/config.yml
  CMakeLists.txt
  cmake/frontend/aardvark.cmake
  scripts/docker/build/linux/Dockerfile.arm64
  scripts/docker/build/linux/Dockerfile.x86-64
  scripts/docker/build/linux/tools/install.sh
Owners: @arangodb/team-qa

Add oskar branch parameter to CircleCI
  .circleci/base_config.yml
  .circleci/config.yml
Owners: none

disable vector index on ARM for now, faiss is known to be crashy now. (#21718)
  js/client/modules/@arangodb/testutils/client-tools.js
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
  tests/js/client/aql/vector/aql-vector-full-count.js
  tests/js/client/aql/vector/aql-vector-nprobe.js
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Sleeping barber in SharedQueryState (#21732)
  .circleci/base_config.yml
  .circleci/config.yml
  CHANGELOG
  arangod/Aql/SharedQueryState.cpp
  arangod/Aql/SharedQueryState.h
  js/client/modules/@arangodb/testutils/client-tools.js
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
  tests/js/client/aql/vector/aql-vector-full-count.js
  tests/js/client/aql/vector/aql-vector-nprobe.js
  tests/js/client/aql/vector/aql-vector.js
Owners: none

arangodb release 3.12.4.3
  ARANGO-VERSION
  CHANGELOG
  CMakeLists.txt
  js/apps/system/_admin/aardvark/APP/api-docs.json
Owners: @arangodb/team-frontend

Make async registry data structure generic (#21699)
  arangod/AsyncRegistryServer/CMakeLists.txt
  arangod/AsyncRegistryServer/Feature.cpp
  arangod/AsyncRegistryServer/Feature.h
  arangod/AsyncRegistryServer/Metrics.cpp
  arangod/AsyncRegistryServer/Metrics.h
  arangod/AsyncRegistryServer/PrettyPrinter/src/asyncregistry/gdb_data.py
  arangod/AsyncRegistryServer/RestHandler.cpp
  lib/Async/Registry/CMakeLists.txt
  lib/Async/Registry/Metrics.h
  lib/Async/Registry/promise.cpp
  lib/Async/Registry/promise.h
  lib/Async/Registry/registry.h
  lib/Async/Registry/registry_variable.h
  lib/Async/Registry/thread_registry.cpp
  lib/Async/Registry/thread_registry.h
  lib/Async/include/Async/async.h
  lib/CMakeLists.txt
  lib/Containers/CMakeLists.txt
  lib/Containers/Concurrent/CMakeLists.txt
  lib/Containers/Concurrent/ListOfNonOwnedLists.h
  lib/Containers/Concurrent/ThreadOwnedList.h
  lib/Containers/Concurrent/metrics.h
  lib/Containers/Concurrent/snapshot.h
  lib/Containers/Concurrent/thread.cpp
  lib/Containers/Concurrent/thread.h
  tests/Async/AsyncTest.cpp
  tests/Async/AsyncTestLineNumbers.tpp
  tests/Async/Registry/CMakeLists.txt
  tests/Async/Registry/RegistryTest.cpp
  tests/Async/Registry/ThreadRegistryTest.cpp
  tests/CMakeLists.txt
  tests/Containers/CMakeLists.txt
  tests/Containers/Concurrent/CMakeLists.txt
  tests/Containers/Concurrent/ListOfNonOwnedListsTest.cpp
  tests/Containers/Concurrent/ThreadOwnedListTest.cpp
  tests/Futures/FutureCoroutineTest.cpp
  tests/Futures/FutureTest.cpp
Owners: none

Move async task cleanup before transaction destruction
  arangod/Aql/ExecutionEngine.cpp
  arangod/Aql/ExecutionEngine.h
  arangod/Aql/Query.cpp
Owners: none

first draft, added cancel of traversal in one sided enumerator, and to all providers including mock provider - also added unit/gtest for providers
  arangod/Aql/ExecutionNode/EnumeratePathsNode.cpp
  arangod/Aql/ExecutionNode/ShortestPathNode.cpp
  arangod/Aql/ExecutionNode/TraversalNode.cpp
  arangod/Graph/Enumerators/OneSidedEnumerator.cpp
  arangod/Graph/Options/OneSidedEnumeratorOptions.h
  arangod/Graph/Options/QueryContextObserver.h
  arangod/Graph/Providers/BaseProviderOptions.cpp
  arangod/Graph/Providers/BaseProviderOptions.h
  arangod/Graph/Providers/ClusterProvider.cpp
  arangod/Graph/Providers/SingleServerProvider.cpp
  tests/Graph/DFSFinderTest.cpp
  tests/Graph/GenericGraphProviderTest.cpp
  tests/Graph/SingleServerProviderTest.cpp
  tests/Mocks/MockGraphProvider.cpp
  tests/Mocks/MockGraphProvider.h
Owners: none

add subset of tests that use rta-makedata
  tests/rta-test-definitions.txt
Owners: none

-O0 removed for windows. SourceLocation workaround to advance compilation
  3rdParty/icu-legacy/CMakeLists.txt
  CMakeLists.txt
  lib/Basics/SourceLocation.h
Owners: none

Save current commit index in local variable
  tests/Mocks/Servers.cpp
Owners: none

Improve vector index error message
  arangod/Aql/Function/VectorFunctions.cpp
Owners: none

Add changelog entry
  CHANGELOG
Owners: none

Use custom build of Swagger-UI v5.21.0 with patch for response component
  3rdParty/README_maintainers.md
  js/server/assets/swagger/swagger-initializer.js
  js/server/assets/swagger/swagger-ui-bundle.js
  js/server/assets/swagger/swagger-ui.css
  js/server/assets/swagger/swagger-ui.css.map
Owners: none

Allow indexed access in standalone AQL (Computed Values and aql Analyzer)
  arangod/Aql/StandaloneCalculation.cpp
Owners: none

Docs: arangodb_shards_out_of_sync metric only exposed by DB-Servers
  Documentation/Metrics/arangodb_shards_out_of_sync.yaml
Owners: @arangodb/team-documentation

Extend the lifetime of queryInfo
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
Owners: none

Add changelog entry
  CHANGELOG
Owners: none

adding exe targets and comment fix
  CMakeLists.txt
  client-tools/Backup/CMakeLists.txt
  client-tools/Benchmark/CMakeLists.txt
  client-tools/Dump/CMakeLists.txt
  client-tools/Export/CMakeLists.txt
  client-tools/Import/CMakeLists.txt
  client-tools/Restore/CMakeLists.txt
  client-tools/Shell/CMakeLists.txt
  client-tools/VPack/CMakeLists.txt
  lib/Basics/SourceLocation.h
Owners: none

also test the replication rta
  tests/rta-test-definitions.txt
Owners: none

add sub-groups for separate coverage
  tests/api-test-definitions.txt
  tests/replication-test-definitions.txt
Owners: none

Timeout in waitFor, logging if hit.
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

WIP: Add logging when query destruction takes long
  arangod/Aql/QueryRegistry.cpp
Owners: none

Diagnose double use.
  arangod/Aql/ExecutionBlock.h
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

Count number of waiters.
  arangod/Aql/ExecutionBlock.h
  arangod/Aql/ExecutionBlockImpl.h
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

Put "ALERT: " in.
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Added printing for violation of shutdown ordering
  arangod/Aql/ExecutionBlock.cpp
  arangod/Aql/ExecutionBlock.h
  arangod/Aql/ExecutionEngine.cpp
Owners: none

Fix bug.
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

Exclude GatherNodes from order violation checks. Added more informative printing
  arangod/Aql/ExecutionBlock.cpp
  arangod/Aql/ExecutionEngine.cpp
Owners: none

Use Logger::AQL topic.
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

Move user checking to stopAsyncTasks.
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

Applied review comment. Also added ALERT. Also print if we are still starting async tasks although we already stopped them
  arangod/Aql/ExecutionBlock.cpp
  arangod/Aql/ExecutionBlock.h
  arangod/Aql/ExecutionBlockImpl.tpp
  arangod/Aql/ExecutionEngine.cpp
Owners: none

Sleeping barber in SharedQueryState (#21732)
  .circleci/base_config.yml
  .circleci/config.yml
  CHANGELOG
  arangod/Aql/SharedQueryState.cpp
  arangod/Aql/SharedQueryState.h
  js/client/modules/@arangodb/testutils/client-tools.js
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
  tests/js/client/aql/vector/aql-vector-full-count.js
  tests/js/client/aql/vector/aql-vector-nprobe.js
  tests/js/client/aql/vector/aql-vector.js
Owners: none

arangodb release 3.12.4.3
  ARANGO-VERSION
  CHANGELOG
  CMakeLists.txt
  js/apps/system/_admin/aardvark/APP/api-docs.json
Owners: @arangodb/team-frontend

fixing C++ isssues
  3rdParty/boost/1.78.0/boost/mpl/aux_/integral_wrapper.hpp
Owners: none

Finish logging
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
Owners: none

revert
  cmake/frontend/aardvark.cmake
Owners: none

revert
  cmake/frontend/aardvark.cmake
Owners: none

enable avx2 for everything
  CMakePresets.json
Owners: none
