Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Add some documentation
  arangod/Graph/Queues/BatchedFifoQueue.h
Owners: none

Fix PR comments
  arangod/Graph/Queues/BatchedFifoQueue.h
Owners: none

Add @sinonjs to installed exclusions
  cmake/InstallArangoDBJSClient.cmake
Owners: none

Remove extractCollectionName from BaseStep
  arangod/Graph/Providers/BaseStep.h
  arangod/Graph/Types/CMakeLists.txt
  arangod/Graph/Types/VertexRef.h
Owners: none

Remove getCollectionName from Steps
  arangod/Graph/PathManagement/PathValidator.cpp
  arangod/Graph/Steps/ClusterProviderStep.h
  arangod/Graph/Steps/SingleServerProviderStep.h
Owners: none

Fix MockGraphProvider
  tests/Mocks/MockGraphProvider.h
Owners: none

clang-format nannying
  tests/Mocks/MockGraphProvider.h
Owners: none

fix: add resolution for qs
  js/apps/system/_admin/aardvark/APP/react/package.json
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

chore: update changelog
  CHANGELOG
Owners: none

Update CHANGELOG for qs package version bump
  CHANGELOG
Owners: none

Fix tests
  arangod/RestServer/arangod.cpp
  arangod/RocksDBEngine/RocksDBEngine.cpp
  arangod/RocksDBEngine/RocksDBEngine.h
  lib/ApplicationFeatures/ApplicationServer.h
  tests/Maintenance/MaintenanceTest.cpp
Owners: none

Added logs to filters
  arangod/Aql/Ast.cpp
  arangod/Aql/Expression.cpp
  arangod/IResearch/ExpressionFilter.cpp
  arangod/IResearch/IResearchPrimaryKeyFilter.h
  arangod/IResearch/Wildcard/Filter.cpp
Owners: none

Add new Arango logos to .github folder
  .github/arango-color-rev.svg
  .github/arango-color-rgb.svg
  .github/arango-logo-horz.png
Owners: none

Update logo URLs in README.md
  README.md
Owners: none

Refactor ReplicationFeature
  arangod/Replication/ReplicationFeature.cpp
  arangod/Replication/ReplicationFeature.h
  arangod/Replication/ReplicationOptions.h
Owners: none

Refactor IResearchFeature
  arangod/IResearch/IResearchFeature.cpp
  arangod/IResearch/IResearchFeature.h
  arangod/IResearch/IResearchOptions.h
Owners: none

Refactor SslServerFeature
  arangod/GeneralServer/SslServerFeature.cpp
  arangod/GeneralServer/SslServerFeature.h
  arangod/GeneralServer/SslServerOptions.h
Owners: none

Refactor GeneralServerFeature
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/GeneralServer/GeneralServerFeature.h
  arangod/GeneralServer/GeneralServerOptions.cpp
  arangod/GeneralServer/GeneralServerOptions.h
  arangod/arangoserver.cmake
Owners: none

Clean up some comments
  arangod/Cluster/MaintenanceOptions.h
  arangod/GeneralServer/AuthenticationOptions.h
  arangod/GeneralServer/SslServerOptions.h
Owners: none

Fix missing include
  arangod/IResearch/IResearchFeature.h
Owners: none

cor-86-fixed-test-failures
  js/actions/api-simple.js
  js/client/modules/@arangodb/arango-collection.js
  js/client/modules/@arangodb/simple-query.js
  js/client/modules/@arangodb/testutils/collect-crud-api-generic-tests.js
Owners: none

Fix introducedIn
  Documentation/Metrics/arangodb_shard_followers_out_of_sync_number.yaml
  Documentation/Metrics/arangodb_shards_follower_number.yaml
Owners: @arangodb/team-documentation

Refactor NetworkFeature
  arangod/Network/CMakeLists.txt
  arangod/Network/NetworkFeature.cpp
  arangod/Network/NetworkFeature.h
  arangod/Network/NetworkOptions.cpp
  arangod/Network/NetworkOptions.h
Owners: none

Fix PR comments
  arangod/SystemMonitor/TaskMonitoring/Feature.cpp
  arangod/SystemMonitor/TaskMonitoring/Feature.h
  arangod/SystemMonitor/TaskMonitoring/RestHandler.cpp
Owners: none

Use correct variable for arangodump network threads option
  client-tools/Dump/DumpFeature.cpp
Owners: none

initial commit to cross check the JS-based tests results.
  arangod/RestServer/DatabaseFeature.cpp
  js/common/modules/@arangodb/foxx/manager-utils.js
  js/common/modules/@arangodb/foxx/store.js
  lib/V8/v8-utils.cpp
Owners: none

[COR-8] Improve the statistics of shards on DBservers (#22121)
  CHANGELOG
  Documentation/Metrics/arangodb_shard_followers_out_of_sync_number.yaml
  Documentation/Metrics/arangodb_shards_follower_number.yaml
  arangod/Cluster/Maintenance.cpp
  arangod/Cluster/Maintenance.h
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
  tests/Maintenance/MaintenanceTest.cpp
  tests/js/client/shell/api/multi/cluster-metrics-cluster-spec.js
  tests/js/client/shell/shell-cluster-dbserver-shard-metrics.js
Owners: @arangodb/team-documentation

Test fix
  js/client/modules/@arangodb/testutils/collect-crud-api-generic-tests.js
Owners: none

Fix cluster role
  arangod/Cluster/ClusterFeature.cpp
  arangod/Cluster/ClusterFeature.h
  arangod/Cluster/ClusterOptions.h
Owners: none

Add comment describing long term plan
  lib/ApplicationFeatures/OptionsProvider.h
Owners: none

Add AttributeDetector for ABAC implementation
  arangod/Aql/AttributeDetector.cpp
  arangod/Aql/AttributeDetector.h
Owners: none

Implemented AttributeDetector class
  arangod/Aql/AttributeDetector.cpp
  arangod/Aql/AttributeDetector.h
Owners: none

Added ABAC_CHECK state to query execution pipeline
  arangod/Aql/Query.cpp
  arangod/Aql/QueryExecutionState.cpp
  arangod/Aql/QueryExecutionState.h
Owners: none

Removed verbose comments from Query.cpp
  arangod/Aql/Query.cpp
Owners: none

Minimum value of 1 for network threads to avoid indefinitely hanging
  client-tools/Dump/DumpFeature.cpp
Owners: none

Switch default enterprise branch to 4.0
  .circleci/config.yml
Owners: none

Add arangod/Aql/Optimizer/Rule/OptimizerRuleSortInValues.h and cpp files
  arangod/Aql/Optimizer/Rule/CMakeLists.txt
  arangod/Aql/Optimizer/Rule/OptimizerRuleSortInValues.cpp
  arangod/Aql/Optimizer/Rule/OptimizerRuleSortInValues.h
Owners: none

OptimizerRuleUseIndexes.h and cpp files
  arangod/Aql/Optimizer/Rule/CMakeLists.txt
  arangod/Aql/Optimizer/Rule/OptimizerRuleUseIndexes.cpp
  arangod/Aql/Optimizer/Rule/OptimizerRuleUseIndexes.h
Owners: none

OptimizerRuleRemoveDataModificationOutVariables.h and cpp files
  arangod/Aql/Optimizer/Rule/CMakeLists.txt
  arangod/Aql/Optimizer/Rule/OptimizerRuleRemoveDataModificationOutVariables.cpp
  arangod/Aql/Optimizer/Rule/OptimizerRuleRemoveDataModificationOutVariables.h
Owners: none

Add OptimizerRuleRemoveCollectVariables.h and cpp files; Correct variable name in OptimizerRulesReplaceFunctions.cpp
  arangod/Aql/Optimizer/Rule/CMakeLists.txt
  arangod/Aql/Optimizer/Rule/OptimizerRuleRemoveCollectVariables.cpp
  arangod/Aql/Optimizer/Rule/OptimizerRuleRemoveCollectVariables.h
  arangod/Aql/Optimizer/Rule/OptimizerRuleSortInValues.cpp
  arangod/Aql/Optimizer/Rule/OptimizerRulesReplaceFunctions.cpp
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
