Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Refactor tests: apply DRY principle with parametrization
  .circleci/tests_unit/test_config_lib.py
  .circleci/tests_unit/test_filters.py
  .circleci/tests_unit/test_parsing_integration.py
  .circleci/tests_unit/test_sizing.py
Owners: none

Add shared test fixtures to improve maintainability
  .circleci/tests_unit/conftest.py
  .circleci/tests_unit/test_filters.py
  .circleci/tests_unit/test_sizing.py
Owners: none

Remove community edition support from config generator
  .circleci/src/config_lib.py
  .circleci/src/output_generators/circleci.py
  .circleci/tests_unit/conftest.py
  .circleci/tests_unit/test_circleci_generator.py
  .circleci/tests_unit/test_config_lib.py
  .circleci/tests_unit/test_sizing.py
Owners: none

Add tests for git_branch override
  .circleci/generate_config.py
  .circleci/tests_unit/test_config_lib.py
Owners: none

Update tests
  arangod/RestServer/DatabaseFeature.cpp
  tests/js/client/shell/shell-metadata-metrics-cluster.js
  tests/js/client/shell/shell-metadata-metrics.js
Owners: none

Add metrics on single server
  arangod/RestServer/DatabaseFeature.cpp
  arangod/RestServer/DatabaseFeature.h
  arangod/VocBase/vocbase.cpp
Owners: none

Rearrange pipeline parameters and add descriptions
  .circleci/config.yml
Owners: none

Rename test-branches parameter to driver-branch-overrides
  .circleci/config.yml
  .circleci/generate_config.py
Owners: none

Fix passing of ui-deployments
  .circleci/config.yml
Owners: none

Fix one more usage
  .circleci/config.yml
Owners: none

Fix compilation issues with clang-19 on arm64
  3rdParty/taocpp-json/include/tao/json/external/pegtl/internal/demangle.hpp
  lib/Basics/ResourceUsage.h
Owners: none

Address review comments
  arangod/RocksDBEngine/RocksDBVectorIndexList.cpp
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

New tests for community case.
  tests/js/client/shell/multi/shell-admin-license.js
Owners: none

Fix handling of nested args
  .circleci/src/output_generators/circleci.py
Owners: none

Fix eslint.
  tests/js/client/shell/multi/shell-admin-license.js
Owners: none

Remove superfluous tests.
  tests/js/client/shell/multi/shell-admin-license.js
Owners: none

Spacing.
  tests/js/client/shell/multi/shell-admin-license.js
Owners: none

Fix
  arangod/RocksDBEngine/RocksDBVectorIndexList.cpp
Owners: none

Fix tests
  tests/js/client/shell/shell-metadata-metrics.js
Owners: none

Fix cluster info
  arangod/Cluster/ClusterInfo.cpp
  arangod/RestServer/DatabaseFeature.cpp
Owners: none

Change readFileValue to readCgroupFileValue
  lib/Basics/FileUtils.cpp
  lib/Basics/FileUtils.h
  lib/Basics/NumberOfCores.cpp
  lib/Basics/PhysicalMemory.cpp
Owners: none

chore: update yarn.lock
  js/apps/system/_admin/aardvark/APP/react/package.json
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

clang-format
  lib/Basics/ResourceUsage.h
Owners: none

Add retry logic to test
  tests/js/client/shell/shell-metadata-metrics.js
Owners: none

Add test with replication factor
  tests/js/client/shell/shell-metadata-metrics.js
Owners: none

Fix metric test
  Documentation/Metrics/arangodb_metadata_number_of_collections.yaml
  Documentation/Metrics/arangodb_metadata_number_of_databases.yaml
  Documentation/Metrics/arangodb_metadata_number_of_shards.yaml
Owners: @arangodb/team-documentation

should crash
  lib/Basics/ResourceUsage.h
Owners: none

should crash
  lib/Basics/ResourceUsage.h
Owners: none

Add move shard test
  tests/js/client/shell/shell-metadata-metrics.js
Owners: none

Add comment.
  lib/Basics/ResourceUsage.h
Owners: none

Add todo
  arangod/Cluster/ClusterInfo.cpp
  tests/js/client/shell/shell-metadata-metrics.js
Owners: none

Add single shard database test
  tests/js/client/shell/shell-metadata-metrics.js
Owners: none

Make messages trace
  lib/Basics/NumberOfCores.cpp
  lib/Basics/PhysicalMemory.cpp
Owners: none

Remove duplicate gauge declarations
  arangod/Cluster/ClusterInfo.cpp
  arangod/RestServer/DatabaseFeature.cpp
  arangod/RestServer/DatabaseFeature.h
Owners: none

Update log level to INFO and update error message
  lib/Basics/FileUtils.cpp
  lib/Basics/NumberOfCores.cpp
  lib/Basics/PhysicalMemory.cpp
Owners: none

Exclude server side JS and frontend build for non-V8 build
  CMakeLists.txt
  cmake/ArangoDBInstall.cmake
Owners: none

Add additional move test
  tests/js/client/shell/shell-metadata-metrics.js
Owners: none

Improve error messages, and move exception handling
  lib/Basics/FileUtils.cpp
  lib/Basics/NumberOfCores.cpp
  lib/Basics/PhysicalMemory.cpp
Owners: none

Add satellite collection test
  tests/js/client/shell/shell-metadata-metrics.js
Owners: none
