Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Fix failure
  arangod/RocksDBEngine/RocksDBVectorIndexList.cpp
  arangod/RocksDBEngine/RocksDBVectorIndexList.h
Owners: none

Serialize encodedValue as Blob
  arangod/RocksDBEngine/RocksDBTypes.h
Owners: none

Introduce Sanitizer enum for type safety
  .circleci/generate_config_new.py
  .circleci/src/config_lib.py
  .circleci/src/filters.py
  .circleci/src/output_generators/circleci.py
  .circleci/src/output_generators/sizing.py
  .circleci/tests_unit/test_circleci_generator.py
  .circleci/tests_unit/test_config_lib.py
  .circleci/tests_unit/test_filters.py
  .circleci/tests_unit/test_sizing.py
Owners: none

Introduce Architecture enum for type safety
  .circleci/src/config_lib.py
  .circleci/src/output_generators/circleci.py
  .circleci/src/output_generators/sizing.py
  .circleci/tests_unit/test_circleci_generator.py
  .circleci/tests_unit/test_config_lib.py
Owners: none

Add effective cpu metric
  arangod/Statistics/StatisticsFeature.cpp
  lib/Basics/NumberOfCores.cpp
  lib/Basics/NumberOfCores.h
  lib/CMakeLists.txt
Owners: none

Fix stuff
  .circleci/generate_config.py
  tests/arangojs-test-definitions.yml
  tests/go-test-definitions.yml
  tests/java-test-definitions.yml
Owners: none

make it short for circle-ci
  tests/arangojs.yml
  tests/java.yml
  tests/kafka.yml
  tests/spark-datasource.yml
Owners: none

ignore SUT leftovers / changes
  js/client/modules/@arangodb/testsuites/go.js
Owners: none

want a coredump
  js/client/modules/@arangodb/testutils/crash-utils.js
Owners: none

choose full auth for config
  js/client/modules/@arangodb/testsuites/go.js
Owners: none

verbosity
  tests/go-test-definitions.yml
Owners: none

disable test for now.
  tests/go-test-definitions.yml
Owners: none

switch branch
  tests/go-test-definitions.yml
Owners: none

choose bigger hardware
  tests/go-test-definitions.yml
Owners: none

fix branch
  tests/go-test-definitions.yml
Owners: none

disable test for now.
  tests/go-test-definitions.yml
Owners: none

rename
  tests/go.yml
Owners: none

Ignore --cluster.upgrade flag on DBServers.
  arangod/Cluster/ClusterUpgradeFeature.cpp
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Ignore --cluster.upgrade flag on DBServers.
  arangod/Cluster/ClusterUpgradeFeature.cpp
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Attempt to fix driver initialization
  .circleci/base_config.yml
Owners: none

Fix config generation: separate full/sanitizer, add missing fields
  .circleci/src/config_lib.py
  .circleci/src/filters.py
  .circleci/src/output_generators/circleci.py
  .circleci/tests_unit/test_filters.py
  .circleci/tests_unit/test_parsing_integration.py
Owners: none

Add job to spark tests
  tests/spark-datasource.yml
Owners: none

first try for spring data
  js/client/modules/@arangodb/testsuites/java.js
  tests/spring-data.yml
Owners: none

add tinkerpop
  js/client/modules/@arangodb/testsuites/java.js
  tests/arangodb-tinkerpop-provider.yml
Owners: none

add tinkerpop
  js/client/modules/@arangodb/testsuites/java.js
Owners: none

add tinkerpop
  tests/tinkerpop-provider.yml
Owners: none

set default
  .circleci/base_config.yml
Owners: none

use own docker image, it needs many libs
  .circleci/build_test_image.yml
  js/client/modules/@arangodb/testsuites/java.js
  scripts/docker/tinkerpop-test/Dockerfile
  tests/tinkerpop-provider.yml
Owners: @arangodb/team-qa

new imgage
  .circleci/base_config.yml
  .circleci/config.yml
Owners: none

Update for merge: add job_type support and fix test paths
  .circleci/generate_config_new.py
  .circleci/src/config_lib.py
  .circleci/src/output_generators/circleci.py
  .circleci/tests_unit/test_parsing_integration.py
Owners: none

Fix config generator to match merge changes
  .circleci/compare_outputs.sh
  .circleci/generate_config_new.py
  .circleci/src/output_generators/base.py
  .circleci/src/output_generators/circleci.py
  .circleci/tests_unit/test_sizing.py
Owners: none

Fix old generator: preserve arangosh_args across architectures
  .circleci/generate_config.py
Owners: none

choose bigger machine, specify params
  js/client/modules/@arangodb/testsuites/java.js
  scripts/docker/spark-test/Dockerfile
  scripts/docker/tinkerpop-test/Dockerfile
  tests/tinkerpop-provider.yml
Owners: @arangodb/team-qa

new container
  .circleci/base_config.yml
  .circleci/config.yml
Owners: none

Add cgroup metric
  Documentation/Metrics/arangodb_server_statistics_cpu_cgroup_version.yaml
  arangod/Statistics/StatisticsFeature.cpp
Owners: @arangodb/team-documentation

specify params
  js/client/modules/@arangodb/testsuites/java.js
Owners: none

Refactor config generator: apply DRY and consolidate special cases
  .circleci/generate_config_new.py
  .circleci/src/config_lib.py
  .circleci/src/output_generators/circleci.py
  .circleci/tests_unit/test_config_lib.py
Owners: none

Remove test scripts used during reimplementation
  .circleci/compare_outputs.sh
  .circleci/normalize_config.py
Owners: none
