Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Fix tests
  client-tools/Restore/RestoreFeature.cpp
  js/client/modules/@arangodb/testsuites/aql.js
  tests/js/client/shell/shell-restore-integration.js
Owners: none

Add arm exception
  CHANGELOG
  tests/js/client/shell/shell-restore-integration.js
Owners: none

Fix vector index restoration (#21770)
  CHANGELOG
  client-tools/Restore/RestoreFeature.cpp
  js/client/modules/@arangodb/testsuites/aql.js
  tests/js/client/shell/shell-restore-integration.js
Owners: none

make sure we really start two instances.
  js/client/modules/@arangodb/testsuites/dump.js
Owners: none

batchwise verted and edge insertion during fillGraph (integration tests)
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-graphs.js
Owners: none

Move forest into lib/Containers directory
  arangod/SystemMonitor/AsyncRegistry/CMakeLists.txt
  arangod/SystemMonitor/AsyncRegistry/RestHandler.cpp
  arangod/SystemMonitor/AsyncRegistry/Stacktrace/CMakeLists.txt
  lib/Containers/CMakeLists.txt
  lib/Containers/Forest/CMakeLists.txt
  lib/Containers/Forest/depth_first.h
  lib/Containers/Forest/forest.h
  tests/AsyncRegistryServer/CMakeLists.txt
  tests/CMakeLists.txt
  tests/Containers/CMakeLists.txt
  tests/Containers/ForestTest.cpp
Owners: none

try to help garbage collection v8
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-graphs.js
Owners: none

have separate multiple flow that runs two servers
  js/client/modules/@arangodb/testsuites/dump.js
  js/client/modules/@arangodb/testutils/client-tools.js
  js/client/modules/@arangodb/testutils/instance.js
  tests/test-definitions.txt
Owners: @arangodb/team-qa

Remove lsan suppression
  lsan_arangodb_suppressions.txt
Owners: none

slightly increased timeout to 10s in clsuter, 5s in single server
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-bidirectional-tests.js
Owners: none

proper attributes
  js/client/modules/@arangodb/testsuites/dump.js
Owners: none

Define cpu topology
  .circleci/base_config.yml
Owners: none

Activated a failurePoint to randomly run queries in DirtyRead. For now the random is 100% to reporoduce the error. Also added wrappers around the traversal
  arangod/Transaction/Options.cpp
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-graphs.js
Owners: none

Forward-port visibility changes.
  CHANGELOG
  arangod/Aql/ExecutionBlock.h
  arangod/Aql/ExecutionBlockImpl.h
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

Bug fix/print on violated block ordering (#21743)
  arangod/Aql/ExecutionBlock.cpp
  arangod/Aql/ExecutionBlock.h
  arangod/Aql/ExecutionBlockImpl.tpp
  arangod/Aql/ExecutionEngine.cpp
Owners: none

Changes for 3.12.5.
  arangod/Aql/ExecutionBlockImpl.h
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

Test out sample
  .circleci/base_config.yml
  openmp.cpp
Owners: none

More context in log.
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

Promise snapshot shows running thread instead of owning thread
  lib/Async/Registry/promise.cpp
  lib/Async/Registry/promise.h
  tests/Async/Registry/RegistryTest.cpp
Owners: none

Fix pretty printers
  arangod/AsyncRegistryServer/PrettyPrinter/src/asyncregistry/gdb_data.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/pretty-printer.py
Owners: none

Suggestions by reviewer.
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

Fix LogContext::clear to possibly release recursively
  lib/Logger/LogContext.cpp
Owners: none

Add a gdb integration test skeleton
  arangod/AsyncRegistryServer/PrettyPrinter/README.md
  tests/AsyncRegistryServer/CMakeLists.txt
  tests/AsyncRegistryServer/PrettyPrinter/CMakeLists.txt
  tests/AsyncRegistryServer/PrettyPrinter/async_registry_test.cpp
  tests/AsyncRegistryServer/PrettyPrinter/test.gdbscript
Owners: none

Move all tests to tests dir and use ctest for pretty-print testing
  arangod/AsyncRegistryServer/CMakeLists.txt
  arangod/AsyncRegistryServer/PrettyPrinter/CMakeLists.txt
  arangod/AsyncRegistryServer/PrettyPrinter/README.md
  arangod/AsyncRegistryServer/PrettyPrinter/src/CMakeLists.txt
  tests/AsyncRegistryServer/PrettyPrinter/CMakeLists.txt
  tests/AsyncRegistryServer/PrettyPrinter/gdb_integration/CMakeLists.txt
  tests/AsyncRegistryServer/PrettyPrinter/gdb_integration/async_registry_gdb_pretty_printer_test.cpp
  tests/AsyncRegistryServer/PrettyPrinter/gdb_integration/test.gdbscript
  tests/AsyncRegistryServer/PrettyPrinter/unittests/CMakeLists.txt
  tests/AsyncRegistryServer/PrettyPrinter/unittests/tests/__init__.py
  tests/AsyncRegistryServer/PrettyPrinter/unittests/tests/test_forest.py
  tests/AsyncRegistryServer/PrettyPrinter/unittests/tests/test_stacktrace.py
Owners: none

Create a registry inside the test
  tests/AsyncRegistryServer/PrettyPrinter/CMakeLists.txt
  tests/AsyncRegistryServer/PrettyPrinter/async_registry_test.cpp
  tests/AsyncRegistryServer/PrettyPrinter/test.gdbscript
Owners: none

Add first real test (empty registry)
  tests/AsyncRegistryServer/PrettyPrinter/CMakeLists.txt
  tests/AsyncRegistryServer/PrettyPrinter/async_registry_test.cpp
  tests/AsyncRegistryServer/PrettyPrinter/test.gdbscript
Owners: none

Add tests and fix small bugs in stacktrace printing
  arangod/AsyncRegistryServer/CMakeLists.txt
  arangod/AsyncRegistryServer/PrettyPrinter/CMakeLists.txt
  arangod/AsyncRegistryServer/PrettyPrinter/README.md
  arangod/AsyncRegistryServer/PrettyPrinter/src/CMakeLists.txt
  arangod/AsyncRegistryServer/PrettyPrinter/src/asyncregistry/stacktrace.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/tests/test_stacktrace.py
  tests/AsyncRegistryServer/PrettyPrinter/CMakeLists.txt
  tests/AsyncRegistryServer/PrettyPrinter/async_registry_gdb_pretty_printer_test.cpp
  tests/AsyncRegistryServer/PrettyPrinter/async_registry_test.cpp
  tests/AsyncRegistryServer/PrettyPrinter/test.gdbscript
Owners: none

Print out variables
  arangod/AsyncRegistryServer/PrettyPrinter/README.md
  tests/AsyncRegistryServer/PrettyPrinter/async_registry_test.cpp
  tests/AsyncRegistryServer/PrettyPrinter/test.gdbscript
Owners: none

Test running thread variable
  tests/AsyncRegistryServer/PrettyPrinter/gdb_integration/async_registry_gdb_pretty_printer_test.cpp
Owners: none

Fix a bug due to ThreadControlBlock's destruction order
  lib/Logger/LogContext.cpp
  lib/Logger/LogContext.h
Owners: none

Try out libgomp
  .circleci/base_config.yml
  CMakeLists.txt
Owners: none

Update arangod/Aql/ExecutionBlockImpl.tpp
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

use big machine
  tests/test-definitions.txt
Owners: @arangodb/team-qa

Get rid of parent reference when marking node for deletion
  lib/TaskMonitoring/include/TaskMonitoring/task.h
  lib/TaskMonitoring/task.cpp
  tests/TaskMonitoring/TaskRegistryTest.cpp
Owners: none

added early exit to weighted two sided enumerator, yens still missing
  arangod/Graph/Enumerators/WeightedTwoSidedEnumerator.cpp
  arangod/Graph/Enumerators/WeightedTwoSidedEnumerator.h
Owners: none

debug flag on
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-bidirectional-tests.js
Owners: none

Docs: arangodb_shards_out_of_sync metric only exposed by DB-Servers (#21740)
  Documentation/Metrics/arangodb_shards_out_of_sync.yaml
Owners: @arangodb/team-documentation

Suggestion by reviewer.
  CHANGELOG
Owners: none

Add memory order relaxed to fetch_add and fetch_sub.
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none

Take out incomplete measure.
  arangod/Aql/ExecutionBlockImpl.h
  arangod/Aql/ExecutionBlockImpl.tpp
Owners: none
