Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Take out logging.
  arangod/Cluster/MaintenanceFeature.cpp
Owners: none

Take out logging.
  arangod/Cluster/MaintenanceFeature.h
Owners: none

Take out more logging.
  arangod/Cluster/SynchronizeShard.cpp
Owners: none

First stage: remove `executeNow`.
  arangod/Cluster/Maintenance.cpp
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
  tests/Maintenance/MaintenanceFeatureMock.h
  tests/Maintenance/MaintenanceFeatureTest.cpp
Owners: none

if we don't waitpid, we leave zombies. Don't do that. (#21667)
  js/client/modules/@arangodb/test-helper.js
Owners: none

Stage 2: Remove pre and post actions.
  arangod/Cluster/Action.cpp
  arangod/Cluster/Action.h
  arangod/Cluster/ActionBase.cpp
  arangod/Cluster/ActionDescription.h
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
  arangod/Cluster/MaintenanceWorker.cpp
  tests/Maintenance/MaintenanceFeatureTest.cpp
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Readd test.
  tests/Maintenance/MaintenanceFeatureTest.cpp
Owners: none

Fix tests.
  tests/Maintenance/MaintenanceFeatureTest.cpp
Owners: none

Take logging out.
  arangod/Cluster/SynchronizeShard.cpp
Owners: none

Remove unnecessary includes.
  arangod/Cluster/SynchronizeShard.cpp
Owners: none

Backport from devel.
  CHANGELOG
  arangod/Cluster/Maintenance.cpp
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
  arangod/Cluster/SynchronizeShard.cpp
  arangod/Cluster/SynchronizeShard.h
Owners: none

Fix compilation.
  arangod/Cluster/MaintenanceFeature.h
Owners: none

Fix compilation.
  arangod/Cluster/SynchronizeShard.cpp
Owners: none

if we don't waitpid, we leave zombies. Don't do that. (#21666)
  js/client/modules/@arangodb/test-helper.js
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

FE-538: fix frontend build warnings (#21665)
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/frontend/js/lib/dygraph-combined.min.js
  js/apps/system/_admin/aardvark/APP/frontend/js/lib/wheelnav.min.js
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

circle ci doesn't allow us to attach a GDB. Hence we need to SIG_ABRT processes
  js/client/modules/@arangodb/testutils/crash-utils.js
  tests/js/client/shell/multi/shell-aql-kill.js
Owners: none

trigger abort path, circleci doesn't support this
  scripts/test/test_config.py
Owners: @arangodb/team-qa

revert
  tests/js/client/shell/multi/shell-aql-kill.js
Owners: none

circle ci doesn't allow us to attach a GDB. Hence we need to SIG_ABRT processes
  js/client/modules/@arangodb/testutils/crash-utils.js
Owners: none

trigger abort path, circleci doesn't support this
  scripts/test/test_config.py
Owners: @arangodb/team-qa

chore: update disk usage messages
  js/apps/system/_admin/aardvark/APP/frontend/js/views/navigationView.js
Owners: @arangodb/team-frontend

User uses scope everywhere, not tasks themselves
  arangod/RestHandler/RestIndexHandler.cpp
  lib/Tasks/include/Tasks/task_registry.h
  lib/Tasks/task_registry.cpp
  tests/Tasks/TaskRegistryTest.cpp
Owners: none

circle ci doesn't allow us to attach a GDB. Hence we need to SIG_ABRT processes (#21670)
  js/client/modules/@arangodb/testutils/crash-utils.js
  scripts/test/test_config.py
Owners: @arangodb/team-qa

Bug fix 3.11/circle ci dont gdb attach (#21671)
  js/client/modules/@arangodb/testutils/crash-utils.js
  scripts/test/test_config.py
Owners: @arangodb/team-qa

increase verbosity of status so we see whats going on, add current timestamps
  js/client/modules/@arangodb/replication.js
Owners: none

sniff it
  tests/test-definitions.txt
Owners: @arangodb/team-qa

fix mechanism
  tests/test-definitions.txt
Owners: @arangodb/team-qa

Update ArangoDB Starter to v0.19.9-preview-3
  CHANGELOG
  VERSIONS
Owners: none

Update ArangoDB Starter to v0.18.13-preview-1
  CHANGELOG
  VERSIONS
Owners: none

Connect tasks via transaction id in task registry
  lib/Tasks/include/Tasks/task_registry.h
  lib/Tasks/task_registry.cpp
  tests/Tasks/TaskRegistryTest.cpp
Owners: none

Add streaming transaction task
  arangod/ClusterEngine/ClusterEngine.cpp
  arangod/ClusterEngine/ClusterEngine.h
  arangod/ClusterEngine/ClusterTransactionState.cpp
  arangod/ClusterEngine/ClusterTransactionState.h
  arangod/RestHandler/RestTransactionHandler.cpp
  arangod/RocksDBEngine/ReplicatedRocksDBTransactionState.cpp
  arangod/RocksDBEngine/ReplicatedRocksDBTransactionState.h
  arangod/RocksDBEngine/RocksDBEngine.cpp
  arangod/RocksDBEngine/RocksDBEngine.h
  arangod/RocksDBEngine/RocksDBTransactionState.cpp
  arangod/RocksDBEngine/RocksDBTransactionState.h
  arangod/RocksDBEngine/SimpleRocksDBTransactionState.cpp
  arangod/RocksDBEngine/SimpleRocksDBTransactionState.h
  arangod/StorageEngine/StorageEngine.h
  arangod/StorageEngine/TransactionState.cpp
  arangod/StorageEngine/TransactionState.h
  arangod/Transaction/Manager.cpp
  arangod/Transaction/Manager.h
Owners: none

Refer to transaction in insert document api
  arangod/ClusterEngine/ClusterTransactionState.cpp
  arangod/RestHandler/RestDocumentHandler.cpp
  arangod/RestHandler/RestVocbaseBaseHandler.cpp
  arangod/RestHandler/RestVocbaseBaseHandler.h
  arangod/RocksDBEngine/RocksDBTransactionState.cpp
  arangod/StorageEngine/TransactionState.cpp
  arangod/StorageEngine/TransactionState.h
Owners: none

Move root name into entry point task
  lib/Tasks/include/Tasks/task_registry.h
  lib/Tasks/task_registry.cpp
  tests/Tasks/TaskRegistryTest.cpp
Owners: none

Better implementation of BoundedList.
  arangod/RestServer/ApiRecordingFeature.h
  lib/Containers/AtomicList.h
  lib/Containers/BoundedList.h
  lib/Containers/ResourceManager.h
Owners: none

Fix priority inversion in Maintenance [BTS-2100] (#21664)
  CHANGELOG
  arangod/Cluster/Maintenance.cpp
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
  arangod/Cluster/SynchronizeShard.cpp
  arangod/Cluster/SynchronizeShard.h
Owners: none

Finishing touches.
  lib/Containers/BoundedList.h
  lib/Containers/ResourceManager.h
  tests/Basics/AtomicListTest.cpp
Owners: none

Update VERSIONS
  VERSIONS
Owners: none

Simplify maintenance by removing unused features (#21668)
  CHANGELOG
  arangod/Cluster/Action.cpp
  arangod/Cluster/Action.h
  arangod/Cluster/ActionBase.cpp
  arangod/Cluster/ActionDescription.h
  arangod/Cluster/Maintenance.cpp
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
  arangod/Cluster/MaintenanceWorker.cpp
  tests/Maintenance/MaintenanceFeatureMock.h
  tests/Maintenance/MaintenanceFeatureTest.cpp
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
