Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Split more rules
  arangod/Aql/Optimizer/Rule/AsyncPrefetch.cpp
  arangod/Aql/Optimizer/Rule/CMakeLists.txt
  arangod/Aql/Optimizer/Rule/OptimizeCount.cpp
  arangod/Aql/Optimizer/Rules.cpp
Owners: none

[COR-236] Remove V8 metrics (#22384)
  CHANGELOG
  Documentation/Metrics/arangodb_v8_context_alive.yaml
  Documentation/Metrics/arangodb_v8_context_busy.yaml
  Documentation/Metrics/arangodb_v8_context_dirty.yaml
  Documentation/Metrics/arangodb_v8_context_free.yaml
  Documentation/Metrics/arangodb_v8_context_max.yaml
  Documentation/Metrics/arangodb_v8_context_min.yaml
  arangod/Statistics/StatisticsFeature.cpp
Owners: @arangodb/team-documentation

Split MoveCalculationsUp
  arangod/Aql/Optimizer/Rule/CMakeLists.txt
  arangod/Aql/Optimizer/Rules.cpp
Owners: none

Fix sparse indexes and eslint
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  js/common/modules/@arangodb/testutils/vector-generator.js
Owners: none

Change picking of min value
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
Owners: none

Fix double loop
  arangod/Aql/Executor/EnumerateNearVectorExecutor.cpp
  arangod/Aql/Executor/EnumerateNearVectorExecutor.h
Owners: none

Fix fullCount
  tests/js/client/aql/vector/aql-vector-full-count.js
Owners: none

Removed overwrite parameter from files
  arangod/Aql/ExecutionPlan.cpp
  arangod/RestHandler/RestDocumentHandler.cpp
  js/client/modules/@arangodb/arango-collection.js
  lib/Basics/StaticStrings.cpp
  lib/Basics/StaticStrings.h
  tests/js/client/aql/aql-insert-multiple-cluster.js
  tests/js/client/aql/aql-options-verification.js
  tests/js/client/aql/large/aql-modify-cluster.js
  tests/js/client/aql/large/aql-optimizer-rule-optimize-cluster-single-document-operations.js
  tests/js/client/shell/multi/shell-document.js
  tests/js/client/shell/shell-insert-overwrite.js
Owners: none

Fix tests w.r.t. API versioning for 4.0.
  arangod/GeneralServer/CommTask.cpp
  lib/Rest/ApiVersion.h
Owners: none

Temporarily activate the statistics API again.
  arangod/GeneralServer/GeneralServerFeature.cpp
Owners: none

Temporarily reactivate `/_admin/statistics-description` in 4.0.
  arangod/GeneralServer/GeneralServerFeature.cpp
Owners: none

Unit test for default API version.
  tests/Rest/GeneralRequestTest.cpp
Owners: none

Fix droping collection during training
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
  tests/js/client/aql/vector/aql-vector-index-hints.js
Owners: none

Add planning documents
  .gitignore
  tests/elixir/toast/GAP_ANALYSIS.md
  tests/elixir/toast/README.md
  tests/elixir/toast/VersionedAPI.md
  tests/elixir/toast/claude-integration-notes.md
  tests/elixir/toast/claude-interview.md
  tests/elixir/toast/claude-plan-tdd.md
  tests/elixir/toast/claude-plan.md
  tests/elixir/toast/claude-research.md
  tests/elixir/toast/claude-spec.md
  tests/elixir/toast/deep_plan_config.json
  tests/elixir/toast/implementation/deep_implement_config.json
  tests/elixir/toast/reviews/iteration-1-opus.md
  tests/elixir/toast/reviews/iteration-2-opus.md
  tests/elixir/toast/reviews/iteration-3-opus.md
  tests/elixir/toast/reviews/iteration-4-opus.md
  tests/elixir/toast/sections/.prompts/section-01-restructure-prompt.md
  tests/elixir/toast/sections/.prompts/section-02-library-extraction-prompt.md
  tests/elixir/toast/sections/.prompts/section-03-rest-client-prompt.md
  tests/elixir/toast/sections/.prompts/section-04-suite-system-prompt.md
  tests/elixir/toast/sections/.prompts/section-05-runner-prompt.md
  tests/elixir/toast/sections/.prompts/section-06-server-control-prompt.md
  tests/elixir/toast/sections/.prompts/section-07-resilience-prompt.md
  tests/elixir/toast/sections/.prompts/section-08-diagnostics-prompt.md
  tests/elixir/toast/sections/.prompts/section-09-ci-packaging-prompt.md
  tests/elixir/toast/sections/index.md
  tests/elixir/toast/sections/section-01-restructure.md
  tests/elixir/toast/sections/section-02-library-extraction.md
  tests/elixir/toast/sections/section-03-rest-client.md
  tests/elixir/toast/sections/section-04-suite-system.md
  tests/elixir/toast/sections/section-05-runner.md
  tests/elixir/toast/sections/section-06-server-control.md
  tests/elixir/toast/sections/section-07-resilience.md
  tests/elixir/toast/sections/section-08-diagnostics.md
  tests/elixir/toast/sections/section-09-ci-packaging.md
Owners: none

oskar has to have a suffix (#22388)
  tests/tests.yml
Owners: none

Revert "attempt to resolve circle ci test failures"
  tests/js/client/shell/shell-metadata-metrics.js
Owners: none

Separate lib/toast/ from lib/toast_test/ with zero ExUnit dependencies
  tests/elixir/toast/implementation/deep_implement_config.json
  tests/elixir/toast/lib/toast/application.ex
  tests/elixir/toast/lib/toast/config.ex
  tests/elixir/toast/lib/toast/deployment.ex
  tests/elixir/toast/lib/toast/deployment/cluster_controller.ex
  tests/elixir/toast/lib/toast/deployment/single_server_controller.ex
  tests/elixir/toast/lib/toast/diagnostics.ex
  tests/elixir/toast/lib/toast/diagnostics/crash_matcher.ex
  tests/elixir/toast/lib/toast/diagnostics/sanitizer_matcher.ex
  tests/elixir/toast/lib/toast/diagnostics/summary.ex
  tests/elixir/toast/lib/toast/process/health_monitor.ex
  tests/elixir/toast/lib/toast_test/result_exporter.ex
  tests/elixir/toast/lib/toast_test/result_exporter/json.ex
  tests/elixir/toast/sections/section-02-library-extraction.md
  tests/elixir/toast/test/config_test.exs
  tests/elixir/toast/test/deployment/crash_abort_test.exs
  tests/elixir/toast/test/deployment/deployment_lifecycle_test.exs
  tests/elixir/toast/test/deployment/deployment_test.exs
  tests/elixir/toast/test/test_case_test.exs
  tests/elixir/toast/test/toast/process/health_monitor_test.exs
Owners: none

Refactor testing.js around server.jwt-token
  js/client/modules/@arangodb/testutils/instance-manager.js
  js/client/modules/@arangodb/testutils/instance.js
Owners: none

fix tests
  tests/Maintenance/Plan.json
Owners: none

Actually remove option.
  arangod/Agency/AgencyComm.cpp
  arangod/GeneralServer/AuthenticationFeature.cpp
  js/client/modules/@arangodb/testutils/instance-manager.js
  scripts/shutdownLocalCluster.sh
Owners: @arangodb/team-qa

attempt to resolve the circle-ci test failure.
  tests/Maintenance/Plan.json
Owners: none

download starter & rclone, set ulimit
  scripts/runRTA.sh
Owners: @arangodb/team-qa

make sure oneshard rta-makedata tests run with similar arguments as in rta-makedata to produce issues early on
  js/client/modules/@arangodb/testutils/client-tools.js
  tests/tests.yml
Owners: none

Adapt tests
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
  tests/js/client/aql/vector/aql-vector-filter.js
  tests/js/client/aql/vector/aql-vector-full-count.js
  tests/js/client/aql/vector/aql-vector-nprobe.js
  tests/js/client/aql/vector/aql-vector-training-lifecycle.js
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Refactor REST client into layered architecture with domain modules
  tests/elixir/toast/implementation/deep_implement_config.json
  tests/elixir/toast/lib/mix/tasks/toast.gen.suite.ex
  tests/elixir/toast/lib/toast/client.ex
  tests/elixir/toast/lib/toast/client/admin.ex
  tests/elixir/toast/lib/toast/client/aql.ex
  tests/elixir/toast/lib/toast/client/collection.ex
  tests/elixir/toast/lib/toast/client/document.ex
  tests/elixir/toast/lib/toast/client/index.ex
  tests/elixir/toast/lib/toast/deployment.ex
  tests/elixir/toast/lib/toast_test/case.ex
  tests/elixir/toast/mix.exs
  tests/elixir/toast/mix.lock
  tests/elixir/toast/sections/section-03-rest-client.md
  tests/elixir/toast/suites/smoke/test_aql.exs
  tests/elixir/toast/suites/smoke/test_collection.exs
  tests/elixir/toast/suites/smoke/test_version.exs
  tests/elixir/toast/test/client_test.exs
  tests/elixir/toast/test/toast/client/admin_test.exs
  tests/elixir/toast/test/toast/client/aql_test.exs
  tests/elixir/toast/test/toast/client/collection_test.exs
  tests/elixir/toast/test/toast/client/document_test.exs
  tests/elixir/toast/test/toast/client/index_test.exs
  tests/elixir/toast/test/toast/client_test.exs
Owners: none

Added tests
  tests/js/client/aql/aql-projections-index-or-filter.js
Owners: none

CHANGELOG plus some more comment.
  CHANGELOG
  js/client/modules/@arangodb/testutils/instance-manager.js
Owners: none

Fix numberOfDocs nubmers for trained and cluster
  tests/js/client/aql/vector/aql-vector-agency-wrong-definition-cluster.js
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
  tests/js/client/aql/vector/aql-vector-filter.js
  tests/js/client/aql/vector/aql-vector-full-count.js
  tests/js/client/aql/vector/aql-vector-index-hints.js
  tests/js/client/aql/vector/aql-vector-nprobe.js
  tests/js/client/aql/vector/aql-vector-replication-failover-cluster.js
  tests/js/client/aql/vector/aql-vector-training-lifecycle.js
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Fix cluster setting
  tests/js/client/aql/vector/aql-vector-nprobe.js
Owners: none

Fix topic id
  arangod/RocksDBEngine/RocksDBVectorIndexBuilder.cpp
Owners: none

Fix clang-format after merge
  arangod/Aql/SharedQueryState.h
  arangod/Scheduler/SchedulerFeature.cpp
  arangod/Scheduler/SupervisedScheduler.cpp
  arangod/Scheduler/SupervisedScheduler.h
Owners: none

Add upgrade task
  arangod/VocBase/Methods/Upgrade.cpp
  arangod/VocBase/Methods/UpgradeTasks.cpp
  arangod/VocBase/Methods/UpgradeTasks.h
Owners: none

Fix aql-vector.js cluster test
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Add changelog entry
  CHANGELOG
Owners: none

Add upgrade task
  arangod/VocBase/Methods/UpgradeTasks.cpp
Owners: none

Sort out API version 0.
  CHANGELOG
  arangod/ClusterEngine/ClusterRestHandlers.cpp
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/GeneralServer/RestHandlerFactory.cpp
  arangod/RocksDBEngine/RocksDBRestHandlers.cpp
  lib/Rest/ApiVersion.h
  tests/js/client/shell/api/multi/http.js
Owners: none

Also remove /openapi.json endpoint in API version 0.
  arangod/GeneralServer/GeneralServerFeature.cpp
Owners: none

Unreformat.
  CHANGELOG
Owners: none

Improve testing randomness
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
  tests/js/client/aql/vector/aql-vector-filter.js
  tests/js/client/aql/vector/aql-vector-full-count.js
  tests/js/client/aql/vector/aql-vector-index-hints.js
  tests/js/client/aql/vector/aql-vector-nprobe.js
  tests/js/client/aql/vector/aql-vector-replication-failover-cluster.js
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Implement suite system with deployment registry and CLI discovery
  tests/elixir/toast/implementation/deep_implement_config.json
  tests/elixir/toast/lib/mix/tasks/toast.ex
  tests/elixir/toast/lib/toast/deployment.ex
  tests/elixir/toast/lib/toast/deployment/cluster_controller.ex
  tests/elixir/toast/lib/toast_test/case.ex
  tests/elixir/toast/lib/toast_test/deployment_registry.ex
  tests/elixir/toast/lib/toast_test/interactive.ex
  tests/elixir/toast/lib/toast_test/process_history.ex
  tests/elixir/toast/lib/toast_test/result_exporter.ex
  tests/elixir/toast/lib/toast_test/result_exporter/json.ex
  tests/elixir/toast/lib/toast_test/result_exporter/junit_xml.ex
  tests/elixir/toast/lib/toast_test/state_cleanup.ex
  tests/elixir/toast/lib/toast_test/suite.ex
  tests/elixir/toast/sections/section-04-suite-system.md
  tests/elixir/toast/test/toast_test/deployment_registry_test.exs
  tests/elixir/toast/test/toast_test/interactive_test.exs
  tests/elixir/toast/test/toast_test/result_export_test.exs
  tests/elixir/toast/test/toast_test/server_id_mapping_test.exs
  tests/elixir/toast/test/toast_test/state_cleanup_test.exs
  tests/elixir/toast/test/toast_test/suite_test.exs
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
