Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Take removed files out of eslint.
  utils/eslint.sh
Owners: none

Adapt nLists and nProbes for cluster scenario
  arangod/Indexes/IndexFactory.cpp
  arangod/Indexes/VectorIndexDefinition.h
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  arangod/RocksDBEngine/RocksDBVectorIndex.h
Owners: none

fix failure log collecting (#22321)
  js/client/modules/@arangodb/testutils/client-tools.js
Owners: none

Adapt how to handle factory with scaling parameters
  arangod/Indexes/IndexFactory.cpp
  arangod/Indexes/VectorIndexDefinition.h
Owners: none

Add tests
  tests/js/client/aql/vector/aql-vector-scaling-params.js
Owners: none

Add changelog
  CHANGELOG
Owners: none

Remove redundant code
  arangod/Cluster/ClusterInfo.cpp
Owners: none

Remove more references to js/server
  cmake/ArangoDBInstall.cmake
Owners: none

Remove more swagger references.
  3rdParty/README_maintainers.md
Owners: none

Add flag `useRBAC` without meaning for now.
  arangod/RestHandler/RestCollectionHandler.cpp
  arangod/VocBase/LogicalCollection.cpp
  arangod/VocBase/LogicalCollection.h
  arangod/VocBase/Properties/CollectionMutableProperties.h
  lib/Basics/StaticStrings.cpp
  lib/Basics/StaticStrings.h
Owners: none

use my repo
  tests/py.yml
Owners: none

Add tests.
  tests/VocBase/Properties/CollectionMutablePropertiesTest.cpp
  tests/js/client/shell/shell-collection-properties-cluster-spec.js
Owners: none

Update CHANGELOG
  CHANGELOG
Owners: none

Revert reformatting.
  CHANGELOG
Owners: none

Remove flakiness in tests
  tests/js/client/shell/shell-cluster-dbserver-shard-metrics-noinstr.js
  tests/js/client/shell/shell-write-concern-read-only-metric-cluster.js
Owners: none

Fix
  tests/js/client/shell/shell-cluster-dbserver-shard-metrics-noinstr.js
Owners: none

Removed deprecated js transaction functions and tests that only used it, added tests for the removal expecting them to not exist anymore
  arangod/RestHandler/RestTransactionHandler.cpp
  arangod/RestHandler/RestTransactionHandler.h
  js/client/modules/@arangodb/arango-database.js
  tests/js/client/recovery/big-transaction-durability-sjs.js
  tests/js/client/recovery/indexes-persistent-nosync-sjs.js
  tests/js/client/recovery/insert-update-remove-sjs.js
  tests/js/client/recovery/multi-database-durability-sjs.js
  tests/js/client/recovery/transaction-durability-multiple-sjs.js
  tests/js/client/recovery/transaction-durability-sjs.js
  tests/js/client/recovery/transaction-just-committed-sjs.js
  tests/js/client/server_parameters/exclusive-collections-off-sjs.js
  tests/js/client/server_parameters/exclusive-collections-on-noncluster-sjs.js
  tests/js/client/server_parameters/exclusive-collections-on-sjs.js
  tests/js/client/server_parameters/test-javascript-transactions-off-allow-admin-execute-sjs.js
  tests/js/client/server_parameters/test-javascript-transactions-off-sjs.js
  tests/js/client/server_parameters/test-javascript-transactions-on-sjs.js
  tests/js/client/server_permissions/test-api-transaction-hardened-sjs.js
  tests/js/client/server_permissions/test-api-transaction-restricted-sjs.js
  tests/js/client/server_permissions/test-api-transaction-unrestricted-sjs.js
  tests/js/client/shell/api/multi/transactions-removed.js
  tests/js/client/shell/api/multi/transactions-sjs.js
  tests/js/client/shell/exclusive-collections-noncluster-sjs.js
  tests/js/client/shell/multi/shell-arango-agency-javascript-cluster-sjs.js
  tests/js/client/shell/multi/shell-graph-transaction-sjs.js
  tests/js/client/shell/multi/shell-transactions-sjs.js
  tests/js/client/shell/shell-transactions-memory-usage-noncluster-sjs.js
  tests/js/client/shell/shell-transactions-sjs.js
  tests/js/client/shell/shell-transactions-view-noncluster-sjs.js
  tests/js/client/shell/transaction/shell-transaction-intermediate-commit-cluster-fp-sjs.js
Owners: none

Remove MinReplicationFactor.
  arangod/Cluster/ClusterCollectionMethods.cpp
  arangod/Graph/Graph.cpp
  arangod/RestHandler/RestCollectionHandler.cpp
  arangod/Sharding/ShardingInfo.cpp
  arangod/Sharding/ShardingInfo.h
  arangod/VocBase/VocbaseInfo.cpp
  tests/js/client/shell/api/api-gharial-spec.js
  tests/js/client/shell/api/api-replication.js
  tests/js/client/shell/api/gharial-creation-cluster-spec.js
  tests/js/client/shell/general-graph-creation-cluster-spec.js
  tests/js/client/shell/multi/shell-inventory-cluster.js
  tests/js/client/shell/multi/shell-inventory-noncluster.js
  tests/js/client/shell/shell-cluster-collection.js
  tests/js/client/shell/shell-collection-api.js
  tests/js/client/shell/shell-general-graph-creation-cluster.js
  tests/js/client/shell/shell-one-shard.js
Owners: none

Add default value
  arangod/Indexes/VectorIndexDefinition.h
Owners: none

Remove scalingFactory
  arangod/Indexes/IndexFactory.cpp
  arangod/Indexes/VectorIndexDefinition.h
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
Owners: none

Adapt tests
  tests/js/client/aql/vector/aql-vector-scaling-params.js
Owners: none

HOld lock
  arangod/Cluster/ClusterInfo.cpp
Owners: none

Fix tests.
  js/client/modules/@arangodb/arango-collection.js
Owners: none

Reduce code extend prepareIndex
  arangod/RocksDBEngine/RocksDBBuilderIndex.cpp
  arangod/RocksDBEngine/RocksDBIndex.h
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  arangod/RocksDBEngine/RocksDBVectorIndex.h
Owners: none

Implemented index optimization for queries with FILTER nodes with disjunction, added tests
  arangod/Aql/DocumentProducingHelper.cpp
  arangod/Aql/DocumentProducingHelper.h
  arangod/Aql/ExecutionNode/IndexNode.cpp
  arangod/Aql/Executor/IndexExecutor.cpp
  arangod/Aql/Executor/IndexExecutor.h
  tests/js/client/aql/aql-projections-index-or-filter.js
  tests/js/client/aql/aql-projections-or-filter.js
Owners: none

Add useRBAC to list of expected collection flags.
  tests/js/client/shell/api/api-replication.js
Owners: none

Add useRBAC in a second place as expected attribute.
  tests/js/client/shell/large/shell-collection-api.js
Owners: none

Remove wrong tests.
  tests/js/client/shell/shell-collection-properties-cluster-spec.js
Owners: none

Fix logging
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
Owners: none

Add asymmetric JWT signature (#22296)
  3rdParty/fuerte/CMakeLists.txt
  3rdParty/fuerte/include/fuerte/jwt.h
  3rdParty/fuerte/src/jwt.cpp
  CHANGELOG
  arangod/Auth/TokenCache.cpp
  arangod/Auth/TokenCache.h
  arangod/GeneralServer/AuthenticationFeature.cpp
  arangod/GeneralServer/AuthenticationFeature.h
  arangod/GeneralServer/RestHandler.cpp
  arangod/RestHandler/RestAccessTokenHandler.cpp
  arangod/RestHandler/RestAuthHandler.cpp
  arangod/RestHandler/RestQueryHandler.cpp
  arangod/Transaction/Manager.cpp
  client-tools/Shell/ClientFeature.cpp
  client-tools/Shell/V8ClientConnection.cpp
  client-tools/Utils/ClientManager.cpp
  js/client/modules/@arangodb/testutils/instance-manager.js
  js/client/modules/@arangodb/testutils/instance.js
  js/client/modules/@arangodb/testutils/process-utils.js
  js/common/bootstrap/modules/internal.js
  js/common/modules/@arangodb/crypto.js
  lib/CMakeLists.txt
  lib/Ssl/SslInterface.cpp
  lib/Ssl/SslInterface.h
  lib/Ssl/jwt.cpp
  lib/Ssl/jwt.h
  lib/V8/v8-utils.cpp
  tests/js/client/server_parameters/test-jwt-folder-auth-noncluster.js
  tests/js/common/v8/shell-v8-crypto.js
Owners: none

Added special case to not make late materialize nodes become kCovering
  arangod/Aql/ExecutionNode/IndexNode.cpp
Owners: none

Fix clang-format.
  lib/Ssl/SslInterface.cpp
Owners: none

Fix clang-format. (#22327)
  lib/Ssl/SslInterface.cpp
Owners: none

Fix changelog
  CHANGELOG
Owners: none

Revert breaking changes in shards-dbserver test
  tests/js/client/shell/shell-cluster-dbserver-shard-metrics-noinstr.js
Owners: none

Assert expected values
  tests/js/client/aql/vector/aql-vector-scaling-params.js
Owners: none

[COR-8] Extend coordinator shard metrics (#22168)
  CHANGELOG
  Documentation/Metrics/arangodb_metadata_number_follower_shards.yaml
  Documentation/Metrics/arangodb_metadata_number_not_replicated_shards.yaml
  Documentation/Metrics/arangodb_metadata_number_out_of_sync_shards.yaml
  Documentation/Metrics/arangodb_metadata_shard_followers_out_of_sync_number.yaml
  Documentation/Metrics/arangodb_metadata_total_number_of_shards.yaml
  arangod/Cluster/ClusterInfo.cpp
  arangod/Cluster/ClusterInfo.h
  js/client/modules/@arangodb/test-helper.js
  tests/js/client/shell/shell-cluster-dbserver-shard-metrics-noinstr.js
  tests/js/client/shell/shell-metadata-coordinator-cluster-metrics-noinstr.js
  tests/js/client/shell/shell-write-concern-read-only-metric-cluster.js
Owners: @arangodb/team-documentation

chore: fix sparse option not sent in vector index creation
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

chore: update changelog
  CHANGELOG
Owners: none

Improve names
  Documentation/Metrics/arangodb_activities_activities_total.yaml
  Documentation/Metrics/arangodb_activities_existing.yaml
  Documentation/Metrics/arangodb_activities_ready_for_deletion.yaml
  Documentation/Metrics/arangodb_activities_thread_registries_total.yaml
  Documentation/Metrics/arangodb_activities_total.yaml
  arangod/SystemMonitor/Activities/Feature.cpp
Owners: @arangodb/team-documentation
