Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

arangodb release 3.12.7.2
  ARANGO-VERSION
  CHANGELOG
  CMakeLists.txt
  js/apps/system/_admin/aardvark/APP/api-docs.json
Owners: @arangodb/team-frontend

Remove wrong files.
  lib/iresearch/CMakeFiles/3.31.6/CMakeCCompiler.cmake
  lib/iresearch/CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
  lib/iresearch/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_C.bin
  lib/iresearch/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
  lib/iresearch/CMakeFiles/3.31.6/CMakeSystem.cmake
  lib/iresearch/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
  lib/iresearch/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
  lib/iresearch/CMakeFiles/CMakeConfigureLog.yaml
  lib/iresearch/CMakeFiles/cmake.check_cache
Owners: none

Remove MSVC stuff.
  lib/iresearch/CMakeLists.txt
Owners: none

Properly declare 3rdParty stuff where it is based.
  3rdParty/CMakeLists.txt
  lib/CMakeLists.txt
Owners: none

Move stuff where it belongs.
  lib/CMakeLists.txt
  lib/iresearch/CMakeLists.txt
Owners: none

Fixes suggested by reviewer.
  3rdParty/fastText/CMakeLists.txt
Owners: none

Remove booleans for IndexNode; Adopt js tests for new format
  arangod/Aql/AttributeDetector.cpp
  tests/js/client/aql/aql-attribute-detector-index-stored-values.js
Owners: none

Add subquery and nested attributes cases to the js test
  tests/js/client/aql/aql-attribute-detector-index-stored-values.js
Owners: none

Add dummy data fixture; Add test cases for graph traversal
  tests/Aql/AttributeDetectorGraphTest.cpp
  tests/Aql/AttributeDetectorTestBase.h
  tests/js/client/aql/aql-attribute-detector-index-stored-values.js
Owners: none

Refactor CrashHandlerFeature
  arangod/RestServer/CrashHandlerFeature.cpp
  arangod/RestServer/CrashHandlerFeature.h
  arangod/RestServer/CrashHandlerFeatureOptions.h
Owners: none

Adapt racy test
  tests/js/client/shell/shell-collection-properties-propagation-cluster.js
Owners: none

Remove accidentally committed file
  arangod/RocksDBEngine/RocksDBOptionFeatureOptions.h
Owners: none

Fix formatting
  arangod/Scheduler/SchedulerFeature.cpp
  arangod/StorageEngine/EngineSelectorFeature.cpp
  arangod/V8Server/FoxxFeature.cpp
  arangod/V8Server/V8DealerFeature.cpp
Owners: none

Fix merge issue
  lib/ApplicationFeatures/ConfigFeature.h
Owners: none

Fix formatting
  lib/ApplicationFeatures/BumpFileDescriptorsFeature.cpp
  lib/ApplicationFeatures/FileSystemFeature.cpp
  lib/ApplicationFeatures/LanguageFeature.cpp
Owners: none

Fix CI
  tests/js/client/shell/activity-registry.js
Owners: none

Move server decision into module
  js/client/modules/@arangodb/activity-registry.js
  tests/js/client/shell/activity-registry.js
Owners: none

Get rid of log devels
  arangod/Graph/Queues/CursorWeightedQueue.h
Owners: none

Remove TypeList
  lib/Basics/TypeList.h
Owners: none

Make ServerThread depend on ApplicationServer directly
  arangod/Agency/Agent.cpp
  arangod/Agency/Agent.h
  arangod/Agency/Supervision.cpp
  arangod/Agency/Supervision.h
  arangod/Aql/QueryInfoLoggerFeature.cpp
  arangod/Cluster/AgencyCache.h
  arangod/Cluster/ClusterInfo.cpp
  arangod/Cluster/HeartbeatThread.cpp
  arangod/Cluster/HeartbeatThread.h
  arangod/Network/NetworkFeature.cpp
  arangod/RestServer/ConsoleThread.cpp
  arangod/RestServer/ConsoleThread.h
  arangod/RestServer/DatabaseFeature.cpp
  arangod/RestServer/DatabaseFeature.h
  arangod/RestServer/IOHeartbeatThread.cpp
  arangod/RestServer/IOHeartbeatThread.h
  arangod/RestServer/TtlFeature.cpp
  arangod/RocksDBEngine/RocksDBIndexCacheRefillThread.cpp
  arangod/RocksDBEngine/RocksDBIndexCacheRefillThread.h
  arangod/Scheduler/Scheduler.cpp
  arangod/Statistics/StatisticsFeature.cpp
  arangod/Statistics/StatisticsWorker.cpp
  arangod/Statistics/StatisticsWorker.h
  lib/Basics/Thread.h
Owners: none

Revert waiting
  tests/js/client/shell/shell-cluster-dbserver-shard-metrics-noinstr.js
Owners: none

Use Thread instead of ServerThread where possible
  arangod/Agency/Compactor.cpp
  arangod/Agency/Inception.cpp
  arangod/Aql/QueryInfoLoggerFeature.cpp
  arangod/Cluster/ClusterInfo.cpp
  arangod/Network/NetworkFeature.cpp
  arangod/RestServer/DatabaseFeature.cpp
  arangod/RestServer/IOHeartbeatThread.cpp
  arangod/RestServer/IOHeartbeatThread.h
  arangod/RocksDBEngine/RocksDBIndexCacheRefillThread.cpp
  arangod/RocksDBEngine/RocksDBIndexCacheRefillThread.h
  arangod/Scheduler/Scheduler.cpp
  lib/Basics/Thread.h
Owners: none

Clear failure point also if something goes wrong inbetween
  tests/js/client/shell/activity-registry.js
Owners: none

[COR-169] Make WeightedQueue use the cursors (#22247)
  arangod/Graph/Enumerators/OneSidedEnumerator.cpp
  arangod/Graph/Enumerators/WeightedShortestPathEnumerator.h
  arangod/Graph/Enumerators/WeightedTwoSidedEnumerator.h
  arangod/Graph/Enumerators/YenEnumerator.h
  arangod/Graph/Providers/ClusterProvider.h
  arangod/Graph/Providers/SingleServerProvider.h
  arangod/Graph/Queues/CursorFifoQueue.h
  arangod/Graph/Queues/CursorLifoQueue.h
  arangod/Graph/Queues/CursorWeightedQueue.h
  arangod/Graph/Queues/FifoQueue.h
  arangod/Graph/Queues/LifoQueue.h
  arangod/Graph/algorithm-aliases.h
  tests/Graph/CMakeLists.txt
  tests/Graph/CursorWeightedQueueTest.cpp
  tests/Mocks/MockGraphProvider.h
Owners: none

[COR-173] Disable tests in sanitizer execution (#22265)
  tests/js/client/shell/shell-cluster-dbserver-shard-metrics-noinstr.js
  tests/js/client/shell/shell-collection-properties-propagation-cluster.js
Owners: none

Fix tsan issue
  lib/Containers/Concurrent/ListOfNonOwnedLists.h
Owners: none

Use guarded structure
  lib/Containers/Concurrent/ListOfNonOwnedLists.h
  lib/Containers/Concurrent/Registry.h
Owners: none

Revert change to .tool-versions
  js/apps/system/_admin/aardvark/APP/react/.tool-versions
Owners: @arangodb/team-frontend

Cleanup cmake a bit
  3rdParty/CMakeLists.txt
  lib/CMakeLists.txt
  lib/iresearch/core/CMakeLists.txt
Owners: none

Remove ApplicationFeatureT
  arangod/ClusterEngine/ClusterEngine.cpp
  arangod/ClusterEngine/ClusterEngine.h
  arangod/ClusterEngine/ClusterIndexFactory.cpp
  arangod/ClusterEngine/ClusterIndexFactory.h
  arangod/Metrics/MetricsFeature.cpp
  arangod/Metrics/MetricsFeature.h
  arangod/Replication2/ReplicatedState/ReplicatedStateFeature.cpp
  arangod/Replication2/ReplicatedState/ReplicatedStateFeature.h
  arangod/RestServer/CrashHandlerFeature.cpp
  arangod/RestServer/CrashHandlerFeature.h
  arangod/RestServer/arangod.h
  arangod/RocksDBEngine/RocksDBOptionFeature.h
  arangod/StorageEngine/StorageEngine.h
  arangod/SystemMonitor/ActivityRegistry/Feature.cpp
  arangod/SystemMonitor/ActivityRegistry/Feature.h
  lib/ApplicationFeatures/ApplicationFeature.h
  lib/ApplicationFeatures/ApplicationFeaturePhase.h
  tests/Basics/ApplicationServerTest.cpp
Owners: none

Add test definitions to yml file
  tests/test-definitions.txt
  tests/test-definitions.yml
Owners: @arangodb/team-qa

Used actual AttributeNamePath class instead of custom one, fixed INDEX and JOIN node attribute detection, fixed tests to use AttributeNamePath
  arangod/Aql/AttributeDetector.cpp
  arangod/Aql/AttributeDetector.h
  tests/Aql/AttributeDetectorCollectionTest.cpp
  tests/Aql/AttributeDetectorDocumentFunctionTest.cpp
  tests/Aql/AttributeDetectorGraphTest.cpp
  tests/Aql/AttributeDetectorIndexTest.cpp
  tests/Aql/AttributeDetectorInspectorTest.cpp
  tests/Aql/AttributeDetectorModificationTest.cpp
  tests/Aql/AttributeDetectorTestBase.h
Owners: none

Added logs
  arangod/Aql/Executor/IResearchViewExecutor.cpp
  arangod/IResearch/IResearchFilterFactory.cpp
Owners: none

Fixed compilation, removed redundant _to and _from insertions to attributes list in INDEX nodes, removed useless helper in cpp tests, added more js tests
  arangod/Aql/AttributeDetector.cpp
  tests/Aql/AttributeDetectorCollectionTest.cpp
  tests/Aql/AttributeDetectorDocumentFunctionTest.cpp
  tests/Aql/AttributeDetectorGraphTest.cpp
  tests/Aql/AttributeDetectorIndexTest.cpp
  tests/Aql/AttributeDetectorModificationTest.cpp
  tests/Aql/AttributeDetectorTestBase.h
  tests/js/client/aql/aql-attribute-detector-index-stored-values.js
  tests/js/client/aql/aql-attribute-detector-remote-cluster.js
Owners: none

Fixed another compilation error
  tests/Aql/AttributeDetectorCollectionTest.cpp
  tests/Aql/AttributeDetectorInspectorTest.cpp
  tests/Aql/AttributeDetectorTestBase.h
Owners: none

Correct the order of variable declarations (ResourceMonitor -> CollectionAccess) so it doesn't leak memory
  tests/Aql/AttributeDetectorInspectorTest.cpp
Owners: none

Correct test assertion for GraphTraversal
  tests/Aql/AttributeDetectorGraphTest.cpp
Owners: none

Remove forward declarations and usings.
  arangod/RestServer/arangod.h
  arangod/RocksDBEngine/RocksDBEngine.h
Owners: none

Destroy pool
  arangod/Network/NetworkFeature.cpp
Owners: none

Add changelog
  CHANGELOG
Owners: none
