Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Applided Clangformat
  client-tools/Shell/V8ClientConnection.cpp
  client-tools/Shell/V8ClientConnection.h
Owners: none

Rename SingleServerEdgeCursor to DBServerEdgeCursor
  arangod/Cluster/ClusterEdgeCursor.h
  arangod/Cluster/TraverserEngine.cpp
  arangod/Graph/CMakeLists.txt
  arangod/Graph/Cursors/CMakeLists.txt
  arangod/Graph/Cursors/DBServerEdgeCursor.cpp
  arangod/Graph/Cursors/DBServerEdgeCursor.h
  arangod/Graph/Cursors/EdgeCursor.h
  arangod/Graph/Cursors/RefactoredSingleServerEdgeCursor.cpp
  arangod/Graph/ShortestPathOptions.cpp
  arangod/Graph/TraverserOptions.cpp
Owners: none

Rename RefactoredSingleServerEdgeCursor
  arangod/Graph/Cursors/CMakeLists.txt
  arangod/Graph/Cursors/SingleServerEdgeCursor.cpp
  arangod/Graph/Cursors/SingleServerEdgeCursor.h
  arangod/Graph/Providers/SingleServer/SingleServerNeighbourProvider.cpp
  arangod/Graph/Providers/SingleServer/SingleServerNeighbourProvider.h
  arangod/Graph/Providers/SingleServerProvider.cpp
  arangod/Graph/Providers/SingleServerProvider.h
Owners: none

Get rid of unused member in DBServerEdgeCursor
  arangod/Graph/Cursors/DBServerEdgeCursor.cpp
  arangod/Graph/Cursors/DBServerEdgeCursor.h
  arangod/Graph/ShortestPathOptions.cpp
  arangod/Graph/TraverserOptions.cpp
Owners: none

Addresses PR comments
  CHANGELOG
  arangod/Auth/UserManager.cpp
  arangod/Auth/UserManager.h
  arangod/Replication/Syncer.cpp
  arangod/RestHandler/RestAuthReloadHandler.cpp
  arangod/V8Server/v8-users.cpp
  tests/Auth/UserManagerClusterTest.cpp
  tests/Auth/UserManagerTest.cpp
  tests/IResearch/IResearchAnalyzerFeatureTest.cpp
  tests/IResearch/IResearchViewCoordinatorTest.cpp
  tests/IResearch/IResearchViewTest.cpp
  tests/RestHandler/RestViewHandlerTest.cpp
  tests/V8Server/V8ViewsTest.cpp
  tests/js/client/authentication/auth.js
  tests/js/client/restart/test-restart-cluster.js
Owners: none

Introduces a reload test
  arangod/Auth/UserManager.cpp
  tests/js/client/authentication/auth.js
Owners: none

Backport.
  CHANGELOG
  arangod/Cluster/Maintenance.cpp
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
Owners: none

Fix miscounting bug for scheduled SynchronizeShard jobs [BTS-2202] (#21891)
  CHANGELOG
  arangod/Cluster/Maintenance.cpp
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
Owners: none

Update CHANGELOG
  CHANGELOG
Owners: none

Bump iresearch: Fix for address_table memory over-allocation (#21886)
  CHANGELOG
Owners: none

Fix miscounting bug for scheduled SynchronizeShard jobs [BTS-2202] (#21894)
  CHANGELOG
  arangod/Cluster/Maintenance.cpp
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
Owners: none

Revert an accidental change.
  scripts/startLocalCluster.sh
Owners: @arangodb/team-qa

Revert an accidental change. (#21895)
  scripts/startLocalCluster.sh
Owners: @arangodb/team-qa

Make executor handle empty index iterator properly
  arangod/Aql/Executor/IndexAggregateScanExecutor.cpp
  arangod/Aql/Executor/IndexAggregateScanExecutor.h
  arangod/Aql/Optimizer/Rule/OptimizerRuleCollectWithIndex.cpp
  tests/js/client/aql/aql-index-collect.js
Owners: none

Fix suggested by Claude.
  arangod/GeneralServer/HttpCommTask.cpp
Owners: none

use the local agency Manager to fetch the values instead of remote executing code
  js/client/modules/@arangodb/testutils/cluster-test-helper.js
Owners: none

Use already existing hasMore variable
  arangod/Aql/Executor/IndexAggregateScanExecutor.cpp
  tests/js/client/aql/aql-index-collect.js
Owners: none

BTS 2183 - Fix restore with vector index when feature disabled (#21885)
  CHANGELOG
  arangod/RestHandler/RestReplicationHandler.cpp
  js/client/modules/@arangodb/test-helper.js
  js/client/modules/@arangodb/testsuites/aql.js
  tests/js/client/server_parameters/restore-vector-index.js
  tests/js/client/shell/shell-restore-integration.js
Owners: none

Give default value to member
  arangod/Aql/Executor/IndexAggregateScanExecutor.h
Owners: none

Don't apply index-collect optimizer rule to empty collection
  arangod/Aql/Optimizer/Rule/OptimizerRuleCollectWithIndex.cpp
  tests/js/client/aql/aql-index-collect.js
Owners: none

Fix linter
  tests/js/client/aql/aql-index-collect.js
Owners: none

Reorganize tests
  tests/js/client/aql/aql-index-collect.js
Owners: none

Make executor handle empty index iterator properly
  arangod/Aql/Executor/IndexAggregateScanExecutor.cpp
  arangod/Aql/Executor/IndexAggregateScanExecutor.h
  arangod/Aql/Optimizer/Rule/OptimizerRuleCollectWithIndex.cpp
  tests/js/client/aql/aql-index-collect.js
Owners: none

Give default value to member
  arangod/Aql/Executor/IndexAggregateScanExecutor.h
Owners: none

Use already existing hasMore variable
  arangod/Aql/Executor/IndexAggregateScanExecutor.cpp
  tests/js/client/aql/aql-index-collect.js
Owners: none

Add changelog
  CHANGELOG
Owners: none

lint
  js/client/modules/@arangodb/testutils/cluster-test-helper.js
Owners: none

only slightly lower the frequency of coverage loops
  tests/js/client/resilience/move/moving-shards-cluster.inc
Owners: none

Improve memory tracking in HashedCollect executor
  arangod/Aql/Executor/HashedCollectExecutor.cpp
Owners: none

[BTS-2201] Don't apply index-collect optimizer rule to empty collection (#21890)
  CHANGELOG
  arangod/Aql/Executor/IndexAggregateScanExecutor.cpp
  arangod/Aql/Executor/IndexAggregateScanExecutor.h
  tests/js/client/aql/aql-index-collect.js
Owners: none

[BTS 2201] Backport: Fix index aggregate collect executor for empty collection (#21898)
  CHANGELOG
  arangod/Aql/Executor/IndexAggregateScanExecutor.cpp
  arangod/Aql/Executor/IndexAggregateScanExecutor.h
  tests/js/client/aql/aql-index-collect.js
Owners: none

use the local agency Manager to fetch the values (#21897)
  js/client/modules/@arangodb/testutils/cluster-test-helper.js
  tests/js/client/resilience/move/moving-shards-cluster.inc
Owners: none

WIP
  arangod/Cluster/ClusterEdgeCursor.cpp
  arangod/Cluster/ClusterEdgeCursor.h
  arangod/Graph/Cursors/DBServerEdgeCursor.cpp
  arangod/Graph/Cursors/DBServerEdgeCursor.h
  arangod/Graph/Cursors/EdgeCursor.h
  tests/Graph/CMakeLists.txt
  tests/Graph/DBServerEdgeCursorTest.cpp
Owners: none

arangodb release 3.12.5.2
  ARANGO-VERSION
  CHANGELOG
  CMakeLists.txt
  js/apps/system/_admin/aardvark/APP/api-docs.json
Owners: @arangodb/team-frontend

Addresses PR comments.
  arangod/Auth/UserManager.cpp
  arangod/Replication/Syncer.cpp
  tests/Auth/UserManagerTest.cpp
Owners: none

Fix restart test.
  tests/js/client/restart/test-restart-cluster.js
Owners: none

adjust timeouts for coverage
  tests/js/client/resilience/move/moving-shards-cluster.inc
Owners: none

small for now
  tests/test-definitions.txt
Owners: @arangodb/team-qa

Fixes logic mistake in unittest.
  tests/Auth/UserManagerClusterTest.cpp
Owners: none

Fixing the same test again because of another logic error.
  tests/Auth/UserManagerClusterTest.cpp
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
