Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

make name uniq
  tests/tinkerpop-provider.yml
Owners: none

Implement --test-branches feature for driver test branch overrides
  .circleci/generate_config_new.py
Owners: none

fix variable reference
  js/client/modules/@arangodb/testsuites/java.js
Owners: none

fresh maven
  scripts/docker/spark-test/Dockerfile
Owners: @arangodb/team-qa

new container
  .circleci/base_config.yml
  .circleci/config.yml
Owners: none

add container
  .circleci/build_test_image.yml
  tests/spring-data.yml
Owners: none

Add effective memory
  lib/Basics/FileUtils.cpp
  lib/Basics/FileUtils.h
  lib/Basics/NumberOfCores.cpp
  lib/Basics/PhysicalMemory.cpp
  lib/Basics/PhysicalMemory.h
Owners: none

Add effective memory as metric
  Documentation/Metrics/arangodb_server_statistics_effective_physical_memory.yaml
  arangod/Statistics/StatisticsFeature.cpp
Owners: @arangodb/team-documentation

Add blob support to inspector
  lib/Inspection/include/Inspection/Blob.h
  lib/Inspection/include/Inspection/InspectorBase.h
  lib/Inspection/include/Inspection/VPackLoadInspector.h
  lib/Inspection/include/Inspection/VPackSaveInspector.h
  lib/Inspection/include/Inspection/detail/traits.h
  tests/Inspection/VPackLoadTest.cpp
  tests/Inspection/VPackSaveTest.cpp
Owners: none

new container
  .circleci/base_config.yml
  .circleci/config.yml
Owners: none

new container
  .circleci/build_test_image.yml
Owners: none

Add machineId
  arangod/Statistics/StatisticsFeature.cpp
  arangod/Statistics/StatisticsFeature.h
Owners: none

new spring container
  scripts/docker/spring-test/Dockerfile
Owners: @arangodb/team-qa

new container
  .circleci/base_config.yml
  .circleci/config.yml
Owners: none

load timeLimit from yaml
  .circleci/generate_config.py
  tests/test-definitions.yml
  tests/tinkerpop-provider.yml
Owners: none

load timeLimit from yaml
  .circleci/generate_config.py
Owners: none

Avoid const_cast and add comment
  lib/Inspection/include/Inspection/InspectorBase.h
Owners: none

fix container
  scripts/docker/spring-test/Dockerfile
Owners: @arangodb/team-qa

new container
  .circleci/base_config.yml
  .circleci/config.yml
Owners: none

Fix metric name
  arangod/Statistics/StatisticsFeature.cpp
Owners: none

if the filename doesn't contain a path with / s in it, prepend tests/
  .circleci/generate_config.py
Owners: none

debug
  .circleci/generate_config.py
Owners: none

debug
  .circleci/generate_config.py
Owners: none

dedebug
  .circleci/generate_config.py
Owners: none

ommit directory
  .circleci/config.yml
Owners: none

Remove chaos timeLimit special case, use YAML field instead
  .circleci/src/config_lib.py
  .circleci/src/output_generators/circleci.py
Owners: none

Add automatic tests/ prefix for YAML files without path
  .circleci/generate_config_new.py
Owners: none

Replace generate_config script with new version
  .circleci/generate_config.py
  .circleci/generate_config_new.py
Owners: none

Remove implementation plan
  implementation_plan.md
Owners: none

Fix asan tests
  .circleci/tests_unit/test_sizing.py
Owners: none

Add docs for effective cpu cores
  Documentation/Metrics/arangodb_server_statistics_effective_cpu_cores.yaml
Owners: @arangodb/team-documentation

Fix pylint warnings in src folder
  .circleci/src/config_lib.py
  .circleci/src/filters.py
  .circleci/src/output_generators/base.py
  .circleci/src/output_generators/circleci.py
  .circleci/src/output_generators/sizing.py
Owners: none

Fix detection
  lib/Basics/CGroupDetection.cpp
  lib/Basics/NumberOfCores.cpp
Owners: none

Remove Mac support from PlatformFlags
  .circleci/src/filters.py
Owners: none

Add changelog entry
  CHANGELOG
Owners: none

Apply new inspect
  arangod/RocksDBEngine/RocksDBTypes.h
Owners: none

Save rocksdbvectorindex entry as array
  arangod/RocksDBEngine/RocksDBTypes.h
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  arangod/RocksDBEngine/RocksDBVectorIndexList.cpp
Owners: none

Fix inspect
  arangod/RocksDBEngine/RocksDBTypes.h
Owners: none

Fix
  arangod/RocksDBEngine/RocksDBTypes.h
Owners: none

Fix format
  arangod/RocksDBEngine/RocksDBTypes.h
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
