Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Check if index is sparse
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
Owners: none

Extend tests
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
Owners: none

Clarified changelog entry
  CHANGELOG
Owners: none

Refactor reading vector index field
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
Owners: none

fix layer to report SUT-checker abort to
  js/client/modules/@arangodb/testutils/sutcheckers/analyzers.js
  js/client/modules/@arangodb/testutils/sutcheckers/collections.js
  js/client/modules/@arangodb/testutils/sutcheckers/databases.js
  js/client/modules/@arangodb/testutils/sutcheckers/failurepoints.js
  js/client/modules/@arangodb/testutils/sutcheckers/graphs.js
  js/client/modules/@arangodb/testutils/sutcheckers/tasks.js
  js/client/modules/@arangodb/testutils/sutcheckers/transactions.js
  js/client/modules/@arangodb/testutils/sutcheckers/users.js
  js/client/modules/@arangodb/testutils/sutcheckers/views.js
  js/client/modules/@arangodb/testutils/testrunner.js
Owners: none

failure
  tests/js/client/shell/shell-users.js
Owners: none

properly indent crash messages
  js/client/modules/@arangodb/testutils/testrunner.js
Owners: none

don't log 'undefined'
  js/client/modules/@arangodb/testutils/testrunner.js
Owners: none

revert intentional debug error
  tests/js/client/shell/shell-users.js
Owners: none

Added test for authentication with arangosh with username and password, as well as JWT token
  js/client/modules/@arangodb/testutils/client-tools.js
  tests/js/client/authentication/auth.js
Owners: none

Added CHANGELOG entry
  CHANGELOG
Owners: none

SUT-Checkers: fix result layers (#21881)
  js/client/modules/@arangodb/testutils/sutcheckers/analyzers.js
  js/client/modules/@arangodb/testutils/sutcheckers/collections.js
  js/client/modules/@arangodb/testutils/sutcheckers/databases.js
  js/client/modules/@arangodb/testutils/sutcheckers/failurepoints.js
  js/client/modules/@arangodb/testutils/sutcheckers/graphs.js
  js/client/modules/@arangodb/testutils/sutcheckers/tasks.js
  js/client/modules/@arangodb/testutils/sutcheckers/transactions.js
  js/client/modules/@arangodb/testutils/sutcheckers/users.js
  js/client/modules/@arangodb/testutils/sutcheckers/views.js
  js/client/modules/@arangodb/testutils/testrunner.js
Owners: none

Fix flaky test `acquire_endpoint` (#21875)
  tests/Mocks/MockTcpDummyServer.h
  tests/Network/ConnectionPoolTest.cpp
Owners: none

Fix CHANGELOG
  CHANGELOG
Owners: none

Fix failing test
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
Owners: none

Refactor RestHandler state machine into a coroutine (#21787)
  CHANGELOG
  arangod/Aql/ExecutionEngine.cpp
  arangod/Aql/ExecutionEngine.h
  arangod/Aql/Query.cpp
  arangod/Aql/RestAqlHandler.cpp
  arangod/Aql/RestAqlHandler.h
  arangod/GeneralServer/RestHandler.cpp
  arangod/GeneralServer/RestHandler.h
  arangod/RestHandler/RestCursorHandler.cpp
  arangod/RestHandler/RestCursorHandler.h
  arangod/RestHandler/RestSimpleHandler.cpp
  arangod/RestHandler/RestSimpleHandler.h
  arangod/RestHandler/RestSimpleQueryHandler.cpp
  arangod/RestHandler/RestSimpleQueryHandler.h
  arangod/RestHandler/RestVocbaseBaseHandler.cpp
  arangod/RestHandler/RestVocbaseBaseHandler.h
  arangod/RestServer/BootstrapFeature.cpp
  arangod/Transaction/Context.cpp
  arangod/Transaction/Context.h
  arangod/Transaction/SmartContext.cpp
  arangod/Transaction/SmartContext.h
  arangod/Transaction/V8Context.cpp
  arangod/Transaction/V8Context.h
  arangod/V8Server/v8-query.cpp
  arangod/V8Server/v8-voccursor.cpp
  js/client/modules/@arangodb/testutils/san-file-handler.js
  lib/ApplicationFeatures/LazyApplicationFeatureReference.h
  lib/Async/CMakeLists.txt
  lib/Async/include/Async/SuspensionCounter.h
  lib/Async/include/Async/context.h
  lib/Async/src/SuspensionCounter.cpp
  lib/Inspection/CMakeLists.txt
  lib/Logger/LogContext.cpp
  lib/Logger/LogContext.h
  tests/Aql/Executor/EnumerateCollectionExecutorTest.cpp
  tests/Aql/QueryCursorTest.cpp
  tests/Mocks/MockGraph.cpp
  tests/Transaction/RestTransactionHandlerTest.cpp
  tests/js/client/shell/multi/shell-aql-kill-nocov.js
Owners: none

Hotfix: bts-2152 fix overfetch input on parallel traversals (#21876)
  CHANGELOG
  arangod/Aql/BlocksWithClients.cpp
  arangod/Aql/BlocksWithClients.h
  arangod/Aql/DistributeClientBlock.cpp
  arangod/Aql/DistributeClientBlock.h
  arangod/Aql/Executor/ScatterExecutor.cpp
  arangod/Aql/Executor/ScatterExecutor.h
  tests/Aql/Executor/AsyncExecutorTest.cpp
  tests/Aql/WaitingExecutionBlockMock.cpp
  tests/Aql/WaitingExecutionBlockMock.h
  tests/Mocks/MockTcpDummyServer.h
  tests/Network/ConnectionPoolTest.cpp
Owners: none

Add option to inject the token via a prompt
  CHANGELOG
  client-tools/Shell/ClientFeature.cpp
  client-tools/Shell/ClientFeature.h
Owners: none

Fix error throwing
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
Owners: none

Fix geo point definition to accept z value (#21859)
  CHANGELOG
  arangod/Aql/AqlFunctionFeature.cpp
  arangod/Aql/Functions.cpp
  lib/Geo/GeoJson.cpp
  tests/Geo/GeoJsonTest.cpp
  tests/js/common/aql/aql-geo-distance-range.js
Owners: none

Small improvements
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Fixed JSLint, ClangFormat and logids
  client-tools/Shell/ClientFeature.cpp
  tests/js/client/authentication/auth.js
Owners: none

Clarified description of JWT token option
  client-tools/Shell/ClientFeature.cpp
Owners: none

Another clang format fix
  client-tools/Shell/ClientFeature.cpp
Owners: none

Add CHANGELOG entry
  CHANGELOG
Owners: none

bump rocksdb version
  CHANGELOG
Owners: none

Fix CHANGELOG entry
  CHANGELOG
Owners: none

Update submodule (for 3.12.5.1): Fix for null access for smallest ran… (#21882)
  CHANGELOG
Owners: none

bump rocksdb version to fix compaction picker nullptr access. (#21884)
  CHANGELOG
Owners: none

arangodb release 3.12.5.1
  ARANGO-VERSION
  CHANGELOG
  CMakeLists.txt
  js/apps/system/_admin/aardvark/APP/api-docs.json
Owners: @arangodb/team-frontend

Address comments from discussion
  arangod/Aql/Condition.cpp
  scripts/startLocalCluster.sh
  tests/js/client/aql/aql-optimizer-rule-remove-filter-covered-by-traversal-spec.js
Owners: @arangodb/team-qa

Remove assertion & add comment
  arangod/Aql/Condition.cpp
Owners: none

Ignore vector index from dump when not enabled
  arangod/RestHandler/RestReplicationHandler.cpp
Owners: none

Add shell_client_vector to test suites
  js/client/modules/@arangodb/testsuites/aql.js
  js/client/modules/@arangodb/testutils/instance.js
Owners: none

Add test into test definitions
  tests/test-definitions.txt
Owners: @arangodb/team-qa

Seperate vector index restoration tests when feature enabeld and not
  tests/js/client/shell/shell-restore-integration.js
  tests/js/client/shell/vector/shell-restore-integration-vector.js
Owners: none

Remove constexpr
  tests/Network/ConnectionPoolTest.cpp
Owners: none

Add changelog
  CHANGELOG
Owners: none

Remove changes in instance.js
  js/client/modules/@arangodb/testutils/instance.js
Owners: none

Fix topics ids
  arangod/RestHandler/RestReplicationHandler.cpp
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
