Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Move functionality to its own feature.
  arangod/GeneralServer/CommTask.cpp
  arangod/GeneralServer/CommTask.h
  arangod/RestHandler/RestAdminServerHandler.cpp
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
  lib/ApplicationFeatures/ApplicationServer.cpp
  lib/ApplicationFeatures/ApplicationServer.h
Owners: none

Forgotten file.
  arangod/RestServer/arangod_includes.h
Owners: none

Relax memory order.
  lib/Containers/AtomicList.h
Owners: none

Add minimal and maximal values for options.
  arangod/RestServer/ApiRecordingFeature.cpp
Owners: none

Adapts GeneralServerFeature to allow the disk-usage license to do a proper shut-down if needed.
  CHANGELOG
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/GeneralServer/GeneralServerFeature.h
  js/common/modules/@arangodb/common.js
Owners: none

Add factory test and add comments
  tests/js/client/aql/vector/aql-vector-agency-wrong-definition-cluster.js
Owners: none

Add a basic task registry implementation
  lib/CMakeLists.txt
  lib/Tasks/CMakeLists.txt
  lib/Tasks/include/Tasks/task_registry.h
  lib/Tasks/task_registry.cpp
  tests/CMakeLists.txt
  tests/Tasks/CMakeLists.txt
  tests/Tasks/TaskRegistryTest.cpp
Owners: none

Add global variable to arangod
  lib/CMakeLists.txt
  lib/Tasks/CMakeLists.txt
  lib/Tasks/include/Tasks/task_registry_variable.h
  lib/Tasks/task_registry_variable.cpp
Owners: none

Fix async registry includes
  lib/Async/Registry/CMakeLists.txt
Owners: none

Create a task for create collection and directly print registry
  arangod/Cluster/CreateCollection.cpp
  arangod/Cluster/CreateCollection.h
  arangod/RestHandler/RestCollectionHandler.cpp
Owners: none

Update task state for coordinator create collection
  arangod/Cluster/ClusterCollectionMethods.cpp
  arangod/Cluster/ClusterCollectionMethods.h
  arangod/RestHandler/RestCollectionHandler.cpp
  arangod/VocBase/Methods/Collections.cpp
  arangod/VocBase/Methods/Collections.h
Owners: none

Create depending tasks for coordinator index creation
  arangod/RestHandler/RestIndexHandler.cpp
  arangod/RestHandler/RestIndexHandler.h
Owners: none

Revert "Fix index api shortly after successful creation [BTS-2044] (#21646)"
  CHANGELOG
  arangod/RestHandler/RestIndexHandler.cpp
Owners: none

Adapts GeneralServerFeature to allow the disk-usage license to do a proper shut-down if needed. (#21651)
  CHANGELOG
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/GeneralServer/GeneralServerFeature.h
  js/common/modules/@arangodb/common.js
Owners: none

Improve rest handler docu
  arangod/AsyncRegistryServer/RestHandler.cpp
  lib/Async/Registry/stacktrace.h
Owners: none

Move stacktrace files from lib to arangod
  arangod/AsyncRegistryServer/CMakeLists.txt
  arangod/AsyncRegistryServer/RestHandler.cpp
  arangod/AsyncRegistryServer/Stacktrace/CMakeLists.txt
  arangod/AsyncRegistryServer/Stacktrace/depth_first.h
  arangod/AsyncRegistryServer/Stacktrace/forest.h
  lib/Async/Registry/stacktrace.h
  tests/AsyncRegistryServer/CMakeLists.txt
  tests/AsyncRegistryServer/StacktraceTest.cpp
Owners: none

Don't copy all roots in iteration
  arangod/AsyncRegistryServer/RestHandler.cpp
  arangod/AsyncRegistryServer/Stacktrace/depth_first.h
  arangod/AsyncRegistryServer/Stacktrace/forest.h
Owners: none

Rename parent
  arangod/AsyncRegistryServer/Stacktrace/forest.h
Owners: none

Add some more docu
  lib/Async/Registry/registry_variable.cpp
Owners: none

Improve metrics
  Documentation/Metrics/arangodb_async_existing_promises.yaml
  Documentation/Metrics/arangodb_async_existing_thread_registries.yaml
  Documentation/Metrics/arangodb_async_promises_total.yaml
  Documentation/Metrics/arangodb_async_ready_for_deletion_promises.yaml
  Documentation/Metrics/arangodb_async_registered_promises.yaml
  Documentation/Metrics/arangodb_async_registered_threads.yaml
  Documentation/Metrics/arangodb_async_running_threads.yaml
  Documentation/Metrics/arangodb_async_thread_registries_total.yaml
  Documentation/Metrics/arangodb_async_threads_total.yaml
  arangod/AsyncRegistryServer/Feature.cpp
  lib/Async/Registry/Metrics.h
  lib/Async/Registry/registry.cpp
  lib/Async/Registry/registry.h
  lib/Async/Registry/thread_registry.cpp
  lib/Async/Registry/thread_registry.h
Owners: @arangodb/team-documentation

feat: adds diskusage license info to UI
  js/apps/system/_admin/aardvark/APP/frontend/js/views/navigationView.js
Owners: @arangodb/team-frontend

chore: styles
  js/apps/system/_admin/aardvark/APP/frontend/scss/_alert.scss
Owners: @arangodb/team-frontend

chore: remove space
  js/apps/system/_admin/aardvark/APP/frontend/js/views/navigationView.js
Owners: @arangodb/team-frontend

Fix index api shortly after successful creation (#21654)
  CHANGELOG
  arangod/RestHandler/RestIndexHandler.cpp
Owners: none

chore: remove unecessary checks
  js/apps/system/_admin/aardvark/APP/frontend/js/views/navigationView.js
Owners: @arangodb/team-frontend

Add more debugging.
  lib/Containers/AtomicList.h
  tests/Basics/AtomicListTest.cpp
Owners: none

Remove prints
  tests/js/client/aql/vector/aql-vector-agency-wrong-definition-cluster.js
Owners: none

Fix test and make overshooting less likely.
  lib/Containers/AtomicList.h
  tests/Basics/AtomicListTest.cpp
Owners: none

Fix test.
  tests/Basics/AtomicListTest.cpp
Owners: none

Make test more tolerant.
  tests/Basics/AtomicListTest.cpp
Owners: none

clang-format.
  lib/Containers/AtomicList.h
Owners: none

Fix vector index comparison in maintance (#21647)
  CHANGELOG
  arangod/Indexes/IndexFactory.cpp
  tests/js/client/aql/vector/aql-vector-agency-wrong-definition-cluster.js
Owners: none

allow access token instead of password
  arangod/Auth/TokenCache.cpp
  arangod/Auth/UserManager.cpp
  arangod/Auth/UserManager.h
  arangod/GeneralServer/CommTask.cpp
  arangod/RestHandler/RestAuthHandler.cpp
  arangod/RestHandler/RestUsersHandler.cpp
Owners: none

allow missing username
  arangod/RestHandler/RestAuthHandler.cpp
Owners: none

lint
  arangod/Auth/User.cpp
  arangod/Auth/UserManager.h
Owners: none

Change BoundedList::prepend to avoid overshooting.
  lib/Containers/AtomicList.h
  tests/Basics/AtomicListTest.cpp
Owners: none

Fixes a bug with unintentional double-log-line spam.
  CHANGELOG
  lib/Logger/LoggerFeature.cpp
Owners: none

Fix linter errors.
  lib/Logger/LoggerFeature.cpp
Owners: none

Fixes a bug with unintentional double-log-line spam. (#21655)
  CHANGELOG
  lib/Logger/LoggerFeature.cpp
Owners: none

Fix comments.
  lib/Containers/AtomicList.h
Owners: none
