Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

FE-611 | Secondary Review Comments Addressed
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/CollectionIndex.types.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

Fix version number of metrics added as part of RocksDB upgrade
  Documentation/Metrics/rocksdb_block_cache_charge_per_entry.yaml
  Documentation/Metrics/rocksdb_block_cache_entries.yaml
  Documentation/Metrics/rocksdb_live_blob_file_garbage_size.yaml
  Documentation/Metrics/rocksdb_live_blob_file_size.yaml
  Documentation/Metrics/rocksdb_num_blob_files.yaml
Owners: @arangodb/team-documentation

Actually not in 3.12.5 branch
  Documentation/Metrics/rocksdb_block_cache_charge_per_entry.yaml
  Documentation/Metrics/rocksdb_block_cache_entries.yaml
  Documentation/Metrics/rocksdb_live_blob_file_garbage_size.yaml
  Documentation/Metrics/rocksdb_live_blob_file_size.yaml
  Documentation/Metrics/rocksdb_num_blob_files.yaml
Owners: @arangodb/team-documentation

Adjust version remarks for newly added startup options too
  arangod/RocksDBEngine/RocksDBOptionFeature.cpp
Owners: none

FE-611 | Review Comments Addressed
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

Fix gtest.
  arangod/Auth/UserManager.cpp
  arangod/Auth/UserManager.h
  tests/Auth/UserManagerClusterTest.cpp
  tests/IResearch/IResearchAnalyzerFeatureTest.cpp
Owners: none

Set memory limit for IResearch
  arangod/IResearch/IResearchFeature.cpp
Owners: none

Revert startUpdateThread call back to the AuthenticationFeature
  arangod/Auth/UserManager.cpp
  arangod/GeneralServer/AuthenticationFeature.cpp
  arangod/RestServer/DatabaseFeature.cpp
  tests/Auth/UserManagerClusterTest.cpp
  tests/IResearch/IResearchAnalyzerFeatureTest.cpp
  tests/RestHandler/RestUsersHandlerTest.cpp
Owners: none

Check not only the fuerte error code, but also the one in the response
  arangod/Replication2/AgencyMethods.cpp
Owners: none

Fix tracking of QueryStreamingCursor
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  arangod/Aql/QueryCursor.cpp
Owners: none

Extend tests with streaming queries
  tests/js/client/aql/aql-query-metrics.js
Owners: none

Fix memory leak
  lib/Async/Registry/promise.cpp
  lib/Async/include/Async/async.h
  lib/Async/include/Async/context.h
  lib/Containers/Concurrent/shared.h
  lib/Futures/include/Futures/coro-helper.h
Owners: none

Fix clang-format issue
  arangod/Aql/Query.h
Owners: none

Add more stuff
  tests/Async/CMakeLists.txt
  tests/Async/InfectingStack.cpp
  tests/Async/ResumeAsyncViaFuture.cpp
Owners: none

Add more executables
  tests/Async/CMakeLists.txt
Owners: none

FE-611 | Review Comments Addressed - Added Parallelism And InBackground Feilds
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/CollectionIndex.types.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/IndexFieldsHelper.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

Added a test for the MutexExecutor accessing above rows
  tests/Aql/Executor/AsyncExecutorTest.cpp
Owners: none

Simplified test setup
  tests/Aql/Executor/AsyncExecutorTest.cpp
Owners: none

Check not only the fuerte error code, but also the one in the response (#21801)
  arangod/Replication2/AgencyMethods.cpp
Owners: none

Fix gtest and a endless loop if updating users lead to a conflict.
  arangod/Auth/UserManager.cpp
  tests/IResearch/IResearchViewCoordinatorTest.cpp
  tests/IResearch/IResearchViewTest.cpp
  tests/RestHandler/RestViewHandlerTest.cpp
  tests/V8Server/V8ViewsTest.cpp
Owners: none

Reapply "Add thread name back in (#21791)"
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/asyncregistry/gdb_data.py
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/asyncregistry/gdb_forest.py
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/pretty-printer.py
  arangod/SystemMonitor/AsyncRegistry/RestHandler.cpp
  lib/Async/Registry/promise.cpp
  lib/Async/Registry/promise.h
  lib/Async/include/Async/async.h
  lib/Async/include/Async/context.h
  lib/Async/include/Async/coro-utils.h
  lib/Containers/Concurrent/CMakeLists.txt
  lib/Containers/Concurrent/shared.h
  lib/Containers/Concurrent/thread.cpp
  lib/Containers/Concurrent/thread.h
  lib/Futures/include/Futures/Future.h
  lib/Futures/include/Futures/Promise.h
  lib/Futures/include/Futures/Utilities.h
  lib/Futures/include/Futures/coro-helper.h
  tests/Async/AsyncTest.cpp
  tests/Async/Registry/RegistryTest.cpp
  tests/Containers/Concurrent/CMakeLists.txt
  tests/Containers/Concurrent/SharedTest.cpp
  tests/Futures/FutureCoroutineTest.cpp
  tests/Futures/FutureTest.cpp
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/gdb_integration/async_registry_gdb_pretty_printer_test.cpp
Owners: none

Fix memory leak
  lib/Async/Registry/promise.cpp
  lib/Async/include/Async/async.h
  lib/Async/include/Async/context.h
  lib/Containers/Concurrent/shared.h
  lib/Futures/include/Futures/coro-helper.h
Owners: none

Added a test suite to define the expected improved behaviour of the MutexExecutor
  arangod/Aql/Executor/ScatterExecutor.cpp
  arangod/Aql/Executor/ScatterExecutor.h
  tests/Aql/Executor/AsyncExecutorTest.cpp
  tests/Aql/WaitingExecutionBlockMock.cpp
  tests/Aql/WaitingExecutionBlockMock.h
Owners: none

Seperate executionTime from queryTime
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  tests/js/client/aql/aql-query-metrics.js
Owners: none

Replace executionTime with queryTime
  arangod/Aql/Query.cpp
  tests/js/client/aql/aql-query-metrics.js
Owners: none

Fix clang format error
  arangod/Aql/Query.cpp
Owners: none

Replace executionTime with queryTime
  arangod/Aql/Query.cpp
Owners: none

Adds a proper local reload to singleserver.
  arangod/Auth/UserManager.cpp
Owners: none

Missed to revert change.
  arangod/Auth/UserManager.cpp
Owners: none

Reset is better than decrease
  arangod/Auth/UserManager.cpp
Owners: none

widen belt for coverage, disable fuzzer.
  tests/js/client/load-balancing/load-balancing-foxx-installation-noauth-cluster-nocov.js
  tests/js/client/shell/multi/shell-aql-kill.js
  tests/js/client/shell/shell-in-background-failures-noncluster-fp.js
  tests/test-definitions.txt
Owners: @arangodb/team-qa

Add thread name back in, this time without a memory leak (#21802)
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/asyncregistry/gdb_data.py
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/asyncregistry/gdb_forest.py
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/pretty-printer.py
  arangod/SystemMonitor/AsyncRegistry/RestHandler.cpp
  lib/Async/Registry/promise.cpp
  lib/Async/Registry/promise.h
  lib/Async/include/Async/async.h
  lib/Async/include/Async/context.h
  lib/Async/include/Async/coro-utils.h
  lib/Containers/Concurrent/CMakeLists.txt
  lib/Containers/Concurrent/shared.h
  lib/Containers/Concurrent/thread.cpp
  lib/Containers/Concurrent/thread.h
  lib/Futures/include/Futures/Future.h
  lib/Futures/include/Futures/Promise.h
  lib/Futures/include/Futures/Utilities.h
  lib/Futures/include/Futures/coro-helper.h
  tests/Async/AsyncTest.cpp
  tests/Async/Registry/RegistryTest.cpp
  tests/Containers/Concurrent/CMakeLists.txt
  tests/Containers/Concurrent/SharedTest.cpp
  tests/Futures/FutureCoroutineTest.cpp
  tests/Futures/FutureTest.cpp
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/gdb_integration/async_registry_gdb_pretty_printer_test.cpp
Owners: none

widen belt for coverage, disable fuzzer. (#21803)
  tests/js/client/load-balancing/load-balancing-foxx-installation-noauth-cluster-nocov.js
  tests/js/client/shell/multi/shell-aql-kill.js
  tests/js/client/shell/shell-in-background-failures-noncluster-fp.js
  tests/test-definitions.txt
Owners: @arangodb/team-qa

Fix dropDatabase if old entries are left over [BTS-2150] (#21798)
  CHANGELOG
  arangod/Cluster/ClusterInfo.cpp
  tests/js/client/shell/shell-drop-database-with-stopped-server-cluster.js
Owners: none

Update ArangoDB Starter to v0.19.12-preview-1
  CHANGELOG
  VERSIONS
Owners: none

Switch the verion-wait-logic from waiting on the global version, to waiting for the local version.
  arangod/Auth/UserManager.cpp
  arangod/Auth/UserManager.h
Owners: none

Update README.md for v3.12.5+
  README.md
Owners: none

Updated ChangeLog File
  CHANGELOG
Owners: none

Updated ChangeLog File
  CHANGELOG
Owners: none

Fix-up
  arangod/Auth/UserManager.cpp
  arangod/Auth/UserManager.h
  tests/RestHandler/RestAnalyzerHandlerTest.cpp
Owners: none
