Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

remove server.js
  js/server/server.js
Owners: none

Move JWT production code. Remove duplication.
  3rdParty/fuerte/CMakeLists.txt
  3rdParty/fuerte/include/fuerte/jwt.h
  3rdParty/fuerte/src/jwt.cpp
  arangod/Auth/TokenCache.cpp
  arangod/GeneralServer/RestHandler.cpp
  arangod/RestHandler/RestAccessTokenHandler.cpp
  arangod/RestHandler/RestAuthHandler.cpp
  arangod/RestHandler/RestQueryHandler.cpp
  arangod/Transaction/Manager.cpp
  client-tools/Shell/ClientFeature.cpp
  client-tools/Shell/V8ClientConnection.cpp
  client-tools/Utils/ClientManager.cpp
  lib/CMakeLists.txt
  lib/Ssl/jwt.cpp
  lib/Ssl/jwt.h
Owners: none

[COR-203] activities api (#22308)
  arangod/SystemMonitor/Activities/Feature.cpp
  arangod/SystemMonitor/Activities/RestHandler.cpp
  js/client/modules/@arangodb/activities.js
  lib/Activities/include/Activities/activity.h
  lib/Activities/src/activity.cpp
  tests/Activities/ActivityRegistryTest.cpp
  tests/js/client/shell/activities-module.js
  tests/js/client/shell/api/activities.js
Owners: none

lint
  tests/tests.yml
Owners: none

lint
  tests/tests.yml
Owners: none

re-partition tests, so each run is > 5mins < 10 mins
  tests/tests.yml
Owners: none

lint
  tests/tests.yml
Owners: none

join more tests
  tests/tests.yml
Owners: none

lint
  tests/tests.yml
Owners: none

lint
  tests/tests.yml
Owners: none

join more tests
  tests/tests.yml
Owners: none

join more tests
  tests/tests.yml
Owners: none

adjust buckets
  tests/tests.yml
Owners: none

adjust buckets
  tests/tests.yml
Owners: none

join more tests
  tests/tests.yml
Owners: none

join more tests
  tests/tests.yml
Owners: none

adjust buckets
  tests/tests.yml
Owners: none

adjust buckets
  tests/tests.yml
Owners: none

revert unbucket
  tests/tests.yml
Owners: none

join two more suites
  tests/tests.yml
Owners: none

split large aql tests
  js/client/modules/@arangodb/testsuites/aql.js
  tests/tests.yml
Owners: none

fix analysing table printing
  js/client/modules/@arangodb/testutils/instance-manager.js
  js/client/modules/@arangodb/testutils/result-processing.js
  js/client/modules/@arangodb/testutils/san-file-handler.js
Owners: none

make all dump tests medium
  tests/tests.yml
Owners: none

revert
  tests/tests.yml
Owners: none

join two more suites
  tests/tests.yml
Owners: none

join two more suites
  tests/tests.yml
Owners: none

memory default debug
  js/client/modules/@arangodb/testutils/instance-manager.js
Owners: none

split large aql tests
  js/client/modules/@arangodb/testutils/result-processing.js
Owners: none

move to large
  tests/js/client/aqllarge/aql-mdi-random.js
  tests/js/client/aqllarge/aql-nested-subquery-modification-regression.js
  tests/js/client/aqllarge/aql-string-sort-order.js
  tests/tests.yml
Owners: none

less buckets
  tests/tests.yml
Owners: none

only include ct where we need it to avoid fuckup
  js/client/modules/@arangodb/testutils/instance-manager.js
Owners: none

move tests to large
  tests/js/client/aqllarge/aql-memory-limit.js
  tests/js/client/aqllarge/aql-queries-simple.js
  tests/js/client/aqllarge/aql-vector-functions.js
Owners: none

move tests to large
  tests/js/client/aqllarge/aql-profiler-cluster.js
Owners: none

[COR-142] Remove legacy shortest path (#22307)
  CHANGELOG
  arangod/Aql/ExecutionBlockImpl.tpp
  arangod/Aql/ExecutionNode/EnumeratePathsNode.cpp
  arangod/Aql/Executor/EnumeratePathsExecutor.cpp
  arangod/Graph/Enumerators/CMakeLists.txt
  arangod/Graph/Enumerators/WeightedTwoSidedEnumerator.cpp
  arangod/Graph/Enumerators/WeightedTwoSidedEnumerator.h
  arangod/Graph/algorithm-aliases.h
  lib/Basics/StaticStrings.cpp
  lib/Basics/StaticStrings.h
  tests/Graph/GraphMockProviderInstances.cpp
  tests/Graph/KShortestPathsFinderTest.cpp
  tests/Graph/WeightedShortestPathTest.cpp
  tests/js/client/aql/aql-graph-enumerate-path-filter.js
  tests/js/client/aql/aql-graph-k-shortest-path-0-weight-regression.js
  tests/js/client/aql/aql-graph-k-shortest-path-difficult.js
  tests/js/client/aql/aql-graph-k-shortest-path-early-abort-regression.js
  tests/js/client/aql/aql-graph-k-shortest-path.js
  tests/js/client/aql/aql-memory-limit.js
Owners: none

Updated eslint.sh
  utils/eslint.sh
Owners: none

Implement PR comments
  arangod/SystemMonitor/Activities/Feature.cpp
Owners: none

Adapt activities metrics namespace
  Documentation/Metrics/arangodb_activities_activities_total.yaml
  Documentation/Metrics/arangodb_activities_existing_activities.yaml
  Documentation/Metrics/arangodb_activities_existing_thread_registries.yaml
  Documentation/Metrics/arangodb_activities_ready_for_deletion_activities.yaml
  Documentation/Metrics/arangodb_activities_thread_registries_total.yaml
  arangod/SystemMonitor/Activities/Feature.cpp
Owners: @arangodb/team-documentation

Added a regression test to check evaluation of nested variables inside loops
  tests/js/client/aql/aql-optimizer-rule-move-calculations-down.js
Owners: none

Adjust build images to oskar
  scripts/docker/build/linux/Dockerfile.arm64
  scripts/docker/build/linux/Dockerfile.x86-64
Owners: @arangodb/team-qa

Handle case of ES256 secret in JWT token generation.
  lib/Ssl/jwt.cpp
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
