Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

lint
  tests/js/client/resilience/move/moving-shards-cluster.inc
Owners: none

Introduces an empty/no-op acceptance queue as a preparation for further steps. Moves relevant metrics from the generic Scheduler to the new queue.
  arangod/GeneralServer/RestHandler.cpp
  arangod/Scheduler/AcceptanceQueue/AcceptanceQueue.cpp
  arangod/Scheduler/AcceptanceQueue/AcceptanceQueue.h
  arangod/Scheduler/CMakeLists.txt
  arangod/Scheduler/Scheduler.h
  arangod/Scheduler/SchedulerFeature.cpp
  arangod/Scheduler/SchedulerFeature.h
  arangod/Scheduler/SupervisedScheduler.cpp
  arangod/Scheduler/SupervisedScheduler.h
  arangod/Scheduler/ThreadPoolScheduler.cpp
  arangod/Scheduler/ThreadPoolScheduler.h
  tests/Mocks/FakeScheduler.cpp
  tests/Mocks/FakeScheduler.h
Owners: none

revert
  tests/test-definitions.txt
Owners: @arangodb/team-qa

Bug fix/longer timeouts cluster shards test (#21900)
  tests/js/client/resilience/move/moving-shards-cluster.inc
Owners: none

move fuzzing lists over to .js (#21887)
  client-tools/Shell/RequestFuzzer.cpp
  client-tools/Shell/RequestFuzzer.h
  client-tools/Shell/V8ClientConnection.cpp
  js/client/modules/@arangodb/testutils/instance-manager.js
  tests/js/client/fuzz/http-fuzz-fp.js
Owners: none

chore: add resolutions to lock jest and jest* to 30.0.5 (latest)
  js/apps/system/_admin/aardvark/APP/react/package.json
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

add rta-makedata so the fuzzer is talking to a filled SUT.
  tests/js/client/fuzz/http-fuzz-fp.js
  tests/test-definitions.txt
Owners: @arangodb/team-qa

lint
  tests/js/client/fuzz/http-fuzz-fp.js
Owners: none

make it big
  tests/test-definitions.txt
Owners: @arangodb/team-qa

add more details to failures
  js/client/modules/@arangodb/testutils/result-processing.js
Owners: none

add line number
  js/client/modules/@arangodb/testutils/result-processing.js
Owners: none

chore: bump @babel/traverse from 7.27.7 to 7.28.0 (latest)
  js/apps/system/_admin/aardvark/APP/react/package.json
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

chore: update changelog
  CHANGELOG
Owners: none

Avoid nullptr deref in maintainer-mode assertion (#21879)
  arangod/Aql/DistributeClientBlock.cpp
Owners: none

Interruptible sleep
  arangod/Auth/UserManager.cpp
Owners: none

feature: Add ResourceMonitor to ExecutorExpresionContext
  arangod/Aql/Executor/CalculationExecutor.cpp
  arangod/Aql/Executor/IndexExecutor.cpp
  arangod/Aql/Executor/JoinExecutor.cpp
  arangod/Aql/ExecutorExpressionContext.cpp
  arangod/Aql/ExecutorExpressionContext.h
  arangod/Aql/Function/ObjectFunctions.cpp
  lib/Basics/ResourceUsage.cpp
Owners: none

feature: Add resource monitor to aggregators
  arangod/Aql/Aggregator.cpp
  arangod/Aql/Aggregator.h
  arangod/Aql/AqlItemBlock.cpp
  arangod/Aql/Executor/SortedCollectExecutor.cpp
  arangod/Aql/Executor/SortedCollectExecutor.h
  arangod/Aql/ExecutorExpressionContext.cpp
  arangod/Aql/ExecutorExpressionContext.h
  arangod/Aql/Function/ObjectFunctions.cpp
  lib/Basics/ResourceUsage.cpp
  lib/Basics/ResourceUsage.h
  tests/js/client/aql/aql-memory-limit.js
Owners: none

chore: Add tests for resource monitor for MERGE
  arangod/Aql/ExecutionNode/CollectNode.cpp
  arangod/Aql/Executor/CalculationExecutor.cpp
  arangod/Aql/Executor/CountCollectExecutor.cpp
  arangod/Aql/Executor/DistinctCollectExecutor.cpp
  arangod/Aql/Executor/HashedCollectExecutor.cpp
  arangod/Aql/Executor/SortedCollectExecutor.cpp
  arangod/Aql/Executor/SortedCollectExecutor.h
  arangod/Aql/Function/ObjectFunctions.cpp
  tests/js/client/aql/aql-memory-limit.js
Owners: none

feature: Add ResourceMonitor to ExecutorExpressionContext
  arangod/Aql/ExecutorExpressionContext.cpp
  arangod/Aql/ExecutorExpressionContext.h
  arangod/Aql/Function/ObjectFunctions.cpp
Owners: none

feature: add resource usage scope to Aggregators
  arangod/Aql/Aggregator.cpp
  arangod/Aql/Aggregator.h
  arangod/Aql/AqlItemBlock.cpp
  arangod/Aql/AqlItemBlock.h
  arangod/Aql/ExecutionNode/CollectNode.cpp
  arangod/Aql/ExecutionNode/CollectNode.h
  arangod/Aql/ExecutionNode/IndexCollectNode.cpp
  arangod/Aql/ExecutionNode/WindowNode.cpp
  arangod/Aql/ExecutionNode/WindowNode.h
  arangod/Aql/Executor/CalculationExecutor.cpp
  arangod/Aql/Executor/HashedCollectExecutor.cpp
  arangod/Aql/Executor/HashedCollectExecutor.h
  arangod/Aql/Executor/IndexAggregateScanExecutor.cpp
  arangod/Aql/Executor/IndexAggregateScanExecutor.h
  arangod/Aql/Executor/SortedCollectExecutor.cpp
  arangod/Aql/Executor/SortedCollectExecutor.h
  arangod/Aql/Executor/WindowExecutor.cpp
  arangod/Aql/Executor/WindowExecutor.h
  arangod/Aql/Function/ObjectFunctions.cpp
  arangod/Aql/OutputAqlItemRow.cpp
  arangod/Aql/OutputAqlItemRow.h
  lib/Basics/ResourceUsage.cpp
  tests/js/client/aql/aql-memory-limit.js
Owners: none

chore: Correct memory counting logic in mergeParameters() in ObjectFunctions.cpp
  arangod/Aql/AqlItemBlock.cpp
  arangod/Aql/Executor/CalculationExecutor.cpp
  arangod/Aql/Function/ObjectFunctions.cpp
  lib/Basics/ResourceUsage.cpp
  tests/js/client/aql/aql-memory-limit.js
Owners: none

chore: restore yarn.lock
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

Addresses the latest PR comments. Changes the sleep in the update to be interruptible.
  CHANGELOG
  arangod/Auth/UserManager.cpp
  arangod/Auth/UserManager.h
  tests/Auth/UserManagerClusterTest.cpp
  tests/js/client/authentication/auth.js
  tests/js/client/restart/test-restart-cluster.js
Owners: none

chore: update yarn.lock
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

Added integration test for the CreateDatabase scenario
  arangod/Cluster/CreateDatabase.cpp
  tests/js/client/restart/test-coordinator-unreachable-cluster.js
Owners: none

Fixes additional PR comments.
  CHANGELOG
  tests/Auth/UserManagerClusterTest.cpp
  tests/js/client/authentication/auth.js
Owners: none

Depracate flag
  arangod/RocksDBEngine/RocksDBOptionFeature.cpp
Owners: none

Add changelog entry
  CHANGELOG
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

Refactor delaySnapshot to avoidSnapshot
  arangod/RestHandler/RestDocumentHandler.cpp
  arangod/RocksDBEngine/Methods/RocksDBTrxBaseMethods.cpp
  arangod/Transaction/Options.h
  arangod/V8Server/v8-collection.cpp
  tests/sepp/Workloads/WriteWriteConflict.cpp
  tests/sepp/Workloads/WriteWriteConflict.h
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

lint
  js/client/modules/@arangodb/test-helper.js
Owners: none

delete functions from helper that should be used from the agency manager
  js/client/modules/@arangodb/test-helper.js
Owners: none

fix reference into collection
  arangod/Cluster/v8-cluster.cpp
Owners: none

work on completing transition
  js/client/modules/@arangodb/test-helper.js
  tests/js/client/resilience/analyzers/repair-analyzers-revision-cluster.js
  tests/js/client/resilience/failover-view/resilience-synchronous-repl-with-arangosearch-view-cluster.js
  tests/js/client/resilience/failover/resilience-synchronous-repl-cluster.js
  tests/js/client/resilience/move/moving-shards-cluster.inc
  tests/js/client/server_parameters/database-invalid-replication-factor-cluster.js
  tests/js/client/shell/shell-one-shard.js
  tests/js/client/shell/transaction/shell-transaction-cluster.js
Owners: none

disable r2 part, fix reference
  js/client/modules/@arangodb/test-helper.js
Owners: none

delete V8 agency wrappers WIP
  arangod/Cluster/v8-cluster.cpp
  js/server/bootstrap/coordinator.js
  js/server/modules/@arangodb/test-helper.js
  tests/js/client/shell/shell-cluster-agency.js
  tests/js/client/shell/shell-one-shard.js
Owners: none

use same way of invocation
  arangod/Cluster/v8-cluster.cpp
Owners: none

move around functions, make the agency manager allmighty
  js/client/modules/@arangodb/testutils/agency.js
  js/client/modules/@arangodb/testutils/instance-manager.js
  tests/js/client/resilience/analyzers/repair-analyzers-revision-cluster.js
  tests/js/client/resilience/failover-view/resilience-synchronous-repl-with-arangosearch-view-cluster.js
  tests/js/client/resilience/failover/resilience-synchronous-repl-cluster.js
  tests/js/client/resilience/move/moving-shards-cluster.inc
  tests/js/client/server_parameters/database-invalid-replication-factor-cluster.js
  tests/js/client/shell/shell-cluster-agency.js
  tests/js/client/shell/shell-one-shard.js
  tests/js/client/shell/transaction/shell-transaction-cluster.js
Owners: none

implement casValue in the agencyMgr
  js/client/modules/@arangodb/testutils/agency.js
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
