Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Add inner product metric to vector index (#21814)
  CHANGELOG
  arangod/Aql/AqlFunctionFeature.cpp
  arangod/Aql/Function/VectorFunctions.cpp
  arangod/Aql/Functions.h
  arangod/Aql/Optimizer/Rule/OptimizerRuleVectorIndex.cpp
  arangod/Indexes/VectorIndexDefinition.h
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Stop using a streaming transaction after an operation timeouts (#21796)
  tests/js/client/aql/aql-complex.js
  tests/js/client/chaos/test-chaos-load-common.inc
  tests/js/client/shell/shell-improved-metrics-accounting-fail-at.inc
Owners: none

Update README.md for v3.12.5+ (#21804)
  README.md
Owners: none

Docs: Reword arangimport startup option description for collection name prefixes (#21812)
  client-tools/Import/ImportFeature.cpp
Owners: none

properly handle connection and make sure we don't forget it (#21822)
  tests/js/client/fuzz/http-fuzz-fp.js
Owners: none

Fix load memory order (#21818)
  lib/Containers/Concurrent/ThreadOwnedList.h
Owners: none

FE-611 | Add Vector Index Feature (#21793)
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/CollectionIndex.types.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/AddIndexForm.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/IndexFieldsHelper.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/VectorIndexForm.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/useSupportedIndexTypes.tsx
Owners: @arangodb/team-frontend

Added CHANGELOG entry
  CHANGELOG
Owners: none

Adapt changelog.
  CHANGELOG
Owners: none

Add integration tests.
  tests/js/client/shell/recording.js
Owners: none

Improve comment about Query::create.
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
Owners: none

Add test.
  tests/js/client/shell/recording.js
Owners: none

Add further test.
  tests/js/client/shell/recording.js
Owners: none

eslint.
  tests/js/client/shell/recording.js
Owners: none

Some cleanup
  arangod/GeneralServer/RestHandler.cpp
  arangod/GeneralServer/RestHandler.h
  arangod/RestHandler/RestVocbaseBaseHandler.cpp
  arangod/RestHandler/RestVocbaseBaseHandler.h
  arangod/RestServer/BootstrapFeature.cpp
  lib/Async/CMakeLists.txt
  lib/Async/include/Async/SuspensionCounter.h
  lib/Async/include/Async/context.h
  lib/Inspection/CMakeLists.txt
Owners: none

Adapt changelog. (#21821)
  CHANGELOG
Owners: none

feature(api): Added schema/graph endpoint and error handlings
  arangod/RestHandler/RestSchemaHandler.cpp
  arangod/RestHandler/RestSchemaHandler.h
Owners: none

Fix eslint errors.
  tests/js/client/shell/recording.js
Owners: none

Fixed a lifetime problem with composing ValueBuilder, and clang-format
  arangod/GeneralServer/RestHandler.h
  arangod/RestHandler/RestVocbaseBaseHandler.h
  lib/Async/include/Async/SuspensionCounter.h
Owners: none

Fix compilation.
  arangod/RestHandler/RestAdminClusterHandler.cpp
Owners: none

BTS-2158 | `/_api/import`: Only allow valid type parameter values (#21815)
  CHANGELOG
  arangod/RestHandler/RestImportHandler.cpp
  tests/js/client/shell/api/multi/import.js
Owners: none

Add a basic test suite.
  tests/js/client/shell/agency-diagnosis-cluster.js
Owners: none

Make tests more strict, suggested by reviewer.
  tests/js/client/shell/recording.js
Owners: none

Rename handler function.
  arangod/RestHandler/RestAdminServerHandler.cpp
  arangod/RestHandler/RestAdminServerHandler.h
Owners: none

Oversight.
  tests/js/client/shell/recording.js
Owners: none

Add AQL query recording. (#21816)
  CHANGELOG
  Documentation/Metrics/arangodb_aql_recording_call_time.yaml
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  arangod/RestHandler/RestAdminServerHandler.cpp
  arangod/RestHandler/RestAdminServerHandler.h
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
  arangod/RestServer/AqlFeature.cpp
  arangod/RestServer/AqlFeature.h
  tests/IResearch/IResearchAnalyzerFeatureTest.cpp
  tests/js/client/shell/recording.js
Owners: @arangodb/team-documentation

Raise version to 3.12.6-devel
  ARANGO-VERSION
  CHANGELOG
  CMakeLists.txt
  js/apps/system/_admin/aardvark/APP/api-docs.json
Owners: @arangodb/team-frontend

chore(test): Added schema/graph endpoint tests
  arangod/RestHandler/RestSchemaHandler.cpp
  tests/RestHandler/RestSchemaHandlerTest.cpp
  tests/js/client/shell/api/rest-schema-handler.js
Owners: none

Removed a little unused code
  arangod/RestHandler/RestVocbaseBaseHandler.cpp
  arangod/RestHandler/RestVocbaseBaseHandler.h
  lib/Logger/LogContext.cpp
  lib/Logger/LogContext.h
Owners: none

FE-664 | Added Inner Product Metric In Vector Index Form
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/CollectionIndex.types.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

Updated ChangeLog File
  CHANGELOG
Owners: none

Print tested data on assertion failure
  tests/js/client/aql/vector/aql-vector.js
Owners: none

First draft and experiment.
  arangod/RestHandler/RestVersionHandler.cpp
  arangod/RestServer/arangod.cpp
  lib/CrashHandler/CrashHandler.cpp
  lib/CrashHandler/CrashHandler.h
Owners: none

Clean up code.
  lib/CrashHandler/CrashHandler.cpp
  lib/CrashHandler/CrashHandler.h
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Take out test assertion again.
  arangod/RestHandler/RestVersionHandler.cpp
Owners: none

Increase backwards compatibility of the output.
  lib/CrashHandler/CrashHandler.cpp
Owners: none

Suppress OpenMP leak (#21820)
  lsan_arangodb_suppressions.txt
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

Shut down crash handler thread when --version is used.
  lib/ApplicationFeatures/VersionFeature.cpp
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
