Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Fix includes and remaining usages of startsAfter, contains, etc
  arangod/Aql/QueryInfoLoggerFeature.cpp
  arangod/Cluster/ClusterInfo.cpp
  arangod/Metrics/MetricsFeature.cpp
  arangod/RestServer/DatabaseFeature.cpp
  arangod/RestServer/DatabasePathFeature.cpp
  arangod/RestServer/ServerFeature.cpp
  arangod/RestServer/UpgradeFeature.cpp
  client-tools/Backup/BackupFeature.cpp
  client-tools/Dump/DumpFeature.cpp
  client-tools/Export/ExportFeature.cpp
  client-tools/FeaturePhases/BasicFeaturePhaseClient.h
  client-tools/Import/ImportFeature.cpp
  client-tools/Restore/RestoreFeature.cpp
  client-tools/Shell/ClientFeature.h
  client-tools/Shell/V8ClientConnection.cpp
  lib/ApplicationFeatures/ApplicationServer.h
  lib/ApplicationFeatures/GreetingsFeaturePhase.h
  tests/Basics/ApplicationServerTest.cpp
  tests/IResearch/IResearchFeatureTest.cpp
  tests/Maintenance/MaintenanceFeatureTest.cpp
  tests/Maintenance/MaintenanceTest.cpp
  tests/Mocks/Servers.cpp
  tests/Mocks/StorageEngineMock.cpp
  tests/RestServer/LanguageFeatureTest.cpp
Owners: none

Manually set up features for client-tools
  client-tools/Backup/arangobackup.cpp
  client-tools/Benchmark/arangobench.cpp
  client-tools/Dump/arangodump.cpp
  client-tools/Export/arangoexport.cpp
  client-tools/Import/arangoimport.cpp
  client-tools/Restore/arangorestore.cpp
  client-tools/Shell/arangosh.cpp
  client-tools/Utils/ArangoClient.h
  client-tools/VPack/arangovpack.cpp
Owners: none

Added expansion to other types of nodes, improved tests
  arangod/Aql/AttributeDetector.cpp
  arangod/Aql/AttributeDetector.h
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

Adjust ApplicationServer
  lib/ApplicationFeatures/ApplicationServer.h
Owners: none

Manually set up features for arangod
  arangod/RestServer/arangod.cpp
  arangod/RestServer/arangod.h
Owners: none

Change data type of CollectionAccess to uniquePtr; Revert a helper function use in test file
  arangod/Aql/AttributeDetector.cpp
  arangod/Aql/AttributeDetector.h
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

Manually set up features for sepp
  tests/sepp/Server.cpp
Owners: none

Simplified code with helper function, added more coverage, added tests, fixed some
  arangod/Aql/AttributeDetector.cpp
  arangod/Aql/AttributeDetector.h
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

[COR-112] Rename task to activity (#22232)
  Documentation/Metrics/arangodb_activity_activities_total.yaml
  Documentation/Metrics/arangodb_activity_existing_activities.yaml
  Documentation/Metrics/arangodb_activity_existing_thread_registries.yaml
  Documentation/Metrics/arangodb_activity_ready_for_deletion_activities.yaml
  Documentation/Metrics/arangodb_activity_thread_registries_total.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_existing.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_existing_thread_registries.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_ready_for_deletion.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_thread_registries_total.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_total.yaml
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/RestServer/arangod.cpp
  arangod/RestServer/arangod.h
  arangod/RestServer/arangod_includes.h
  arangod/SystemMonitor/ActivityRegistry/CMakeLists.txt
  arangod/SystemMonitor/ActivityRegistry/Feature.cpp
  arangod/SystemMonitor/ActivityRegistry/Feature.h
  arangod/SystemMonitor/ActivityRegistry/Metrics.cpp
  arangod/SystemMonitor/ActivityRegistry/Metrics.h
  arangod/SystemMonitor/ActivityRegistry/RestHandler.cpp
  arangod/SystemMonitor/ActivityRegistry/RestHandler.h
  arangod/SystemMonitor/CMakeLists.txt
  lib/ActivityRegistry/CMakeLists.txt
  lib/ActivityRegistry/activity.cpp
  lib/ActivityRegistry/activity_registry_variable.cpp
  lib/ActivityRegistry/include/ActivityRegistry/activity.h
  lib/ActivityRegistry/include/ActivityRegistry/activity_registry_variable.h
  lib/Async/CMakeLists.txt
  lib/Async/include/Async/context.h
  lib/CMakeLists.txt
  lib/TaskMonitoring/CMakeLists.txt
  lib/TaskMonitoring/include/TaskMonitoring/task.h
  tests/CMakeLists.txt
  tests/TaskMonitoring/ActivityRegistryTest.cpp
  tests/TaskMonitoring/CMakeLists.txt
  tests/TaskMonitoring/TaskRegistryTest.cpp
  tests/main.cpp
Owners: @arangodb/team-documentation

Fixed requireAll booleans to not be overwritten, removed calculation node as not necessary anymore, added access to filter projections, fixed tests
  arangod/Aql/AttributeDetector.cpp
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

Correct test logic
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

Optimize AttributeDetector by moving CollectionAccess instead of copying
  arangod/Aql/AttributeDetector.cpp
Owners: none

Correct assertion condition in test file
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

Correct usage of DOCUMENT() in test file
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

feat: Move query result download to client-side
  js/apps/system/_admin/aardvark/APP/aardvark.js
  js/apps/system/_admin/aardvark/APP/docs/AaardvarkApis.md
  js/apps/system/_admin/aardvark/APP/react/src/views/query/queryResults/QueryExecuteResult.tsx
Owners: @arangodb/team-frontend

chore: remove doc
  js/apps/system/_admin/aardvark/APP/docs/AaardvarkApis.md
Owners: @arangodb/team-frontend

[COR-126] Fix output of rocksdb `dbstats` fields (#22226)
  CHANGELOG
  arangod/RocksDBEngine/CMakeLists.txt
  arangod/RocksDBEngine/RocksDBCFStats.cpp
  arangod/RocksDBEngine/RocksDBCFStats.h
  arangod/RocksDBEngine/RocksDBEngine.cpp
Owners: none

Fix more includes
  arangod/Agency/AgencyFeature.cpp
  arangod/Aql/AqlFunctionFeature.cpp
  arangod/FeaturePhases/ClusterFeaturePhase.cpp
  arangod/FeaturePhases/FinalFeaturePhase.cpp
  arangod/RestServer/SoftShutdownFeature.cpp
  client-tools/Shell/ClientFeature.h
  client-tools/Shell/ShellConsoleFeature.cpp
  tests/Mocks/Servers.cpp
Owners: none

Improve async-registry metrics documentation
  Documentation/Metrics/arangodb_async_existing_promises.yaml
  Documentation/Metrics/arangodb_async_existing_thread_registries.yaml
  Documentation/Metrics/arangodb_async_promises_total.yaml
  Documentation/Metrics/arangodb_async_ready_for_deletion_promises.yaml
  Documentation/Metrics/arangodb_async_thread_registries_total.yaml
  arangod/SystemMonitor/AsyncRegistry/Feature.cpp
Owners: @arangodb/team-documentation

Rename test directory to activity
  tests/ActivityRegistry/ActivityRegistryTest.cpp
  tests/ActivityRegistry/CMakeLists.txt
  tests/CMakeLists.txt
Owners: none

Remove parent from Activity
  lib/ActivityRegistry/activity.cpp
  lib/ActivityRegistry/include/ActivityRegistry/activity.h
Owners: none

Proposal how to add Activity to RestHandler
  arangod/GeneralServer/RestHandler.cpp
  arangod/GeneralServer/RestHandler.h
  arangod/RestHandler/RestHandlerCreator.h
Owners: none

Fixed review comments
  CHANGELOG
Owners: none

Fixed CHANGELOG entry
  CHANGELOG
Owners: none

Fix metric documentation
  Documentation/Metrics/arangodb_async_existing_thread_registries.yaml
Owners: @arangodb/team-documentation

Address PR comments
  arangod/Graph/Cursors/ClusterNeighbourCursor.cpp
  arangod/Graph/Cursors/ClusterNeighbourCursor.h
  arangod/Graph/Cursors/SingleServerNeighbourCursor.h
Owners: none

Update tests/js/client/shell/shell-cluster-dbserver-shard-metrics.js
  tests/js/client/shell/shell-cluster-dbserver-shard-metrics.js
Owners: none

Fix flaky metrics test (#22224)
  tests/js/client/shell/shell-cluster-dbserver-shard-metrics.js
Owners: none

Rename task to activity remainings (#22235)
  Documentation/Metrics/arangodb_async_existing_promises.yaml
  Documentation/Metrics/arangodb_async_existing_thread_registries.yaml
  Documentation/Metrics/arangodb_async_promises_total.yaml
  Documentation/Metrics/arangodb_async_ready_for_deletion_promises.yaml
  Documentation/Metrics/arangodb_async_thread_registries_total.yaml
  arangod/SystemMonitor/AsyncRegistry/Feature.cpp
  tests/ActivityRegistry/ActivityRegistryTest.cpp
  tests/ActivityRegistry/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @arangodb/team-documentation

Remove collection load/unload endpoints.
  arangod/RestHandler/RestCollectionHandler.cpp
Owners: none

Update changelog
  CHANGELOG
Owners: none

Address review comments: remove cache.emplace in shadow rows, restore comment, add type assertion
  ERROR_LEVELS.md
  arangod/Aql/AqlItemBlock.cpp
  tests/Aql/AqlValueHashAlgorithmCorrectnessTest.cpp
Owners: none

Remove load/unload from ArangoCollection and clean up tests
  js/client/modules/@arangodb/arango-collection.js
  js/common/modules/@arangodb/arango-collection-common.js
  js/common/modules/@arangodb/test-helper-common.js
  tests/js/client/recovery/collection-unload.js
  tests/js/client/shell/api/index-geo.js
  tests/js/client/shell/api/multi/collection.js
  tests/js/client/shell/api/multi/document-babies-spec.js
  tests/js/client/shell/multi/shell-attributes.js
  tests/js/client/shell/multi/shell-collection.js
  tests/js/client/shell/multi/shell-view-arangosearch-link.js
  tests/js/client/shell/shell-collection-noncluster.js
  tests/js/client/shell/shell-correctness-sjs.js
  tests/js/client/shell/shell-document-babies.js
  tests/js/client/shell/shell-edge-index.js
  tests/js/client/shell/shell-edge.js
  tests/js/client/shell/shell-index-geo-sjssimple.js
  tests/js/client/shell/shell-index.js
  tests/js/client/shell/shell-transactions-sjs.js
  tests/js/client/shell/shell-transactions-view-noncluster-sjs.js
  tests/js/client/shell/shell-unique-constraint.js
  tests/js/client/shell/shell-unload.js
  tests/js/client/shell/transaction/shell-transaction.inc
  tests/js/server/shell/shell-binary-document.js
Owners: none

Improved projection usage in traversal and graph nodes
  arangod/Aql/AttributeDetector.cpp
Owners: none

Addressed review comments
  arangod/Aql/AqlValue.h
  tests/Aql/AqlValueSupervisedTest.cpp
Owners: none

Fix issues after merge
  arangod/SystemMonitor/AsyncRegistry/Feature.cpp
  arangod/SystemMonitor/AsyncRegistry/Feature.h
  arangod/SystemMonitor/AsyncRegistry/RestHandler.cpp
Owners: none

Change if logic for ExecutionPlan has DOCUMENT function so it catches collectionName from ast node
  arangod/Aql/AttributeDetector.cpp
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

Add assertions to the test; Add an else block for EnumerateCollectionNode and IndexNode where it deals with a case where there is no projection
  arangod/Aql/AttributeDetector.cpp
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

Attempt to add ensureIndex and graph traversal to the test file
  arangod/Aql/AttributeDetector.cpp
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

Remove arango_crashhandler_datasource lib
  lib/CrashHandler/CMakeLists.txt
Owners: none
