Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Add comment
  arangod/Aql/Optimizer/Rule/OptimizerRuleVectorIndex.cpp
Owners: none

Applied clangformat
  arangod/Aql/BlocksWithClients.cpp
  arangod/Aql/BlocksWithClients.h
  arangod/Aql/DistributeClientBlock.cpp
  arangod/Aql/DistributeClientBlock.h
  tests/Aql/Executor/AsyncExecutorTest.cpp
Owners: none

Added a test stuie for the graph visualizer backend
  tests/js/client/shell/api/aardvark-graphvisualizer.js
Owners: none

Fix load memory order
  lib/Containers/Concurrent/ThreadOwnedList.h
Owners: none

Fix test
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Refactored graphs-v2
  js/apps/system/_admin/aardvark/APP/aardvark.js
Owners: @arangodb/team-frontend

Add unit tests
  tests/js/client/shell/api/multi/import.js
Owners: none

Enable unit test
  tests/js/client/shell/api/multi/import.js
Owners: none

Add metric, cleanup structure.
  Documentation/Metrics/arangodb_aql_recording_call_time.yaml
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  arangod/RestHandler/RestAdminServerHandler.cpp
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
  arangod/RestServer/AqlFeature.cpp
  arangod/RestServer/AqlFeature.h
  arangod/VocBase/vocbase.cpp
  arangod/VocBase/vocbase.h
Owners: @arangodb/team-documentation

Revert changes in vocbase.
  arangod/VocBase/vocbase.cpp
  arangod/VocBase/vocbase.h
Owners: none

Fix unit tests.
  tests/IResearch/IResearchAnalyzerFeatureTest.cpp
  tests/IResearch/IResearchOrderTest.cpp
Owners: none

Fix unittest.
  tests/IResearch/IResearchOrderTest.cpp
Owners: none

clang-format.
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

Added a performance test, and started refactoring the backend code for the graph visualizer
  js/apps/system/_admin/aardvark/APP/aardvark.js
  tests/js/client/shell/api/aardvark-graphvisualizer.js
Owners: @arangodb/team-frontend

Further optimization by using 'KEEP' on required attributes only
  js/apps/system/_admin/aardvark/APP/aardvark.js
Owners: @arangodb/team-frontend

chore(test): Added tests/js/client/shell/api/rest-schema-handler.js
  tests/RestHandler/RestSchemaHandlerTest.cpp
  tests/js/client/shell/api/rest-schema-handler.js
Owners: none

disable test, its not working for coverage on all of its parts (#21805)
  tests/js/client/shell/multi/shell-aql-kill-nocov.js
Owners: none

Applied more complex optimization to make use of projections
  js/apps/system/_admin/aardvark/APP/aardvark.js
  tests/js/client/shell/api/aardvark-graphvisualizer.js
Owners: @arangodb/team-frontend

Allowed for edge Projections
  js/apps/system/_admin/aardvark/APP/aardvark.js
Owners: @arangodb/team-frontend

Suppress OpenMP leak
  lsan_arangodb_suppressions.txt
Owners: none

Removed debug output
  js/apps/system/_admin/aardvark/APP/aardvark.js
  tests/js/client/shell/api/aardvark-graphvisualizer.js
Owners: @arangodb/team-frontend

Added CHANGELOG entry
  CHANGELOG
Owners: none

Add inner product metric to vector index (#21814)
  CHANGELOG
  arangod/Aql/AqlFunctionFeature.cpp
  arangod/Aql/Function/VectorFunctions.cpp
  arangod/Aql/Functions.h
  arangod/Aql/Optimizer/Rule/OptimizerRuleVectorIndex.cpp
  arangod/Indexes/VectorIndexDefinition.h
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  tests/js/client/aql/vector/aql-vector.js
Owners: none

clang-format.
  arangod/RestServer/AqlFeature.cpp
Owners: none

Make recording feature unnecessary.
  arangod/RestServer/AqlFeature.cpp
Owners: none

Remove recording feature again from tests.
  tests/Graph/GraphTestTools.cpp
  tests/IResearch/ExpressionFilterTest.cpp
  tests/IResearch/IResearchAnalyzerFeatureTest.cpp
  tests/IResearch/IResearchOrderTest.cpp
  tests/Mocks/Servers.cpp
Owners: none

Fixed behaviour for multi-labels
  js/apps/system/_admin/aardvark/APP/aardvark.js
  tests/js/client/shell/api/aardvark-graphvisualizer.js
Owners: @arangodb/team-frontend

clang-format.
  tests/IResearch/ExpressionFilterTest.cpp
Owners: none

Stop using a streaming transaction after an operation timeouts (#21796)
  tests/js/client/aql/aql-complex.js
  tests/js/client/chaos/test-chaos-load-common.inc
  tests/js/client/shell/shell-improved-metrics-accounting-fail-at.inc
Owners: none

properly handle connection and make sure we don't forget it
  tests/js/client/fuzz/http-fuzz-fp.js
Owners: none

Extend suppresion
  lsan_arangodb_suppressions.txt
Owners: none

Update README.md for v3.12.5+ (#21804)
  README.md
Owners: none

Docs: Reword arangimport startup option description for collection name prefixes (#21812)
  client-tools/Import/ImportFeature.cpp
Owners: none

properly handle connection and make sure we don't forget it (#21822)
  tests/js/client/fuzz/http-fuzz-fp.js
Owners: none

feature(api): Refactored schema endpoint
  arangod/RestHandler/RestSchemaHandler.cpp
  arangod/RestHandler/RestSchemaHandler.h
  tests/RestHandler/RestSchemaHandlerTest.cpp
  tests/js/client/shell/api/rest-schema-handler.js
Owners: none

chore(debug): Corrected the logic of schema endpoint and added testing functions
  arangod/RestHandler/RestSchemaHandler.cpp
  tests/RestHandler/RestSchemaHandlerTest.cpp
  tests/js/client/shell/api/rest-schema-handler.js
Owners: none

Fix load memory order (#21818)
  lib/Containers/Concurrent/ThreadOwnedList.h
Owners: none

Set proper permissions.
  arangod/RestHandler/RestAdminServerHandler.cpp
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

FE-611 | Add Vector Index Feature (#21793)
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/CollectionIndex.types.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/AddIndexForm.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/IndexFieldsHelper.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/VectorIndexForm.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/useSupportedIndexTypes.tsx
Owners: @arangodb/team-frontend

disable test, its not working for coverage on all of its parts (#21805)
  tests/js/client/shell/multi/shell-aql-kill-nocov.js
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
