Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Correct the stashing test
  tests/Basics/ThreadLocalLeaserTest.cpp
Owners: none

Some review comments
  tests/Basics/ThreadLocalLeaserTest.cpp
Owners: none

Cleanup
  arangod/Aql/Executor/EnumeratePathsExecutor.cpp
  arangod/Aql/Executor/ShortestPathExecutor.tpp
  arangod/Aql/Executor/TraversalExecutor.cpp
  arangod/Aql/Expression.cpp
  arangod/Aql/Function/ArrayFunctions.cpp
  arangod/Aql/Function/BitFunctions.cpp
  arangod/Aql/Function/CallApplyFunctions.cpp
  arangod/Aql/Function/CollectionFunctions.cpp
  arangod/Aql/Function/DateFunctions.cpp
  arangod/Aql/Function/DistanceFunctions.cpp
  arangod/Aql/Function/DistributeFunctions.cpp
  arangod/Aql/Function/DocumentFunctions.cpp
  arangod/Aql/Function/EncodingFunctions.cpp
  arangod/Aql/Function/GeoFunctions.cpp
  arangod/Aql/Function/HashFunctions.cpp
  arangod/Aql/Function/JsonFunctions.cpp
  arangod/Aql/Function/MiscFunctions.cpp
  arangod/Aql/Function/ObjectFunctions.cpp
  arangod/Aql/Function/ParseFunctions.cpp
  arangod/Aql/Function/RegexFunctions.cpp
  arangod/Aql/Function/RevisionFunctions.cpp
  arangod/Aql/Function/SchemaFunctions.cpp
  arangod/Aql/Function/StringFunctions.cpp
  arangod/Cluster/ClusterTrxMethods.cpp
  arangod/Graph/Cursors/SingleServerEdgeCursor.cpp
  arangod/Graph/Providers/ClusterProvider.cpp
  arangod/Replication/DatabaseInitialSyncer.cpp
  arangod/RestHandler/RestImportHandler.cpp
  arangod/RocksDBEngine/RocksDBCollection.cpp
  arangod/RocksDBEngine/RocksDBIncrementalSync.cpp
  arangod/RocksDBEngine/RocksDBMultiDimIndex.cpp
  arangod/RocksDBEngine/RocksDBPrimaryIndex.cpp
  arangod/RocksDBEngine/RocksDBTtlIndex.cpp
  arangod/RocksDBEngine/RocksDBVPackIndex.cpp
  arangod/Transaction/Helpers.cpp
  arangod/Transaction/Methods.cpp
  lib/Basics/ThreadLocalLeaser.h
  tests/Mocks/PhysicalCollectionMock.cpp
Owners: none

Remove StringLeaser from Transaction context
  arangod/Aql/Expression.cpp
  arangod/Aql/Function/CallApplyFunctions.cpp
  arangod/Aql/Function/DistanceFunctions.cpp
  arangod/Aql/Function/EncodingFunctions.cpp
  arangod/Aql/Function/HashFunctions.cpp
  arangod/Aql/Function/JsonFunctions.cpp
  arangod/Aql/Function/MiscFunctions.cpp
  arangod/Aql/Function/ObjectFunctions.cpp
  arangod/Aql/Function/RegexFunctions.cpp
  arangod/Aql/Function/StringFunctions.cpp
  arangod/RocksDBEngine/RocksDBCollection.cpp
  arangod/RocksDBEngine/RocksDBMultiDimIndex.cpp
  arangod/RocksDBEngine/RocksDBVPackIndex.cpp
  arangod/Transaction/Helpers.cpp
  arangod/Transaction/Helpers.h
  arangod/Transaction/Methods.cpp
Owners: none

Remove BuilderLeaser from TransactionContext
  arangod/Aql/Executor/EnumeratePathsExecutor.cpp
  arangod/Aql/Executor/ShortestPathExecutor.h
  arangod/Aql/Executor/ShortestPathExecutor.tpp
  arangod/Aql/Executor/TraversalExecutor.cpp
  arangod/Aql/Expression.cpp
  arangod/Aql/Function/ArrayFunctions.cpp
  arangod/Aql/Function/BitFunctions.cpp
  arangod/Aql/Function/CollectionFunctions.cpp
  arangod/Aql/Function/DateFunctions.cpp
  arangod/Aql/Function/DistributeFunctions.cpp
  arangod/Aql/Function/DocumentFunctions.cpp
  arangod/Aql/Function/GeoFunctions.cpp
  arangod/Aql/Function/MiscFunctions.cpp
  arangod/Aql/Function/ObjectFunctions.cpp
  arangod/Aql/Function/ParseFunctions.cpp
  arangod/Aql/Function/RegexFunctions.cpp
  arangod/Aql/Function/RevisionFunctions.cpp
  arangod/Aql/Function/SchemaFunctions.cpp
  arangod/Aql/Function/StringFunctions.cpp
  arangod/Cluster/ClusterTrxMethods.cpp
  arangod/Graph/Cursors/SingleServerEdgeCursor.cpp
  arangod/Graph/Providers/ClusterProvider.cpp
  arangod/Replication/DatabaseInitialSyncer.cpp
  arangod/RestHandler/RestImportHandler.cpp
  arangod/RocksDBEngine/RocksDBIncrementalSync.cpp
  arangod/RocksDBEngine/RocksDBMultiDimIndex.cpp
  arangod/RocksDBEngine/RocksDBPrimaryIndex.cpp
  arangod/RocksDBEngine/RocksDBTtlIndex.cpp
  arangod/RocksDBEngine/RocksDBVPackIndex.cpp
  arangod/Transaction/Context.cpp
  arangod/Transaction/Context.h
  arangod/Transaction/Helpers.cpp
  arangod/Transaction/Helpers.h
  arangod/Transaction/Methods.cpp
  lib/Basics/ThreadLocalLeaser.h
  tests/Aql/Function/BitFunctionsTest.cpp
  tests/Geo/GeoConstructorTest.cpp
  tests/Geo/GeoFunctionsTest.cpp
  tests/Mocks/PhysicalCollectionMock.cpp
  tests/Transaction/ContextTest.cpp
Owners: none

Remove some more unused things
  lib/Basics/ThreadLocalLeaser.h
  tests/Aql/Function/LevenshteinMatchFunctionTest.cpp
  tests/Transaction/ContextTest.cpp
Owners: none

Remove some more members from TransactionContext
  arangod/Aql/AqlItemBlock.cpp
  arangod/RocksDBEngine/RocksDBTransactionState.cpp
  arangod/Transaction/Context.cpp
  arangod/Transaction/Context.h
Owners: none

Remove merge mess
  tests/Basics/ThreadLocalLeaserTest.cpp
Owners: none

Fix DFS unit tests
  tests/Graph/DFSFinderTest.cpp
  tests/Mocks/MockGraphProvider.h
Owners: none

Address review comments, fix merge issues and make coverage a BuildVariant
  .circleci/generate_config.py
  .circleci/src/config_lib.py
  .circleci/src/filters.py
  .circleci/src/output_generators/circleci.py
  .circleci/tests_unit/test_build_variants.py
  .circleci/tests_unit/test_circleci_generator.py
  .circleci/tests_unit/test_config_lib.py
  .circleci/tests_unit/test_filters.py
Owners: none

Add inspectors to queues
  arangod/Graph/Queues/BatchedLifoQueue.h
  arangod/Graph/Queues/FifoQueue.h
  arangod/Graph/Queues/LifoQueue.h
  arangod/Graph/Queues/WeightedQueue.h
  arangod/Graph/Steps/ClusterProviderStep.h
  arangod/Graph/Steps/SingleServerProviderStep.h
  tests/Mocks/MockGraphProvider.h
Owners: none

Add some optional debugging output when computing neighbours
  arangod/Graph/Enumerators/OneSidedEnumerator.cpp
  arangod/InternalRestHandler/InternalRestTraverserHandler.cpp
Owners: none

Add comment about cache
  arangod/Graph/Providers/ClusterProvider.cpp
Owners: none

Make cluster case work with batching
  arangod/Graph/Providers/ClusterProvider.cpp
  arangod/Graph/Queues/BatchedLifoQueue.h
  arangod/Graph/Queues/ExpansionMarker.h
Owners: none

Delete unnecessary condition
  arangod/Cluster/TraverserEngine.cpp
Owners: none

Add changelog
  CHANGELOG
Owners: none

Fix sync of queues in cluster provider and one sided enumerator
  arangod/Graph/Providers/ClusterProvider.cpp
Owners: none

Implement batching in ClusterProvider
  arangod/Graph/Providers/ClusterProvider.cpp
  arangod/Graph/Providers/ClusterProvider.h
Owners: none

Fix clangd seg-fault in rest handler due to fmt
  arangod/InternalRestHandler/InternalRestTraverserHandler.cpp
Owners: none

Make traverser engine own a vec of cursors instead of rearming one
  arangod/Cluster/TraverserEngine.cpp
  arangod/Cluster/TraverserEngine.h
  arangod/InternalRestHandler/InternalRestTraverserHandler.cpp
  tests/InternalRestHandler/InternalRestTraverserHandlerEdgeTest.cpp
  tests/Mocks/MockGraph.h
Owners: none

Fix loop condition to break if we got at least batchSize items
  arangod/Cluster/TraverserEngine.cpp
Owners: none

Switch on batching for cluster
  arangod/Graph/Enumerators/OneSidedEnumerator.cpp
  arangod/Graph/Queues/BatchedLifoQueue.h
Owners: none

Fix smart traversals
  arangod/Graph/algorithm-aliases.h
Owners: none

Make cluster provider have a hash map instead of a stack
  arangod/Graph/Providers/ClusterProvider.cpp
  arangod/Graph/Providers/ClusterProvider.h
Owners: none

Rename stack in single server
  arangod/Graph/Providers/SingleServerProvider.cpp
  arangod/Graph/Providers/SingleServerProvider.h
Owners: none

Get rid of comment
  arangod/Cluster/TraverserEngine.cpp
Owners: none

Make engine cursor processing independent of request sequence
  arangod/Cluster/TraverserEngine.cpp
  arangod/Cluster/TraverserEngine.h
  tests/InternalRestHandler/InternalRestTraverserHandlerEdgeTest.cpp
Owners: none

Disable tinkerpop tests for instrumented builds
  tests/tinkerpop-provider.yml
Owners: none

Use correct attribute name :facepalm
  tests/tinkerpop-provider.yml
Owners: none

Fix filtering on build variant
  .circleci/src/output_generators/circleci.py
Owners: none

Remove V8 server stuff from CMakeLists.txt files.
  CMakeLists.txt
  arangod/Agency/CMakeLists.txt
  arangod/Aql/CMakeLists.txt
  arangod/CMakeLists.txt
  arangod/ClusterEngine/CMakeLists.txt
  arangod/RocksDBEngine/CMakeLists.txt
  arangod/Scheduler/CMakeLists.txt
  arangod/VocBase/Methods/CMakeLists.txt
  js/apps/system/_admin/aardvark/APP/react/.tool-versions
  lib/CMakeLists.txt
  lib/V8/CMakeLists.txt
  tests/CMakeLists.txt
  tests/IResearch/CMakeLists.txt
  tests/Replication2/CMakeLists.txt
Owners: @arangodb/team-frontend

Remove more files for V8 in the server.
  arangod/FeaturePhases/FoxxFeaturePhase.cpp
  arangod/FeaturePhases/FoxxFeaturePhase.h
  arangod/RestHandler/RestAdminExecuteHandler.cpp
  arangod/RestHandler/RestAdminExecuteHandler.h
  arangod/RestHandler/RestAdminRoutingHandler.cpp
  arangod/RestHandler/RestAdminRoutingHandler.h
  arangod/RestHandler/RestAqlUserFunctionsHandler.cpp
  arangod/RestHandler/RestAqlUserFunctionsHandler.h
  arangod/RestHandler/RestTasksHandler.cpp
  arangod/RestHandler/RestTasksHandler.h
  arangod/RestServer/ConsoleFeature.cpp
  arangod/RestServer/ConsoleFeature.h
  arangod/RestServer/ConsoleThread.cpp
  arangod/RestServer/ConsoleThread.h
  arangod/RestServer/FrontendFeature.cpp
  arangod/RestServer/FrontendFeature.h
  arangod/RestServer/ScriptFeature.cpp
  arangod/RestServer/ScriptFeature.h
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Remove bad include.
  arangod/GeneralServer/GeneralServerFeature.cpp
Owners: none

clang-format.
  arangod/Cluster/ClusterMethods.cpp
Owners: none

clang-format
  arangod/RestServer/AqlFeature.cpp
  arangod/VocBase/Methods/Indexes.cpp
  arangod/VocBase/vocbase.h
  tests/IResearch/IResearchDocumentTest.cpp
  tests/IResearch/IResearchFilterArrayInTest.cpp
  tests/IResearch/IResearchFilterInTest.cpp
  tests/RestHandler/RestAnalyzerHandlerTest.cpp
Owners: none

Remove old metrics docs.
  Documentation/Metrics/arangodb_v8_context_created_total.yaml
  Documentation/Metrics/arangodb_v8_context_creation_time_msec_total.yaml
  Documentation/Metrics/arangodb_v8_context_destroyed_total.yaml
  Documentation/Metrics/arangodb_v8_context_enter_failures_total.yaml
  Documentation/Metrics/arangodb_v8_context_entered_total.yaml
  Documentation/Metrics/arangodb_v8_context_exited_total.yaml
Owners: @arangodb/team-documentation

Remove build-frontend.
  .circleci/base_config.yml
Owners: none

Remove frontend build from circleci.
  .circleci/config.yml
  .circleci/src/output_generators/circleci.py
  .circleci/tests_unit/test_build_variants.py
  .circleci/tests_unit/test_circleci_generator.py
Owners: none

Get rid of unneccessary callback
  arangod/Graph/Enumerators/OneSidedEnumerator.cpp
  arangod/Graph/Providers/ClusterProvider.cpp
  arangod/Graph/Providers/ClusterProvider.h
  arangod/Graph/Providers/SingleServerProvider.cpp
  arangod/Graph/Providers/SingleServerProvider.h
  tests/Mocks/MockGraphProvider.h
Owners: none
