Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

finalize yaml
  tests/test-definitions.yml
Owners: none

first parser adaption
  .circleci/generate_config.py
Owners: none

fix cluster/single flag handling
  .circleci/generate_config.py
Owners: none

work on merge
  .circleci/generate_config.py
Owners: none

fix some editing issues
  tests/test-definitions.yml
Owners: none

work on fixing merge issues
  .circleci/generate_config.py
Owners: none

don't stringify buckets
  .circleci/generate_config.py
Owners: none

fix custom yaml header
  .circleci/generate_config.py
Owners: none

reformat more test definitions to yml
  tests/arangojs-test-definitions.yml
  tests/go-test-definitions.yml
  tests/java-driver-test-definitions.yml
  tests/kafka-test-definitions.yml
  tests/test-definitions.yml
Owners: none

fix handling, error messages, correct yaml issues
  .circleci/generate_config.py
  tests/arangojs-test-definitions.yml
  tests/go-test-definitions.yml
  tests/java-driver-test-definitions.yml
  tests/java-test-definitions.yml
  tests/kafka-test-definitions.yml
Owners: none

lint python snake_case
  .circleci/generate_config.py
Owners: none

make it int
  .circleci/generate_config.py
Owners: none

switch to yml file
  .circleci/config.yml
Owners: none

don't use special tag to run several suites
  .circleci/generate_config.py
  tests/test-definitions.yml
Owners: none

QA-711: Feature/testsuite grouping (#22041)
  .circleci/generate_config.py
  js/client/modules/@arangodb/testutils/testing.js
  tests/arangojs-test-definitions.yml
  tests/go-test-definitions.yml
  tests/java-test-definitions.yml
  tests/kafka-test-definitions.yml
  tests/test-definitions.yml
Owners: none

move bucket: auto to buckets: auto, add documentation
  .circleci/generate_config.py
  tests/test-definitions.yml
Owners: none

unify function
  .circleci/generate_config.py
Owners: none

remove comments
  tests/test-definitions.yml
Owners: none

lint
  .circleci/generate_config.py
Owners: none

start working on spark datasource test
  js/client/modules/@arangodb/testsuites/java.js
  tests/spark-datasource-test-definition.yml
Owners: none

delete .txt support
  .circleci/config.yml
  .circleci/generate_config.py
Owners: none

Apply suggestion from @mpoeter
  js/client/modules/@arangodb/testutils/testing.js
Owners: none

add suffix for result handling
  tests/test-definitions.yml
Owners: none

don't configure small machine for cluster tests
  tests/test-definitions.yml
Owners: none

revert
  tests/kafka-test-definitions.yml
Owners: none

revert
  .circleci/config.yml
  .circleci/generate_config.py
Owners: none

adjust params
  js/client/modules/@arangodb/testsuites/java.js
Owners: none

fix syntax
  tests/js/client/aql/aql-optimizer-rule-async-prefetch-noncluster.js
Owners: none

need to make this a default, so it can be overriden
  js/client/modules/@arangodb/testutils/instance.js
Owners: none

add spark container
  .circleci/build_test_image.yml
  scripts/docker/spark-test/Dockerfile
  tests/spark-datasource-test-definition.yml
Owners: @arangodb/team-qa

Move linker to preset and set flag for alubsan fix on arm
  .circleci/base_config.yml
  CMakePresets.json
Owners: none

choose new image
  .circleci/base_config.yml
  .circleci/config.yml
Owners: none

Fix alubsan issue
  arangod/RestHandler/RestImportHandler.cpp
Owners: none

Apply patches
  3rdParty/snappy/snappy-1.2.2/CMakeLists.txt
Owners: none

Change ArangoDB company name to Arango
  CONTRIBUTING.md
  Documentation/Metrics/arangodb_replication_failed_connects_total.yaml
  Documentation/Metrics/arangodb_rocksdb_write_stops_total.yaml
  Documentation/Metrics/arangodb_shards_leader_number.yaml
  Documentation/Metrics/arangodb_shards_not_replicated.yaml
  Documentation/Metrics/arangodb_shards_number.yaml
  Documentation/Metrics/arangodb_shards_out_of_sync.yaml
  Documentation/Metrics/arangodb_sync_rebuilds_total.yaml
  Documentation/Metrics/arangodb_sync_wrong_checksum_total.yaml
  Documentation/Metrics/arangodb_vocbase_shards_read_only_by_write_concern.yaml
  Documentation/Metrics/rocksdb_is_write_stopped.yaml
  arangod/Agency/AgencyComm.cpp
  arangod/Cluster/ClusterInfo.cpp
  arangod/Cluster/HeartbeatThread.cpp
  js/apps/system/_admin/aardvark/APP/aardvark.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/navigationView.js
  js/apps/system/_admin/aardvark/APP/react/src/views/query/editor/DebugPackageModal.tsx
  js/common/modules/@arangodb/common.js
Owners: @arangodb/team-documentation, @arangodb/team-frontend

Rename ArangoGraph to Arango Managed Platform (AMP)
  README
  README.md
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/userBarView.ejs
  js/apps/system/_admin/aardvark/APP/react/src/views/users/viewUser/UserPermissionsTable.tsx
Owners: @arangodb/team-frontend

Increase waiting time
  tests/js/client/shell/shell-index-background-nocov.js
Owners: none

Increase timeout
  tests/js/client/shell/shell-index-background-nocov.js
Owners: none

Fix cmake command
  .circleci/base_config.yml
Owners: none

Fix tests after snappy upgrade
  tests/Containers/MerkleTreeTest.cpp
Owners: none
