Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Set golang version and rclone-arangodb revision for rclone release (#21713)
  CHANGELOG
  VERSIONS
Owners: none

Update CHANGELOG
  CHANGELOG
Owners: none

Fix eslint error
  tests/js/client/aql/aql-optimizer-rule-async-prefetch-noncluster.js
Owners: none

Fix eslint error
  tests/js/client/aql/aql-optimizer-rule-async-prefetch-noncluster.js
Owners: none

Add changelog
  CHANGELOG
Owners: none

Move test to fp designated file
  tests/js/client/aql/aql-optimizer-rule-async-prefetch-noncluster-fp.js
  tests/js/client/aql/aql-optimizer-rule-async-prefetch-noncluster.js
Owners: none

Update ArangoDB Starter to v0.18.14 and arangosync to v2.19.14
  CHANGELOG
  VERSIONS
Owners: none

Update ArangoDB Starter to v0.19.10
  CHANGELOG
  VERSIONS
Owners: none

Address review comments
  CHANGELOG
Owners: none

Backport of #21709
  CHANGELOG
  arangod/Aql/ExecutionBlock.cpp
  arangod/Aql/ExecutionBlock.h
  arangod/Aql/ExecutionBlockImpl.h
  arangod/Aql/ExecutionBlockImpl.tpp
  arangod/Aql/ExecutionEngine.cpp
  tests/js/client/aql/aql-optimizer-rule-async-prefetch-noncluster-fp.js
Owners: none

add cgroups v2 memory limit detection (#21660)
  scripts/test/arangosh.py
Owners: @arangodb/team-qa

Bump version to 3.12.4.2
  ARANGO-VERSION
Owners: none

[3.12.4] Fix crash during async prefetch (#21715)
  CHANGELOG
  arangod/Aql/ExecutionBlock.cpp
  arangod/Aql/ExecutionBlock.h
  arangod/Aql/ExecutionBlockImpl.h
  arangod/Aql/ExecutionBlockImpl.tpp
  arangod/Aql/ExecutionEngine.cpp
  scripts/test/arangosh.py
  tests/js/client/aql/aql-optimizer-rule-async-prefetch-noncluster-fp.js
Owners: @arangodb/team-qa

arangodb release 3.12.4.2
  ARANGO-VERSION
  CHANGELOG
  CMakeLists.txt
  js/apps/system/_admin/aardvark/APP/api-docs.json
Owners: @arangodb/team-frontend

Use arangodb/rclone-arangodb not oskar to download rclone within CircleCI
  .circleci/base_config.yml
Owners: none

Use arangodb/rclone-arangodb not oskar to download rclone within CircleCI (#21717)
  .circleci/base_config.yml
Owners: none

disable vector index on ARM for now, faiss is known to be crashy now.
  js/client/modules/@arangodb/testutils/client-tools.js
Owners: none

lint
  js/client/modules/@arangodb/testutils/client-tools.js
Owners: none

lint
  js/client/modules/@arangodb/testutils/client-tools.js
Owners: none

disable on ARM
  tests/js/client/aql/vector/aql-vector-agency-wrong-definition-cluster.js
Owners: none

disable on ARM
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
  tests/js/client/aql/vector/aql-vector-full-count.js
  tests/js/client/aql/vector/aql-vector-nprobe.js
  tests/js/client/aql/vector/aql-vector.js
Owners: none

add code to use the --loopEternal to the hotbackup restore tests (#21700)
  js/client/modules/@arangodb/testsuites/dump.js
Owners: none

Use arangodb/rclone-arangodb not oskar to download rclone within CircleCI (#21717)
  .circleci/base_config.yml
Owners: none

Set golang version and rclone-arangodb revision for rclone release (#21713)
  VERSIONS
Owners: none

disable vector index on ARM for now, faiss is known to be crashy now. (#21718)
  js/client/modules/@arangodb/testutils/client-tools.js
  tests/js/client/aql/vector/aql-vector-agency-wrong-definition-cluster.js
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
  tests/js/client/aql/vector/aql-vector-full-count.js
  tests/js/client/aql/vector/aql-vector-nprobe.js
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Check restore env
  client-tools/Restore/RestoreFeature.cpp
  client-tools/Restore/arangorestore.cpp
Owners: none

Cleanup
  arangod/AsyncRegistryServer/CMakeLists.txt
  arangod/AsyncRegistryServer/Feature.cpp
  arangod/AsyncRegistryServer/Feature.h
  arangod/AsyncRegistryServer/Metrics.cpp
  arangod/AsyncRegistryServer/Metrics.h
  lib/Async/Registry/Metrics.h
  lib/Async/Registry/promise.cpp
  lib/Async/Registry/promise.h
  lib/Async/Registry/registry_variable.cpp
  lib/Async/Registry/registry_variable.h
  lib/Async/include/Async/async.h
  lib/Containers/Concurrent/ListOfNonOwnedLists.h
  lib/Containers/Concurrent/ThreadOwnedList.h
  tests/Containers/Concurrent/CMakeLists.txt
  tests/Containers/Concurrent/ListOfNonOwnedListsTest.cpp
  tests/Containers/Concurrent/ThreadOwnedListTest.cpp
Owners: none

Add ThreadOwnedList
  lib/CMakeLists.txt
  lib/Containers/CMakeLists.txt
  lib/Containers/Concurrent/CMakeLists.txt
  lib/Containers/Concurrent/ThreadOwnedList.cpp
  lib/Containers/Concurrent/ThreadOwnedList.h
  lib/Containers/Concurrent/thread.cpp
  lib/Containers/Concurrent/thread.h
  tests/CMakeLists.txt
  tests/Containers/CMakeLists.txt
  tests/Containers/Concurrent/CMakeLists.txt
  tests/Containers/Concurrent/ThreadOwnedListTest.cpp
Owners: none

Add list of lists structure
  lib/Containers/Concurrent/ListOfThreadOwnedLists.h
  lib/Containers/Concurrent/ThreadOwnedList.h
  lib/Containers/Concurrent/snapshot.h
  tests/Containers/Concurrent/CMakeLists.txt
  tests/Containers/Concurrent/ListOfListsTest.cpp
  tests/Containers/Concurrent/ThreadOwnedListTest.cpp
Owners: none

Use new, more general types for async registry
  arangod/AsyncRegistryServer/Feature.cpp
  arangod/AsyncRegistryServer/Feature.h
  arangod/AsyncRegistryServer/RestHandler.cpp
  lib/Async/Registry/CMakeLists.txt
  lib/Async/Registry/promise.cpp
  lib/Async/Registry/promise.h
  lib/Async/Registry/registry_variable.cpp
  lib/Async/Registry/registry_variable.h
  lib/Async/include/Async/async.h
  lib/Containers/Concurrent/ThreadOwnedList.cpp
  lib/Containers/Concurrent/ThreadOwnedList.h
  lib/Containers/Concurrent/thread.h
  tests/Async/AsyncTest.cpp
  tests/Async/AsyncTestLineNumbers.tpp
  tests/Async/Registry/CMakeLists.txt
  tests/Async/Registry/RegistryTest.cpp
  tests/Containers/Concurrent/ThreadOwnedListTest.cpp
  tests/Futures/FutureCoroutineTest.cpp
  tests/Futures/FutureTest.cpp
Owners: none

Add external gc
  lib/Containers/Concurrent/ListOfLists.h
  tests/Containers/Concurrent/ListOfListsTest.cpp
Owners: none

Make Item an associated type of ThreadOwnedList
  lib/Containers/Concurrent/ListOfLists.h
  lib/Containers/Concurrent/ThreadOwnedList.h
  tests/Containers/Concurrent/ListOfListsTest.cpp
Owners: none

Make metrics type dynamic
  lib/Containers/Concurrent/ListOfThreadOwnedLists.h
  lib/Containers/Concurrent/ThreadOwnedList.h
  lib/Containers/Concurrent/metrics.h
  tests/Containers/Concurrent/ListOfListsTest.cpp
  tests/Containers/Concurrent/ThreadOwnedListTest.cpp
Owners: none

Make thread list able to set node to 'delete'
  lib/Containers/Concurrent/ThreadOwnedList.h
  tests/Containers/Concurrent/ThreadOwnedListTest.cpp
Owners: none

Delete now unused files
  lib/Async/Registry/registry.cpp
  lib/Async/Registry/registry.h
  lib/Async/Registry/thread_registry.cpp
  lib/Async/Registry/thread_registry.h
  tests/Async/Registry/ThreadRegistryTest.cpp
Owners: none

Update env variables
  .circleci/base_config.yml
Owners: none

Enable tests
  tests/js/client/aql/vector/aql-vector-agency-wrong-definition-cluster.js
  tests/js/client/aql/vector/aql-vector-create-and-remove.js
  tests/js/client/aql/vector/aql-vector-full-count.js
  tests/js/client/aql/vector/aql-vector-nprobe.js
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Enable vector index tests
  js/client/modules/@arangodb/testutils/client-tools.js
Owners: none

Clear string
  client-tools/Restore/RestoreFeature.cpp
Owners: none

Print omp variables
  client-tools/Restore/RestoreFeature.cpp
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
