Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Add index test cases
  tests/Aql/AttributeDetectorCollectionTest.cpp
  tests/Aql/AttributeDetectorIndexTest.cpp
  tests/Aql/AttributeDetectorTestBase.h
Owners: none

Fixed detection, improved testing
  arangod/Aql/AttributeDetector.cpp
  tests/Aql/AttributeDetectorCollectionTest.cpp
Owners: none

Added tests
  tests/Aql/AttributeDetectorIndexTest.cpp
Owners: none

Correct test logics
  tests/Aql/AttributeDetectorArangoSearchTest.cpp
  tests/Aql/AttributeDetectorIndexTest.cpp
Owners: none

Attempt to include abacAccesses to explainEndPoint
  arangod/Aql/Query.cpp
  arangod/RestHandler/RestExplainHandler.cpp
  tests/Aql/AttributeDetectorCollectionTest.cpp
  tests/js/client/aql/aql-attribute-detector-index-stored-values.js
  tests/js/client/aql/aql-attribute-detector-remote-cluster.js
Owners: none

Test references cleaned under maintenance
  tests/Maintenance/Plan.json
  tests/Maintenance/json.rc
  tests/js/client/dump/dump-multiple/_system/_statistics.structure.json
  tests/js/client/dump/dump-multiple/_system/_statistics15.structure.json
  tests/js/client/dump/dump-multiple/_system/_statistics15_6c0aad5f3171ab460e50dec662124ec8.data.json
  tests/js/client/dump/dump-multiple/_system/_statisticsRaw.structure.json
  tests/js/client/dump/dump-multiple/_system/_statisticsRaw_d8d9f0045a25d753d83df284fe54d171.data.json
  tests/js/client/dump/dump-multiple/_system/_statistics_2c48bd29f53fb90236f059cc99aaf671.data.json
Owners: none

chore: use useGlobalStyleReset for hiding content
  js/apps/system/_admin/aardvark/APP/react/src/reactUtils.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/shards/distribution/ShardDistributionReactView.tsx
Owners: @arangodb/team-frontend

Fix unittest
  tests/ActivityRegistry/ActivityRegistryTest.cpp
Owners: none

[COR-152] Add basic activities for Query execution, index creation, and collection creation (#22255)
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  arangod/VocBase/Methods/Collections.cpp
  arangod/VocBase/Methods/Indexes.cpp
  tests/ActivityRegistry/ActivityRegistryTest.cpp
Owners: none

Write tests
  arangod/RestHandler/RestDumpHandler.cpp
  arangod/RocksDBEngine/RocksDBDumpContext.h
  js/client/modules/@arangodb/activity-registry.js
  tests/js/client/shell/activity-registry.js
Owners: none

Fix assertion with computed values and version update
  arangod/Transaction/Methods.cpp
  tests/js/client/shell/shell-versioning.js
Owners: none

Add changelog entry
  CHANGELOG
Owners: none

abseil update
  3rdParty/CMakeLists.txt
Owners: none

Fix lints
  js/client/modules/@arangodb/activity-registry.js
  tests/js/client/shell/activity-registry.js
Owners: none

Remove support for metrics/v2
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/Metrics/MetricsFeature.cpp
Owners: none

Adapt tests
  js/client/modules/@arangodb/testutils/instance.js
  tests/js/client/server_parameters/test-ensure-whitespace-metrics-format-off.js
  tests/js/client/server_parameters/test-ensure-whitespace-metrics-format-on.js
  tests/js/client/server_parameters/test-export-document-metrics-off-noncluster.js
  tests/js/client/server_parameters/test-export-document-metrics-on-noncluster.js
  tests/js/client/shell/api/multi/cluster-metrics-cluster-spec.js
  tests/js/client/shell/shell-promtool-cluster.js
  tests/js/client/shell/shell-promtool.js
Owners: none

Fix TtlFeature
  arangod/RestServer/TtlFeature.cpp
  arangod/RestServer/TtlFeature.h
  arangod/RestServer/TtlProperties.cpp
  arangod/RestServer/TtlProperties.h
  arangod/arangoserver.cmake
Owners: none

FIx more stuff
  arangod/Aql/QueryOptions.cpp
  arangod/Aql/QueryOptions.h
  arangod/RestServer/DaemonFeatureOptions.h
  arangod/RestServer/QueryRegistryFeature.cpp
  arangod/RestServer/QueryRegistryFeatureOptions.cpp
  arangod/RestServer/QueryRegistryFeatureOptions.h
  arangod/arangoserver.cmake
Owners: none

abseil remote
  3rdParty/CMakeLists.txt
Owners: none

Try to fix undeleted collection
  tests/js/client/shell/activity-registry.js
Owners: none

Address review comments
  arangod/RestHandler/RestCrashHandler.cpp
  arangod/RestServer/CrashHandlerFeature.cpp
  lib/CrashHandler/CrashHandler.cpp
  lib/CrashHandler/CrashHandler.h
  lib/CrashHandler/DumpManager.cpp
  lib/CrashHandler/DumpManager.h
  lib/CrashHandler/DumpWriter.cpp
  lib/CrashHandler/DumpWriter.h
Owners: none

Addressed review comments on test file
  Documentation/Metrics/arangodb_metadata_shard_followers_out_of_sync_number.yaml
  Documentation/Metrics/arangodb_metadata_shards_follower_number.yaml
  scripts/cluster/4001.stdout
  scripts/cluster/8530.stdout
  scripts/cluster/8629.stdout
  scripts/cluster/8630.stdout
  scripts/cluster/8631.stdout
  tests/js/client/shell/shell-metadata-coordinator-cluster-metrics.js
Owners: @arangodb/team-documentation, @arangodb/team-qa

fix io uring runaway fd
  CHANGELOG
Owners: none

Simplification
  arangod/RestServer/TtlFeature.cpp
  arangod/RestServer/TtlFeature.h
  arangod/RestServer/TtlFeatureOptions.h
  arangod/RestServer/TtlProperties.cpp
  arangod/RestServer/TtlProperties.h
  arangod/arangoserver.cmake
Owners: none

Removed header files of statisticsWorker
  tests/IResearch/ExpressionFilterTest.cpp
  tests/IResearch/IResearchOrderTest.cpp
  tests/Mocks/Servers.cpp
Owners: none

Address review comment
  tests/js/client/shell/shell-versioning.js
Owners: none

Hide usage od dumpManager
  lib/CrashHandler/CrashHandler.cpp
  lib/CrashHandler/CrashHandler.h
Owners: none

Adjust more usages
  arangod/Aql/ExecutionPlan.cpp
  arangod/Replication2/Storage/WAL/WalManager.cpp
  lib/Actor/include/Actor/Actor.h
  lib/Actor/include/Actor/ActorID.h
  lib/Actor/include/Actor/DistributedActorPID.h
  lib/Actor/include/Actor/LocalActorPID.h
  lib/Actor/include/Actor/Message.h
  lib/Async/Registry/promise.h
  lib/Basics/Exceptions.tpp
  lib/Basics/Identifier.h
  lib/Basics/Result.tpp
  lib/Basics/ResultError.tpp
  lib/Containers/Concurrent/ThreadOwnedList.h
  lib/Containers/Concurrent/thread.h
  lib/Inspection/include/Inspection/Transformers.h
  lib/TaskMonitoring/include/TaskMonitoring/task.h
  tests/Cluster/ShardIDTest.cpp
Owners: none

Add abacAccesses to explain() result; Remove debugging logs
  arangod/Aql/Query.cpp
  arangod/RestHandler/RestExplainHandler.cpp
  js/client/modules/@arangodb/arango-statement.js
  tests/js/client/aql/aql-attribute-detector-index-stored-values.js
Owners: none

Populate persistent index test cases
  tests/js/client/aql/aql-attribute-detector-index-stored-values.js
Owners: none

fix io uring runaway fd (#22260)
  CHANGELOG
Owners: none

Correct the tests for persistent index; Add tests for storedValues
  arangod/Aql/AttributeDetector.cpp
  arangod/RestHandler/RestExplainHandler.cpp
  tests/Aql/AttributeDetectorCollectionTest.cpp
  tests/js/client/aql/aql-attribute-detector-index-stored-values.js
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

Fix formatting
  arangod/Aql/ExecutionState.h
  arangod/Cluster/Utils/ShardID.h
  arangod/Replication2/ReplicatedLog/AgencyLogSpecification.cpp
  arangod/Replication2/ReplicatedLog/SupervisionAction.h
  lib/Basics/Exceptions.tpp
  lib/Basics/Identifier.h
Owners: none

Migrate inspection formatter
  lib/Inspection/include/Inspection/Format.h
Owners: none

Fix exception format usage
  arangod/Replication2/ReplicatedState/ReplicatedStateFeature.cpp
Owners: none

Revert some changes
  arangod/Replication2/ReplicatedLog/AgencyLogSpecification.cpp
Owners: none

fix: Update documentsView.js to use client-side download
  js/apps/system/_admin/aardvark/APP/frontend/js/arango/arango.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/documentsView.js
Owners: @arangodb/team-frontend

fix io uring runaway file descriptors ES-2813
  CHANGELOG
Owners: none

Refactor StatisticsFeature
  arangod/Statistics/StatisticsFeature.cpp
  arangod/Statistics/StatisticsFeature.h
  arangod/Statistics/StatisticsFeatureOptions.h
Owners: none
