Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

[COR-251] Add upgradetask for removal of old statistics (#22356)
  arangod/VocBase/Methods/Upgrade.cpp
  arangod/VocBase/Methods/UpgradeTasks.cpp
  arangod/VocBase/Methods/UpgradeTasks.h
Owners: none

Reviewers suggestions.
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/RestHandler/RestPublicOptionsHandler.cpp
  arangod/RestHandler/RestPublicOptionsHandler.h
Owners: none

Remove deprecated options
  arangod/Agency/AgencyFeature.cpp
  arangod/Agency/AgencyOptions.h
  arangod/Aql/ExecutionPlan.cpp
  arangod/IResearch/IResearchFeature.cpp
  arangod/IResearch/IResearchOptions.h
  arangod/Network/NetworkFeature.cpp
  arangod/Network/NetworkOptions.h
  arangod/RestServer/QueryRegistryFeature.cpp
  arangod/RestServer/QueryRegistryFeature.h
  arangod/RestServer/QueryRegistryFeatureOptions.h
  arangod/RocksDBEngine/RocksDBOptionFeature.cpp
  arangod/RocksDBEngine/RocksDBOptionFeature.h
  arangod/RocksDBEngine/RocksDBTransactionCollection.cpp
  arangod/RocksDBEngine/RocksDBTransactionCollection.h
  lib/Logger/LoggerFeature.cpp
  lib/Logger/LoggerOptions.h
Owners: none

Refactor and print error summary
  tests/elixir/toast/apps/toast/lib/toast/deployment.ex
  tests/elixir/toast/apps/toast/lib/toast/deployment/cluster_controller.ex
  tests/elixir/toast/apps/toast/lib/toast/deployment/server_instance.ex
  tests/elixir/toast/apps/toast/lib/toast/deployment/single_server_controller.ex
  tests/elixir/toast/apps/toast/lib/toast/diagnostics/crash_log_parser.ex
  tests/elixir/toast/apps/toast/lib/toast/diagnostics/summary.ex
  tests/elixir/toast/apps/toast/lib/toast/result_exporter/json.ex
  tests/elixir/toast/apps/toast/lib/toast/result_exporter/junit_xml.ex
  tests/elixir/toast/apps/toast/lib/toast/test_case.ex
  tests/elixir/toast/apps/toast/test/deployment/crash_abort_test.exs
  tests/elixir/toast/apps/toast/test/diagnostics/summary_test.exs
  tests/elixir/toast/apps/toast/test/result_exporter/json_test.exs
  tests/elixir/toast/apps/toast/test/result_exporter/junit_xml_test.exs
Owners: none

Make firing of immutable-search-condition visible
  arangod/Aql/Optimizer/Rule/OptimizerRulesIResearchView.cpp
Owners: none

Clean out LOG_DEVEL
  arangod/Aql/OptimizerUtils.cpp
Owners: none

Fix query producing wrong results because of wrong constant prop
  arangod/Aql/ExecutionNode/IResearchViewNode.cpp
  arangod/Aql/OptimizerUtils.cpp
  arangod/Aql/OptimizerUtils.h
Owners: none

Add regression test
  tests/js/client/aql/aql-find-for-loop.js
Owners: none

Pesky corner cases
  arangod/Aql/OptimizerUtils.cpp
Owners: none

Fix and test
  arangod/Aql/Optimizer/Rule/OptimizerRulesIResearchView.cpp
  tests/js/client/aql/aql-find-for-loop.js
Owners: none

Add debug output.
  arangod/Cluster/ClusterMethods.cpp
Owners: none

Move code to place
  arangod/Aql/ExecutionNode/IResearchViewNode.cpp
  arangod/Aql/OptimizerUtils.cpp
  arangod/Aql/OptimizerUtils.h
  tests/js/client/aql/aql-find-for-loop.js
Owners: none

Simplify findEnclosingLoop
  arangod/Aql/ExecutionNode/IResearchViewNode.cpp
Owners: none

Rename API path to /_admin/options-public
  arangod/GeneralServer/GeneralServerFeature.cpp
  lib/ProgramOptions/ProgramOptions.cpp
  lib/ProgramOptions/ProgramOptions.h
  tests/js/client/server_permissions/test-options-api-admin-noncluster.js
Owners: none

Update CHANGELOG
  CHANGELOG
Owners: none

split testsuite for better distribution (#22380)
  tests/js/client/aql/aql-window-cumulative-sum-bounds.js
  tests/js/client/aql/aql-window-cumulative-sum-cluster.js
  tests/js/client/aql/aql-window-cumulative-sum.inc
  tests/js/client/aql/aql-window-cumulative-sum.js
Owners: none

Remove old options that have been renamed
  CHANGELOG
  arangod/GeneralServer/AuthenticationFeature.cpp
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/GeneralServer/SslServerFeature.cpp
  arangod/Replication/ReplicationFeature.cpp
  arangod/RestServer/CheckVersionFeature.cpp
  arangod/RestServer/EndpointFeature.cpp
  arangod/RestServer/QueryRegistryFeature.cpp
  arangod/RestServer/UpgradeFeature.cpp
  arangod/RocksDBEngine/RocksDBOptionFeature.cpp
  arangod/Scheduler/SchedulerFeature.cpp
  arangod/Statistics/StatisticsFeature.cpp
  lib/ApplicationFeatures/TempFeature.cpp
  lib/Logger/LoggerFeature.cpp
  lib/V8/V8SecurityFeature.cpp
Owners: none

More debug output.
  arangod/Cluster/ClusterMethods.cpp
Owners: none

Analyze and match sanitizer reports
  tests/elixir/toast/apps/toast/lib/toast/diagnostics/sanitizer_matcher.ex
  tests/elixir/toast/apps/toast/lib/toast/diagnostics/summary.ex
  tests/elixir/toast/apps/toast/lib/toast/result_exporter.ex
  tests/elixir/toast/apps/toast/lib/toast/result_exporter/json.ex
  tests/elixir/toast/apps/toast/lib/toast/result_exporter/junit_xml.ex
  tests/elixir/toast/apps/toast/lib/toast/result_formatter.ex
  tests/elixir/toast/apps/toast/lib/toast/test_case.ex
  tests/elixir/toast/apps/toast/test/diagnostics/sanitizer_matcher_test.exs
  tests/elixir/toast/apps/toast/test/diagnostics/summary_test.exs
Owners: none

Remove v8 metrics
  arangod/Statistics/StatisticsFeature.cpp
Owners: none

Remove v8 metrics
  CHANGELOG
Owners: none

Remove yaml files
  Documentation/Metrics/arangodb_v8_context_alive.yaml
  Documentation/Metrics/arangodb_v8_context_busy.yaml
  Documentation/Metrics/arangodb_v8_context_dirty.yaml
  Documentation/Metrics/arangodb_v8_context_free.yaml
  Documentation/Metrics/arangodb_v8_context_max.yaml
  Documentation/Metrics/arangodb_v8_context_min.yaml
Owners: @arangodb/team-documentation

Change debug output.
  arangod/Cluster/ClusterMethods.cpp
Owners: none

Adding more debug output.
  arangod/Cluster/ClusterMethods.cpp
Owners: none

Update CHANGELOG
  CHANGELOG
Owners: none

Update minimatch to 10.2.1
  js/apps/system/_admin/aardvark/APP/react/package.json
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

More debugging output.
  arangod/Cluster/ClusterMethods.cpp
Owners: none

Fix minimatch imports
  js/apps/system/_admin/aardvark/APP/react/src/utils/helpers.ts
  js/common/modules/jsunity.js
Owners: @arangodb/team-frontend

Add new API GET /_admin/options-public (#22375)
  CHANGELOG
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/RestHandler/RestPublicOptionsHandler.cpp
  arangod/RestHandler/RestPublicOptionsHandler.h
  arangod/arangoserver.cmake
  lib/ProgramOptions/ProgramOptions.cpp
  lib/ProgramOptions/ProgramOptions.h
  tests/js/client/server_permissions/test-options-api-admin-noncluster.js
Owners: none

More debug output.
  arangod/StorageEngine/HotBackupCommon.h
Owners: none

Fix typo in activities metric description (#22368)
  arangod/SystemMonitor/Activities/Feature.cpp
Owners: none

[COR-232] Fix ES-2824 (SEARCH Query Produces Wrong Results) (#22367)
  arangod/Aql/ExecutionNode/IResearchViewNode.cpp
  arangod/Aql/Optimizer/Rule/OptimizerRulesIResearchView.cpp
  arangod/Aql/OptimizerUtils.cpp
  tests/js/client/aql/aql-find-for-loop.js
Owners: none

Make RestHandler use executeAsync.
  arangod/RestHandler/RestOpenApiHandler.cpp
  arangod/RestHandler/RestOpenApiHandler.h
Owners: none

Mount handlers which have been removed in 4.0 only in API version 0.
  arangod/GeneralServer/GeneralServerFeature.cpp
Owners: none

Use constant for experimental API version.
  arangod/GeneralServer/GeneralServerFeature.cpp
Owners: none

Initialize all members.
  arangod/Cluster/ClusterMethods.cpp
  arangod/StorageEngine/HotBackupCommon.h
Owners: none

Finishing touches.
  OpenAPI/0-openapi.json
  OpenAPI/1-openapi.json
  arangod/GeneralServer/GeneralServerFeature.cpp
Owners: none

Update with latest APIs.
  OpenAPI/0-openapi.json
  OpenAPI/1-openapi.json
  OpenAPI/2-openapi.json
Owners: none

Deliver openapi.json also in experimental API version.
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/RestHandler/CMakeLists.txt
  arangod/RestHandler/RestOpenApiHandler.cpp
Owners: none

Fix compilation.
  arangod/RestHandler/RestOpenApiHandler.cpp
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
