Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

fix creating summaries in all levels
  js/client/modules/@arangodb/testutils/testrunners.js
  scripts/read_allure_report.js
Owners: @arangodb/team-qa

fix counting of failed tests
  js/client/modules/@arangodb/testutils/testrunners.js
  scripts/read_allure_report.js
Owners: @arangodb/team-qa

make sure we have an ordinary user/pass connection for the testrun
  js/client/modules/@arangodb/testsuites/python-arango.js
  js/client/modules/@arangodb/testutils/instance-manager.js
  tests/js/client/server_parameters/test-query-logging-sampling.js
  tests/js/client/shell/test-trx-registry-contents-cluster.js
Owners: none

remove new member - don't need it.
  js/client/modules/@arangodb/testutils/instance-manager.js
  js/client/modules/@arangodb/testutils/instance.js
Owners: none

debug logging for connection objects
  client-tools/Shell/V8ClientConnection.cpp
Owners: none

fix creating summaries in all levels
  js/client/modules/@arangodb/testutils/instance-manager.js
  scripts/read_allure_report.js
Owners: @arangodb/team-qa

revert jwt file
  js/client/modules/@arangodb/testutils/instance-manager.js
Owners: none

add default names
  js/client/modules/@arangodb/testsuites/java.js
Owners: none

readd
  js/client/modules/@arangodb/testutils/instance-manager.js
  js/client/modules/@arangodb/testutils/instance.js
Owners: none

why is self heal suddenly there?
  js/client/modules/@arangodb/testutils/sutcheckers/tasks-sjs.js
Owners: none

why is self heal suddenly there?
  js/client/modules/@arangodb/testutils/sutcheckers/tasks-sjs.js
Owners: none

lint
  client-tools/Shell/V8ClientConnection.cpp
Owners: none

why is self heal suddenly there?
  js/client/modules/@arangodb/testutils/instance.js
  js/client/modules/@arangodb/testutils/sutcheckers/tasks-sjs.js
Owners: none

add missing transaction cleanup
  tests/js/client/shell/transaction/shell-transaction.inc
Owners: none

fix argument count
  js/client/modules/@arangodb/testsuites/agency-restart.js
  js/client/modules/@arangodb/testsuites/endpoints.js
Owners: none

manage whether the SUT has the passvoid configured or not.
  js/client/modules/@arangodb/testsuites/python-arango.js
  js/client/modules/@arangodb/testutils/instance-manager.js
Owners: none

need to make sure tests are sorted
  js/client/modules/@arangodb/testutils/testrunner.js
Owners: none

handle edge case where we MUST connect by JWT
  js/client/modules/@arangodb/testutils/instance-manager.js
Owners: none

fix argument count
  js/client/modules/@arangodb/testsuites/recovery_server.js
Owners: none

handle edge case where we MUST connect by JWT
  js/client/modules/@arangodb/testutils/instance-manager.js
Owners: none

assert that the pem file might already be there
  js/client/modules/@arangodb/testsuites/server_permissions.js
Owners: none

use unprivilged connection from now on
  js/client/modules/@arangodb/testutils/instance-manager.js
Owners: none

make sure to have unprivileged connection, sort tests
  js/client/modules/@arangodb/testutils/instance-manager.js
  js/client/modules/@arangodb/testutils/test-utils.js
Owners: none

new container version for everyone
  .circleci/base_config.yml
  .circleci/config.yml
Owners: none

Remove more forward declarations and aliases.
  arangod/Cluster/AgencyCallbackRegistry.cpp
  arangod/Metrics/MetricsFeature.h
  arangod/RestServer/DatabaseFeature.cpp
  arangod/RestServer/arangod.h
  tests/Mocks/Servers.cpp
Owners: none

another edge case: JWT directory
  js/client/modules/@arangodb/testutils/instance-manager.js
Owners: none

remove foxx related files
  Documentation/man8/foxx-manager.8
  etc/arangodb3/foxx-manager.conf.in
  etc/relative/foxx-manager.conf
  etc/testing/foxx-manager.conf
  js/common/modules/@arangodb/foxx/store.js
  js/server/modules/@arangodb/foxx/mocha.js
  tests/js/client/authentication/foxx-arango-auth-spec-sjs.js
  tests/js/client/authentication/user-access-right-foxx-queue-general-spec-sjs.js
  tests/js/client/authentication/user-access-right-foxx-spec.js
  tests/js/client/dump/check-foxx.js
  tests/js/client/load-balancing/load-balancing-foxx-installation-noauth-cluster-nocov-sjs.js
  tests/js/client/load-balancing/load-balancing-foxx-queues-noauth-cluster-sjs.js
  tests/js/client/recovery/foxx-directories-sjs.js
  tests/js/client/restart/test-foxx-selfheal-cluster-nocov-sjs.js
  tests/js/client/server_parameters/foxx-allow-install-from-remote-off-nightly-sjs.js
  tests/js/client/server_parameters/foxx-allow-install-from-remote-on-nightly-sjs.js
  tests/js/client/server_parameters/foxx-enable-false-sjs.js
  tests/js/client/server_parameters/foxx-enable-true-sjs.js
  tests/js/client/server_permissions/test-foxx-apis-off-sjs.js
  tests/js/client/server_permissions/test-foxx-apis-on.js
  tests/js/client/server_permissions/test-foxx-service-access-denied-sjs.js
  tests/js/client/shell/api/multi/foxx-spec-sjs.js
  tests/js/client/shell/multi/shell-foxx-cors-spec-sjs.js
  tests/js/client/shell/multi/shell-foxx-interface-sjs.js
  tests/js/client/shell/multi/shell-foxx-manager-install-spec-sjs.js
  tests/js/client/shell/multi/shell-foxx-manager-nightly-spec-sjs.js
  tests/js/client/shell/multi/shell-foxx-manager-spec-sjs.js
  tests/js/client/shell/multi/shell-foxx-multiple-databases-sjs.js
  tests/js/client/shell/multi/shell-foxx-paths-spec-sjs.js
  tests/js/client/shell/multi/shell-foxx-queue-spec-sjs.js
  tests/js/client/shell/shell-foxx-manager-utils-spec.js
Owners: @arangodb/team-documentation, @arangodb/team-qa

Get rid of js-tests
  js/client/modules/@arangodb/testsuites/aql.js
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-bidirectional-tests.js
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-graphs.js
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-tests.js
  tests/Graph/GenericGraphProviderTest.cpp
  tests/js/client/aql/aql-graph-traversal-generic-cluster.js
  tests/js/client/aql/aql-graph-traversal-generic-noncluster.js
  tests/test-definitions.yml
Owners: none

[COR-177] Fix tsan issue in async registry (#22267)
  lib/Containers/Concurrent/ListOfNonOwnedLists.h
  lib/Containers/Concurrent/Registry.h
Owners: none

Remove support for deprecated indexes
  arangod/Indexes/IndexFactory.cpp
  arangod/RocksDBEngine/RocksDBIndexFactory.cpp
  arangod/VocBase/Methods/UpgradeTasks.cpp
Owners: none

Add changelog entry
  CHANGELOG
Owners: none

Adapt tests
  js/server/modules/@arangodb/foxx/legacy/authentication.js
  tests/js/client/shell/shell-index-deprecated.js
  tests/js/client/shell/shell-index-ensure.js
Owners: none

Fix asynchronousitiy of js-test
  tests/js/client/shell/activity-registry.js
Owners: none

Fixing license feature when applying same license again.
  arangod/Cluster/AgencyCache.cpp
Owners: none

attempt to resolve build errors
  Documentation/CMakeLists.txt
  client-tools/Shell/CMakeLists.txt
Owners: @arangodb/team-documentation

[BTS-2298] Fix supervision clean up job for broken smart edge collections when coordinator dies.
  CHANGELOG
  arangod/Agency/Supervision.cpp
  arangod/Agency/Supervision.h
Owners: none

Add tests and fix code.
  arangod/Agency/Supervision.cpp
  tests/js/client/shell/shell-collection-cleanup-cluster.js
Owners: none

Fix clang format
  arangod/Indexes/IndexFactory.cpp
  arangod/RocksDBEngine/RocksDBIndexFactory.cpp
  arangod/VocBase/Methods/UpgradeTasks.cpp
Owners: none

Make test more robust
  arangod/RestHandler/RestDumpHandler.cpp
  tests/js/client/shell/activity-registry.js
Owners: none

Fix cluster info outlivin memory usage metric
  arangod/Cluster/ClusterInfo.cpp
  arangod/Cluster/ClusterInfo.h
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
