Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

fix sequence - we only want to end the transaction in the distant future.
  tests/js/client/aql/aql-view-arangosearch-ddl-combined.js
Owners: none

Add runtime check for overflow.
  arangod/Graph/ShortestPathOptions.cpp
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Fix corner case.
  arangod/Aql/ExecutionNode/GraphNode.cpp
  arangod/Graph/ShortestPathOptions.cpp
Owners: none

Enable two tests that have been disabled so far
  tests/Aql/RegisterPlanTest.cpp
Owners: none

Remove redundant chaos_subqery job
  tests/test-definitions.yml
Owners: none

Fix flakiness of query metrics check by eventually asserting
  tests/js/client/aql/aql-query-metrics-fp.js
Owners: none

Make sleeping less frequent
  tests/js/client/aql/aql-query-metrics-fp.js
Owners: none

switch to client transactions for replication tests
  js/client/modules/@arangodb/testsuites/replication.js
  tests/js/client/replication/sync/replication-sync-malarkey.inc
Owners: none

try to implement parallel approach
  tests/js/client/replication/sync/replication-sync-malarkey.inc
Owners: none

fix return result to be similar
  tests/js/client/replication/sync/replication-sync-malarkey.inc
Owners: none

implement non-v8 background-shells
  tests/js/client/replication/ongoing/replication-ongoing.js
Owners: none

use similar changes to get rid of tasks and server side transactions
  tests/js/client/replication/ongoing/global/replication-ongoing-global.js
Owners: none

fix the loop to sleep as well
  tests/js/client/replication/ongoing/replication-ongoing.js
Owners: none

transform more, fix code review
  tests/js/client/replication/fuzz/replication-fuzz-global.js
  tests/js/client/replication/fuzz/replication-fuzz.js
  tests/js/client/replication/ongoing/global/replication-ongoing-global.js
Owners: none

move last test
  js/client/modules/@arangodb/testsuites/replication.js
  tests/js/client/replication/static/replication-static.js
Owners: none

fix review
  tests/js/client/replication/fuzz/replication-fuzz-global.js
  tests/js/client/replication/fuzz/replication-fuzz.js
  tests/js/client/replication/ongoing/global/replication-ongoing-global.js
  tests/js/client/replication/ongoing/replication-ongoing.js
Owners: none

lint
  tests/js/client/replication/ongoing/global/replication-ongoing-global.js
Owners: none

enable one more testsuite
  js/client/modules/@arangodb/testsuites/replication.js
Owners: none

chore: escape unsafe strings
  js/apps/system/_admin/aardvark/APP/frontend/js/views/applicationDetailView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/applierView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/graphViewer.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/infoView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/installGitHubServiceView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/installNewServiceView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/installServiceView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/installUploadServiceView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/installUrlServiceView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/nodeView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/shardsView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/showClusterView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/storeDetailView.js
Owners: @arangodb/team-frontend

Address review comment
  js/apps/system/_admin/aardvark/APP/frontend/js/views/applicationDetailView.js
Owners: @arangodb/team-frontend

Fix random typo
  arangod/GeneralServer/AuthenticationFeature.cpp
Owners: none

Update logo and EoL link
  README.md
  SECURITY.md
Owners: none

wait for cluster to be in sync after hot backup restore
  js/client/modules/@arangodb/testsuites/hotbackup.js
  js/client/modules/@arangodb/testutils/instance-manager.js
Owners: none

Introduce `requires` subobject and move filter conditions there
  .circleci/src/config_lib.py
  .circleci/src/filters.py
  .circleci/tests_unit/conftest.py
  .circleci/tests_unit/test_circleci_generator.py
  .circleci/tests_unit/test_config_lib.py
  .circleci/tests_unit/test_filters.py
  tests/test-definitions.yml
  tests/ui.yml
Owners: none

Fix reported issue
  tests/js/client/permissions/endpoints.js
Owners: none

Add instrumentation filter condition.
  .circleci/src/config_lib.py
  .circleci/src/filters.py
  .circleci/tests_unit/test_config_lib.py
  .circleci/tests_unit/test_filters.py
Owners: none

Small cleanup.
  .circleci/config.yml
  .circleci/generate_config.py
  .circleci/src/config_lib.py
  .circleci/src/filters.py
  .circleci/src/output_generators/circleci.py
  .circleci/tests_unit/test_circleci_generator.py
  .circleci/tests_unit/test_filters.py
Owners: none

as @mpoeter pointed out, xt.commit() will already throw, and we should use const
  tests/js/client/replication/fuzz/replication-fuzz-global.js
  tests/js/client/replication/fuzz/replication-fuzz.js
  tests/js/client/replication/ongoing/global/replication-ongoing-global.js
  tests/js/client/replication/ongoing/replication-ongoing.js
  tests/js/client/replication/static/replication-static.js
  tests/js/client/replication/sync/replication-sync-malarkey.inc
Owners: none

Do not use BuilderLeaser in PathValidator
  arangod/Graph/PathManagement/PathValidator.cpp
Owners: none

fix reference to options from the commandline
  js/client/modules/@arangodb/testutils/dump.js
Owners: none

Add v8 build filtering to test configuration
  .circleci/src/config_lib.py
  .circleci/src/filters.py
  .circleci/tests_unit/test_config_lib.py
  .circleci/tests_unit/test_filters.py
Owners: none

create test datafiles so the tmpDirManager can flush it
  js/client/modules/@arangodb/testsuites/gtest.js
Owners: none

Fix URL
  Installation/ARM/postinst
Owners: @arangodb/team-qa

Update Twitter link (but no FontAwesome icon available)
  CONTRIBUTING.md
  README
  README.md
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/navigationView.ejs
Owners: @arangodb/team-frontend

Add v8 filtering and refactor arangod_without_v8 to boolean
  .circleci/config.yml
  .circleci/generate_config.py
  .circleci/src/output_generators/base.py
Owners: none

Remove unused CLI parameters and related filter logic.
  .circleci/generate_config.py
  .circleci/src/filters.py
  .circleci/tests_unit/test_circleci_generator.py
  .circleci/tests_unit/test_filters.py
Owners: none

clang-format nannying
  tests/Fuerte/ConnectionFailuresTest.cpp
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

New cert with other domain.
  etc/testing/makecert.sh
  etc/testing/tls.keyfile
Owners: @arangodb/team-qa
