Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

chore(docs): Updated CHANGELOG
  CHANGELOG
Owners: none

chore: sync and merged devel change (README)
  README
Owners: none

chore: Refactor RestSchemaHandler helper method return types, add user permission check, and includeAllFields option
  arangod/RestHandler/RestSchemaHandler.cpp
  arangod/RestHandler/RestSchemaHandler.h
  tests/RestHandler/RestSchemaHandlerTest.cpp
Owners: none

Add --server.aql-query-recording
  arangod/RestHandler/RestAdminServerHandler.cpp
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
  lib/Logger/LoggerFeature.cpp
Owners: none

Minor
  arangod/RestHandler/RestAdminServerHandler.cpp
  lib/Logger/LoggerFeature.cpp
Owners: none

Reword
  arangod/RestServer/ApiRecordingFeature.cpp
Owners: none

clang-format
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

Unify
  arangod/RestServer/ApiRecordingFeature.cpp
  lib/Logger/LoggerFeature.cpp
Owners: none

Move GET holdReadLockCollection into high priority
  arangod/RestHandler/RestReplicationHandler.cpp
Owners: none

Fix percentile bug.
  arangod/Aql/Function/StatisticsFunctions.cpp
  tests/js/client/aql/aql-functions.js
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Polish api/aql recording stuff (#21837)
  arangod/RestHandler/RestAdminServerHandler.cpp
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
  lib/Logger/LoggerFeature.cpp
  tests/js/client/shell/recording.js
Owners: none

Fixes suggested by reviewer.
  lib/CrashHandler/CrashHandler.cpp
Owners: none

Finishing touches suggested by the reviewer.
  lib/CrashHandler/CrashHandler.cpp
Owners: none

chore(bug): Changed RestSchemaHandler so that it will work in a cluster
  arangod/RestHandler/RestSchemaHandler.cpp
  arangod/RestHandler/RestSchemaHandler.h
  tests/js/client/shell/api/rest-schema-handler.js
Owners: none

Converted int literals to size_t
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

enable assertions
  .circleci/base_config.yml
Owners: none

Converted int literals to size_t (#21840)
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

Support for 2 smaller Analyzer test suites in CCI config
  .circleci/generate_config.py
Owners: none

Include lower bound.
  arangod/Aql/Function/StatisticsFunctions.cpp
Owners: none

Support for 2 smaller Analyzers test suites in CCI generate_config.py
  .circleci/generate_config.py
Owners: none

RTA UI tests - support for 2 new smaller Analyzer test suites in CircleCI's generate_config.py (#21844)
  .circleci/generate_config.py
Owners: none

chore: remove axios dependency
  js/apps/system/_admin/aardvark/APP/react/package.json
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

Make cancelBlockingTransaction async
  arangod/RestHandler/RestReplicationHandler.cpp
  arangod/RestHandler/RestReplicationHandler.h
  arangod/Transaction/Manager.cpp
Owners: none

Extract vertex cache into its own struct
  arangod/Graph/Providers/SingleServerNeighbourProvider.cpp
  arangod/Graph/Providers/SingleServerNeighbourProvider.h
Owners: none

Fix test.
  tests/js/client/aql/aql-functions.js
Owners: none

Add comment.
  arangod/Aql/Function/StatisticsFunctions.cpp
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

dial main
  tests/java-test-definitions.txt
Owners: none

de-debug
  js/client/modules/@arangodb/testsuites/java.js
Owners: none

QA-609: Add a way to generate driver tests in regular ci flows (#21790)
  .circleci/base_config.yml
  .circleci/build_test_image.yml
  .circleci/config.yml
  .circleci/generate_config.py
  js/client/modules/@arangodb/testsuites/go.js
  js/client/modules/@arangodb/testsuites/java.js
  js/client/modules/@arangodb/testsuites/js.js
  js/client/modules/@arangodb/testsuites/permissions_client.js
  js/client/modules/@arangodb/testutils/instance-manager.js
  js/client/modules/@arangodb/testutils/instance.js
  js/client/modules/@arangodb/testutils/result-processing.js
  js/client/modules/@arangodb/testutils/sutcheckers/transactions.js
  scripts/docker/build-image.sh
  scripts/docker/build-manifest.sh
  scripts/docker/determine-tag.sh
  scripts/docker/go-test/Dockerfile
  scripts/docker/java-test/Dockerfile
  scripts/docker/js-test/Dockerfile
  scripts/docker/test/Dockerfile
  scripts/docker/test/build-image.sh
  scripts/test/site_config.py
  scripts/test/test_config.py
  scripts/test/test_launch_controller.py
  tests/arangojs-test-definitions.txt
  tests/go-test-definitions.txt
  tests/java-test-definitions.txt
  tests/js/client/permissions/filesystem.js
  tests/js/client/shell/shell-transactions.js
Owners: @arangodb/team-qa

Removed unused header
  arangod/GeneralServer/RestHandler.h
Owners: none

Fix flaky test
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Add GitHub Actions workflow to build ArangoDB binaries with patches
  .github/workflows/1.yml
Owners: none

list the used ports all through out the fuzzing (#21832)
  js/client/modules/@arangodb/testutils/instance-manager.js
  tests/js/client/fuzz/http-fuzz-fp.js
Owners: none

Fix bug in AQL function PERCENTILE [BTS-2169] (#21839)
  CHANGELOG
  arangod/Aql/Function/StatisticsFunctions.cpp
  tests/js/client/aql/aql-functions.js
Owners: none

Backport of fix from 3.12.6.
  tests/js/server/aql/aql-functions.js
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Bug fix/bts 2152 fix overfetch input on parallel traversals (#21808)
  CHANGELOG
  arangod/Aql/BlocksWithClients.cpp
  arangod/Aql/BlocksWithClients.h
  arangod/Aql/DistributeClientBlock.cpp
  arangod/Aql/DistributeClientBlock.h
  arangod/Aql/Executor/ScatterExecutor.cpp
  arangod/Aql/Executor/ScatterExecutor.h
  tests/Aql/Executor/AsyncExecutorTest.cpp
  tests/Aql/WaitingExecutionBlockMock.cpp
  tests/Aql/WaitingExecutionBlockMock.h
Owners: none
