Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Feature/access token (#21650)
  CHANGELOG
  CMakeLists.txt
  arangod/Auth/TokenCache.cpp
  arangod/Auth/User.cpp
  arangod/Auth/User.h
  arangod/Auth/UserManager.cpp
  arangod/Auth/UserManager.h
  arangod/GeneralServer/CommTask.cpp
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/RestHandler/RestAccessTokenHandler.cpp
  arangod/RestHandler/RestAccessTokenHandler.h
  arangod/RestHandler/RestAuthHandler.cpp
  arangod/RestHandler/RestBaseHandler.cpp
  arangod/RestHandler/RestBaseHandler.h
  arangod/RestHandler/RestUsersHandler.cpp
  arangod/RestHandler/RestVocbaseBaseHandler.cpp
  arangod/RestHandler/RestVocbaseBaseHandler.h
  arangod/arangoserver.cmake
  js/client/modules/@arangodb/testutils/instance-manager.js
  js/client/modules/@arangodb/testutils/san-file-handler.js
  tests/js/client/authentication/auth.js
Owners: none

chore: update jsonerrors location
  js/apps/system/_admin/aardvark/APP/react/src/views/views/arangoSearchView/ArangoSearchJSONEditor.tsx
Owners: @arangodb/team-frontend

chore: remove onResizeStop
  js/apps/system/_admin/aardvark/APP/react/src/views/query/editor/QueryEditorPane.tsx
Owners: @arangodb/team-frontend

chore: update changelog
  CHANGELOG
Owners: none

FE-503 - fix losing bind params when resizing query editor (#21662)
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/react/src/views/query/editor/QueryEditorPane.tsx
Owners: @arangodb/team-frontend

Update san-file-handler.js
  js/client/modules/@arangodb/testutils/san-file-handler.js
Owners: none

Use dataclasses
  arangod/AsyncRegistryServer/PrettyPrinter/.gdbinit
  arangod/AsyncRegistryServer/PrettyPrinter/src/asyncregistry/gdb_data.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/asyncregistry/gdb_forest.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/asyncregistry/gdb_printer.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/tests/test_forest.py
Owners: none

Async registry gdb pretty print (#21570)
  arangod/AsyncRegistryServer/PrettyPrinter/.gdbinit
  arangod/AsyncRegistryServer/PrettyPrinter/README.md
  arangod/AsyncRegistryServer/PrettyPrinter/__init__.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/asyncregistry/__init__.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/asyncregistry/gdb_data.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/asyncregistry/gdb_forest.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/asyncregistry/gdb_printer.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/asyncregistry/stacktrace.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/pretty-printer.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/tests/__init__.py
  arangod/AsyncRegistryServer/PrettyPrinter/src/tests/test_forest.py
Owners: none

Update metrics, improve async registry documentation and some refactoring (#21571)
  Documentation/Metrics/arangodb_async_existing_promises.yaml
  Documentation/Metrics/arangodb_async_existing_thread_registries.yaml
  Documentation/Metrics/arangodb_async_promises_total.yaml
  Documentation/Metrics/arangodb_async_ready_for_deletion_promises.yaml
  Documentation/Metrics/arangodb_async_registered_promises.yaml
  Documentation/Metrics/arangodb_async_registered_threads.yaml
  Documentation/Metrics/arangodb_async_running_threads.yaml
  Documentation/Metrics/arangodb_async_thread_registries_total.yaml
  Documentation/Metrics/arangodb_async_threads_total.yaml
  arangod/AsyncRegistryServer/CMakeLists.txt
  arangod/AsyncRegistryServer/Feature.cpp
  arangod/AsyncRegistryServer/RestHandler.cpp
  arangod/AsyncRegistryServer/Stacktrace/CMakeLists.txt
  arangod/AsyncRegistryServer/Stacktrace/depth_first.h
  arangod/AsyncRegistryServer/Stacktrace/forest.h
  lib/Async/Registry/Metrics.h
  lib/Async/Registry/registry.cpp
  lib/Async/Registry/registry.h
  lib/Async/Registry/registry_variable.cpp
  lib/Async/Registry/thread_registry.cpp
  lib/Async/Registry/thread_registry.h
  tests/AsyncRegistryServer/CMakeLists.txt
  tests/AsyncRegistryServer/StacktraceTest.cpp
Owners: @arangodb/team-documentation

chore: onchange simplified
  js/apps/system/_admin/aardvark/APP/react/src/views/views/arangoSearchView/ArangoSearchJSONEditor.tsx
Owners: @arangodb/team-frontend

Add more logging
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.cpp
Owners: none

Add logging
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.cpp
Owners: none

No locking for SynchronizeShard.
  arangod/Cluster/Maintenance.cpp
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

FE-482 - fix multiple issues with search view UI (#21609)
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/react/src/components/jsonEditor/ControlledJSONEditor.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/views/View.types.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/views/arangoSearchView/ArangoSearchJSONEditor.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/views/arangoSearchView/ArangoSearchViewForm.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/views/arangoSearchView/SearchJSONSchema.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/views/arangoSearchView/linksEditor/AnalyzersDropdown.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/views/arangoSearchView/linksEditor/FieldsDropdown.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/views/arangoSearchView/linksEditor/LinksDetails.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/views/arangoSearchView/linksEditor/LinksDropdown.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/views/editView/EditViewContext.tsx
Owners: @arangodb/team-frontend

Changes reverted, next try.
  arangod/Cluster/Maintenance.cpp
Owners: none

Implement limitation on how many SynchronizeShard jobs to queue.
  arangod/Cluster/Maintenance.cpp
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
  arangod/Cluster/SynchronizeShard.cpp
Owners: none

Make database dirty.
  arangod/Cluster/Maintenance.cpp
Owners: none

Add a scheduled scope task
  arangod/RestHandler/RestIndexHandler.cpp
  lib/Tasks/include/Tasks/task_registry.h
  lib/Tasks/task_registry.cpp
Owners: none

WIP don't ever hand task to user
  arangod/RestHandler/RestIndexHandler.cpp
  lib/Tasks/include/Tasks/task_registry.h
  lib/Tasks/task_registry.cpp
Owners: none

WIP streaming transaction
  arangod/RestHandler/RestTransactionHandler.cpp
  arangod/StorageEngine/TransactionState.cpp
  arangod/StorageEngine/TransactionState.h
  arangod/Transaction/Manager.cpp
  arangod/Transaction/Manager.h
Owners: none

Fix limits for command line option.
  arangod/Cluster/MaintenanceFeature.cpp
Owners: none

Take out some logging.
  arangod/Cluster/MaintenanceFeature.h
Owners: none

Add a scheduled scope task
  arangod/RestHandler/RestIndexHandler.cpp
  lib/Tasks/include/Tasks/task_registry.h
  lib/Tasks/task_registry.cpp
Owners: none

First count down and then fail because of failure point.
  arangod/Cluster/SynchronizeShard.cpp
Owners: none

Make code nicer.
  arangod/Cluster/Maintenance.cpp
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

chore: remove warnings
  js/apps/system/_admin/aardvark/APP/frontend/js/lib/dygraph-combined.min.js
  js/apps/system/_admin/aardvark/APP/frontend/js/lib/wheelnav.min.js
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

Fix bad accounting.
  arangod/Cluster/Maintenance.cpp
Owners: none

Add scope guard.
  arangod/Cluster/Maintenance.cpp
Owners: none

Fix yet again.
  arangod/Cluster/Maintenance.cpp
Owners: none

Add noexcept.
  arangod/Cluster/MaintenanceFeature.h
Owners: none

Update arangod/Cluster/Maintenance.cpp
  arangod/Cluster/Maintenance.cpp
Owners: none

if we don't waitpid, we leave zombies. Don't do that.
  js/client/modules/@arangodb/test-helper.js
Owners: none

if we don't waitpid, we leave zombies. Don't do that.
  js/client/modules/@arangodb/test-helper.js
Owners: none

Fix double decrement bug.
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
  arangod/Cluster/SynchronizeShard.cpp
Owners: none

Add forgotten file.
  arangod/Cluster/SynchronizeShard.h
Owners: none

Update shell-aql-kill.js
  tests/js/client/shell/multi/shell-aql-kill.js
Owners: none

Finally fix double counting.
  arangod/Cluster/MaintenanceFeature.cpp
Owners: none

Take out logging.
  arangod/Cluster/Maintenance.cpp
Owners: none
