Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Attempt to fix fetching of aux binaries
  .circleci/base_config.yml
Owners: none

Migrated to new consolidationPolicy properties (maxSkewThreshold, minDeletionRatio)
  arangod/IResearch/IResearchDataStoreMeta.cpp
Owners: none

Updated Changelog
  CHANGELOG
Owners: none

Fix filtering of jobs based on architecture
  .circleci/src/config_lib.py
  .circleci/src/filters.py
  .circleci/src/output_generators/circleci.py
  .circleci/tests_unit/test_circleci_generator.py
  .circleci/tests_unit/test_config_lib.py
  .circleci/tests_unit/test_filters.py
Owners: none

attach sub arangosh logs to errors
  js/client/modules/@arangodb/testutils/client-tools.js
Owners: none

Update arangod/RestHandler/RestReplicationHandler.cpp
  arangod/RestHandler/RestReplicationHandler.cpp
Owners: none

chore: update yarn.lock
  js/apps/system/_admin/aardvark/APP/react/package.json
  js/apps/system/_admin/aardvark/APP/react/yarn.lock
Owners: @arangodb/team-frontend

Update CHANGELOG for FE-636 and COR-8
  CHANGELOG
Owners: none

fix test code, specify experimental vector index on our own
  js/client/modules/@arangodb/testsuites/dump.js
Owners: none

split dump test backend, testsuites and hotbackup into own files
  js/client/modules/@arangodb/testsuites/dump.js
  js/client/modules/@arangodb/testsuites/hotbackup.js
  js/client/modules/@arangodb/testutils/dump.js
Owners: none

fix test code, specify experimental vector index on our own
  js/client/modules/@arangodb/testsuites/dump.js
  js/client/modules/@arangodb/testsuites/hotbackup.js
  tests/test-definitions.yml
Owners: none

hot backup has dump test files...
  js/client/modules/@arangodb/testsuites/hotbackup.js
Owners: none

more debugging, fix sort of order
  js/client/modules/@arangodb/testsuites/hotbackup.js
  js/client/modules/@arangodb/testutils/dump.js
Owners: none

add el cheapo
  js/client/modules/@arangodb/testsuites/hotbackup.js
Owners: none

fix bitwise and, fix stress functions
  js/client/modules/@arangodb/testutils/dump.js
Owners: none

fix invocation of invocation
  js/client/modules/@arangodb/testsuites/hotbackup.js
  js/client/modules/@arangodb/testutils/client-tools.js
  js/client/modules/@arangodb/testutils/dump.js
  js/client/modules/@arangodb/testutils/instance-manager.js
  scripts/toolbox/HotBackupConsistencyTest.py
Owners: @arangodb/team-qa

fix max count of optional arguments
  lib/V8/v8-utils.cpp
Owners: none

add two more tests
  js/client/modules/@arangodb/testsuites/hotbackup.js
  js/client/modules/@arangodb/testutils/dump.js
Owners: none

first testsuite created
  js/client/modules/@arangodb/testsuites/hotbackup.js
Owners: none

start adding raw test template
  js/client/modules/@arangodb/testsuites/hotbackup.js
  js/client/modules/@arangodb/testutils/client-tools.js
  js/client/modules/@arangodb/testutils/dump.js
  js/client/modules/@arangodb/testutils/instance-manager.js
Owners: none

make el cheapo test work
  js/client/modules/@arangodb/testsuites/hotbackup.js
  js/client/modules/@arangodb/testutils/client-tools.js
  js/client/modules/@arangodb/testutils/dump.js
Owners: none

add test query here too
  js/client/modules/@arangodb/testsuites/hotbackup.js
Owners: none

speed up test by index, shorter stress time
  js/client/modules/@arangodb/testsuites/hotbackup.js
Owners: none

bucketise it
  tests/test-definitions.yml
Owners: none

lint
  js/client/modules/@arangodb/testsuites/hotbackup.js
  js/client/modules/@arangodb/testutils/dump.js
Owners: none

revert
  scripts/toolbox/HotBackupConsistencyTest.py
Owners: @arangodb/team-qa

cleanup, add to jobs
  js/client/modules/@arangodb/testsuites/hotbackup.js
  tests/test-definitions.yml
Owners: none

fix return values
  js/client/modules/@arangodb/testsuites/hotbackup.js
Owners: none

fix detection of different query results
  js/client/modules/@arangodb/testsuites/hotbackup.js
Owners: none

debug
  js/client/modules/@arangodb/testsuites/hotbackup.js
Owners: none

fix search of items
  js/client/modules/@arangodb/testsuites/hotbackup.js
Owners: none

similarize test
  js/client/modules/@arangodb/testsuites/hotbackup.js
Owners: none

fix brackets
  js/client/modules/@arangodb/testsuites/hotbackup.js
Owners: none

delete old backup suite
  .circleci/base_config.yml
  scripts/toolbox/.gitignore
  scripts/toolbox/HotBackupConsistencyTest.py
  scripts/toolbox/README.md
  scripts/toolbox/config.py
  scripts/toolbox/main.py
  scripts/toolbox/modules/ArangoDBInstanceManager.py
  scripts/toolbox/modules/ArangodEnvironment/Agent.py
  scripts/toolbox/modules/ArangodEnvironment/ArangodEnvironment.py
  scripts/toolbox/modules/ArangodEnvironment/ArangodServer.py
  scripts/toolbox/modules/ArangodEnvironment/Coordinator.py
  scripts/toolbox/modules/ArangodEnvironment/DBServer.py
  scripts/toolbox/modules/ArangodEnvironment/__init__.py
  scripts/toolbox/modules/ArgumentParser.py
  scripts/toolbox/modules/Feed.py
  scripts/toolbox/modules/HotBackup.py
  scripts/toolbox/modules/JSTest.py
  scripts/toolbox/modules/MetricsTracker.py
  scripts/toolbox/modules/Pipeline.py
  scripts/toolbox/modules/TestExecutor.py
  scripts/toolbox/modules/__init__.py
  scripts/toolbox/pipelineRunner.py
  scripts/toolbox/pipelines/pocPipeline.json
  scripts/toolbox/requirements.txt
  scripts/toolbox/tests/HotBackupSystemCollectionRestoreTest.py
  scripts/toolbox/tests/RocksDBCacheSizeTest.py
  scripts/toolbox/tests/__init__.py
Owners: @arangodb/team-qa

chore: update changelog
  CHANGELOG
Owners: none

fix integrity test
  js/client/modules/@arangodb/testsuites/hotbackup.js
Owners: none

delete hot backup python
  .circleci/src/output_generators/circleci.py
  .circleci/tests_unit/test_circleci_generator.py
Owners: none

fix reporting
  js/client/modules/@arangodb/testutils/dump.js
  js/client/modules/@arangodb/testutils/result-processing.js
Owners: none

fix reporting
  js/client/modules/@arangodb/testutils/dump.js
Owners: none

fix rta reporting
  js/client/modules/@arangodb/testsuites/rta_makedata.js
  js/client/modules/@arangodb/testutils/result-processing.js
  tests/test-definitions.yml
Owners: none
