Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Extract vector generation in testutils
  js/common/modules/@arangodb/testutils/vector-generator.js
Owners: none

Use vectorGeneration in l2 and inner product metric
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Ensure nProbe test alyways returns more results
  tests/js/client/aql/vector/aql-vector-nprobe.js
Owners: none

Fix non-maintainer mode compilation
  arangod/Aql/Query.cpp
Owners: none

updating defaults
  arangod/IResearch/IResearchDataStoreMeta.cpp
  scripts/startLocalCluster.sh
Owners: @arangodb/team-qa

migrate executing of plans from server side JS to rest handlers
  arangod/RestHandler/RestCursorHandler.cpp
  arangod/RestHandler/RestCursorHandler.h
  js/client/modules/@arangodb/aql-helper.js
Owners: none

implement review, format
  arangod/RestHandler/RestCursorHandler.cpp
Owners: none

Attempt to fix circle ci failures on shell_client_aql aql-memory-limit for sorted collect executor by monitoring memory
  arangod/Aql/Aggregator.cpp
  arangod/Aql/Executor/SortedCollectExecutor.cpp
Owners: none

Disable logging
  arangod/Aql/Executor/EnumerateNearVectorExecutor.cpp
Owners: none

Seperate iterators
  arangod/RocksDBEngine/RocksDBVectorIndexList.cpp
  arangod/RocksDBEngine/RocksDBVectorIndexList.h
Owners: none

Add comment
  arangod/RocksDBEngine/RocksDBVectorIndexList.h
Owners: none

no need to de-async the call here
  arangod/RestHandler/RestCursorHandler.cpp
Owners: none

Address cursor comments
  arangod/RocksDBEngine/RocksDBVectorIndexList.cpp
Owners: none

Address review comments
  js/common/modules/@arangodb/testutils/vector-generator.js
Owners: none

Fix mergeParameters and test
  arangod/Aql/Function/ObjectFunctions.cpp
  tests/Aql/AqlMergeTest.cpp
Owners: none

Fix filterExpression not handeled in replaceVariables
  arangod/Aql/ExecutionNode/EnumerateNearVectorNode.cpp
Owners: none

Address review comment
  js/common/modules/@arangodb/testutils/vector-generator.js
Owners: none

Remove useless test
  tests/Aql/AqlMergeTest.cpp
Owners: none

Fix CHANGELOG line break
  CHANGELOG
Owners: none

Add line break to executor expression context
  arangod/Aql/ExecutorExpressionContext.cpp
Owners: none

Clean object functions and adjust test
  arangod/Aql/Function/ObjectFunctions.cpp
  tests/Aql/AqlMergeTest.cpp
Owners: none

Fix formatting
  arangod/Aql/ExecutorExpressionContext.cpp
Owners: none

defaults for ui
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/invertedIndex/useCreateInvertedIndex.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/views/arangoSearchView/SearchJSONSchema.ts
Owners: @arangodb/team-frontend

change log
  CHANGELOG
Owners: none

undo script change
  scripts/startLocalCluster.sh
Owners: @arangodb/team-qa

Fix supervised buffer while its PR is not merged yet
  lib/Basics/SupervisedBuffer.h
Owners: none

block access from db-servers early on, remove subsequent filters
  arangod/RestHandler/RestCursorHandler.cpp
Owners: none

handle errors
  js/client/modules/@arangodb/aql-helper.js
Owners: none

lint
  js/client/modules/@arangodb/aql-helper.js
Owners: none

lint
  arangod/RestHandler/RestCursorHandler.cpp
Owners: none

Fix coroutine argument goes out of scope
  lib/Async/include/Async/SuspensionCounter.h
Owners: none

Always give cmake warning when compiling with gcc
  CMakeLists.txt
  cmake/CheckCompilerVersion.cmake
Owners: none

Remove include
  lib/Async/include/Async/SuspensionCounter.h
Owners: none

the json handler doesn't have a cursor-id.
  arangod/RestHandler/RestCursorHandler.cpp
Owners: none

Add nextBatch function to edge cursor
  arangod/Graph/Cursors/DBServerEdgeCursor.h
  arangod/Graph/Cursors/DBServerIndexCursor.cpp
  arangod/Graph/Cursors/DBServerIndexCursor.h
  arangod/Graph/Cursors/EdgeCursor.h
  tests/Graph/DBServerEdgeCursorTest.cpp
Owners: none

Add cursor to traverser engine
  arangod/Cluster/TraverserEngine.cpp
  arangod/Cluster/TraverserEngine.h
  arangod/InternalRestHandler/InternalRestTraverserHandler.cpp
  arangod/InternalRestHandler/InternalRestTraverserHandler.h
Owners: none

Add functionality to EdgeCursor
  arangod/Graph/Cursors/DBServerEdgeCursor.h
  arangod/Graph/Cursors/DBServerIndexCursor.cpp
  arangod/Graph/Cursors/DBServerIndexCursor.h
  arangod/Graph/Cursors/EdgeCursor.h
  arangod/Graph/TraverserOptions.cpp
  tests/Graph/DBServerEdgeCursorTest.cpp
Owners: none

Save depth and vertices in traverser engine
  arangod/Cluster/TraverserEngine.h
  arangod/InternalRestHandler/InternalRestTraverserHandler.cpp
Owners: none

Move cursor creation into Rest handler
  arangod/Cluster/TraverserEngine.cpp
  arangod/Cluster/TraverserEngine.h
  arangod/InternalRestHandler/InternalRestTraverserHandler.cpp
  arangod/InternalRestHandler/InternalRestTraverserHandler.h
  tests/Mocks/MockGraph.cpp
Owners: none

Get vertex and depth from cursor to evaluateEdgeExpression
  arangod/Cluster/TraverserEngine.cpp
  arangod/Cluster/TraverserEngine.h
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
