Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Update SNI test keyfile alternative DNS to the rebranded one
  etc/testing/tls.keyfile
Owners: @arangodb/team-qa

New keyfile and CA.
  etc/testing/makecert.sh
  etc/testing/tls-ca.crt
  etc/testing/tls-ca.key
  etc/testing/tls-ca.srl
  etc/testing/tls.keyfile
Owners: @arangodb/team-qa

Add optional filtering on deployment type.
  .circleci/src/filters.py
  .circleci/tests_unit/test_filters.py
Owners: none

Update DNS entry in makecert.sh script
  etc/testing/makecert.sh
Owners: @arangodb/team-qa

Regenerate test certificate
  etc/testing/makecert.sh
  etc/testing/tls-ca.crt
  etc/testing/tls-ca.key
  etc/testing/tls-ca.srl
  etc/testing/tls.keyfile
Owners: @arangodb/team-qa

chore: add storedValues to vector index
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/CollectionIndex.types.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

chore: improve naming
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

chore: update changelog
  CHANGELOG
Owners: none

Adjust base_config
  .circleci/base_config.yml
Owners: none

also implement V8-Less test
  tests/js/client/replication/random/replication-random.js
Owners: none

lint
  tests/js/client/replication/random/replication-random.js
Owners: none

chore: update tooltip
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

chore: add schema validation
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

chore: update tooltip
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

chore: update tooltip
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

Get rid of graph tracers
  arangod/Aql/ExecutionBlockImpl.tpp
  arangod/Aql/ExecutionNode/EnumeratePathsNode.cpp
  arangod/Aql/ExecutionNode/ShortestPathNode.cpp
  arangod/Aql/Executor/EnumeratePathsExecutor.cpp
  arangod/Aql/Executor/ShortestPathExecutor.cpp
  arangod/Aql/Executor/TraversalExecutor.cpp
  arangod/Graph/CMakeLists.txt
  arangod/Graph/Enumerators/OneSidedEnumerator.cpp
  arangod/Graph/Enumerators/OneSidedEnumeratorInterface.cpp
  arangod/Graph/Enumerators/OneSidedEnumeratorInterface.h
  arangod/Graph/Enumerators/TwoSidedEnumerator.cpp
  arangod/Graph/Enumerators/TwoSidedEnumerator.h
  arangod/Graph/Enumerators/WeightedShortestPathEnumerator.cpp
  arangod/Graph/Enumerators/WeightedShortestPathEnumerator.h
  arangod/Graph/Enumerators/WeightedTwoSidedEnumerator.cpp
  arangod/Graph/Enumerators/WeightedTwoSidedEnumerator.h
  arangod/Graph/Enumerators/YenEnumerator.cpp
  arangod/Graph/Enumerators/YenEnumerator.h
  arangod/Graph/PathManagement/CMakeLists.txt
  arangod/Graph/PathManagement/PathResult.cpp
  arangod/Graph/PathManagement/PathStore.cpp
  arangod/Graph/PathManagement/PathStoreTracer.cpp
  arangod/Graph/PathManagement/PathStoreTracer.h
  arangod/Graph/PathManagement/PathValidator.cpp
  arangod/Graph/PathManagement/PathValidatorTabooWrapper.cpp
  arangod/Graph/PathManagement/PathValidatorTracer.cpp
  arangod/Graph/PathManagement/PathValidatorTracer.h
  arangod/Graph/PathManagement/SingleProviderPathResult.cpp
  arangod/Graph/Providers/CMakeLists.txt
  arangod/Graph/Providers/ProviderTracer.cpp
  arangod/Graph/Providers/ProviderTracer.h
  arangod/Graph/Queues/CMakeLists.txt
  arangod/Graph/Queues/QueueTracer.cpp
  arangod/Graph/Queues/QueueTracer.h
  arangod/Graph/algorithm-aliases.h
  tests/Graph/AllShortestPathsFinderTest.cpp
  tests/Graph/DFSFinderTest.cpp
  tests/Graph/GraphMockProviderInstances.cpp
  tests/Graph/KPathFinderTest.cpp
  tests/Graph/WeightedShortestPathTest.cpp
Owners: none

Get rid of graph helpers
  arangod/Graph/CMakeLists.txt
  arangod/Graph/Helpers/CMakeLists.txt
  arangod/Graph/Helpers/TraceEntry.cpp
  arangod/Graph/Helpers/TraceEntry.h
  arangod/Graph/PathManagement/PathValidatorTabooWrapper.h
Owners: none

Get rid of now unnecessary template parameters
  arangod/Graph/Enumerators/TwoSidedEnumerator.cpp
  arangod/Graph/Enumerators/TwoSidedEnumerator.h
  arangod/Graph/Enumerators/WeightedShortestPathEnumerator.cpp
  arangod/Graph/Enumerators/WeightedShortestPathEnumerator.h
  arangod/Graph/Enumerators/WeightedTwoSidedEnumerator.cpp
  arangod/Graph/Enumerators/WeightedTwoSidedEnumerator.h
  arangod/Graph/algorithm-aliases.h
  tests/Graph/GraphMockProviderInstances.cpp
Owners: none

Fix issue with RocksDB producing tiny SST files
  CHANGELOG
  arangod/RocksDBEngine/RocksDBOptionFeature.cpp
Owners: none

Fix issue with RocksDB producing tiny SST files
  CHANGELOG
  arangod/RocksDBEngine/RocksDBOptionFeature.cpp
Owners: none

Fix filter_suites to inherit job-level requirements
  .circleci/src/filters.py
  .circleci/tests_unit/test_filters.py
Owners: none

UI tests need V8
  tests/ui.yml
Owners: none

Update arangodb_server_statistics_cpu_cgroup_version.yaml
  Documentation/Metrics/arangodb_server_statistics_cpu_cgroup_version.yaml
Owners: @arangodb/team-documentation

lint
  tests/test-definitions.yml
Owners: none

choose individual woring directory
  tests/test-definitions.yml
Owners: none

make sure we build a uniq file name
  js/client/modules/@arangodb/testsuites/server_permissions.js
Owners: none

choose default cluster type manually
  tests/test-definitions.yml
Owners: none

join singular small test into this mixed suite execution
  tests/test-definitions.yml
Owners: none

make sure we build a uniq file name
  js/client/modules/@arangodb/testsuites/server_permissions.js
Owners: none

split folders
  js/client/modules/@arangodb/testsuites/server_permissions.js
Owners: none

another place to choose a better TLD
  js/client/modules/@arangodb/testsuites/server_permissions.js
Owners: none

another place to choose a better TLD
  js/client/modules/@arangodb/testsuites/server_permissions.js
  tests/test-definitions.yml
Owners: none

Ignore if we exeed the memory limits of the SUT
  js/common/modules/@arangodb/test-generators/subquery-chaos-test.js
Owners: none

Add coverage filtering support
  .circleci/src/filters.py
  .circleci/tests_unit/test_filters.py
Owners: none

add encryption at rest
  tests/test-definitions.yml
Owners: none

only add options in cluster case
  js/client/modules/@arangodb/testsuites/aql.js
Owners: none

verbosity
  tests/test-definitions.yml
Owners: none

another XOR param
  js/client/modules/@arangodb/testutils/instance.js
Owners: none

dump out the length
  arangod/GeneralServer/AuthenticationFeature.cpp
Owners: none

fix arangod parameter for key file
  js/client/modules/@arangodb/testutils/instance.js
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
