Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Get lock a bit earlier.
  arangod/VocBase/vocbase.cpp
Owners: none

Experimental assertion.
  arangod/VocBase/LogicalCollection.h
  arangod/VocBase/LogicalDataSource.h
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

FE-541: update disk usage message (#21672)
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/frontend/js/views/navigationView.js
Owners: @arangodb/team-frontend

Revert "Experimental assertion."
  arangod/VocBase/LogicalCollection.h
  arangod/VocBase/LogicalDataSource.h
Owners: none

Fix priority inversion in Maintenance (#21669)
  CHANGELOG
  arangod/Cluster/Maintenance.cpp
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/Cluster/MaintenanceFeature.h
  arangod/Cluster/SynchronizeShard.cpp
  arangod/Cluster/SynchronizeShard.h
Owners: none

fix: missing semicolon
  js/apps/system/_admin/aardvark/APP/frontend/js/views/navigationView.js
Owners: @arangodb/team-frontend

fix: missing semicolon (#21676)
  js/apps/system/_admin/aardvark/APP/frontend/js/views/navigationView.js
Owners: @arangodb/team-frontend

More logging
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.cpp
Owners: none

More logging
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.cpp
Owners: none

Update logging
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.cpp
Owners: none

Test out older rocksdb changes
  arangod/RocksDBEngine/RocksDBOptionFeature.cpp
Owners: none

Update
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.cpp
Owners: none

Fix selectivity estimate based optimizer rule in cluster
  arangod/Aql/Optimizer/Rule/OptimizerRuleCollectWithIndex.cpp
  arangod/RocksDBEngine/RocksDBVPackIndex.cpp
  tests/js/client/aql/aql-index-collect.js
Owners: none

Fix typo
  arangod/Aql/Optimizer/Rule/OptimizerRuleCollectWithIndex.cpp
Owners: none

abort fuzzing if we loose the connection to the arangod
  client-tools/Shell/V8ClientConnection.cpp
Owners: none

abort fuzzing if we loose the connection to the arangod
  client-tools/Shell/V8ClientConnection.cpp
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Backport from devel.
  CHANGELOG
  arangod/VocBase/vocbase.cpp
Owners: none

Fix TSAN issue in LogicalCollection [BTS-2103] (#21675)
  CHANGELOG
  arangod/VocBase/vocbase.cpp
Owners: none

Hold a weak ptr to this in capture
  arangod/GeneralServer/Acceptor.cpp
  arangod/GeneralServer/Acceptor.h
  arangod/GeneralServer/AcceptorTcp.cpp
  arangod/GeneralServer/AcceptorTcp.h
  arangod/GeneralServer/AcceptorUnixDomain.cpp
  arangod/GeneralServer/AcceptorUnixDomain.h
  arangod/GeneralServer/GeneralServer.cpp
  arangod/GeneralServer/GeneralServer.h
Owners: none

abort fuzzing if we loose the connection to the arangod (#21679)
  client-tools/Shell/V8ClientConnection.cpp
Owners: none

abort fuzzing if we loose the connection to the arangod (#21680)
  client-tools/Shell/V8ClientConnection.cpp
Owners: none

Backport from devel. (#21681)
  CHANGELOG
  arangod/VocBase/vocbase.cpp
Owners: none

Hold a weak ptr to `this` in capture
  arangod/GeneralServer/Acceptor.cpp
  arangod/GeneralServer/Acceptor.h
  arangod/GeneralServer/AcceptorTcp.cpp
  arangod/GeneralServer/AcceptorTcp.h
  arangod/GeneralServer/AcceptorUnixDomain.cpp
  arangod/GeneralServer/AcceptorUnixDomain.h
  arangod/GeneralServer/GeneralServer.cpp
  arangod/GeneralServer/GeneralServer.h
Owners: none

Better user experience, exponential backoff.
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

Improve code comments as suggested by Reviewer.
  lib/Containers/AtomicList.h
  lib/Containers/BoundedList.h
  lib/Containers/ResourceManager.h
Owners: none

Add comment.
  lib/Containers/ResourceManager.h
Owners: none

Use compare_exchange_weak, since we loop anyway.
  lib/Containers/ResourceManager.h
Owners: none

clang-format.
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

Fix compilation
  arangod/GeneralServer/AcceptorTcp.h
  arangod/GeneralServer/AcceptorUnixDomain.h
Owners: none

Add visibility for recent API calls (#21642)
  CHANGELOG
  Documentation/Metrics/arangodb_api_recording_call_time.yaml
  arangod/Aql/ExecutionEngine.cpp
  arangod/GeneralServer/CommTask.cpp
  arangod/GeneralServer/CommTask.h
  arangod/GeneralServer/GeneralServer.h
  arangod/RestHandler/RestAdminServerHandler.cpp
  arangod/RestHandler/RestAdminServerHandler.h
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
  arangod/RestServer/arangod.h
  arangod/RestServer/arangod_includes.h
  arangod/arangoserver.cmake
  lib/ApplicationFeatures/ApplicationServer.h
  lib/Containers/AtomicList.h
  lib/Containers/BoundedList.h
  lib/Containers/ResourceManager.h
  lib/Rest/CommonDefines.h
  tests/Basics/AtomicListTest.cpp
  tests/Basics/CMakeLists.txt
Owners: @arangodb/team-documentation

Add missing self
  arangod/GeneralServer/AcceptorTcp.cpp
Owners: none

Hold a weak ptr to this in capture (#21682)
  arangod/GeneralServer/Acceptor.cpp
  arangod/GeneralServer/Acceptor.h
  arangod/GeneralServer/AcceptorTcp.cpp
  arangod/GeneralServer/AcceptorTcp.h
  arangod/GeneralServer/AcceptorUnixDomain.cpp
  arangod/GeneralServer/AcceptorUnixDomain.h
  arangod/GeneralServer/GeneralServer.cpp
  arangod/GeneralServer/GeneralServer.h
Owners: none

Upgrade Swagger-UI to version 5.20.1
  CHANGELOG
  LICENSES-OTHER-COMPONENTS.md
  js/server/assets/swagger/swagger-initializer.js
  js/server/assets/swagger/swagger-ui-bundle.js
  js/server/assets/swagger/swagger-ui-bundle.js.map
  js/server/assets/swagger/swagger-ui-standalone-preset.js
  js/server/assets/swagger/swagger-ui-standalone-preset.js.map
  js/server/assets/swagger/swagger-ui.css
  js/server/assets/swagger/swagger-ui.css.map
Owners: none

Default to the Schema tab instead of the Example Value tab so that the parameter descriptions are visible
  js/server/assets/swagger/swagger-initializer.js
Owners: none

Update test-definitions.txt
  tests/test-definitions.txt
Owners: @arangodb/team-qa

Backport: Fix datarace in tcp acceptor (#21684)
  arangod/GeneralServer/Acceptor.cpp
  arangod/GeneralServer/Acceptor.h
  arangod/GeneralServer/AcceptorTcp.cpp
  arangod/GeneralServer/AcceptorTcp.h
  arangod/GeneralServer/AcceptorUnixDomain.cpp
  arangod/GeneralServer/AcceptorUnixDomain.h
  arangod/GeneralServer/GeneralServer.cpp
  arangod/GeneralServer/GeneralServer.h
Owners: none

do away with spawning subshells for dump-tests; deadline handling doesn't seem to work as well with this.
  js/client/modules/@arangodb/testsuites/dump.js
  tests/js/client/dump/check-foxx.js
  tests/js/client/dump/dump-test.inc
Owners: none

revert
  tests/js/client/dump/check-foxx.js
Owners: none
