Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Review: explicitly initialize with zero
  lib/Async/include/Async/SuspensionCounter.h
Owners: none

Review: Remove continueExecute
  arangod/GeneralServer/RestHandler.cpp
  arangod/GeneralServer/RestHandler.h
Owners: none

Review: Removed useless indirection
  arangod/GeneralServer/RestHandler.h
  lib/Async/include/Async/SuspensionCounter.h
Owners: none

Review: Move implementation from header to source file
  lib/Async/include/Async/SuspensionCounter.h
  lib/Async/src/SuspensionCounter.cpp
Owners: none

Review: Renamed _c to _coroHandle
  lib/Async/include/Async/SuspensionCounter.h
  lib/Async/src/SuspensionCounter.cpp
Owners: none

Review: add assertion
  lib/Async/src/SuspensionCounter.cpp
Owners: none

Review: Improved comment
  arangod/GeneralServer/RestHandler.cpp
Owners: none

Review: Added a comment, renamed variable
  arangod/Aql/ExecutionEngine.cpp
  arangod/Aql/ExecutionEngine.h
Owners: none

Review: Removed obsolete part of a comment
  arangod/RestHandler/RestCursorHandler.h
Owners: none

Added CHANGELOG entry
  CHANGELOG
Owners: none

clang-format
  arangod/Aql/ExecutionEngine.cpp
Owners: none

Update Functions.cpp
  arangod/Aql/Functions.cpp
Owners: none

Fix bug in AQL function PERCENTILE [BTS-2169] (#21848)
  CHANGELOG
  arangod/Aql/Functions.cpp
  tests/js/server/aql/aql-functions.js
Owners: none

arangodb release 3.11.14.1
  ARANGO-VERSION
  CHANGELOG
  CMakeLists.txt
  js/apps/system/_admin/aardvark/APP/api-docs.json
Owners: @arangodb/team-frontend

chore: Refactored RestSchemaHandler
  arangod/Graph/GraphManager.cpp
  arangod/RestHandler/RestSchemaHandler.cpp
  arangod/RestHandler/RestSchemaHandler.h
  tests/js/client/shell/api/rest-schema-handler.js
Owners: none

longer timeouts for coverage
  tests/js/client/resilience/move/moving-shards-cluster.inc
Owners: none

longer timeouts for coverage (#21855)
  tests/js/client/resilience/move/moving-shards-cluster.inc
Owners: none

Moved setup of connection into helper method.
  client-tools/Shell/V8ClientConnection.cpp
  client-tools/Shell/V8ClientConnection.h
Owners: none

Extract ExpansionInfo and NeighbourCache into own files in new dir
  arangod/Graph/Providers/CMakeLists.txt
  arangod/Graph/Providers/SingleServer/CMakeLists.txt
  arangod/Graph/Providers/SingleServer/ExpansionInfo.h
  arangod/Graph/Providers/SingleServer/NeighbourCache.cpp
  arangod/Graph/Providers/SingleServer/NeighbourCache.h
  arangod/Graph/Providers/SingleServer/SingleServerNeighbourProvider.cpp
  arangod/Graph/Providers/SingleServer/SingleServerNeighbourProvider.h
  arangod/Graph/Providers/SingleServerProvider.h
Owners: none

refactored generic graph tests based on Jures suggestion
  js/client/modules/@arangodb/testsuites/aql.js
  tests/js/client/aql/graph/aql-graph-traversal-generic-cluster.js
  tests/js/client/aql/graph/aql-graph-traversal-generic-noncluster.js
  tests/test-definitions.txt
Owners: @arangodb/team-qa

incr. completegraph to consist out of 1k nodes to make computation more expensive
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-bidirectional-tests.js
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-graphs.js
Owners: none

Fix tsan issue in calculating execution time
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
Owners: none

Fixed accidentally converting executeAsync into a non-coroutine
  arangod/GeneralServer/RestHandler.cpp
Owners: none

Add test for vertex cache and improve cache api
  arangod/Graph/Providers/SingleServer/NeighbourCache.cpp
  arangod/Graph/Providers/SingleServer/NeighbourCache.h
  arangod/Graph/Providers/SingleServer/SingleServerNeighbourProvider.cpp
  arangod/Graph/Providers/SingleServer/SingleServerNeighbourProvider.h
  tests/Graph/CMakeLists.txt
  tests/Graph/SingleServerNeighbourCacheTest.cpp
Owners: none

chore: Refactored RestSchemaHander so it inherits from RestVocbaseBaseHandler
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/RestHandler/RestSchemaHandler.cpp
  arangod/RestHandler/RestSchemaHandler.h
  lib/Rest/GeneralResponse.cpp
  tests/RestHandler/RestSchemaHandlerTest.cpp
  tests/js/client/shell/api/rest-schema-handler.js
Owners: none

chore: Organized GeneralServerFeature.cpp
  arangod/GeneralServer/GeneralServerFeature.cpp
Owners: none

Introduces a separate thread in the UserManager to load the user-cache when needed.
  CHANGELOG
  arangod/Auth/UserManager.cpp
  arangod/Auth/UserManager.h
  arangod/RestServer/BootstrapFeature.cpp
  arangod/RestServer/UpgradeFeature.cpp
  tests/Auth/UserManagerClusterTest.cpp
  tests/IResearch/IResearchAnalyzerFeatureTest.cpp
  tests/IResearch/IResearchViewCoordinatorTest.cpp
  tests/IResearch/IResearchViewTest.cpp
  tests/RestHandler/RestAnalyzerHandlerTest.cpp
  tests/RestHandler/RestUsersHandlerTest.cpp
  tests/RestHandler/RestViewHandlerTest.cpp
  tests/V8Server/V8UsersTest.cpp
  tests/V8Server/V8ViewsTest.cpp
  tests/js/client/authentication/auth.js
  tests/js/client/restart/test-restart-cluster.js
Owners: none

Remove mtx
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
Owners: none

Fixed changelog and reverted a test-change I missed to revert.
  CHANGELOG
  arangod/Auth/UserManager.cpp
Owners: none

Address review comments
  arangod/GeneralServer/HttpCommTask.cpp
Owners: none

Fix logging of the request body (#21852)
  CHANGELOG
  arangod/GeneralServer/HttpCommTask.cpp
Owners: none

Add const to executionTime
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
Owners: none

Implement feature.
  arangod/RestServer/UpgradeFeature.cpp
  arangod/RestServer/UpgradeFeature.h
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Polish code.
  arangod/RestServer/UpgradeFeature.cpp
  arangod/RestServer/UpgradeFeature.h
Owners: none

Revert unnecessary change.
  arangod/RestServer/UpgradeFeature.cpp
Owners: none

Remove unnecessary includes.
  arangod/RestServer/UpgradeFeature.cpp
Owners: none

Fix js tests
  arangod/Graph/Providers/SingleServer/SingleServerNeighbourProvider.cpp
  arangod/Graph/Providers/SingleServer/SingleServerNeighbourProvider.h
  arangod/Graph/Providers/SingleServerProvider.cpp
Owners: none

Get rid of unused stats member in other cache
  arangod/Graph/Cache/RefactoredTraverserCache.cpp
  arangod/Graph/Cache/RefactoredTraverserCache.h
  arangod/Graph/Providers/SingleServerProvider.cpp
Owners: none

Added a test and the bugfix implementation for a query that gets killed during async prefetching
  arangod/Aql/ExecutionBlockImpl.h
  arangod/Aql/ExecutionBlockImpl.tpp
  tests/js/client/shell/test-kill-queries-fp.js
Owners: none
