Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Bug fix/improve visualizer performance (#21819)
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/aardvark.js
  tests/js/client/shell/api/aardvark-graphvisualizer.js
Owners: @arangodb/team-frontend

longer timeout for instrumented runs
  tests/js/client/shell/shell-in-background-failures-noncluster-fp.js
Owners: none

longer timeout for instrumented runs (#21849)
  tests/js/client/shell/shell-in-background-failures-noncluster-fp.js
Owners: none

feature(api): Refactored RestSchemaHandler for better efficiency and added tests
  arangod/RestHandler/RestSchemaHandler.cpp
  arangod/RestHandler/RestSchemaHandler.h
  tests/RestHandler/RestSchemaHandlerTest.cpp
  tests/js/client/shell/api/rest-schema-handler.js
Owners: none

chore(test): Edited rest-schema-handler.js
  tests/js/client/shell/api/rest-schema-handler.js
Owners: none

Added documentation for Transaction helpers
  arangod/Transaction/Helpers.h
Owners: none

Reproduce failure
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Actually commit change.
  arangod/Aql/Functions.cpp
Owners: none

Address review comments
  tests/js/client/aql/aql-query-metrics-fp.js
Owners: none

Extend error message
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Change nLists for cosine
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Added Documentation for Utils
  arangod/Utils/CollectionExport.h
  arangod/Utils/CollectionGuard.h
  arangod/Utils/CollectionNameResolver.h
  arangod/Utils/Cursor.h
  arangod/Utils/CursorRepository.h
  arangod/Utils/DatabaseGuard.h
  arangod/Utils/Events.h
  arangod/Utils/ExecContext.h
  arangod/Utils/FlushTransaction.h
  arangod/Utils/OperationResult.h
  arangod/Utils/SingleCollectionTransaction.h
  arangod/Utils/SupportInfoBuilder.h
  arangod/Utils/UrlHelper.h
  arangod/Utils/VersionTracker.h
Owners: none

Sprinkle a few .wait() calls
  arangod/Aql/EngineInfoContainerDBServerServerBased.cpp
  arangod/Aql/EngineInfoContainerDBServerServerBased.h
  arangod/Aql/Query.cpp
Owners: none

Fix query counter gauge (#21785)
  CHANGELOG
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  arangod/Aql/QueryCursor.cpp
  tests/js/client/aql/aql-query-metrics-fp.js
Owners: none

Wait immediately after sending network requests with skipScheduler
  CHANGELOG
  arangod/Cluster/ClusterMethods.cpp
  arangod/Cluster/ClusterTrxMethods.cpp
Owners: none

Extend logging for vector cosine test (#21846)
  tests/js/client/aql/vector/aql-vector.js
Owners: none

chore(api): Refactored RestSchemaHandler (graphs, orphans) and changed js test file
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/Graph/GraphManager.cpp
  arangod/Graph/GraphManager.h
  arangod/RestHandler/RestSchemaHandler.cpp
  arangod/RestHandler/RestSchemaHandler.h
  arangod/RestHandler/RestVocbaseBaseHandler.cpp
  arangod/RestHandler/RestVocbaseBaseHandler.h
  tests/js/client/shell/api/rest-schema-handler.js
Owners: none

improved wait & kill mechanism - should now be way more stable
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-bidirectional-tests.js
Owners: none

Fix error in trackExecutionStart/End
  arangod/Aql/Query.h
Owners: none

adaptive kill query
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-bidirectional-tests.js
Owners: none

Fix CHANGELOG.
  CHANGELOG
Owners: none

Update arangod/RestServer/arangod.cpp
  arangod/RestServer/arangod.cpp
Owners: none

increase debug logging. Some are optional, some are mandatory. If our CI does not see any log output for 20 minutes - It will abort the job
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-graphs.js
  tests/js/client/aql/aql-graph-traversal-generic-cluster.js
  tests/js/client/aql/aql-graph-traversal-generic-noncluster.js
Owners: none

eslint
  tests/js/client/aql/aql-graph-traversal-generic-cluster.js
  tests/js/client/aql/aql-graph-traversal-generic-noncluster.js
Owners: none

chore(test): Refined and added some tests
  tests/js/client/shell/api/rest-schema-handler.js
Owners: none

more test output
  js/client/modules/@arangodb/testutils/aql-graph-traversal-generic-graphs.js
Owners: none

A few more suggestions by reviewer.
  lib/CrashHandler/CrashHandler.cpp
Owners: none

Use CAS
  arangod/Aql/Query.cpp
Owners: none

Fix logging of request body
  arangod/GeneralServer/HttpCommTask.cpp
Owners: none

Dedicated crash handler thread. (#21826)
  CHANGELOG
  arangod/RestServer/arangod.cpp
  lib/CrashHandler/CrashHandler.cpp
  lib/CrashHandler/CrashHandler.h
Owners: none

reload routing to make sure collection objects in .js get discarded
  client-tools/Restore/RestoreFeature.cpp
Owners: none

Add changelog entry
  CHANGELOG
Owners: none

fix
  client-tools/Restore/RestoreFeature.cpp
Owners: none

Change test suite params
  tests/test-definitions.txt
Owners: @arangodb/team-qa

lint
  client-tools/Restore/RestoreFeature.cpp
Owners: none

Fix TSAN error in trackExecutionStart and trackExecutionEnd (#21851)
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
Owners: none

Removed unused function
  client-tools/Shell/ClientFeature.cpp
  client-tools/Shell/ClientFeature.h
  client-tools/Shell/V8ClientConnection.cpp
Owners: none

Review: Correct comment
  lib/Async/include/Async/SuspensionCounter.h
Owners: none

Review: Fix comment
  lib/Async/include/Async/SuspensionCounter.h
Owners: none

Review: Fixed license headers
  lib/ApplicationFeatures/LazyApplicationFeatureReference.h
  lib/Async/include/Async/SuspensionCounter.h
  lib/Async/src/SuspensionCounter.cpp
Owners: none
