Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Improve async doc strings accordingly
  Documentation/Metrics/arangodb_async_promises_total.yaml
  Documentation/Metrics/arangodb_async_thread_registries_total.yaml
  arangod/SystemMonitor/AsyncRegistry/Feature.cpp
Owners: @arangodb/team-documentation

Fix deprecated fulltext factory
  arangod/RocksDBEngine/RocksDBIndexFactory.cpp
Owners: none

Remove handnling of deprecated indexes in arangorester
  client-tools/Restore/RestoreFeature.cpp
Owners: none

Add handling of fulltext/hash/skiplist in RestReplicationHandler
  arangod/RestHandler/RestReplicationHandler.cpp
Owners: none

Adapt tests
  tests/js/client/shell/shell-restore-integration.js
Owners: none

attempt to resolve PR comments.
  scripts/tmux_starter
  tests/test-definitions.yml
Owners: @arangodb/team-qa

make agency dump errors non-fatal
  js/client/modules/@arangodb/testutils/agency.js
Owners: none

Removed and fixed tests
  tests/js/client/aql/aql-query-cache-noncluster.js
  tests/js/client/aql/aql-view-arangosearch-cluster.inc
  tests/js/client/aql/aql-view-arangosearch-common-noncluster.inc
  tests/js/client/communication/test-communication-cluster.js
  tests/js/client/dump/dump-modify.js
  tests/js/client/dump/dump-setup-common.inc
  tests/js/client/dump/dump-test.inc
  tests/js/client/recovery/transaction-no-abort.js
  tests/js/client/recovery/transaction-no-commit.js
  tests/js/client/replication/fuzz/replication-fuzz-global.js
  tests/js/client/replication/fuzz/replication-fuzz.js
  tests/js/client/replication/ongoing/global/replication-ongoing-global.js
  tests/js/client/replication/ongoing/replication-ongoing.js
  tests/js/client/replication/random/replication-random.js
  tests/js/client/replication/static/replication-static.js
  tests/js/client/replication/sync/replication-sync-malarkey.inc
  tests/js/client/server_parameters/test-export-shard-usage-metrics-bytes-per-shard-cluster-fp-sjs.js
  tests/js/client/server_parameters/test-export-shard-usage-metrics-bytes-per-shard-per-user-cluster-fp-sjs.js
  tests/js/client/server_parameters/test-javascript-disabled-sjs.js
  tests/js/client/shell/api/cursor-noncluster.js
  tests/js/client/shell/large/shell-index.js
  tests/js/client/shell/multi/01_shell-database.js
  tests/js/client/shell/shell-edge-index-selectivity-noncluster.js
  tests/js/client/shell/shell-index-selectivity-estimates-noncluster.js
  tests/js/client/shell/shell-statistics.js
  tests/js/client/stress/deadlock.js
Owners: none

Adapt activities metrics namespace (#22316)
  Documentation/Metrics/arangodb_activities_existing.yaml
  Documentation/Metrics/arangodb_activities_existing_thread_registries.yaml
  Documentation/Metrics/arangodb_activities_ready_for_deletion.yaml
  Documentation/Metrics/arangodb_activities_thread_registries_total.yaml
  Documentation/Metrics/arangodb_activities_total.yaml
  Documentation/Metrics/arangodb_activity_activities_total.yaml
  Documentation/Metrics/arangodb_activity_thread_registries_total.yaml
  Documentation/Metrics/arangodb_async_promises_total.yaml
  Documentation/Metrics/arangodb_async_thread_registries_total.yaml
  arangod/SystemMonitor/Activities/Feature.cpp
  arangod/SystemMonitor/AsyncRegistry/Feature.cpp
Owners: @arangodb/team-documentation

Add activities changelog entry
  CHANGELOG
Owners: none

Stratify naming of existing activities
  arangod/Aql/Query.cpp
  arangod/GeneralServer/RestHandler.cpp
  arangod/RestHandler/RestDumpHandler.cpp
  arangod/VocBase/Methods/Collections.cpp
  arangod/VocBase/Methods/Indexes.cpp
Owners: none

More renaming and fixing js tests
  arangod/RestHandler/RestDumpHandler.cpp
  arangod/RocksDBEngine/RocksDBDumpContext.cpp
  tests/js/client/shell/api/activities.js
Owners: none

Simplify check
  tests/js/client/shell/api/activities.js
Owners: none

clang-format
  arangod/VocBase/Methods/Indexes.cpp
Owners: none

Add detection of /_arango/vX prefix for API versioning.
  arangod/GeneralServer/CommTask.cpp
  arangod/GeneralServer/H2CommTask.cpp
  arangod/GeneralServer/HttpCommTask.cpp
  lib/Rest/GeneralRequest.cpp
  lib/Rest/GeneralRequest.h
  tests/CMakeLists.txt
Owners: none

Take a space out of the log message.
  arangod/GeneralServer/H2CommTask.cpp
  arangod/GeneralServer/HttpCommTask.cpp
Owners: none

FE-914 | Fix `sparse` option not being sent in vector index creation payload (#22328)
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/vectorIndex/useCreateVectorIndex.ts
Owners: @arangodb/team-frontend

Sort out logging.
  arangod/GeneralServer/CommTask.cpp
  arangod/GeneralServer/H2CommTask.cpp
  arangod/GeneralServer/HttpCommTask.cpp
Owners: none

one more move to large
  tests/js/client/aql/large/aql-optimizer-indexes.js
Owners: none

one more move to large
  tests/js/client/aql/large/aql-geo-2.js
Owners: none

Move cursor deletion further down
  tests/js/client/shell/api/activities.js
Owners: none

Add integration tests.
  tests/js/client/shell/api/multi/http.js
Owners: none

Add activities changelog entry (#22331)
  CHANGELOG
Owners: none

[COR-233] Naming convention for activities (#22329)
  arangod/Aql/Query.cpp
  arangod/GeneralServer/RestHandler.cpp
  arangod/RestHandler/RestDumpHandler.cpp
  arangod/RocksDBEngine/RocksDBDumpContext.cpp
  arangod/VocBase/Methods/Collections.cpp
  arangod/VocBase/Methods/Indexes.cpp
  tests/js/client/shell/api/activities.js
Owners: none

Use a concept instead
  lib/Activities/include/Activities/activity.h
  lib/Activities/src/activity.cpp
  tests/Activities/ActivityMetadataTest.cpp
Owners: none

Test Changing Metadata
  lib/Activities/src/activity.cpp
  tests/Activities/ActivityMetadataTest.cpp
  tests/Activities/CMakeLists.txt
Owners: none

Make metadata map a guarded member of activity
  lib/Activities/include/Activities/activity.h
  lib/Activities/src/activity.cpp
Owners: none

Add changelog
  CHANGELOG
Owners: none

make agency dump errors non-fatal (#22330)
  js/client/modules/@arangodb/testutils/agency.js
  tests/js/client/aql/large/aql-geo-2.js
  tests/js/client/aql/large/aql-optimizer-indexes.js
Owners: none

Add forgotten test file.
  tests/Rest/GeneralRequestTest.cpp
Owners: none

tests.yml correction.
  tests/tests.yml
Owners: none

removal of the arangobench traces.
  tests/tests.yml
Owners: none

Revert changes
  arangod/ClusterEngine/ClusterIndex.cpp
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/RestHandler/RestReplicationHandler.cpp
  arangod/RocksDBEngine/RocksDBCollection.cpp
  arangod/RocksDBEngine/RocksDBEngine.cpp
  arangod/RocksDBEngine/RocksDBOptionFeature.cpp
  arangod/Utils/SupportInfoBuilder.cpp
Owners: none

Removes SYS_IS_V8_BUILD guard in tests that no longer use it
  tests/js/client/aql/aql-query-cache-noncluster.js
  tests/js/client/replication/fuzz/replication-fuzz.js
  tests/js/client/replication/random/replication-random.js
  tests/js/client/shell/large/shell-index.js
Owners: none

Changes.
  lib/Rest/GeneralRequest.cpp
  tests/Rest/GeneralRequestTest.cpp
Owners: none

Better implementation of metadata access
  lib/Activities/include/Activities/activity.h
  tests/Activities/ActivityMetadataTest.cpp
Owners: none

chore: remove frontendConfig.showMaintenanceStatus
  js/apps/system/_admin/aardvark/APP/frontend/js/arango/arango.js
  js/apps/system/_admin/aardvark/APP/frontend/js/routers/router.js
Owners: @arangodb/team-frontend

Rename useRBAC -> supportsRBAC
  CHANGELOG
  arangod/RestHandler/RestCollectionHandler.cpp
  arangod/VocBase/LogicalCollection.cpp
  arangod/VocBase/LogicalCollection.h
  arangod/VocBase/Properties/CollectionMutableProperties.h
  js/client/modules/@arangodb/arango-collection.js
  lib/Basics/StaticStrings.cpp
  lib/Basics/StaticStrings.h
  tests/VocBase/Properties/CollectionMutablePropertiesTest.cpp
  tests/js/client/shell/api/api-replication.js
  tests/js/client/shell/large/shell-collection-api.js
  tests/js/client/shell/shell-collection-properties-cluster-spec.js
Owners: none

chore: remove frontendConfig.engine
  js/apps/system/_admin/aardvark/APP/frontend/js/views/settingsView.js
Owners: @arangodb/team-frontend

[COR-217] Change Activity Metadata at Runtime (#22325)
  lib/Activities/include/Activities/activity.h
  lib/Activities/src/activity.cpp
  tests/Activities/ActivityMetadataTest.cpp
  tests/Activities/CMakeLists.txt
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
