Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Do some small renamings
  arangod/SystemMonitor/AsyncRegistry/Feature.cpp
  arangod/SystemMonitor/AsyncRegistry/Feature.h
  arangod/SystemMonitor/AsyncRegistry/RestHandler.cpp
  arangod/SystemMonitor/TaskMonitoring/Feature.cpp
  arangod/SystemMonitor/TaskMonitoring/Feature.h
  arangod/SystemMonitor/TaskMonitoring/RestHandler.cpp
Owners: none

Fail when access denied in REST handler (#22227)
  arangod/SystemMonitor/AsyncRegistry/RestHandler.cpp
Owners: none

Extract forwarding to RestBaseHandler
  arangod/RestHandler/RestBaseHandler.cpp
  arangod/RestHandler/RestBaseHandler.h
  arangod/SystemMonitor/AsyncRegistry/RestHandler.cpp
  arangod/SystemMonitor/TaskMonitoring/RestHandler.cpp
Owners: none

Made duplicate detection more efficient and added more restriction like no subqueries
  arangod/Aql/AstNode.cpp
  arangod/Aql/Condition.cpp
Owners: none

Rename tasks in rest handler properly
  arangod/SystemMonitor/AsyncRegistry/RestHandler.cpp
  arangod/SystemMonitor/TaskMonitoring/RestHandler.cpp
  arangod/SystemMonitor/TaskMonitoring/RestHandler.h
  lib/Containers/Forest/forest.h
  tests/Containers/ForestTest.cpp
Owners: none

Adapt permissions for both tasks and async-registry
  arangod/SystemMonitor/AsyncRegistry/RestHandler.cpp
  arangod/SystemMonitor/TaskMonitoring/RestHandler.cpp
Owners: none

Fix undefined behaviour occurence via metrics setting at startup
  arangod/SystemMonitor/TaskMonitoring/Feature.cpp
  arangod/SystemMonitor/TaskMonitoring/Feature.h
  lib/TaskMonitoring/include/TaskMonitoring/task_registry_variable.h
  lib/TaskMonitoring/task_registry_variable.cpp
Owners: none

Delete set_metrics in async registry feature destructor as well
  arangod/SystemMonitor/AsyncRegistry/Feature.cpp
  arangod/SystemMonitor/AsyncRegistry/Feature.h
Owners: none

Change _collectionAccessMap's value to uniquePtr so it is less than 88; Include a lib in test to compile
  arangod/Aql/AttributeDetector.cpp
  arangod/Aql/AttributeDetector.h
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

Fix tests
  lib/Async/Registry/registry_variable.cpp
  lib/Async/Registry/registry_variable.h
  lib/Containers/Concurrent/Registry.h
  lib/TaskMonitoring/include/TaskMonitoring/task_registry_variable.h
  lib/TaskMonitoring/task_registry_variable.cpp
  tests/main.cpp
Owners: none

Added logs to IResearchViewExecutor
  arangod/Aql/Executor/IResearchViewExecutor.cpp
Owners: none

Make it compile; Resolve crash of AttributeDetector
  arangod/Aql/AttributeDetector.cpp
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

Remove job endpoint dependency for index operations in Aardvark UI
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/DeleteIndexModal.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/addIndex/useCreateIndex.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/listIndices/CollectionIndicesTable.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/useDeleteIndex.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/useFetchCollectionIndices.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/useSyncIndexCreationJob.tsx
Owners: @arangodb/team-frontend

Remove dead index job tracking code from collections UI
  js/apps/system/_admin/aardvark/APP/frontend/js/arango/arango.js
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/CollectionsContext.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/listCollections/CollectionsTable.tsx
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/useFetchCollections.ts
Owners: @arangodb/team-frontend

Replace Foxx job endpoints with direct _frontend collection access
  js/apps/system/_admin/aardvark/APP/aardvark.js
  js/apps/system/_admin/aardvark/APP/frontend/js/arango/arango.js
  js/apps/system/_admin/aardvark/APP/react/src/components/hooks/useJobSync.ts
  js/apps/system/_admin/aardvark/APP/react/src/utils/frontendJobs.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/views/editView/useUpdateSearchView.ts
  js/apps/system/_admin/aardvark/APP/react/src/views/views/useFetchViews.ts
Owners: @arangodb/team-frontend

Fix TypeScript errors in frontendJobs utilities
  js/apps/system/_admin/aardvark/APP/react/src/components/hooks/useJobSync.ts
  js/apps/system/_admin/aardvark/APP/react/src/utils/frontendJobs.ts
Owners: @arangodb/team-frontend

Fix isLocked access in ViewsTable
  js/apps/system/_admin/aardvark/APP/react/src/views/views/viewsList/ViewsTable.tsx
Owners: @arangodb/team-frontend

Allow additional properties in consolidationPolicy schema
  js/apps/system/_admin/aardvark/APP/react/src/views/views/arangoSearchView/SearchJSONSchema.ts
Owners: @arangodb/team-frontend

Remove custom cluster endpoints, use health API instead
  js/apps/system/_admin/aardvark/APP/cluster.js
  js/apps/system/_admin/aardvark/APP/frontend/js/arango/arango.js
  js/apps/system/_admin/aardvark/APP/frontend/js/collections/clusterCoordinators.js
  js/apps/system/_admin/aardvark/APP/frontend/js/collections/clusterServers.js
  js/apps/system/_admin/aardvark/APP/frontend/js/collections/coordinatorCollection.js
  js/apps/system/_admin/aardvark/APP/index.js
Owners: @arangodb/team-frontend

Extract getHealthModels() helper to deduplicate collection code
  js/apps/system/_admin/aardvark/APP/frontend/js/arango/arango.js
  js/apps/system/_admin/aardvark/APP/frontend/js/collections/clusterCoordinators.js
  js/apps/system/_admin/aardvark/APP/frontend/js/collections/clusterServers.js
  js/apps/system/_admin/aardvark/APP/frontend/js/collections/coordinatorCollection.js
Owners: @arangodb/team-frontend

fix: isCoordinator check
  js/apps/system/_admin/aardvark/APP/frontend/js/arango/arango.js
Owners: @arangodb/team-frontend

initial cleanup.
  js/actions/_admin/foxx/app.js
  js/client/client.js
  js/client/modules/@arangodb/testsuites/config.js
  js/client/modules/@arangodb/testsuites/dump.js
  js/client/modules/@arangodb/testsuites/foxxmanager.js
  js/client/modules/@arangodb/testsuites/hotbackup.js
  js/client/modules/@arangodb/testsuites/recovery.js
  js/client/modules/@arangodb/testsuites/version.js
  js/client/modules/@arangodb/testutils/dump.js
  js/client/modules/@arangodb/testutils/instance-manager.js
  js/client/modules/@arangodb/testutils/instance.js
  js/common/modules/@arangodb/foxx/store.js
  js/server/modules/@arangodb/foxx/manager.js
  tests/js/client/shell/shell-fishbowl-replacement.js
  utils/eslint.sh
Owners: none

Make task metrics creation similar to async registry one
  arangod/SystemMonitor/TaskMonitoring/Feature.cpp
  arangod/SystemMonitor/TaskMonitoring/Feature.h
Owners: none

Move dataSource into CrashHandler
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
  arangod/RestServer/arangod.cpp
  arangod/SystemMonitor/AsyncRegistry/Feature.cpp
  arangod/SystemMonitor/AsyncRegistry/Feature.h
  lib/CrashHandler/CrashHandler.cpp
  lib/CrashHandler/CrashHandler.h
  lib/CrashHandler/CrashHandlerDataSource.cpp
  lib/CrashHandler/CrashHandlerDataSource.h
  lib/CrashHandler/CrashHandlerInterface.h
Owners: none

Rename CrashHandlerInterface to CrashHandlerRegistry
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
  arangod/RestServer/CrashHandlerFeature.cpp
  arangod/RestServer/CrashHandlerFeature.h
  arangod/SystemMonitor/AsyncRegistry/Feature.cpp
  arangod/SystemMonitor/AsyncRegistry/Feature.h
  lib/CrashHandler/CrashHandler.cpp
  lib/CrashHandler/CrashHandler.h
  lib/CrashHandler/CrashHandlerDataSource.cpp
  lib/CrashHandler/CrashHandlerDataSource.h
  lib/CrashHandler/CrashHandlerRegistry.h
Owners: none

Lock dataSources
  lib/CrashHandler/CrashHandlerRegistry.h
Owners: none

Introduce mulitple steps to achive guaranteed failedFollower
  tests/js/client/shell/shell-cluster-dbserver-shard-metrics.js
Owners: none

Remove redudnat part
  tests/js/client/shell/shell-cluster-dbserver-shard-metrics.js
Owners: none

Add a feature and REST handler for task monitoring (#21745)
  Documentation/Metrics/arangodb_monitoring_tasks_existing.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_existing_thread_registries.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_ready_for_deletion.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_thread_registries_total.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_total.yaml
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/RestHandler/RestBaseHandler.cpp
  arangod/RestHandler/RestBaseHandler.h
  arangod/RestServer/arangod.cpp
  arangod/RestServer/arangod.h
  arangod/RestServer/arangod_includes.h
  arangod/Scheduler/AsyncLockWithScheduler.h
  arangod/SystemMonitor/AsyncRegistry/Feature.h
  arangod/SystemMonitor/AsyncRegistry/Metrics.cpp
  arangod/SystemMonitor/CMakeLists.txt
  arangod/SystemMonitor/TaskMonitoring/CMakeLists.txt
  arangod/SystemMonitor/TaskMonitoring/Feature.cpp
  arangod/SystemMonitor/TaskMonitoring/Feature.h
  arangod/SystemMonitor/TaskMonitoring/Metrics.cpp
  arangod/SystemMonitor/TaskMonitoring/Metrics.h
  arangod/SystemMonitor/TaskMonitoring/RestHandler.cpp
  arangod/SystemMonitor/TaskMonitoring/RestHandler.h
  lib/Async/Registry/registry_variable.cpp
  lib/Containers/Concurrent/Registry.h
  lib/Containers/Forest/forest.h
  lib/TaskMonitoring/include/TaskMonitoring/task_registry_variable.h
  tests/Containers/ForestTest.cpp
  tests/main.cpp
Owners: @arangodb/team-documentation

Revert inserted data
  tests/js/client/shell/shell-cluster-dbserver-shard-metrics.js
Owners: none

Make vector index obsolete
  arangod/RestServer/VectorIndexFeature.cpp
  arangod/RestServer/VectorIndexFeature.h
Owners: none

Add changelog
  CHANGELOG
Owners: none

Rename directories
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/RestServer/arangod_includes.h
  arangod/SystemMonitor/ActivityRegistry/CMakeLists.txt
  arangod/SystemMonitor/ActivityRegistry/Feature.cpp
  arangod/SystemMonitor/ActivityRegistry/Feature.h
  arangod/SystemMonitor/ActivityRegistry/Metrics.cpp
  arangod/SystemMonitor/ActivityRegistry/Metrics.h
  arangod/SystemMonitor/ActivityRegistry/RestHandler.cpp
  arangod/SystemMonitor/ActivityRegistry/RestHandler.h
  arangod/SystemMonitor/CMakeLists.txt
  lib/ActivityRegistry/CMakeLists.txt
  lib/ActivityRegistry/include/ActivityRegistry/task.h
  lib/ActivityRegistry/include/ActivityRegistry/task_registry_variable.h
  lib/ActivityRegistry/task.cpp
  lib/ActivityRegistry/task_registry_variable.cpp
  lib/Async/include/Async/context.h
  lib/CMakeLists.txt
  tests/TaskMonitoring/TaskRegistryTest.cpp
  tests/main.cpp
Owners: none

Rename namespace
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/RestServer/arangod.cpp
  arangod/RestServer/arangod.h
  arangod/SystemMonitor/ActivityRegistry/Feature.cpp
  arangod/SystemMonitor/ActivityRegistry/Feature.h
  arangod/SystemMonitor/ActivityRegistry/Metrics.cpp
  arangod/SystemMonitor/ActivityRegistry/Metrics.h
  arangod/SystemMonitor/ActivityRegistry/RestHandler.cpp
  arangod/SystemMonitor/ActivityRegistry/RestHandler.h
  lib/ActivityRegistry/include/ActivityRegistry/task.h
  lib/ActivityRegistry/include/ActivityRegistry/task_registry_variable.h
  lib/ActivityRegistry/task.cpp
  lib/ActivityRegistry/task_registry_variable.cpp
  lib/Async/include/Async/context.h
  tests/TaskMonitoring/TaskRegistryTest.cpp
  tests/main.cpp
Owners: none

Rename files
  arangod/SystemMonitor/ActivityRegistry/Feature.h
  arangod/SystemMonitor/ActivityRegistry/RestHandler.cpp
  lib/ActivityRegistry/CMakeLists.txt
  lib/ActivityRegistry/activity.cpp
  lib/ActivityRegistry/activity_registry_variable.cpp
  lib/ActivityRegistry/include/ActivityRegistry/activity.h
  lib/ActivityRegistry/include/ActivityRegistry/activity_registry_variable.h
  lib/Async/CMakeLists.txt
  lib/Async/include/Async/context.h
  lib/CMakeLists.txt
  tests/CMakeLists.txt
  tests/TaskMonitoring/ActivityRegistryTest.cpp
  tests/TaskMonitoring/CMakeLists.txt
  tests/main.cpp
Owners: none

Introduces an AcceptanceQueue as a layer before the Scheduler.
  arangod/Aql/ExecutionBlockImpl.tpp
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  arangod/Aql/SharedQueryState.cpp
  arangod/Aql/SharedQueryState.h
  arangod/GeneralServer/CommTask.cpp
  arangod/GeneralServer/RestHandler.cpp
  arangod/RestHandler/RestAdminServerHandler.cpp
  arangod/RestHandler/RestTestHandler.cpp
  arangod/RestServer/AqlFeature.cpp
  arangod/RestServer/AqlFeature.h
  arangod/RestServer/SoftShutdownFeature.cpp
  arangod/Scheduler/AcceptanceQueue/AcceptanceQueue.h
  arangod/Scheduler/AcceptanceQueue/AcceptanceQueueImpl.cpp
  arangod/Scheduler/AcceptanceQueue/AcceptanceQueueImpl.h
  arangod/Scheduler/AcceptanceQueue/LowPrioAntiOverwhelm.cpp
  arangod/Scheduler/AcceptanceQueue/LowPrioAntiOverwhelm.h
  arangod/Scheduler/CMakeLists.txt
  arangod/Scheduler/LockfreeThreadPool.cpp
  arangod/Scheduler/Scheduler.h
  arangod/Scheduler/SchedulerFeature.cpp
  arangod/Scheduler/SchedulerFeature.h
  arangod/Scheduler/SimpleThreadPool.h
  arangod/Scheduler/SupervisedScheduler.cpp
  arangod/Scheduler/SupervisedScheduler.h
  arangod/Scheduler/ThreadPoolScheduler.cpp
  arangod/Scheduler/ThreadPoolScheduler.h
  tests/Aql/Executor/AqlExecutorTestCase.cpp
  tests/Aql/Executor/AqlExecutorTestCase.h
  tests/Aql/Executor/AsyncExecutorTest.cpp
  tests/CMakeLists.txt
  tests/Cluster/RebootTrackerTest.cpp
  tests/Mocks/AcceptanceQueue/FakeAcceptanceQueue.cpp
  tests/Mocks/AcceptanceQueue/FakeAcceptanceQueue.h
  tests/Mocks/FakeScheduler.cpp
  tests/Mocks/FakeScheduler.h
  tests/Mocks/Servers.cpp
  tests/Mocks/Servers.h
  tests/Scheduler/BoundedQueuePerfTest.cpp
Owners: none

Rename structs
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/SystemMonitor/ActivityRegistry/Feature.cpp
  arangod/SystemMonitor/ActivityRegistry/Feature.h
  arangod/SystemMonitor/ActivityRegistry/RestHandler.cpp
  arangod/SystemMonitor/ActivityRegistry/RestHandler.h
  lib/ActivityRegistry/activity.cpp
  lib/ActivityRegistry/include/ActivityRegistry/activity.h
  lib/ActivityRegistry/include/ActivityRegistry/activity_registry_variable.h
  lib/Async/include/Async/context.h
  tests/TaskMonitoring/ActivityRegistryTest.cpp
Owners: none

Rename metrics
  Documentation/Metrics/arangodb_activity_activities_total.yaml
  Documentation/Metrics/arangodb_activity_existing_activities.yaml
  Documentation/Metrics/arangodb_activity_existing_thread_registries.yaml
  Documentation/Metrics/arangodb_activity_ready_for_deletion_activities.yaml
  Documentation/Metrics/arangodb_activity_thread_registries_total.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_existing.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_existing_thread_registries.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_ready_for_deletion.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_thread_registries_total.yaml
  Documentation/Metrics/arangodb_monitoring_tasks_total.yaml
  arangod/SystemMonitor/ActivityRegistry/Feature.cpp
  arangod/SystemMonitor/ActivityRegistry/Metrics.cpp
  arangod/SystemMonitor/ActivityRegistry/Metrics.h
Owners: @arangodb/team-documentation

Updated tests
  tests/Aql/AttributeDetectorTest.cpp
Owners: none

Separated compareAstNodes in trivially VPack and structural ones like attribute access
  arangod/Aql/AstNode.cpp
Owners: none
