Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

proper attributes
  js/client/modules/@arangodb/testsuites/dump.js
Owners: none

increase test environment size
  tests/test-definitions.txt
Owners: @arangodb/team-qa

make sure we really start two instances.
  js/client/modules/@arangodb/testsuites/dump.js
Owners: none

have separate multiple flow that runs two servers
  js/client/modules/@arangodb/testsuites/dump.js
  js/client/modules/@arangodb/testutils/client-tools.js
  js/client/modules/@arangodb/testutils/instance.js
  tests/test-definitions.txt
Owners: @arangodb/team-qa

dedebug
  js/client/modules/@arangodb/testutils/instance.js
Owners: none

dedebug
  js/client/modules/@arangodb/testutils/client-tools.js
Owners: none

Update requester in Future::thenFinal, it was missing there
  lib/Futures/include/Futures/Future.h
Owners: none

Update arangod/Transaction/Options.cpp
  arangod/Transaction/Options.cpp
Owners: none

use two different clusters for dump_multiple test (#21769)
  js/client/modules/@arangodb/testsuites/dump.js
  tests/test-definitions.txt
Owners: @arangodb/team-qa

Fix linter
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/gdb_integration/async_registry_gdb_pretty_printer_test.cpp
Owners: none

Applied clang-format
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  arangod/Aql/QueryContext.h
  arangod/Aql/StandaloneCalculation.cpp
Owners: none

Change visibility of functions so it compiles again
  arangod/Aql/Query.h
Owners: none

changelog
  CHANGELOG
Owners: none

changelog (#21759)
  CHANGELOG
Owners: none

make sure the fuzzer uses its own clones of the connection, and not the application flow ones (#21763)
  client-tools/Shell/V8ClientConnection.cpp
  client-tools/Shell/V8ClientConnection.h
  tests/js/client/fuzz/http-fuzz-fp.js
Owners: none

track the progress on the index buildup
  tests/js/client/shell/shell-index-visibility-nocov-fp.js
Owners: none

track the progress on the index buildup (#21784)
  tests/js/client/shell/shell-index-visibility-nocov-fp.js
Owners: none

Fix query counter gauge
  arangod/Aql/Query.cpp
Owners: none

Add tests for async registry pretty printer (#21720)
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/README.md
  arangod/SystemMonitor/AsyncRegistry/PrettyPrinter/src/asyncregistry/stacktrace.py
  tests/CMakeLists.txt
  tests/SystemMonitor/AsyncRegistry/CMakeLists.txt
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/CMakeLists.txt
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/gdb_integration/CMakeLists.txt
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/gdb_integration/async_registry_gdb_pretty_printer_test.cpp
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/gdb_integration/test.gdbscript
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/unittests/CMakeLists.txt
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/unittests/tests/__init__.py
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/unittests/tests/test_forest.py
  tests/SystemMonitor/AsyncRegistry/PrettyPrinter/unittests/tests/test_stacktrace.py
  tests/SystemMonitor/CMakeLists.txt
Owners: none

Scope just the execution
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
Owners: none

Add changelog entry
  CHANGELOG
Owners: none

store connection and disconnect from the ones to be replaced by non-cacheables
  tests/js/client/fuzz/http-fuzz-fp.js
Owners: none

lint
  tests/js/client/fuzz/http-fuzz-fp.js
Owners: none

try/finally
  tests/js/client/fuzz/http-fuzz-fp.js
Owners: none

use fuerte dumper
  client-tools/Shell/V8ClientConnection.cpp
Owners: none

lint
  client-tools/Shell/V8ClientConnection.cpp
Owners: none

Added a test for UserManager if main Server is busy
  tests/js/client/authentication/ddl-operations-cluster-spec.js
Owners: none

Implemets extra thread for the UserManager.
  arangod/Aql/Executor/RemoteExecutor.cpp
  arangod/Aql/RestAqlHandler.cpp
  arangod/Auth/UserManager.cpp
  arangod/Auth/UserManager.h
  arangod/GeneralServer/AuthenticationFeature.cpp
  arangod/RestHandler/RestAuthReloadHandler.cpp
  arangod/RestServer/BootstrapFeature.cpp
  arangod/V8Server/v8-users.cpp
  tests/js/client/authentication/auth.js
  tests/js/client/authentication/ddl-operations-cluster-spec.js
Owners: none

Added more tests for UserManager blocking execution of events
  arangod/Aql/Executor/RemoteExecutor.cpp
  arangod/Aql/RestAqlHandler.cpp
Owners: none

Adds missing preprocessor check.
  arangod/Aql/Executor/RemoteExecutor.cpp
Owners: none

Moved locking from the RestAqlHandler to the ExecutionEngine
  arangod/Aql/ExecutionEngine.cpp
  arangod/Aql/ExecutionEngine.h
  arangod/Aql/QueryContext.h
  arangod/Aql/RestAqlHandler.cpp
  arangod/Aql/RestAqlHandler.h
Owners: none

clang-format
  arangod/Aql/ExecutionEngine.h
  arangod/GeneralServer/RestHandler.h
  lib/Async/include/Async/SuspensionCounter.h
Owners: none

Upgrade RocksDB to 9.5 (#21185)
  CHANGELOG
  CMakeLists.txt
  Documentation/Metrics/rocksdb_block_cache_charge_per_entry.yaml
  Documentation/Metrics/rocksdb_block_cache_entries.yaml
  Documentation/Metrics/rocksdb_live_blob_file_garbage_size.yaml
  Documentation/Metrics/rocksdb_live_blob_file_size.yaml
  Documentation/Metrics/rocksdb_num_blob_files.yaml
  LICENSES-OTHER-COMPONENTS.md
  arangod/RocksDBEngine/Listeners/CMakeLists.txt
  arangod/RocksDBEngine/Listeners/RocksDBMetricsListener.cpp
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.cpp
  arangod/RocksDBEngine/RocksDBEngine.cpp
  arangod/RocksDBEngine/RocksDBIterators.cpp
  arangod/RocksDBEngine/RocksDBOptionFeature.cpp
  arangod/RocksDBEngine/RocksDBOptionFeature.h
  arangod/RocksDBEngine/RocksDBTempStorage.cpp
Owners: @arangodb/team-documentation

Add a delay on startup. Remove known broken test, need to see is something else is broken on CI
  arangod/Auth/UserManager.cpp
  tests/js/client/authentication/user-access-right-permission-resolution.js
Owners: none

store connection and disconnect from the ones to be replaced by non-cacheables (#21786)
  client-tools/Shell/V8ClientConnection.cpp
  tests/js/client/fuzz/http-fuzz-fp.js
Owners: none

Add tests
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  tests/js/client/aql/aql-query-metrics.js
Owners: none

Add shared resource and shared reference to it
  lib/Containers/Concurrent/CMakeLists.txt
  lib/Containers/Concurrent/shared.h
  tests/Async/Registry/RegistryTest.cpp
  tests/Containers/Concurrent/CMakeLists.txt
  tests/Containers/Concurrent/SharedTest.cpp
Owners: none

Add owning thread to promise as a shared reference
  lib/Async/Registry/promise.cpp
  lib/Async/Registry/promise.h
  lib/Containers/Concurrent/thread.cpp
  lib/Containers/Concurrent/thread.h
Owners: none

Fix condition
  arangod/Aql/Query.cpp
  tests/js/client/aql/aql-query-metrics.js
Owners: none

Fix eslint
  tests/js/client/aql/aql-query-metrics.js
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
