Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

Changes suggested by reviewer.
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

fix: remove 'none' license check
  js/apps/system/_admin/aardvark/APP/frontend/js/views/navigationView.js
Owners: @arangodb/team-frontend

chore: fix error handling
  js/apps/system/_admin/aardvark/APP/frontend/js/views/navigationView.js
Owners: @arangodb/team-frontend

FE-528: adds diskusage license info to UI (#21652)
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/frontend/js/views/navigationView.js
  js/apps/system/_admin/aardvark/APP/frontend/scss/_alert.scss
Owners: @arangodb/team-frontend

Make task registry work with only one type of task
  arangod/Cluster/CreateCollection.cpp
  arangod/RestHandler/RestCollectionHandler.cpp
  arangod/RestHandler/RestIndexHandler.cpp
  arangod/RestHandler/RestIndexHandler.h
  lib/Tasks/include/Tasks/task_registry.h
  lib/Tasks/task_registry.cpp
  tests/Tasks/TaskRegistryTest.cpp
Owners: none

Fix waiting for plan version for 3.11.
  arangod/RestHandler/RestIndexHandler.cpp
Owners: none

Fix bug.
  arangod/RestHandler/RestIndexHandler.cpp
Owners: none

Fix a small bug in the result of isBuilding indexes.
  arangod/RestHandler/RestIndexHandler.cpp
Owners: none

Handle scopes for running tasks instead of tasks itself
  arangod/Cluster/ClusterCollectionMethods.cpp
  arangod/Cluster/ClusterCollectionMethods.h
  arangod/Cluster/CreateCollection.cpp
  arangod/Cluster/CreateCollection.h
  arangod/RestHandler/RestCollectionHandler.cpp
  arangod/RestHandler/RestIndexHandler.cpp
  arangod/VocBase/Methods/Collections.cpp
  arangod/VocBase/Methods/Collections.h
  lib/Tasks/include/Tasks/task_registry.h
  lib/Tasks/task_registry.cpp
  tests/Tasks/TaskRegistryTest.cpp
Owners: none

Fix a small bug in the result of isBuilding indexes. (#21656)
  arangod/RestHandler/RestIndexHandler.cpp
Owners: none

Update RestIndexHandler.cpp
  arangod/RestHandler/RestIndexHandler.cpp
Owners: none

Fix index api shortly after successful creation [BTS-2044] (#21649)
  CHANGELOG
  arangod/RestHandler/RestIndexHandler.cpp
Owners: none

fix: set cached query when bind params are equal
  js/apps/system/_admin/aardvark/APP/react/src/views/query/useQueryEditorHandlers.tsx
Owners: @arangodb/team-frontend

added '/_api/token' as exception for authorization
  arangod/GeneralServer/CommTask.cpp
Owners: none

added test cases
  js/client/modules/@arangodb/testutils/instance-manager.js
  js/client/modules/@arangodb/testutils/san-file-handler.js
  tests/js/client/authentication/auth.js
Owners: none

added changelog entry for access tokens
  CHANGELOG
Owners: none

chore: update changelog
  CHANGELOG
Owners: none

FE-535 - fix set cached query when bind params are equal (#21659)
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/react/src/views/query/useQueryEditorHandlers.tsx
Owners: @arangodb/team-frontend

Optimize for performance.
  lib/Containers/AtomicList.h
  tests/Basics/AtomicListTest.cpp
Owners: none

Add metrics.
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

Remove unnecessary metric again.
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

Add new metric yaml.
  Documentation/Metrics/arangodb_api_recording_call_time.yaml
Owners: @arangodb/team-documentation

Improve debugging by adding source location to task
  lib/Tasks/include/Tasks/task_registry.h
  lib/Tasks/task_registry.cpp
Owners: none

clang-format.
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

Deactivate feature by default.
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

Fix bug buy decreasing scope of create collection task on dbserver
  arangod/Cluster/CreateCollection.cpp
  arangod/Cluster/CreateCollection.h
  lib/Tasks/task_registry.cpp
Owners: none

Reactivate.
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

Deactivate logging for CI
  lib/Tasks/include/Tasks/task_registry.h
Owners: none

add cgroups v2 memory limit detection
  scripts/test/arangosh.py
Owners: @arangodb/team-qa

Find own cgroup and fix bug in limit computation.
  scripts/test/arangosh.py
Owners: @arangodb/team-qa

Fix path joining.
  scripts/test/arangosh.py
Owners: @arangodb/team-qa

add cgroups v2 memory limit detection (#21660)
  scripts/test/arangosh.py
Owners: @arangodb/team-qa

removed outdated comment
  arangod/RestHandler/RestCursorHandler.cpp
Owners: none

Add LogContext scope to runHandlerStateMachine
  arangod/GeneralServer/RestHandler.cpp
  lib/Logger/LogContext.h
Owners: none

Keep LogContext in RestIndexHandler
  arangod/RestHandler/RestIndexHandler.cpp
Owners: none

Revert to old throttle
  arangod/RocksDBEngine/Listeners/CMakeLists.txt
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.cpp
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.h
  arangod/RocksDBEngine/RocksDBEngine.cpp
  arangod/RocksDBEngine/RocksDBEngine.h
Owners: none

Update san-file-handler.js
  js/client/modules/@arangodb/testutils/san-file-handler.js
Owners: none

Update lib/Containers/AtomicList.h
  lib/Containers/AtomicList.h
Owners: none

Small changes
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.cpp
Owners: none
