Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-cinfra, @arangodb/team-reed, @arangodb/team-gordo, @arangodb/team-clifton, @arangodb/team-orco, @mpoeter, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-cinfra` ownership
/arangod/Replication2/ @arangodb/team-cinfra
/tests/Replication2/ @arangodb/team-cinfra

# `team-reed` ownership
/arangod/IResearch/ @arangodb/team-reed
/3rdParty/iresearch/ @arangodb/team-reed

# `team-gordo` ownership
/arangod/Graph/  @arangodb/team-gordo
/arangod/Pregel/ @arangodb/team-gordo

# `team-clifton` ownership
/arangod/Cluster/ @arangodb/team-clifton
/arangod/ClusterEngine/ @arangodb/team-clifton
/arangod/Sharding/ @arangodb/team-clifton
/arangod/Actions/ @arangodb/team-clifton
/arangod/Agency/ @arangodb/team-clifton

# `team-orco` ownership
/3rdParty/velocypack @arangodb/team-orco
/arangod/Aql/grammar.y @arangodb/team-orco
/arangod/Aql/tokens.ll @arangodb/team-orco
/arangod/Aql/ @arangodb/team-orco
/arangod/Cache/ @arangodb/team-orco
/arangod/Indexes/ @arangodb/team-orco
/arangod/RestHandler/ @arangodb/team-orco
/arangod/RestServer/ @arangodb/team-orco
/arangod/RocksDBEngine/ @arangodb/team-orco
/arangod/Statistics/ @arangodb/team-orco 
/arangod/StorageEngine/ @arangodb/team-orco 
/arangod/Transaction/ @arangodb/team-orco
/arangod/Utils/ @arangodb/team-orco
/client-tools/ @arangodb/team-orco
/lib/Basics/ReadWriteLock.h @arangodb/team-orco @mpoeter 
/lib/Basics/ReadWriteLock.cpp @arangodb/team-orco @mpoeter 
/lib/Basics/ReadWriteSpinLock.h @arangodb/team-orco @mpoeter 
/lib/Basics/ReadWriteSpinLock.cpp @arangodb/team-orco @mpoeter 
/lib/Logger/ @arangodb/team-orco
/lib/Utilities/ @arangodb/team-orco

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

# ownership by individuals
/lib/Inspection/ @mpoeter

Keep zkd index type. (#20441)
  arangod/ClusterEngine/ClusterIndex.cpp
  arangod/ClusterEngine/ClusterIndexFactory.cpp
  arangod/Indexes/Index.cpp
  arangod/Indexes/Index.h
  arangod/RocksDBEngine/RocksDBCollection.cpp
  arangod/RocksDBEngine/RocksDBIndex.cpp
  arangod/RocksDBEngine/RocksDBIndexFactory.cpp
  arangod/RocksDBEngine/RocksDBMultiDimIndex.cpp
  arangod/RocksDBEngine/RocksDBMultiDimIndex.h
  tests/js/client/aql/aql-mdi.js
Owners: @arangodb/team-clifton, @arangodb/team-orco

Add empty UI build folder
  js/apps/system/_admin/aardvark/APP/react/.gitignore
Owners: @arangodb/team-frontend

Add 3.12.0 swagger from arangodb/docs-hugo as of 09.01.2024
  js/apps/system/_admin/aardvark/APP/api-docs.json
Owners: @arangodb/team-frontend

fix AQL query profile output with older arangod versions
  js/common/modules/@arangodb/aql/explainer.js
Owners: none

str_cat
  arangod/Aql/EngineInfoContainerDBServerServerBased.cpp
Owners: @arangodb/team-orco

more usages of StrCat
  arangod/Aql/EngineInfoContainerDBServerServerBased.cpp
  arangod/Aql/ExecutionBlockImpl.h
  arangod/Aql/ExecutionBlockImpl.tpp
  arangod/Cluster/ClusterMethods.cpp
  arangod/RestHandler/RestCollectionHandler.cpp
  arangod/RestHandler/RestDocumentHandler.cpp
  arangod/RocksDBEngine/ReplicatedRocksDBTransactionState.cpp
  arangod/StorageEngine/TransactionState.h
Owners: @arangodb/team-orco, @arangodb/team-clifton

added tests
  tests/js/client/shell/shell-versioning.js
Owners: none

Escape control characters in audit log query strings (#20437)
  CHANGELOG
Owners: none

rename a test file (#20443)
  tests/js/client/shell/multi/shell-ttl-nocov.js
Owners: none

simplify node setup code (#20432)
  arangod/Aql/BindParameters.cpp
  arangod/Aql/ExecutionPlan.cpp
Owners: @arangodb/team-orco

Fix compilation on Mac.
  lib/Basics/FileUtils.cpp
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none
