Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

Simplify edge syntax code
  arangod/Aql/Ast.cpp
  tests/js/client/aql/aql-graph-with-clause.js
Owners: none

fix: escape html in notification
  js/apps/system/_admin/aardvark/APP/frontend/js/views/notificationView.js
Owners: @arangodb/team-frontend

Add ignoreNulls in ModificationOptions
  arangod/Aql/ExecutionPlan.cpp
  arangod/Aql/ModificationOptions.h
Owners: none

Add comment
  arangod/Aql/ModificationOptions.h
Owners: none

Add changelog entry
  CHANGELOG
Owners: none

Add a test
  tests/js/client/aql/aql-graph-with-clause.js
Owners: none

CHANGELOG.
  CHANGELOG
Owners: none

Update CHANGELOG
  CHANGELOG
Owners: none

Aardvark: Add display label for Vector index type
  js/apps/system/_admin/aardvark/APP/react/src/views/collections/indices/CollectionIndicesHelpers.tsx
Owners: @arangodb/team-frontend

Update CHANGELOG
  CHANGELOG
Owners: none

Rename variable and change ModificationOptions::toVelocypack
  arangod/Aql/ExecutionPlan.cpp
  arangod/Aql/ModificationOptions.cpp
  arangod/Aql/ModificationOptions.h
  lib/Basics/StaticStrings.cpp
  lib/Basics/StaticStrings.h
Owners: none

[BTS-2231] Fix divide-by-zero crash (#22030)
  CHANGELOG
  arangod/Aql/Optimizer/Rule/OptimizerRuleCollectWithIndex.cpp
Owners: none

Introduce storedValues in ClusterIndex
  arangod/Aql/Optimizer/Rule/OptimizerRulePushFilterVectorIndex.cpp
  arangod/ClusterEngine/ClusterIndex.cpp
  arangod/ClusterEngine/ClusterIndex.h
  arangod/Indexes/Index.cpp
  arangod/Indexes/Index.h
  arangod/RocksDBEngine/RocksDBVPackIndex.h
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  arangod/RocksDBEngine/RocksDBVectorIndex.h
Owners: none

chore: add changelog
  CHANGELOG
Owners: none

Introduce storedValues in ClusterIndex and Index
  arangod/Aql/Optimizer/Rule/OptimizerRulePushFilterVectorIndex.cpp
  arangod/ClusterEngine/ClusterIndex.cpp
  arangod/ClusterEngine/ClusterIndex.h
  arangod/Indexes/Index.cpp
  arangod/Indexes/Index.h
  arangod/RocksDBEngine/RocksDBVPackIndex.h
  arangod/RocksDBEngine/RocksDBVectorIndex.h
Owners: none

Fix format
  arangod/Aql/Optimizer/Rule/OptimizerRuleVectorIndex.cpp
Owners: none

Remove noexcept
  arangod/ClusterEngine/ClusterIndex.cpp
  arangod/ClusterEngine/ClusterIndex.h
  arangod/Indexes/Index.cpp
  arangod/Indexes/Index.h
  arangod/RocksDBEngine/RocksDBVPackIndex.h
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  arangod/RocksDBEngine/RocksDBVectorIndex.h
Owners: none

Remove show
  arangod/Aql/Optimizer/Rule/OptimizerRulePushFilterVectorIndex.cpp
Owners: none

Fix changelog
  CHANGELOG
Owners: none

Address review comment
  client-tools/Shell/ClientFeature.cpp
Owners: none

Fix changelog
  CHANGELOG
Owners: none

Address review comment
  arangod/Aql/ModificationOptions.cpp
Owners: none

Remove assert
  arangod/RocksDBEngine/RocksDBValue.cpp
Owners: none

fix yaml syntaxt
  tests/test-definitions.yml
Owners: none

fix grammer
  tests/test-definitions.yml
Owners: none

first draft of a yaml convertion of test-definitions.txt
  tests/test-definitions.yml
Owners: none

finalize yaml
  tests/test-definitions.yml
Owners: none

fix cluster/single flag handling
  .circleci/generate_config.py
Owners: none

first parser adaption
  .circleci/generate_config.py
Owners: none

fix some editing issues
  tests/test-definitions.yml
Owners: none

work on merge
  .circleci/generate_config.py
Owners: none

don't stringify buckets
  .circleci/generate_config.py
Owners: none

work on fixing merge issues
  .circleci/generate_config.py
Owners: none

need to check it out
  .circleci/config.yml
Owners: none

fix custom yaml header
  .circleci/generate_config.py
Owners: none

switch to yml file
  .circleci/config.yml
Owners: none

don't use special tag to run several suites
  .circleci/generate_config.py
  tests/test-definitions.yml
Owners: none

delete old test definitions
  tests/arangojs-test-definitions.txt
  tests/go-test-definitions.txt
  tests/java-test-definitions.txt
  tests/kafka-test-definitions.txt
  tests/test-definitions.txt
Owners: @arangodb/team-qa

reformat more test definitions to yml
  tests/arangojs-test-definitions.yml
  tests/go-test-definitions.yml
  tests/java-driver-test-definitions.yml
  tests/kafka-test-definitions.yml
  tests/test-definitions.yml
Owners: none

lint python snake_case
  .circleci/generate_config.py
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
