Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

fix container reference
  tests/arangojs-test-definitions.txt
Owners: none

add way to overrule the deadline from test-definitions.txt
  scripts/test/site_config.py
  scripts/test/test_config.py
Owners: @arangodb/team-qa

make it a pipeline param
  .circleci/config.yml
Owners: none

choose bigger machine
  tests/go-test-definitions.txt
Owners: none

fix repo url
  tests/arangojs-test-definitions.txt
Owners: none

map missing state
  js/client/modules/@arangodb/testsuites/go.js
Owners: none

use auth for single server as well, the go driver expects it
  js/client/modules/@arangodb/testsuites/go.js
Owners: none

test wants more than one endpoint
  js/client/modules/@arangodb/testsuites/go.js
Owners: none

fix passing of JWT via jwtSecret
  js/client/modules/@arangodb/testutils/instance-manager.js
Owners: none

more places to flatten the directory
  .circleci/build_test_image.yml
Owners: none

make it a pipeline param
  .circleci/config.yml
Owners: none

more places to flatten the directory
  .circleci/build_test_image.yml
Owners: none

DRY build images
  .circleci/build_test_image.yml
  scripts/docker/build-image.sh
  scripts/docker/build-manifest.sh
  scripts/docker/determine-tag.sh
  scripts/docker/go-test/build-image.sh
  scripts/docker/java-test/build-image.sh
  scripts/docker/java-test/build-manifest.sh
  scripts/docker/java-test/determine-tag.sh
  scripts/docker/js-test/build-image.sh
  scripts/docker/js-test/build-manifest.sh
  scripts/docker/js-test/determine-tag.sh
  scripts/docker/test/Dockerfile
  scripts/docker/test/build-image.sh
  scripts/docker/test/build-manifest.sh
  scripts/docker/test/determine-tag.sh
Owners: @arangodb/team-qa

make it a pipeline param
  .circleci/base_config.yml
Owners: none

imlement review
  .circleci/base_config.yml
  .circleci/generate_config.py
  scripts/docker/go-test/build-manifest.sh
Owners: @arangodb/team-qa

clean up transaction
  tests/js/client/shell/shell-transactions.js
Owners: none

properly forward the instanceRoot via the environment
  js/client/modules/@arangodb/testsuites/permissions_client.js
  tests/js/client/permissions/filesystem.js
Owners: none

choose sane to cleanup location for temp files tests
  tests/js/client/permissions/filesystem.js
Owners: none

choose sane to cleanup location for temp files tests
  js/client/modules/@arangodb/testsuites/permissions_client.js
  tests/js/client/permissions/filesystem.js
Owners: none

add support for the cont-message, add timestamps to the output
  js/client/modules/@arangodb/testsuites/go.js
Owners: none

quotes
  .circleci/base_config.yml
Owners: none

don't create directories with , in them
  .circleci/base_config.yml
  scripts/test/test_launch_controller.py
Owners: @arangodb/team-qa

make it a pipeline param
  .circleci/config.yml
Owners: none

use large container
  tests/arangojs-test-definitions.txt
Owners: none

fix name
  .circleci/base_config.yml
Owners: none

dial to master
  tests/go-test-definitions.txt
Owners: none

work to make java driver test great again
  js/client/modules/@arangodb/testsuites/java.js
Owners: none

fix config
  tests/java-test-definitions.txt
Owners: none

lint
  js/client/modules/@arangodb/testsuites/java.js
Owners: none

latest image tag
  .circleci/config.yml
Owners: none

fix image reference
  .circleci/build_test_image.yml
Owners: none

fix image reference
  .circleci/config.yml
Owners: none

Discard blocks on distirbution Node if we already have seen the HardLimit
  arangod/Aql/DistributeClientBlock.cpp
Owners: none

add maven
  scripts/docker/java-test/Dockerfile
Owners: @arangodb/team-qa

fix image reference
  .circleci/config.yml
Owners: none

Removed an assert, for code i assumed to be unreachable, but it is reached within our own tests
  arangod/Aql/BlocksWithClients.cpp
Owners: none

debug
  js/client/modules/@arangodb/testsuites/java.js
Owners: none

Extract single server neighbour provider
  arangod/Graph/Cursors/RefactoredSingleServerEdgeCursor.h
  arangod/Graph/Providers/CMakeLists.txt
  arangod/Graph/Providers/SingleServerNeighbourProvider.cpp
  arangod/Graph/Providers/SingleServerNeighbourProvider.h
  arangod/Graph/Providers/SingleServerProvider.cpp
  arangod/Graph/Providers/SingleServerProvider.h
Owners: none

Fix version number of metrics and startup options added as part of RocksDB upgrade (#21799)
  Documentation/Metrics/rocksdb_block_cache_charge_per_entry.yaml
  Documentation/Metrics/rocksdb_block_cache_entries.yaml
  Documentation/Metrics/rocksdb_live_blob_file_garbage_size.yaml
  Documentation/Metrics/rocksdb_live_blob_file_size.yaml
  Documentation/Metrics/rocksdb_num_blob_files.yaml
  arangod/RocksDBEngine/RocksDBOptionFeature.cpp
Owners: @arangodb/team-documentation

debug
  js/client/modules/@arangodb/testsuites/java.js
Owners: none

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend
