Repository arangodb/arangodb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arangodb/team-documentation, @arangodb/team-qa, @arangodb/team-frontend

.github/CODEOWNERS:

# please check the following Github page for documentation:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# `documentation-team` ownership
/Documentation/ @arangodb/team-documentation
/utils/*Documentation* @arangodb/team-documentation

# `qa-team` ownership
/Installation/ @arangodb/team-qa
/scripts/ @arangodb/team-qa
/etc/ @arangodb/team-qa
/tests/test-definitions.txt @arangodb/team-qa

# `team-frontend` ownership
/js/apps/system/_admin/aardvark/APP/ @arangodb/team-frontend

passvoid
  js/client/modules/@arangodb/testsuites/java.js
Owners: none

switch branch
  tests/java-test-definitions.txt
Owners: none

passvoid and jwt configuring
  js/client/modules/@arangodb/testsuites/java.js
Owners: none

include maven cache into docker image
  scripts/docker/java-test/Dockerfile
Owners: @arangodb/team-qa

fix image reference
  .circleci/config.yml
Owners: none

Iterate over all batches
  arangod/Graph/Cursors/RefactoredSingleServerEdgeCursor.cpp
  arangod/Graph/Cursors/RefactoredSingleServerEdgeCursor.h
  arangod/Graph/Providers/SingleServerNeighbourProvider.cpp
  arangod/Graph/Providers/SingleServerNeighbourProvider.h
  arangod/Graph/Providers/SingleServerProvider.cpp
Owners: none

Get vertex cache back in
  arangod/Graph/Providers/SingleServerNeighbourProvider.cpp
  arangod/Graph/Providers/SingleServerNeighbourProvider.h
Owners: none

arangodb release 3.12.5
  ARANGO-VERSION
  CHANGELOG
  CMakeLists.txt
  js/apps/system/_admin/aardvark/APP/api-docs.json
Owners: @arangodb/team-frontend

feature(api): Added /_api/schema endpoint
  arangod/RestHandler/RestSchemaHandler.cpp
  arangod/RestHandler/RestSchemaHandler.h
  tests/CMakeLists.txt
  tests/RestHandler/RestSchemaHandlerTest.cpp
Owners: none

Updated ChangeLog File
  CHANGELOG
Owners: none

Updated ChangeLog File
  CHANGELOG
Owners: none

Fix cosine similarity score
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Add changelog entry
  CHANGELOG
Owners: none

Fix tests
  js/common/modules/@arangodb/testutils/seededRandom.js
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Fix eslint
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Fix assertion
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Use sets in test
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Update dependacies
  js/apps/system/_admin/aardvark/APP/react/package.json
  js/node/package.json
Owners: @arangodb/team-frontend

Reword arangimport startup option description for collection name prefixes
  client-tools/Import/ImportFeature.cpp
Owners: none

Revert changes to squared distances
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
Owners: none

Add inner product metric to vector index
  arangod/Aql/AqlFunctionFeature.cpp
  arangod/Aql/Function/VectorFunctions.cpp
  arangod/Aql/Functions.h
  arangod/Aql/Optimizer/Rule/OptimizerRuleVectorIndex.cpp
  arangod/Indexes/VectorIndexDefinition.h
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
Owners: none

/_api/import: Only allow valid type parameter values
  CHANGELOG
  arangod/RestHandler/RestImportHandler.cpp
Owners: none

Update changelog
  CHANGELOG
Owners: none

First draft of feature.
  CHANGELOG
  arangod/Aql/Query.cpp
  arangod/RestHandler/RestAdminServerHandler.cpp
  arangod/RestHandler/RestAdminServerHandler.h
  arangod/RestServer/ApiRecordingFeature.cpp
  arangod/RestServer/ApiRecordingFeature.h
Owners: none

Add ApiRecordingFeature to unit test mockung.
  tests/Mocks/Servers.cpp
Owners: none

Add tests
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Fix cosine similarity score (#21810)
  CHANGELOG
  arangod/RocksDBEngine/RocksDBVectorIndex.cpp
  js/common/modules/@arangodb/testutils/seededRandom.js
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Update changelog and test
  CHANGELOG
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Fix unit tests.
  tests/Graph/GraphTestTools.cpp
Owners: none

Update tests with seed value
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Fix unit test.
  tests/IResearch/ExpressionFilterTest.cpp
Owners: none

Fix clang-format.
  tests/IResearch/ExpressionFilterTest.cpp
Owners: none

Fix lint and simplify tests
  arangod/Aql/AqlFunctionFeature.cpp
  tests/js/client/aql/vector/aql-vector.js
Owners: none

Fix format
  arangod/Aql/Functions.h
Owners: none

feature(api): Added graph insights to /_api/schema endpoint
  arangod/RestHandler/RestSchemaHandler.cpp
  arangod/RestHandler/RestSchemaHandler.h
Owners: none

chore(test): Added a testing function RestSchemaHandlerTest
  arangod/RestHandler/RestSchemaHandler.cpp
  tests/RestHandler/RestSchemaHandlerTest.cpp
Owners: none

chore(RestSchemaHanlderTest): Added a setup and testing fucntion
  arangod/RestHandler/RestSchemaHandler.cpp
  tests/RestHandler/RestSchemaHandlerTest.cpp
Owners: none

Fix tests.
  tests/IResearch/IResearchAnalyzerFeatureTest.cpp
  tests/Mocks/Servers.cpp
Owners: none

Fix tests.
  tests/IResearch/IResearchOrderTest.cpp
Owners: none

Fixed memory leak
  tests/Aql/Executor/AsyncExecutorTest.cpp
Owners: none
