Repository arangodb/arangodb, pull requests merged in 2018-05, with the labels that each got.

#5254 Fix windows compile errors
  3rdParty/s2geometry/552f562/src/s2/s2builder_graph.cc
  arangod/Replication/GlobalTailingSyncer.cpp
  arangod/Replication/ReplicationFeature.cpp
  arangosh/Benchmark/arangobench.cpp
  lib/ApplicationFeatures/ConfigFeature.cpp
Labels: 1 Bug, 4 Windows, 9 Review Required

#5089 Deprecate foxx-manager
  js/client/modules/@arangodb/foxx/manager.js
Labels: 1 Feature, 3 Foxx, 9 Ready to Merge

#5183 Teach executeTransaction about ArangoCollection objects
  CHANGELOG
  js/client/modules/@arangodb/arango-database.js
  js/common/tests/shell/shell-transactions.js
  js/server/modules/@arangodb/arango-database.js
Labels: 1 Feature, 3 Core, 3 JS API, 9 Ready to Merge

#5184 Add query, aql.literal
  Documentation/Books/Manual/Appendix/JavaScriptModules/ArangoDB.md
  js/common/modules/@arangodb/common.js
  js/common/tests/shell/shell-database.js
Labels: 1 Feature, 3 JS API, 9 Ready to Merge

#5248 Update CHANGELOG
  CHANGELOG
Labels: 3 Documentation

#5247 Update CHANGELOG
  CHANGELOG
Labels: 3 Documentation

#4743 Feature/fix inconsistent distribute shards like job
  CHANGELOG
  Documentation/Books/HTTP/Cluster/README.md
  Documentation/Books/HTTP/Repairs/README.md
  arangod/Agency/AgencyComm.h
  arangod/CMakeLists.txt
  arangod/Cluster/ClusterRepairDistributeShardsLike.cpp
  arangod/Cluster/ClusterRepairDistributeShardsLike.h
  arangod/Cluster/ClusterRepairOperations.cpp
  arangod/Cluster/ClusterRepairOperations.h
  arangod/Cluster/ClusterRepairs.h
  arangod/Cluster/ResultT.h
  arangod/Cluster/ShardDistributionReporter.cpp
  arangod/Cluster/v8-cluster.cpp
  arangod/GeneralServer/GeneralServerFeature.cpp
  arangod/RestHandler/RestRepairHandler.cpp
  arangod/RestHandler/RestRepairHandler.h
  arangod/RestHandler/RestReplicationHandler.cpp
  js/common/bootstrap/errors.js
  js/server/bootstrap/modules/internal.js
  js/server/tests/resilience/repair-distribute-shards-like-spec.js
  lib/Basics/errors.dat
  lib/Basics/voc-errors.cpp
  lib/Basics/voc-errors.h
  tests/CMakeLists.txt
  tests/Cluster/ClusterRepairsTest.cpp
  tests/Cluster/ClusterRepairsTest.deletedCollection.cpp
  tests/Cluster/ClusterRepairsTest.moveFollower.cpp
  tests/Cluster/ClusterRepairsTest.multipleCollections.cpp
  tests/Cluster/ClusterRepairsTest.multipleShards.cpp
  tests/Cluster/ClusterRepairsTest.repairingDistributeShardsLike.cpp
  tests/Cluster/ClusterRepairsTest.repairingDslChangedRf.cpp
  tests/Cluster/ClusterRepairsTest.replicationFactorTooHigh.cpp
  tests/Cluster/ClusterRepairsTest.satelliteCollection.cpp
  tests/Cluster/ClusterRepairsTest.smartCollections.cpp
  tests/Cluster/ClusterRepairsTest.swapWithLeader.cpp
  tests/Cluster/ClusterRepairsTest.triggeredFailures.cpp
  tests/Cluster/ClusterRepairsTest.unequalReplicationFactor.cpp
  tests/Cluster/ClusterRepairsTest.unorderedFollowers.cpp
  tests/Cluster/ClusterRepairsTest.unusedServerUnhealthy.cpp
Labels: 1 Feature, 3 Cluster, 9 Review Required

#5280 Bug fix/compile issues on mac
  arangod/Cluster/ClusterRepairDistributeShardsLike.cpp
  arangod/Cluster/ClusterRepairOperations.cpp
  arangod/Cluster/ClusterRepairOperations.h
  arangod/RestHandler/RestRepairHandler.cpp
Labels: 9 Ready to Merge

#5291 performance optimization gharial post
  js/apps/system/_api/gharial/APP/gharial.js
  js/client/tests/http/api-gharial-spec.js
Labels: 9 Review Required

#5298 Simple dump speedup
  arangod/GeneralServer/VstCommTask.cpp
  arangod/GeneralServer/VstCommTask.h
  arangod/MMFiles/MMFilesRestReplicationHandler.cpp
  arangod/Replication/DatabaseInitialSyncer.cpp
  arangod/Replication/DatabaseInitialSyncer.h
  arangod/Replication/Syncer.cpp
  arangod/Replication/Syncer.h
  arangod/Replication/TailingSyncer.cpp
  arangod/RestHandler/RestBaseHandler.cpp
  arangod/RestHandler/RestBaseHandler.h
  arangod/RocksDBEngine/RocksDBIterators.h
  arangod/RocksDBEngine/RocksDBReplicationContext.cpp
  arangod/RocksDBEngine/RocksDBReplicationContext.h
  arangod/RocksDBEngine/RocksDBRestReplicationHandler.cpp
  arangod/VocBase/Methods/Indexes.cpp
  lib/Basics/VelocyPackHelper.cpp
  lib/Basics/VelocyPackHelper.h
  lib/Rest/GeneralResponse.cpp
  lib/Rest/GeneralResponse.h
  lib/Rest/HttpRequest.cpp
  lib/Rest/HttpResponse.cpp
  lib/Rest/VstRequest.cpp
  lib/Rest/VstResponse.cpp
Labels: 9 Ready to Merge

#5290 performance optimization gharial post
  js/apps/system/_api/gharial/APP/gharial.js
  js/client/tests/http/api-gharial-spec.js
Labels: 9 Review Required

#4993 now checking existence of _from and _to vertices during edge creation
  CHANGELOG
  js/apps/system/_api/gharial/APP/gharial.js
  js/client/tests/http/api-gharial-spec.js
Labels: 9 Review Required

#5273 Fix race condition between foxx install and selfHeal
  js/client/tests/shell/shell-foxx-manager-spec.js
  js/common/test-data/apps/heal-during-setup/index.js
  js/common/test-data/apps/heal-during-setup/manifest.json
  js/common/test-data/apps/heal-during-setup/setup.js
  js/server/modules/@arangodb/foxx/manager.js
  js/server/modules/@arangodb/foxx/service.js
Labels: 1 Bug, 3 Cluster, 3 Foxx, 9 Ready to Merge

#5306 [3.3] Fix race condition between foxx install and selfHeal
  js/client/tests/shell/shell-foxx-manager-spec.js
  js/common/test-data/apps/heal-during-setup/index.js
  js/common/test-data/apps/heal-during-setup/manifest.json
  js/common/test-data/apps/heal-during-setup/setup.js
  js/server/modules/@arangodb/foxx/manager.js
  js/server/modules/@arangodb/foxx/service.js
Labels: 1 Bug, 3 Cluster, 3 Foxx, 9 Ready to Merge

#5307 add #3545 to the documentation
  Documentation/Books/AQL/Examples/MultiplePaths.md
  Documentation/Books/AQL/Examples/sp_graph.png
  Documentation/Books/AQL/SUMMARY.md
Labels: 3 Documentation

#5207 Documentation/remove aql array example anchors
  Documentation/Books/AQL/Functions/Array.md
  Documentation/Scripts/codeBlockReader.py
Labels: 1 Bug, 3 Documentation, 9 Ready to Merge

#5309 add #3545 to the documentation
  Documentation/Books/AQL/Examples/MultiplePaths.md
  Documentation/Books/AQL/Examples/sp_graph.png
  Documentation/Books/AQL/SUMMARY.md
Labels: 3 Documentation

#5324 [3.2] Fix race condition between foxx install and selfHeal
  CHANGELOG
  js/client/tests/shell/shell-foxx-manager-spec.js
  js/common/test-data/apps/heal-during-setup/index.js
  js/common/test-data/apps/heal-during-setup/manifest.json
  js/common/test-data/apps/heal-during-setup/setup.js
  js/server/modules/@arangodb/foxx/manager.js
  js/server/modules/@arangodb/foxx/service.js
Labels: 1 Bug, 3 Cluster, 3 Foxx

#5226 speed up replication
  CHANGELOG
  arangod/RocksDBEngine/RocksDBIncrementalSync.cpp
  arangod/RocksDBEngine/RocksDBIterators.cpp
  arangod/RocksDBEngine/RocksDBIterators.h
  arangod/RocksDBEngine/RocksDBPrimaryIndex.cpp
  arangod/RocksDBEngine/RocksDBReplicationContext.cpp
  arangod/RocksDBEngine/RocksDBReplicationContext.h
  arangod/RocksDBEngine/RocksDBValue.cpp
  arangod/RocksDBEngine/RocksDBValue.h
  lib/Basics/Common.h
  lib/Logger/LogMacros.h
  lib/Utilities/Timers.h
  utils/generateDocumentation.sh
Labels: 1 Feature, 3 Core, 3 RocksDB, performance

#5353 Fix Foxx queues (3.3)
  CHANGELOG
  js/client/tests/authentication/user-access-right-foxx-queue-general-spec.js
  js/client/tests/shell/shell-foxx-queue-spec.js
  js/common/test-data/apps/queue/index.js
  js/server/modules/@arangodb/foxx/queues/manager.js
Labels: 3 Foxx, 3 Foxx Queues

#5305 Bug-fix Foxx empty json request body (3.3)
  js/apps/system/_api/foxx/APP/index.js
  js/client/tests/shell/shell-foxx-api-spec.js
  js/server/modules/@arangodb/foxx/types.js
Labels: 3 Foxx

#5352 Fix Foxx queues
  CHANGELOG
  js/client/tests/authentication/user-access-right-foxx-queue-general-spec.js
  js/client/tests/shell/shell-foxx-queue-spec.js
  js/common/test-data/apps/queue/index.js
  js/server/modules/@arangodb/foxx/queues/manager.js
Labels: 3 Foxx, 3 Foxx Queues, 9 External Review

#5304 Bug-fix Foxx empty json request body
  js/apps/system/_api/foxx/APP/index.js
  js/client/tests/shell/shell-foxx-api-spec.js
  js/server/modules/@arangodb/foxx/types.js
Labels: 3 Foxx, 9 Review Required

#4991 Bug fix/mac os build bundle update failure
  Installation/MacOSX/Bundle/arangodb-cli.sh.in
  scripts/build-bundle.sh
Labels: 9 Review Required

#5302 aql current_user in cpp, test
  arangod/Aql/AqlFunctionFeature.cpp
  arangod/Aql/Functions.cpp
  arangod/Aql/Functions.h
  js/client/tests/authentication/auth.js
  js/client/tests/authentication/user-access-right-foxx-spec.js
  js/common/test-data/apps/minimal-working-service/index.js
  js/server/tests/aql/aql-functions-misc.js
Labels: 9 WIP

#5395 fixed a vulnerability issue within the web ui's index view
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/frontend/js/views/indicesView.js
Labels: 9 Ready to Merge

#5396 fixed a vulnerability issue within the web ui's index view
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/frontend/js/views/indicesView.js
Labels: 9 Ready to Merge

#5308 Doc - New Example 'Multiple Path Search'
  Documentation/Books/AQL/Examples/MultiplePaths.md
  Documentation/Books/AQL/Examples/sp_graph.png
  Documentation/Books/AQL/SUMMARY.md
Labels: 3 Documentation

#5442 Updated paths to fit ArangoDB v3
  Documentation/Books/Cookbook/Compiling/Debian.md
Labels: 3 Documentation, 9 Ready to Merge

#5443 Updated paths to fit ArangoDB v3
  Documentation/Books/Cookbook/Compiling/Debian.md
Labels: 3 Documentation, 9 Ready to Merge

#5268 WIP - start adding optional overwrite to insert operation (RepSert)
  CHANGELOG
  Documentation/Books/Manual/DataModeling/Documents/DocumentMethods.md
  Documentation/DocuBlocks/Rest/Documents/post_create_document.md
  UnitTests/HttpInterface/api-document-create-spec.rb
  arangod/Aql/Ast.cpp
  arangod/Aql/Collection.cpp
  arangod/Aql/ExecutionNode.cpp
  arangod/Aql/ExecutionPlan.cpp
  arangod/Aql/ExecutionPlan.h
  arangod/Aql/ModificationBlocks.cpp
  arangod/Aql/ModificationNodes.cpp
  arangod/Aql/ModificationNodes.h
  arangod/Aql/ModificationOptions.cpp
  arangod/Aql/ModificationOptions.h
  arangod/Auth/UserManager.cpp
  arangod/Cluster/ClusterMethods.cpp
  arangod/Cluster/ClusterMethods.h
  arangod/RestHandler/RestDocumentHandler.cpp
  arangod/RestHandler/RestVocbaseBaseHandler.cpp
  arangod/RestHandler/RestVocbaseBaseHandler.h
  arangod/Transaction/Helpers.cpp
  arangod/Transaction/Methods.cpp
  arangod/Transaction/Methods.h
  arangod/Utils/OperationOptions.h
  arangod/Utils/OperationResult.h
  arangod/V8Server/v8-collection.cpp
  arangod/VocBase/LogicalCollection.h
  js/client/modules/@arangodb/arango-collection.js
  js/common/tests/http/document-babies-spec.js
  js/common/tests/shell/shell-document.js
  js/server/tests/aql/aql-modify-cluster.js
  lib/Basics/StaticStrings.cpp
  lib/Basics/StaticStrings.h
  lib/V8/v8-globals.cpp
Labels: 1 Feature, 3 API, 9 Review Required

#5365 Updated Geo.md - typos and wrong distance query
  Documentation/Books/AQL/Functions/Geo.md
  Documentation/Books/AQL/Functions/GeoConstructors.md
  Documentation/Books/AQL/SUMMARY.md
  Documentation/Books/Manual/Indexing/Geo.md
  Documentation/Books/build.sh
  Documentation/Examples/aqlGeoLineString_1.generated
  Documentation/Examples/aqlGeoMultiLineString_1.generated
  Documentation/Examples/aqlGeoMultiPoint_1.generated
  Documentation/Examples/aqlGeoPoint_1.generated
  Documentation/Examples/aqlGeoPolygon_1.generated
  Documentation/Examples/aqlGeoPolygon_2.generated
Labels: 3 Documentation, 9 Ready to Merge

#4092 add exclusive option for write operations
  arangod/Aql/Ast.cpp
  arangod/Aql/Ast.h
  arangod/Aql/Collection.cpp
  arangod/Aql/Collection.h
  arangod/Aql/Collections.cpp
  arangod/Aql/EngineInfoContainerCoordinator.cpp
  arangod/Aql/ExecutionEngine.cpp
  arangod/Aql/ExecutionPlan.cpp
  arangod/Aql/ExecutionPlan.h
  arangod/Aql/ModificationOptions.cpp
  arangod/Aql/ModificationOptions.h
  arangod/Aql/Parser.cpp
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
  arangod/Aql/RestAqlHandler.cpp
  arangod/Aql/RestAqlHandler.h
  arangod/VocBase/AccessMode.h
  tests/Aql/EngineInfoContainerCoordinatorTest.cpp
Labels: 9 Ongoing Discussion, 9 WIP

#5463 replace absolute links to the rest of the arangodb documentation with relative ones
  Documentation/Books/Drivers/JS/GettingStarted/README.md
  Documentation/Books/Drivers/JS/README.md
  Documentation/Books/Drivers/JS/Reference/Collection/BulkImport.md
  Documentation/Books/Drivers/JS/Reference/Collection/CollectionManipulation.md
  Documentation/Books/Drivers/JS/Reference/Collection/DocumentCollection.md
  Documentation/Books/Drivers/JS/Reference/Collection/DocumentManipulation.md
  Documentation/Books/Drivers/JS/Reference/Collection/EdgeCollection.md
  Documentation/Books/Drivers/JS/Reference/Collection/Indexes.md
  Documentation/Books/Drivers/JS/Reference/Collection/README.md
  Documentation/Books/Drivers/JS/Reference/Collection/SimpleQueries.md
  Documentation/Books/Drivers/JS/Reference/Cursor.md
  Documentation/Books/Drivers/JS/Reference/Database/AqlUserFunctions.md
  Documentation/Books/Drivers/JS/Reference/Database/CollectionAccess.md
  Documentation/Books/Drivers/JS/Reference/Database/DatabaseManipulation.md
  Documentation/Books/Drivers/JS/Reference/Database/FoxxServices.md
  Documentation/Books/Drivers/JS/Reference/Database/GraphAccess.md
  Documentation/Books/Drivers/JS/Reference/Database/HttpRoutes.md
  Documentation/Books/Drivers/JS/Reference/Database/Queries.md
  Documentation/Books/Drivers/JS/Reference/Database/README.md
  Documentation/Books/Drivers/JS/Reference/Database/Transactions.md
  Documentation/Books/Drivers/JS/Reference/Graph/EdgeCollection.md
  Documentation/Books/Drivers/JS/Reference/Graph/Edges.md
  Documentation/Books/Drivers/JS/Reference/Graph/README.md
  Documentation/Books/Drivers/JS/Reference/Graph/VertexCollection.md
  Documentation/Books/Drivers/JS/Reference/Graph/Vertices.md
  Documentation/Books/Drivers/JS/Reference/README.md
  Documentation/Books/Drivers/JS/Reference/Route.md
  Documentation/Books/Drivers/Java/Reference/README.md
  Documentation/Books/Drivers/SUMMARY.md
  Documentation/Books/Drivers/SpringData/GettingStarted/README.md
  Documentation/Books/Drivers/SpringData/README.md
  Documentation/Books/Drivers/SpringData/Reference/README.md
  Documentation/Books/Manual/Deployment/Kubernetes/DeploymentResource.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_replace_by_example.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_update_by_example.md
  Documentation/Scripts/fetchRefs.sh
  js/apps/system/_admin/aardvark/APP/api-docs.json
Labels: 9 WIP

#5477 Bug fix/cleanup 2805
  arangod/Aql/EnumerateCollectionBlock.cpp
  arangod/Aql/Expression.cpp
  arangod/Aql/Functions.cpp
  arangod/Aql/IndexBlock.cpp
  arangod/Aql/ModificationBlocks.cpp
  arangod/ClusterEngine/ClusterAqlFunctions.cpp
  arangod/ClusterEngine/ClusterAqlFunctions.h
  arangod/ClusterEngine/ClusterCollection.h
  arangod/ClusterEngine/ClusterEngine.cpp
  arangod/ClusterEngine/ClusterIndex.cpp
  arangod/ClusterEngine/ClusterTransactionCollection.h
  arangod/ClusterEngine/ClusterTransactionState.cpp
  arangod/GeneralServer/GeneralCommTask.cpp
  arangod/Graph/SingleServerEdgeCursor.cpp
  arangod/MMFiles/MMFilesCollectorThread.cpp
  arangod/RestHandler/RestRepairHandler.cpp
  arangod/Utils/OperationCursor.cpp
  arangod/Utils/OperationCursor.h
  arangod/V8Server/V8DealerFeature.h
  arangod/VocBase/voc-types.h
  lib/Basics/Thread.cpp
  lib/Basics/Thread.h
  lib/Basics/VelocyPackHelper.cpp
  lib/Basics/files.cpp
Labels: 9 Ready to Merge
