Repository arangodb/arangodb, pull requests merged in 2021-03, with the labels that each got.

#13613 Docs: Don't list implied introducedIn versions
  arangod/RestServer/QueryRegistryFeature.cpp
  arangod/RocksDBEngine/RocksDBEngine.cpp
  arangod/StorageEngine/RocksDBOptionFeature.cpp
  arangosh/Dump/DumpFeature.cpp
  arangosh/Shell/ConsoleFeature.cpp
  lib/Logger/LoggerFeature.cpp
Labels: 3 Documentation

#13612 Docs: Don't list implied introducedIn versions
  arangod/RestServer/QueryRegistryFeature.cpp
  arangod/RocksDBEngine/RocksDBEngine.cpp
  arangod/StorageEngine/RocksDBOptionFeature.cpp
  arangosh/Dump/DumpFeature.cpp
  arangosh/Shell/ConsoleFeature.cpp
  lib/Logger/LoggerFeature.cpp
Labels: 3 Documentation

#13621 Bug fix 3.7/cursor write indexed results
  3rdParty/velocypack/include/velocypack/Builder.h
  CHANGELOG
  arangod/Aql/Query.cpp
  arangod/Aql/QueryCursor.cpp
  tests/Aql/QueryCursorTest.cpp
  tests/CMakeLists.txt
  tests/Mocks/Servers.cpp
  tests/Mocks/Servers.h
  tests/js/common/shell/shell-query-cache-noncluster.js
Labels: 3 Driver

#13558 Disable ligatures in CSS for Ace editor / fix mode-aql.js
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/frontend/scss/_general.scss
  js/apps/system/_admin/aardvark/APP/react/public/assets/src/mode-aql.js
Labels: 1 Bug, 3 UI

#13560 fixed BTS-309
  CHANGELOG
  arangod/Graph/GraphOperations.cpp
  js/common/bootstrap/errors.js
  lib/Basics/error-registry.h
  lib/Basics/errors.dat
  lib/Basics/voc-errors.h
  lib/Rest/GeneralResponse.cpp
  tests/js/client/http/api-gharial-spec.js
  tests/rb/HttpInterface/api-general-graph-spec.rb
Labels: 1 Bug, 9 Ongoing Discussion

#13646 Feature/UI additional figures
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/frontend/js/models/arangoCollectionModel.js
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/modalCollectionInfo.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/views/infoView.js
  js/apps/system/_admin/aardvark/APP/frontend/scss/_arangoTable.scss
  js/apps/system/_admin/aardvark/APP/frontend/scss/_collection.scss
  js/apps/system/_admin/aardvark/APP/frontend/scss/_colors.scss
Labels: 1 Feature, 3 UI

#13637 Feature/UI cluster logs
  CHANGELOG
  Documentation/DocuBlocks/Rest/Administration/get_admin_log.md
  arangod/RestHandler/RestAdminLogHandler.cpp
  js/apps/system/_admin/aardvark/APP/frontend/js/arango/arango.js
  js/apps/system/_admin/aardvark/APP/frontend/js/collections/arangoLogs.js
  js/apps/system/_admin/aardvark/APP/frontend/js/routers/router.js
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/dashboardView.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/loggerView.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/views/dashboardView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/loggerView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/nodeView.js
  lib/Rest/GeneralRequest.cpp
  lib/Rest/GeneralRequest.h
Labels: 1 Feature, 3 UI

#13644 BTS-309: Rename error message 1947 to match actual behavior
  CHANGELOG
  Documentation/DocuBlocks/Rest/Graph/general_graph_edge_create_http_examples.md
  arangod/Graph/GraphOperations.cpp
  js/common/bootstrap/errors.js
  lib/Basics/error-registry.h
  lib/Basics/errors.dat
  lib/Basics/voc-errors.h
  lib/Rest/GeneralResponse.cpp
  tests/js/client/http/api-gharial-spec.js
  tests/rb/HttpInterface/api-general-graph-spec.rb
Labels: 1 Bug, 3 Graph

#13661 TTL index: Correct & improve API description of expireAfter
  Documentation/DocuBlocks/Rest/Indexes/post_api_index_ttl.md
Labels: 3 Documentation, 3 Index

#13647 Bug fix 3.7/gharial create edge return status code
  CHANGELOG
  Documentation/DocuBlocks/Rest/Graph/general_graph_edge_create_http_examples.md
  arangod/Graph/GraphOperations.cpp
  js/common/bootstrap/errors.js
  lib/Basics/errors.dat
  lib/Basics/voc-errors.cpp
  lib/Basics/voc-errors.h
  lib/Rest/GeneralResponse.cpp
  tests/js/client/http/api-gharial-spec.js
  tests/rb/HttpInterface/api-general-graph-spec.rb
Labels: 1 Bug, 9 Review Required

#13648 Bug fix 3.6/gharial create edge return status code
  CHANGELOG
  Documentation/DocuBlocks/Rest/Graph/general_graph_edge_create_http_examples.md
  arangod/Graph/GraphOperations.cpp
  js/common/bootstrap/errors.js
  lib/Basics/errors.dat
  lib/Basics/voc-errors.cpp
  lib/Basics/voc-errors.h
  lib/Rest/GeneralResponse.cpp
  tests/js/client/http/api-gharial-spec.js
  tests/rb/HttpInterface/api-general-graph-spec.rb
Labels: 1 Bug, 9 Review Required

#13649 make a hot backup test less whimsical
  tests/js/client/shell/shell-deadlock-trx-hotbackup-cluster.js
Labels: 3 - Testing, 3 ImportExport, 9 Ready to Merge

#13611 Docs: Update Gharial error codes (DocuBlocks) (#10760)
  Documentation/DocuBlocks/Rest/AQL/post_api_explain.md
  Documentation/DocuBlocks/Rest/Cursors/post_api_cursor.md
  Documentation/DocuBlocks/Rest/Database/get_api_database_list.md
  Documentation/DocuBlocks/Rest/Graph/general_graph_create_http_examples.md
  Documentation/DocuBlocks/Rest/Graph/general_graph_edge_create_http_examples.md
  Documentation/DocuBlocks/Rest/Graph/general_graph_edge_definition_modify_http_examples.md
  Documentation/DocuBlocks/Rest/Replication/get_api_replication_logger_follow.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_all.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_by_example.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_first_example.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_fulltext.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_near.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_range.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_within.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_within_rectangle.md
  Documentation/DocuBlocks/Rest/Transactions/post_api_transaction.md
  Documentation/DocuBlocks/Rest/Transactions/post_api_transaction_begin.md
Labels: 3 API, 3 Documentation, 9 Ready to Merge

#13610 Docs: Update Gharial error codes (DocuBlocks) (#10760)
  Documentation/DocuBlocks/Rest/AQL/post_api_explain.md
  Documentation/DocuBlocks/Rest/Cursors/post_api_cursor.md
  Documentation/DocuBlocks/Rest/Database/get_api_database_list.md
  Documentation/DocuBlocks/Rest/Graph/general_graph_create_http_examples.md
  Documentation/DocuBlocks/Rest/Graph/general_graph_edge_create_http_examples.md
  Documentation/DocuBlocks/Rest/Graph/general_graph_edge_definition_modify_http_examples.md
  Documentation/DocuBlocks/Rest/Replication/get_api_replication_logger_follow.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_all.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_by_example.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_first_example.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_fulltext.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_near.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_range.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_within.md
  Documentation/DocuBlocks/Rest/Simple Queries/put_api_simple_within_rectangle.md
  Documentation/DocuBlocks/Rest/Transactions/post_api_transaction.md
  Documentation/DocuBlocks/Rest/Transactions/post_api_transaction_begin.md
Labels: 3 API, 3 Documentation, 9 Ready to Merge

#13652 Fixed web UI "not authorized to execute this request" error
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/aardvark.js
  js/apps/system/_admin/aardvark/APP/react/build/asset-manifest.json
  js/apps/system/_admin/aardvark/APP/react/build/precache-manifest.17fa9c2aaae46723f4126b734f0115c4.js.gz
  js/apps/system/_admin/aardvark/APP/react/build/precache-manifest.abec165c95822894bee0bbc0c92bf377.js
  js/apps/system/_admin/aardvark/APP/react/build/precache-manifest.abec165c95822894bee0bbc0c92bf377.js.gz
  js/apps/system/_admin/aardvark/APP/react/build/service-worker.js
  js/apps/system/_admin/aardvark/APP/react/build/service-worker.js.gz
Labels: 3 UI, 9 Ready to Merge

#13651 Fixed web UI "not authorized to execute this request" error
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/aardvark.js
Labels: 3 UI, 9 Ready to Merge

#13659 Fix lost coordinators in UI after long maintenance
  CHANGELOG
  arangod/Agency/Supervision.cpp
Labels: 3 Cluster, 3 UI

#13663 TTL index: Correct & improve API description of expireAfter
  Documentation/DocuBlocks/Rest/Indexes/post_api_index_ttl.md
Labels: 3 Documentation, 3 Index, 9 Ready to Merge

#13664 TTL index: Correct & improve API description of expireAfter
  Documentation/DocuBlocks/Rest/Indexes/post_api_index_ttl.md
Labels: 3 Documentation, 3 Index, 9 Ready to Merge

#13640 Feature/UI maintenance view
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/aardvark.js
  js/apps/system/_admin/aardvark/APP/frontend/js/arango/arango.js
  js/apps/system/_admin/aardvark/APP/frontend/js/routers/router.js
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/maintenanceView.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/modalCollectionInfo.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/views/clusterView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/maintenanceView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/navigationView.js
  js/apps/system/_admin/aardvark/APP/frontend/scss/_modals.scss
Labels: 1 Feature, 3 UI

#13662 Feature/UI metrics view
  CHANGELOG
  arangod/CMakeLists.txt
  arangod/RestHandler/RestAdminLogHandler.cpp
  arangod/RestHandler/RestMetricsHandler.cpp
  arangod/RestServer/Metrics.cpp
  arangod/RestServer/Metrics.h
  arangod/RocksDBEngine/RocksDBEngine.cpp
  arangod/Statistics/StatisticsFeature.cpp
  arangod/V8Server/v8-statistics.cpp
  js/apps/system/_admin/aardvark/APP/aardvark.js
  js/apps/system/_admin/aardvark/APP/frontend/js/arango/arango.js
  js/apps/system/_admin/aardvark/APP/frontend/js/collections/arangoMetrics.js
  js/apps/system/_admin/aardvark/APP/frontend/js/models/metricModel.js
  js/apps/system/_admin/aardvark/APP/frontend/js/routers/router.js
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/dashboardView.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/infoView.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/metricsView.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/views/dashboardView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/documentsView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/loggerView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/metricsView.js
  js/apps/system/_admin/aardvark/APP/frontend/scss/_metrics.scss
  js/apps/system/_admin/aardvark/APP/frontend/scss/style.scss
  js/apps/system/_admin/aardvark/APP/react/package-lock.json
  js/apps/system/_admin/aardvark/APP/react/package.json
  js/apps/system/_admin/aardvark/APP/react/src/App.js
  js/server/bootstrap/modules/internal.js
Labels: 1 Feature, 3 UI, 9 Review Required

#13674 Added `--documents-per-batch` option to arangoexport.
  CHANGELOG
  arangod/Aql/QueryContext.h
  arangod/Aql/QueryCursor.cpp
  arangod/RestHandler/RestCursorHandler.cpp
  arangosh/Export/ExportFeature.cpp
  arangosh/Export/ExportFeature.h
  lib/Basics/ResourceUsage.cpp
  lib/Basics/ResourceUsage.h
Labels: 9 Ready to Merge

#13657 moveshard vpack iterator uses hardened against non-array slice
  CHANGELOG
  arangod/Agency/MoveShard.cpp
  tests/Agency/MoveShardTest.cpp
Labels: 1 Bug

#13680 fixed issue #13632
  CHANGELOG
  arangod/Aql/Functions.cpp
  tests/js/server/aql/aql-functions.js
Labels: 1 Bug, 3 AQL

#13641 Bug fix: only respond qualified as shard leader
  CHANGELOG
  arangod/Transaction/Methods.cpp
Labels: 1 Bug

#13642 Bug fix [3.7]: only respond qualified as shard leader
  CHANGELOG
  arangod/Transaction/Methods.cpp
Labels: 1 Bug

#13671 [3.7] fix moveshard, when missing current entry to a shard
  CHANGELOG
  arangod/Agency/MoveShard.cpp
  tests/Agency/MoveShardTest.cpp
Labels: 1 Bug, 3 Cluster

#13693 Feature/UI cluster shard distribution view
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/frontend/js/arango/arango.js
  js/apps/system/_admin/aardvark/APP/frontend/js/routers/router.js
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/maintenanceView.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/modalCollectionInfo.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/shardDistributionView.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/views/clusterView.js
  js/apps/system/_admin/aardvark/APP/frontend/js/views/shardDistributionView.js
  js/apps/system/_admin/aardvark/APP/frontend/scss/_newDashboard.scss
  js/apps/system/_admin/aardvark/APP/frontend/scss/_shardDistribution.scss
  js/apps/system/_admin/aardvark/APP/frontend/scss/style.scss
Labels: 1 Feature, 3 UI, 9 Review Required

#13695 added more metric specific dashboard entries if available
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/frontend/js/views/dashboardView.js
Labels: 1 Feature, 3 UI

#13697 displays agents in the node overview view
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/nodesView.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/views/nodesView.js
Labels: 1 Feature, 3 UI, 9 Review Required

#13700 Feature/UI dashboard agents and optimizations
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/clusterView.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/views/clusterView.js
Labels: 1 Feature, 3 UI, 9 Review Required

#13713 Index Count Optimization Uniqueness
  CHANGELOG
  arangod/Aql/IndexExecutor.cpp
  tests/js/server/aql/aql-optimizer-rule-optimize-count.js
Labels: 1 Bug

#13723 documentation for index selectivity estimates
  Documentation/DocuBlocks/Rest/Indexes/post_api_index.md
  Documentation/DocuBlocks/Rest/Indexes/post_api_index_persistent.md
Labels: 3 Documentation

#13716 Tests/unittest traverser cache
  arangod/Aql/KShortestPathsNode.cpp
  arangod/Graph/Cache/RefactoredClusterTraverserCache.cpp
  arangod/Graph/Cache/RefactoredClusterTraverserCache.h
  arangod/Graph/Providers/BaseProviderOptions.cpp
  arangod/Graph/Providers/BaseProviderOptions.h
  arangod/Graph/Providers/ClusterProvider.cpp
  arangod/Graph/Providers/TypeAliases.h
  tests/Graph/ClusterTraverserCacheTest.cpp
  tests/Graph/GenericGraphProviderTest.cpp
Labels: 9 Ready to Merge

#13643 Bug fix [3.6]: only respond qualified as shard leader
  3rdParty/iresearch/core/store/memory_directory.cpp
  CHANGELOG
  arangod/Cluster/FollowerInfo.cpp
  arangod/Transaction/Methods.cpp
Labels: 1 Bug

#13720 Moveshard Iterator hardening as detected by chaos
  CHANGELOG
  arangod/Agency/MoveShard.cpp
  tests/Agency/MoveShardTest.cpp
Labels: 1 Bug

#13732 Bug fix 3.6/save unique id counter in agency with each hotback
  CHANGELOG
  arangod/Cluster/ClusterFeature.cpp
  arangod/Cluster/ClusterFeature.h
  arangod/Cluster/ClusterInfo.cpp
  arangod/Cluster/v8-cluster.cpp
  tests/js/server/dump/dump-rocksdb-cluster.js
  tests/js/server/dump/dump-rocksdb-modify.js
Labels: 3 ImportExport

#13748 added missing documentation for extended REST APIs
  Documentation/DocuBlocks/Rest/Administration/get_admin_log.md
  Documentation/DocuBlocks/Rest/Administration/get_admin_metrics.md
Labels: 3 API, 3 Documentation

#13741 change feature order so that ServerIdFeature is before ReplicationFeature
  CHANGELOG
  arangod/Replication/ReplicationFeature.cpp
Labels: 3 Master/Slave Replication

#13717 [3.7] Index Count Optimization Uniqueness
  CHANGELOG
  arangod/Aql/IndexExecutor.cpp
  tests/js/server/aql/aql-optimizer-rule-optimize-count.js
Labels: 3 Optimizer, 9 Ready to Merge

#13721 [3.7] cost estimate spliced subquery no results
  CHANGELOG
  arangod/Aql/CostEstimate.cpp
  arangod/Aql/ExecutionNode.cpp
  tests/js/server/aql/aql-optimizer-costs.js
Labels: 1 Bug, 3 AQL, 9 Ready to Merge

#13746 implemented destroy engines
  arangod/Graph/Providers/ClusterProvider.cpp
  arangod/Graph/Providers/ClusterProvider.h
  tests/Graph/GenericGraphProviderTest.cpp
Labels: 1 Bug, 3 Graph

#13760 Fixed logical error in MockGraphProviderTest
  tests/Graph/GenericGraphProviderTest.cpp
Labels: 3 - Testing, 3 Graph

#13607 Docs: Pregel HTTP API
  Documentation/DocuBlocks/Rest/Pregel/delete_api_control_pregel_cancel.md
  Documentation/DocuBlocks/Rest/Pregel/get_api_control_pregel_status.md
  Documentation/DocuBlocks/Rest/Pregel/post_api_control_pregel_start.md
  arangod/Utils/OperationOptions.h
  js/apps/system/_admin/aardvark/APP/aardvark.js
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/modalGraphTable.ejs
  js/common/modules/@arangodb/examples/examples.js
  js/common/modules/@arangodb/graph-examples/example-graph.js
Labels: 1 Bug, 3 API, 3 Documentation, 3 Pregel

#13709 Fix slower-than-necessary arangoimport behavior:
  CHANGELOG
  arangosh/Import/AutoTuneThread.cpp
  arangosh/Import/ImportFeature.cpp
  arangosh/Import/ImportHelper.cpp
  arangosh/Import/ImportHelper.h
Labels: 3 ImportExport

#13711 Compact collection and index ranges in background
  CHANGELOG
  arangod/ClusterEngine/ClusterCollection.cpp
  arangod/ClusterEngine/ClusterCollection.h
  arangod/RestHandler/RestCollectionHandler.cpp
  arangod/RocksDBEngine/RocksDBBackgroundThread.cpp
  arangod/RocksDBEngine/RocksDBEngine.cpp
  arangod/RocksDBEngine/RocksDBEngine.h
  arangod/RocksDBEngine/RocksDBIndex.cpp
  arangod/RocksDBEngine/RocksDBMetaCollection.cpp
  arangod/RocksDBEngine/RocksDBMetaCollection.h
  arangod/StorageEngine/PhysicalCollection.h
  arangod/VocBase/LogicalCollection.cpp
  arangod/VocBase/LogicalCollection.h
  tests/Mocks/StorageEngineMock.cpp
  tests/Mocks/StorageEngineMock.h
Labels: 3 Index, 3 RocksDB

#13742 backport a bugfix from upstream RocksDB for opening encrypted files
  3rdParty/rocksdb/6.8/env/env_encryption.cc
  CHANGELOG
Labels: 3 RocksDB

#13755 allow dynamic logfile names for testing
  CHANGELOG
  lib/Logger/LoggerFeature.cpp
  tests/js/client/server_parameters/log-max-length-default.js
  tests/js/client/server_parameters/log-max-length-large.js
  tests/js/client/server_parameters/log-max-length-small.js
Labels: 1 Bug

#13726 Tests/unittest c++ standalone traverser cache
  arangod/Graph/Cache/RefactoredTraverserCache.cpp
  arangod/Graph/Cache/RefactoredTraverserCache.h
  arangod/Graph/Providers/SingleServerProvider.cpp
  arangod/Graph/Providers/SingleServerProvider.h
  tests/CMakeLists.txt
  tests/Graph/TraverserCacheTest.cpp
Labels: 3 - Testing, 3 Graph

#13687 fix issue #13665: Improve index selection when there are multiple candidate indexes
  CHANGELOG
  arangod/Aql/OptimizerUtils.cpp
  arangod/Aql/SortCondition.cpp
  arangod/ClusterEngine/ClusterIndex.cpp
  arangod/ClusterEngine/ClusterIndex.h
  arangod/Indexes/Index.cpp
  arangod/Indexes/Index.h
  arangod/Indexes/SortedIndexAttributeMatcher.cpp
  arangod/Indexes/SortedIndexAttributeMatcher.h
  arangod/RocksDBEngine/RocksDBIndex.h
  arangod/RocksDBEngine/RocksDBVPackIndex.cpp
  tests/IResearch/IResearchAnalyzerFeature-test.cpp
  tests/Mocks/IResearchLinkMock.cpp
  tests/Mocks/IResearchLinkMock.h
  tests/Mocks/StorageEngineMock.cpp
  tests/StorageEngine/PhysicalCollectionTest.cpp
  tests/js/server/aql/aql-index-choice.js
  tests/js/server/shell/shell-index-selectivity.js
Labels: 3 Optimizer

#13771 Fix an assertion failure that occurred when restoring view definitions from a cluster into a single server
  CHANGELOG
  arangod/IResearch/IResearchLinkMeta.cpp
Labels: 3 ArangoSearch

#13497 Docs: Correct description of streaming cursor
  Documentation/DocuBlocks/Rest/Cursors/post_api_cursor.md
Labels: 3 API, 3 Documentation

#13768 Switch to GCC 10 as the default compiler
  CHANGELOG
  CMakeLists.txt
  VERSIONS
Labels: 3 Build

#13775 Fix an assertion failure that occurred when restoring view definitions from a cluster into a single server
  arangod/IResearch/IResearchLinkMeta.cpp
Labels: 3 ArangoSearch, 3 Cluster

#13776 document several metrics
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_agency_cache_callback_number.yaml
  Documentation/Metrics/arangodb_agency_callback_number.yaml
  Documentation/Metrics/arangodb_agency_callback_registered_total.yaml
  Documentation/Metrics/arangodb_agency_client_lookup_table_size.yaml
  Documentation/Metrics/arangodb_agency_log_size_bytes.yaml
  Documentation/Metrics/arangodb_aql_all_query_total.yaml
  Documentation/Metrics/arangodb_aql_current_query.yaml
  Documentation/Metrics/arangodb_aql_global_memory_limit.yaml
  Documentation/Metrics/arangodb_aql_global_memory_usage.yaml
  Documentation/Metrics/arangodb_aql_query_time.yaml
  Documentation/Metrics/arangodb_aql_slow_query_time.yaml
  Documentation/Metrics/arangodb_aql_total_query_time_msec_total.yaml
  Documentation/Metrics/arangodb_dropped_followers_total.yaml
  Documentation/Metrics/arangodb_intermediate_commits_total.yaml
  Documentation/Metrics/arangodb_network_request_duration_as_percentage_of_timeout.yaml
  Documentation/Metrics/arangodb_refused_followers_total.yaml
  Documentation/Metrics/arangodb_server_statistics_cpu_cores.yaml
  Documentation/Metrics/arangodb_server_statistics_idle_percent.yaml
  Documentation/Metrics/arangodb_server_statistics_iowait_percent.yaml
  Documentation/Metrics/arangodb_server_statistics_physical_memory.yaml
  Documentation/Metrics/arangodb_server_statistics_server_uptime_total.yaml
  Documentation/Metrics/arangodb_server_statistics_system_percent.yaml
  Documentation/Metrics/arangodb_server_statistics_user_percent.yaml
  Documentation/Metrics/arangodb_transactions_aborted_total.yaml
  Documentation/Metrics/arangodb_transactions_committed_total.yaml
  Documentation/Metrics/arangodb_transactions_expired_total.yaml
  Documentation/Metrics/arangodb_transactions_started_total.yaml
  arangod/RestServer/MetricsFeature.cpp
  arangod/RestServer/MetricsFeature.h
Labels: 3 Documentation

#13779 Make metrics script more robust
  utils/generateAllMetricsDocumentation.py
Labels: 3 Documentation

#13782 Bug fix 3.8/query stuck at shutdown
  CHANGELOG
  arangod/Aql/Query.cpp
  tests/js/client/shell/aql-failures-cluster.js
  tests/js/server/aql/aql-failures-both.js
Labels: 3 AQL, 9 Ready to Merge

#13787 Fixed unused variable warning
  tests/Graph/GenericGraphProviderTest.cpp
Labels: 3 - Testing, 3 Graph

#13751 Aardvark: Update list of built-in functions for AQL highlighter
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/react/public/assets/src/mode-aql.js
Labels: 1 Bug, 3 AQL, 3 UI

#13796 Use RebootTracker to abort cluster transactions on DB servers
  CHANGELOG
  arangod/Cluster/RebootTracker.cpp
  arangod/Cluster/RebootTracker.h
  arangod/Transaction/Manager.cpp
  arangod/Transaction/Manager.h
  arangod/Transaction/Options.cpp
  arangod/Transaction/Options.h
  tests/Mocks/Servers.cpp
  tests/Mocks/Servers.h
  tests/main.cpp
Labels: 3 Cluster, 3 Transaction

#13783 Docs: Correct description of streaming cursor
  Documentation/DocuBlocks/Rest/Cursors/post_api_cursor.md
Labels: 3 API, 3 Documentation

#13784 Docs: Correct description of streaming cursor
  Documentation/DocuBlocks/Rest/Cursors/post_api_cursor.md
Labels: 3 API, 3 Documentation

#13795 Improvements for streaming transactions
  CHANGELOG
  arangod/Cluster/RebootTracker.cpp
  arangod/Cluster/RebootTracker.h
  arangod/ClusterEngine/ClusterTransactionState.cpp
  arangod/Transaction/Manager.cpp
  arangod/Transaction/Manager.h
  arangod/Transaction/ManagerFeature.cpp
  arangod/Transaction/ManagerFeature.h
  arangod/Transaction/Options.cpp
  arangod/Transaction/Options.h
  tests/Mocks/Servers.cpp
  tests/Mocks/Servers.h
  tests/js/client/server_parameters/test-transaction-idle-timeout-high.js
  tests/js/client/server_parameters/test-transaction-idle-timeout-low.js
  tests/main.cpp
Labels: 3 Transaction

#13801 Apply global AQL query memory limit by default
  CHANGELOG
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_aql_global_query_memory_limit_reached.yaml
  Documentation/Metrics/arangodb_aql_local_query_memory_limit_reached.yaml
  arangod/RestServer/QueryRegistryFeature.cpp
  arangod/RestServer/QueryRegistryFeature.h
  lib/Basics/GlobalResourceMonitor.cpp
  lib/Basics/GlobalResourceMonitor.h
  lib/Basics/ResourceUsage.cpp
  tests/js/client/server_parameters/test-global-memory-limit.js
  tests/js/client/server_parameters/test-memory-limit.js
Labels: 3 AQL

#13804 bug-fix-3.7/internal-issue-#802
  CHANGELOG
  arangod/Aql/IResearchViewNode.cpp
  tests/js/common/aql/aql-view-arangosearch-cluster.inc
  tests/js/common/aql/aql-view-arangosearch-noncluster.js
Labels: 3 ArangoSearch

#13803 bug-fix-3.7/internal-issue-#806
  CHANGELOG
  arangod/IResearch/IResearchFeature.cpp
  tests/js/common/aql/aql-view-arangosearch-noncluster.js
Labels: 3 ArangoSearch

#13810 Add scheduler job counter metrics.
  CHANGELOG
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_scheduler_jobs_dequeued_total.yaml
  Documentation/Metrics/arangodb_scheduler_jobs_done_total.yaml
  Documentation/Metrics/arangodb_scheduler_jobs_submitted_total.yaml
  arangod/RestServer/MetricsFeature.cpp
  arangod/RestServer/MetricsFeature.h
  arangod/Scheduler/SupervisedScheduler.cpp
  arangod/Scheduler/SupervisedScheduler.h
Labels: 3 Metrics

#13808 Small fixes for metrics
  CHANGELOG
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_collection_lock_sequential_mode_total.yaml
  Documentation/Metrics/arangodb_collection_lock_timeouts_exclusive_total.yaml
  Documentation/Metrics/arangodb_collection_lock_timeouts_write_total.yaml
  arangod/Agency/State.cpp
  arangod/Cluster/ServerState.cpp
  arangod/RestServer/MetricsFeature.cpp
  utils/generateAllMetricsDocumentation.py
Labels: 3 Metrics

#13815 Add documention for scheduler metrics
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_scheduler_awake_threads.yaml
  Documentation/Metrics/arangodb_scheduler_high_prio_queue_length.yaml
  Documentation/Metrics/arangodb_scheduler_jobs_dequeued.yaml
  Documentation/Metrics/arangodb_scheduler_jobs_dequeued_total.yaml
  Documentation/Metrics/arangodb_scheduler_jobs_done.yaml
  Documentation/Metrics/arangodb_scheduler_jobs_done_total.yaml
  Documentation/Metrics/arangodb_scheduler_jobs_submitted.yaml
  Documentation/Metrics/arangodb_scheduler_jobs_submitted_total.yaml
  Documentation/Metrics/arangodb_scheduler_low_prio_queue_last_dequeue_time.yaml
  Documentation/Metrics/arangodb_scheduler_low_prio_queue_length.yaml
  Documentation/Metrics/arangodb_scheduler_maintenance_prio_queue_length.yaml
  Documentation/Metrics/arangodb_scheduler_medium_prio_queue_length.yaml
  Documentation/Metrics/arangodb_scheduler_num_awake_threads.yaml
  Documentation/Metrics/arangodb_scheduler_num_worker_threads.yaml
  Documentation/Metrics/arangodb_scheduler_num_working_threads.yaml
  Documentation/Metrics/arangodb_scheduler_ongoing_low_prio.yaml
  Documentation/Metrics/arangodb_scheduler_queue_full_failures_total.yaml
  Documentation/Metrics/arangodb_scheduler_queue_length.yaml
  Documentation/Metrics/arangodb_scheduler_threads_started_total.yaml
  Documentation/Metrics/arangodb_scheduler_threads_stopped_total.yaml
  arangod/RestServer/MetricsFeature.cpp
  arangod/RestServer/MetricsFeature.h
  arangod/Scheduler/SupervisedScheduler.cpp
  arangod/Scheduler/SupervisedScheduler.h
Labels: 3 Documentation, 3 Metrics

#13823 fix cluster recovery test timeouts (#13792)
  js/client/modules/@arangodb/testsuites/recovery_cluster.js
Labels: 3 - Testing

#13831 documentation for more metrics
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_agency_commit_hist.yaml
  Documentation/Metrics/arangodb_agency_compaction_hist.yaml
  Documentation/Metrics/arangodb_agency_local_commit_index.yaml
  Documentation/Metrics/arangodb_heartbeat_failures_total.yaml
  Documentation/Metrics/arangodb_heartbeat_send_time_msec.yaml
  Documentation/Metrics/arangodb_load_current_runtime.yaml
  Documentation/Metrics/arangodb_load_plan_runtime.yaml
  Documentation/Metrics/arangodb_network_forwarded_requests_total.yaml
  arangod/Agency/Agent.cpp
  arangod/Agency/RestAgencyHandler.cpp
Labels: 3 Documentation, 3 Metrics

#13827 Rocksdb metrics documentation
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_scheduler_jobs_dequeued_total.yaml
  Documentation/Metrics/arangodb_scheduler_jobs_done_total.yaml
  Documentation/Metrics/arangodb_scheduler_jobs_submitted_total.yaml
  Documentation/Metrics/rocksdb_actual_delayed_write_rate.yaml
  Documentation/Metrics/rocksdb_background_errors.yaml
  Documentation/Metrics/rocksdb_base_level.yaml
  Documentation/Metrics/rocksdb_block_cache_capacity.yaml
  Documentation/Metrics/rocksdb_block_cache_pinned_usage.yaml
  Documentation/Metrics/rocksdb_block_cache_usage.yaml
  Documentation/Metrics/rocksdb_cache_allocated.yaml
  Documentation/Metrics/rocksdb_cache_hit_rate_lifetime.yaml
  Documentation/Metrics/rocksdb_cache_hit_rate_recent.yaml
  Documentation/Metrics/rocksdb_cache_limit.yaml
  Documentation/Metrics/rocksdb_compaction_pending.yaml
  Documentation/Metrics/rocksdb_compression_ratio_at_level0.yaml
  Documentation/Metrics/rocksdb_compression_ratio_at_level1.yaml
  Documentation/Metrics/rocksdb_compression_ratio_at_level2.yaml
  Documentation/Metrics/rocksdb_compression_ratio_at_level3.yaml
  Documentation/Metrics/rocksdb_compression_ratio_at_level4.yaml
  Documentation/Metrics/rocksdb_compression_ratio_at_level5.yaml
  Documentation/Metrics/rocksdb_compression_ratio_at_level6.yaml
  Documentation/Metrics/rocksdb_cur_size_active_mem_table.yaml
  Documentation/Metrics/rocksdb_cur_size_all_mem_tables.yaml
  Documentation/Metrics/rocksdb_engine_throttle_bps.yaml
  Documentation/Metrics/rocksdb_estimate_live_data_size.yaml
  Documentation/Metrics/rocksdb_estimate_num_keys.yaml
  Documentation/Metrics/rocksdb_estimate_pending_compaction_bytes.yaml
  Documentation/Metrics/rocksdb_estimate_table_readers_mem.yaml
  Documentation/Metrics/rocksdb_free_disk_space.yaml
  Documentation/Metrics/rocksdb_free_inodes.yaml
  Documentation/Metrics/rocksdb_is_file_deletions_enabled.yaml
  Documentation/Metrics/rocksdb_is_write_stopped.yaml
  Documentation/Metrics/rocksdb_live_sst_files_size.yaml
  Documentation/Metrics/rocksdb_mem_table_flush_pending.yaml
  Documentation/Metrics/rocksdb_min_log_number_to_keep.yaml
  Documentation/Metrics/rocksdb_num_deletes_active_mem_table.yaml
  Documentation/Metrics/rocksdb_num_deletes_imm_mem_tables.yaml
  Documentation/Metrics/rocksdb_num_entries_active_mem_table.yaml
  Documentation/Metrics/rocksdb_num_entries_imm_mem_tables.yaml
  Documentation/Metrics/rocksdb_num_files_at_level0.yaml
  Documentation/Metrics/rocksdb_num_files_at_level1.yaml
  Documentation/Metrics/rocksdb_num_files_at_level2.yaml
  Documentation/Metrics/rocksdb_num_files_at_level3.yaml
  Documentation/Metrics/rocksdb_num_files_at_level4.yaml
  Documentation/Metrics/rocksdb_num_files_at_level5.yaml
  Documentation/Metrics/rocksdb_num_files_at_level6.yaml
  Documentation/Metrics/rocksdb_num_immutable_mem_table.yaml
  Documentation/Metrics/rocksdb_num_immutable_mem_table_flushed.yaml
  Documentation/Metrics/rocksdb_num_live_versions.yaml
  Documentation/Metrics/rocksdb_num_running_compactions.yaml
  Documentation/Metrics/rocksdb_num_running_flushes.yaml
  Documentation/Metrics/rocksdb_num_snapshots.yaml
  Documentation/Metrics/rocksdb_oldest_snapshot_time.yaml
  Documentation/Metrics/rocksdb_size_all_mem_tables.yaml
  Documentation/Metrics/rocksdb_total_disk_space.yaml
  Documentation/Metrics/rocksdb_total_inodes.yaml
  Documentation/Metrics/rocksdb_total_sst_files_size.yaml
  Documentation/Metrics/rocksdbengine_throttle_bps.yaml
  arangod/RocksDBEngine/RocksDBEngine.cpp
Labels: 3 Documentation, 3 Metrics, 3 RocksDB

#13836 documentation for more metrics
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_agency_read_no_leader_total.yaml
  Documentation/Metrics/arangodb_agency_read_ok_total.yaml
  Documentation/Metrics/arangodb_agency_supervision_failed_server_total.yaml
  Documentation/Metrics/arangodb_agency_supervision_runtime_msec.yaml
  Documentation/Metrics/arangodb_agency_supervision_runtime_wait_for_replication_msec.yaml
  Documentation/Metrics/arangodb_agency_term.yaml
  Documentation/Metrics/arangodb_agency_write_hist.yaml
  Documentation/Metrics/arangodb_agency_write_no_leader_total.yaml
  Documentation/Metrics/arangodb_agency_write_ok_total.yaml
  Documentation/Metrics/arangodb_network_request_duration_as_percentage_of_timeout.yaml
  Documentation/Metrics/arangodb_network_request_timeouts_total.yaml
  Documentation/Metrics/arangodb_network_requests_in_flight.yaml
  arangod/Agency/Agent.cpp
Labels: 3 Documentation, 3 Metrics

#13814 Add documention for scheduler metrics.
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_collection_lock_acquisition_time.yaml
  Documentation/Metrics/arangodb_scheduler_awake_threads.yaml
  Documentation/Metrics/arangodb_scheduler_high_prio_queue_length.yaml
  Documentation/Metrics/arangodb_scheduler_low_prio_queue_last_dequeue_time.yaml
  Documentation/Metrics/arangodb_scheduler_low_prio_queue_length.yaml
  Documentation/Metrics/arangodb_scheduler_maintenance_prio_queue_length.yaml
  Documentation/Metrics/arangodb_scheduler_medium_prio_queue_length.yaml
  Documentation/Metrics/arangodb_scheduler_num_awake_threads.yaml
  Documentation/Metrics/arangodb_scheduler_num_worker_threads.yaml
  Documentation/Metrics/arangodb_scheduler_num_working_threads.yaml
  Documentation/Metrics/arangodb_scheduler_ongoing_low_prio.yaml
  Documentation/Metrics/arangodb_scheduler_queue_full_failures_total.yaml
  Documentation/Metrics/arangodb_scheduler_queue_length.yaml
  Documentation/Metrics/arangodb_scheduler_threads_started_total.yaml
  Documentation/Metrics/arangodb_scheduler_threads_stopped_total.yaml
  arangod/RestServer/MetricsFeature.cpp
  arangod/Scheduler/SupervisedScheduler.cpp
  arangod/Scheduler/SupervisedScheduler.h
Labels: 3 Documentation, 3 Metrics

#13839 Connection pool metrics documentation
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_connection_pool_connections_created_total.yaml
  Documentation/Metrics/arangodb_connection_pool_connections_current.yaml
  Documentation/Metrics/arangodb_connection_pool_lease_time_hist.yaml
  Documentation/Metrics/arangodb_connection_pool_leases_failed_total.yaml
  Documentation/Metrics/arangodb_connection_pool_leases_successful_total.yaml
  utils/makeDashboards.py
Labels: 3 Documentation, 3 Metrics

#13842 Add documentation for connection statistics metrics.
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_bytes_received.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_bytes_sent.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_client_connections.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_connection_time.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_io_time.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_queue_time.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_request_time.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_total_time.yaml
Labels: 3 Documentation, 3 Metrics

#13843 documentation-3.8/Add documentation for connection statistics metrics.
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_bytes_received.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_bytes_sent.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_client_connections.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_connection_time.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_io_time.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_queue_time.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_request_time.yaml
  Documentation/Metrics/arangodb_client_connection_statistics_total_time.yaml
Labels: 3 Documentation, 3 Metrics

#13841 V8 metrics documentation
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_v8_context_alive.yaml
  Documentation/Metrics/arangodb_v8_context_busy.yaml
  Documentation/Metrics/arangodb_v8_context_created_total.yaml
  Documentation/Metrics/arangodb_v8_context_creation_time_msec_total.yaml
  Documentation/Metrics/arangodb_v8_context_destroyed_total.yaml
  Documentation/Metrics/arangodb_v8_context_dirty.yaml
  Documentation/Metrics/arangodb_v8_context_enter_failures_total.yaml
  Documentation/Metrics/arangodb_v8_context_entered_total.yaml
  Documentation/Metrics/arangodb_v8_context_exited_total.yaml
  Documentation/Metrics/arangodb_v8_context_free.yaml
  Documentation/Metrics/arangodb_v8_context_max.yaml
  Documentation/Metrics/arangodb_v8_context_min.yaml
Labels: 3 Documentation, 3 Metrics

#13847 3.8 Feature/cleanup replication sync tailing metric statistics
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_replication_synchronous_requests_total_number_total.yaml
  Documentation/Metrics/arangodb_replication_synchronous_requests_total_time_total.yaml
  Documentation/Metrics/arangodb_replication_tailing_apply_time_total.yaml
  Documentation/Metrics/arangodb_replication_tailing_bytes_received_total.yaml
  Documentation/Metrics/arangodb_replication_tailing_documents_total.yaml
  Documentation/Metrics/arangodb_replication_tailing_follow_tick_failures_total.yaml
  Documentation/Metrics/arangodb_replication_tailing_markers_total.yaml
  Documentation/Metrics/arangodb_replication_tailing_removals_total.yaml
  Documentation/Metrics/arangodb_replication_tailing_request_time_total.yaml
  Documentation/Metrics/arangodb_replication_tailing_requests_total.yaml
Labels: 3 Documentation, 3 Metrics

#13846 Backport of #13834
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_process_statistics_major_page_faults_total.yaml
  Documentation/Metrics/arangodb_process_statistics_minor_page_faults_total.yaml
  Documentation/Metrics/arangodb_process_statistics_number_of_threads.yaml
  Documentation/Metrics/arangodb_process_statistics_resident_set_size_percent.yaml
  Documentation/Metrics/arangodb_process_statistics_system_time.yaml
  Documentation/Metrics/arangodb_process_statistics_user_time.yaml
  Documentation/Metrics/arangodb_process_statistics_virtual_memory_size.yaml
Labels: 3 Documentation, 3 Metrics

#13849 Initial sync replication metrics documentation
  Documentation/Metrics/allMetrics.yaml
  Documentation/Metrics/arangodb_agency_append_hist.yaml
  Documentation/Metrics/arangodb_replication_initial_chunks_requests_time_total.yaml
  Documentation/Metrics/arangodb_replication_initial_docs_requests_time_total.yaml
  Documentation/Metrics/arangodb_replication_initial_insert_apply_time_total.yaml
  Documentation/Metrics/arangodb_replication_initial_keys_requests_time_total.yaml
  Documentation/Metrics/arangodb_replication_initial_lookup_time_total.yaml
  Documentation/Metrics/arangodb_replication_initial_remove_apply_time_total.yaml
  Documentation/Metrics/arangodb_replication_initial_sync_bytes_received_total.yaml
  Documentation/Metrics/arangodb_replication_initial_sync_docs_inserted_total.yaml
  Documentation/Metrics/arangodb_replication_initial_sync_docs_removed_total.yaml
  Documentation/Metrics/arangodb_replication_initial_sync_docs_requested_total.yaml
  Documentation/Metrics/arangodb_replication_initial_sync_docs_requests_total.yaml
  Documentation/Metrics/arangodb_replication_initial_sync_keys_requests_total.yaml
  Documentation/Metrics/arangodb_rocksdb_write_stalls_total.yaml
  Documentation/Metrics/arangodb_rocksdb_write_stops_total.yaml
  arangod/Replication/DatabaseInitialSyncer.cpp
  arangod/Replication/ReplicationMetricsFeature.cpp
  arangod/Replication/ReplicationMetricsFeature.h
  arangod/RestServer/MetricsFeature.cpp
Labels: 3 Documentation, 3 Metrics

#13844 Feature 3.7/arangosh connection cache (#13821)
  3rdParty/fuerte/include/fuerte/connection.h
  CHANGELOG
  arangosh/Shell/V8ClientConnection.cpp
  arangosh/Shell/V8ClientConnection.h
Labels: 3 Arangosh

#13852 Feature 3.6/arangosh connection cache (#13821)
  3rdParty/fuerte/include/fuerte/connection.h
  CHANGELOG
  arangosh/Shell/V8ClientConnection.cpp
  arangosh/Shell/V8ClientConnection.h
Labels: 3 Arangosh

#13866 Remove allMetrics.yaml
  .gitignore
  Documentation/Metrics/allMetrics.yaml
  README_maintainers.md
  utils/generateAllMetricsDocumentation.py
  utils/makeDashboards.py
Labels: 3 Documentation, 3 Metrics

#13781 Suppress 3rdParty warnings on Clang
  3rdParty/CMakeLists.txt
  3rdParty/V8/CMakeLists.txt
  3rdParty/boost/CMakeLists.txt
  3rdParty/nghttp2/CMakeLists.txt
  3rdParty/rocksdb/CMakeLists.txt
  3rdParty/s2geometry/CMakeLists.txt
Labels: 9 Ready to Merge

#13861 Update OpenSSL to 1.1.1k and OpenLDAP to 2.4.58
  CHANGELOG
  VERSIONS
Labels: OpenSSL

#13862 Update OpenSSL to 1.1.1k and OpenLDAP to 2.4.58
  CHANGELOG
  VERSIONS
Labels: OpenSSL

#13863 Update OpenSSL to 1.1.1k and OpenLDAP to 2.4.58
  CHANGELOG
  VERSIONS
Labels: OpenSSL

#13864 Update OpenSSL to 1.1.1k and OpenLDAP to 2.4.58
  CHANGELOG
  VERSIONS
Labels: OpenSSL

#13869 Feature 3.8/auto check statistics metrics
  arangod/Statistics/StatisticsFeature.cpp
Labels: 3 Metrics
