Repository arangodb/arangodb, pull requests merged in 2021-04, with the labels that each got.

#13885 Removed (empty) exitcodes.cpp
  CMakeLists.txt
  lib/Basics/exitcodes.cpp
  lib/CMakeLists.txt
  utils/generateExitCodesFiles.py
Labels: 9 Ready to Merge

#13871 don't mask errors in cursor API with vpack errors
  CHANGELOG
  arangod/Aql/QueryCursor.cpp
  arangod/RestHandler/RestCursorHandler.cpp
Labels: 9 Ready to Merge, velocypack

#13874 bug-fix 3.8/Fix typos in metric documentation.
  Documentation/Metrics/arangodb_intermediate_commits_total.yaml
  Documentation/Metrics/arangodb_replication_cluster_inventory_requests_total.yaml
  Documentation/Metrics/arangodb_replication_tailing_apply_time_total.yaml
  Documentation/Metrics/arangodb_replication_tailing_request_time_total.yaml
Labels: 3 Documentation, 3 Metrics

#13788 Docs: Correct description of streaming cursor
  Documentation/DocuBlocks/Rest/Cursors/post_api_cursor.md
Labels: 3 API, 3 Documentation

#13888 Deprecate option `--rocksdb.exclusive-writes`
  CHANGELOG
  arangod/RocksDBEngine/RocksDBOptionFeature.cpp
Labels: 3 Documentation, 3 RocksDB

#13898 make metrics low()/high() functions return by value
  CHANGELOG
  arangod/RestServer/Metrics.h
Labels: 3 Metrics, 9 Ready to Merge

#13890 Fix URLs in request logging
  CHANGELOG
  arangod/GeneralServer/GeneralCommTask.h
  arangod/GeneralServer/H2CommTask.cpp
  arangod/GeneralServer/H2CommTask.h
  arangod/GeneralServer/HttpCommTask.cpp
  arangod/GeneralServer/HttpCommTask.h
  arangod/GeneralServer/VstCommTask.cpp
  arangod/GeneralServer/VstCommTask.h
Labels: 9 Ready to Merge

#13896 make metrics' low()/high() methods return by value
  CHANGELOG
  arangod/RestServer/Metrics.h
Labels: 3 Metrics, 9 Ready to Merge

#13886 Control unintended usage of collection names in AQL
  CHANGELOG
  arangod/Aql/ExecutionPlan.cpp
  arangod/RestServer/QueryRegistryFeature.cpp
  arangod/RestServer/QueryRegistryFeature.h
  js/common/bootstrap/errors.js
  lib/Basics/error-registry.h
  lib/Basics/errors.dat
  lib/Basics/voc-errors.h
  tests/js/client/server_parameters/test-allow-collections-in-expressions-off.js
  tests/js/client/server_parameters/test-allow-collections-in-expressions-on.js
  tests/js/server/aql/aql-optimizer-rule-parallelize-gather-cluster.js
Labels: 3 AQL, 9 Ready to Merge

#13891 Fix URLs in request logging
  CHANGELOG
  arangod/GeneralServer/GeneralCommTask.h
  arangod/GeneralServer/H2CommTask.cpp
  arangod/GeneralServer/H2CommTask.h
  arangod/GeneralServer/HttpCommTask.cpp
  arangod/GeneralServer/HttpCommTask.h
  arangod/GeneralServer/VstCommTask.cpp
  arangod/GeneralServer/VstCommTask.h
Labels: 9 Ready to Merge

#13897 make metrics low()/high() functions return by value
  CHANGELOG
  arangod/RestServer/Metrics.h
Labels: 3 Metrics

#13905 Fixed issue BTS-353
  CHANGELOG
  arangod/Aql/AqlItemBlockManager.cpp
  tests/js/client/server_permissions/test-memory-limit.js
Labels: 3 AQL, ASan

#13904 Fixed issue BTS-353
  CHANGELOG
  arangod/Aql/AqlItemBlockManager.cpp
  arangod/Aql/ExecutionBlockImpl.cpp
  tests/js/client/server_parameters/test-memory-limit.js
Labels: 3 AQL, ASan

#13903 Fixed issue BTS-353
  CHANGELOG
  arangod/Aql/AqlItemBlockManager.cpp
  arangod/Aql/ExecutionBlockImpl.cpp
Labels: 3 AQL, ASan

#13902 Fixed issue BTS-353
  CHANGELOG
  arangod/Aql/AqlItemBlockManager.cpp
  arangod/Aql/ExecutionBlockImpl.cpp
Labels: 3 AQL, ASan

#13901 Add `--headers-file` option to arangoimport
  CHANGELOG
  arangosh/Import/ImportFeature.cpp
  arangosh/Import/ImportFeature.h
  arangosh/Import/ImportHelper.cpp
  arangosh/Import/ImportHelper.h
  arangosh/Shell/V8ClientConnection.cpp
  js/client/modules/@arangodb/testsuites/importing.js
  js/client/modules/@arangodb/testutils/process-utils.js
  tests/js/common/test-data/import/import-broken-headers.csv
  tests/js/common/test-data/import/import-data-without-headers.csv
  tests/js/common/test-data/import/import-headers.csv
  tests/js/server/import/import-setup.js
  tests/js/server/import/import-teardown.js
  tests/js/server/import/import.js
Labels: 3 ImportExport

#13911 fix self-assignment in SmallBuffer
  arangod/Agency/Node.h
  tests/Agency/NodeTest.cpp
Labels: 9 Ready to Merge

#13913 fix undefined behavior in dynarray
  CHANGELOG
  arangod/RestServer/dynarray.h
Labels: 9 Ready to Merge

#13923 Remove CMake control variable `UNCONDITIONALLY_BUILD_LOG_MESSAGES`
  CHANGELOG
  CMakeLists.txt
  lib/Logger/LogMacros.h
  lib/Logger/Logger.h
  lib/Logger/LoggerStream.cpp
  lib/Logger/LoggerStream.h
Labels: 3 Build

#13926 fix some issues found during manual fuzzing
  arangod/Cluster/SynchronizeShard.cpp
  arangod/Cluster/SynchronizeShard.h
  arangod/Network/NetworkFeature.cpp
  arangod/RestHandler/RestReplicationHandler.cpp
  arangod/Sharding/ShardDistributionReporter.cpp
  tests/js/client/shell/shell-revisions-noncluster.js
Labels: 9 Ready to Merge

#13932 Added error handling for cluster figures command
  CHANGELOG
  arangod/Cluster/ClusterMethods.cpp
  arangod/RestHandler/RestCollectionHandler.cpp
Labels: 1 Bug

#13940 DocuBlock: Improve deprecation hint for /_admin/log
  Documentation/DocuBlocks/Rest/Administration/get_admin_log.md
Labels: 3 API, 3 Documentation

#13938 Bug fix 3.8/bts 357
  CHANGELOG
  arangod/IResearch/IResearchAnalyzerFeature.cpp
  tests/IResearch/IResearchAnalyzerFeature-test.cpp
  tests/js/common/aql/aql-view-arangosearch-feature.js
Labels: 1 Bug, 3 ArangoSearch

#13941 DocuBlock: Improve deprecation hint for /_admin/log
  Documentation/DocuBlocks/Rest/Administration/get_admin_log.md
  Documentation/DocuBlocks/Rest/Administration/get_api_endpoint.md
Labels: 3 API, 3 Documentation

#13934 Added error handling for cluster figures command
  CHANGELOG
  arangod/Cluster/ClusterMethods.cpp
  arangod/RestHandler/RestCollectionHandler.cpp
Labels: 3 Cluster

#13933 Added error handling for cluster figures command
  CHANGELOG
  arangod/Cluster/ClusterMethods.cpp
  arangod/RestHandler/RestCollectionHandler.cpp
Labels: 3 Cluster

#13925 convert test to making it use the fuerte arango connection
  tests/js/client/communication/test-communication.js
Labels: 3 - Testing, 3 Arangosh

#13947 deprecate startup options `--http.hide-product-header` and `--http.allow-method-override`
  arangod/GeneralServer/GeneralServerFeature.cpp
Labels: 3 API

#13939 Bug fix/bts 346
  arangod/Aql/EngineInfoContainerDBServerServerBased.cpp
  arangod/Aql/ExecutionEngine.cpp
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  arangod/Aql/QueryContext.h
  arangod/Aql/QueryCursor.cpp
  arangod/Aql/QueryCursor.h
  arangod/Aql/QueryProfile.cpp
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
  arangod/IResearch/IResearchAqlAnalyzer.cpp
  arangod/RestHandler/RestCursorHandler.cpp
  arangod/RestServer/DatabaseFeature.cpp
  arangod/Utils/Cursor.h
  arangod/Utils/CursorRepository.cpp
  arangod/V8Server/v8-voccursor.cpp
  js/client/bootstrap/modules/internal.js
  tests/js/common/shell/test-kill-queries.js
Labels: 1 Bug

#13883 AQL highlighter: Add rules for binary and hexadecimal integer literals
  CHANGELOG
  js/apps/system/_admin/aardvark/APP/react/public/assets/src/mode-aql.js
Labels: 1 Feature, 3 UI

#13924 arangoimport: Honor --convert false for null, false and true literals
  CHANGELOG
  README_maintainers.md
  arangosh/Import/ImportHelper.cpp
  js/client/modules/@arangodb/testsuites/importing.js
  tests/js/common/test-data/import/import-noconvert.csv
  tests/js/server/import/import-setup.js
  tests/js/server/import/import-teardown.js
  tests/js/server/import/import.js
Labels: 1 Bug, 3 ImportExport

#13964 arangoimport: Honor --convert false for null, false and true literals
  CHANGELOG
  arangosh/Import/ImportHelper.cpp
  js/client/modules/@arangodb/testsuites/importing.js
  tests/js/common/test-data/import/import-noconvert.csv
  tests/js/server/import/import-setup.js
  tests/js/server/import/import-teardown.js
  tests/js/server/import/import.js
Labels: 1 Bug, 3 ImportExport

#13955 Bug fix 3.8/bts 346
  CHANGELOG
  arangod/Aql/EngineInfoContainerDBServerServerBased.cpp
  arangod/Aql/ExecutionEngine.cpp
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  arangod/Aql/QueryContext.h
  arangod/Aql/QueryCursor.cpp
  arangod/Aql/QueryCursor.h
  arangod/Aql/QueryProfile.cpp
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
  arangod/IResearch/IResearchAqlAnalyzer.cpp
  arangod/RestHandler/RestCursorHandler.cpp
  arangod/RestServer/DatabaseFeature.cpp
  arangod/Utils/Cursor.h
  arangod/Utils/CursorRepository.cpp
  arangod/V8Server/v8-voccursor.cpp
  js/client/bootstrap/modules/internal.js
  tests/js/common/shell/test-kill-queries.js
Labels: 1 Bug, 3 AQL

#13946 Fixed BTS-350, BTS-358
  CHANGELOG
  arangod/Replication/ReplicationApplier.cpp
  arangod/Replication/ReplicationFeature.cpp
  arangod/RocksDBEngine/RocksDBMetadata.cpp
Labels: 3 Master/Slave Replication, 9 Ready to Merge

#13950 add "parallelism" to Pregel HTTP API docs
  CHANGELOG
  Documentation/DocuBlocks/Rest/Pregel/post_api_control_pregel_start.md
  arangod/Pregel/Conductor.cpp
  arangod/Pregel/Conductor.h
  tests/js/common/shell/shell-pregel-mulicollection-edgecol.js
Labels: 3 API, 3 Documentation, 3 Pregel, 9 Ready to Merge

#13952 fix a test
  tests/js/client/server_permissions/test-foxx-apis-on.js
Labels: 3 - Testing, 3 Foxx, 9 Ready to Merge

#13961 Prevent program crash in case of OOM during connecting
  3rdParty/fuerte/src/AsioSockets.h
  CHANGELOG
Labels: 9 Ready to Merge

#13957 fix error in the documentation
  Documentation/DocuBlocks/Rest/Collections/post_api_collection.md
  Documentation/DocuBlocks/collectionDatabaseCreate.md
  Documentation/DocuBlocks/collectionProperties.md
Labels: 3 Documentation

#13963 arangoimport: Honor --convert false for null, false and true literals
  CHANGELOG
  README_maintainers.md
  arangosh/Import/ImportHelper.cpp
  js/client/modules/@arangodb/testsuites/importing.js
  tests/js/common/test-data/import/import-noconvert.csv
  tests/js/server/import/import-setup.js
  tests/js/server/import/import-teardown.js
  tests/js/server/import/import.js
Labels: 1 Bug, 3 ImportExport

#13937 3.7: convert test to making it use the fuerte arango connection
  tests/js/client/communication/test-communication.js
Labels: 3 - Testing

#13965 Arangoimport: Adjust `--convert` description to actual behavior
  CHANGELOG
  arangosh/Import/ImportFeature.cpp
Labels: 1 Bug, 3 Documentation, 3 ImportExport

#13966 Bug fix 3.7/bts 346
  CHANGELOG
  arangod/Aql/EngineInfoContainerDBServerServerBased.cpp
  arangod/Aql/ExecutionEngine.cpp
  arangod/Aql/Query.cpp
  arangod/Aql/Query.h
  arangod/Aql/QueryContext.h
  arangod/Aql/QueryCursor.cpp
  arangod/Aql/QueryCursor.h
  arangod/Aql/QueryProfile.cpp
  arangod/Aql/QueryRegistry.cpp
  arangod/Aql/QueryRegistry.h
  arangod/RestHandler/RestCursorHandler.cpp
  arangod/RestServer/DatabaseFeature.cpp
  arangod/Utils/Cursor.h
  arangod/Utils/CursorRepository.cpp
  arangod/V8Server/v8-voccursor.cpp
  js/client/bootstrap/modules/internal.js
  tests/js/common/shell/test-kill-queries.js
Labels: 1 Bug, 3 AQL

#13973 Fix shard error multiplication
  CHANGELOG
  arangod/Cluster/ClusterMethods.cpp
Labels: 3 Cluster

#13972 Fix shard error multiplication
  CHANGELOG
  arangod/Cluster/ClusterMethods.cpp
Labels: 3 Cluster

#13971 Fix shard error multiplication
  CHANGELOG
  arangod/Cluster/ClusterMethods.cpp
Labels: 3 Cluster

#13958 Added option `--query.require-with`
  CHANGELOG
  arangod/Graph/Cache/RefactoredTraverserCache.cpp
  arangod/Graph/Cache/RefactoredTraverserCache.h
  arangod/Graph/TraverserCache.cpp
  arangod/Graph/TraverserCache.h
  arangod/RestServer/QueryRegistryFeature.cpp
  arangod/RestServer/QueryRegistryFeature.h
  arangod/Transaction/Options.h
  tests/js/client/server_parameters/test-require-with.js
  tests/js/server/aql/aql-graph-traverser.js
  tests/js/server/aql/aql-graph.js
  tests/js/server/aql/aql-profiler-noncluster.js
Labels: 3 AQL

#13959 Added option `--query.require-with`
  CHANGELOG
  arangod/Graph/Cache/RefactoredTraverserCache.cpp
  arangod/Graph/Cache/RefactoredTraverserCache.h
  arangod/Graph/TraverserCache.cpp
  arangod/Graph/TraverserCache.h
  arangod/RestServer/QueryRegistryFeature.cpp
  arangod/RestServer/QueryRegistryFeature.h
  arangod/Transaction/Options.h
  tests/js/client/server_parameters/test-require-with.js
  tests/js/server/aql/aql-graph-traverser.js
  tests/js/server/aql/aql-graph.js
  tests/js/server/aql/aql-profiler-noncluster.js
Labels: 3 AQL

#13983 Fix ordering of Database and FlushFeatures
  arangod/RestServer/FlushFeature.cpp
Labels: 1 Bug

#13981 [3.7] BTS-352
  CHANGELOG
  arangod/ClusterEngine/ClusterCollection.cpp
  arangod/ClusterEngine/ClusterCollection.h
  arangod/RocksDBEngine/RocksDBCollection.cpp
  arangod/RocksDBEngine/RocksDBCollection.h
  arangod/RocksDBEngine/RocksDBVPackIndex.cpp
  arangod/StorageEngine/PhysicalCollection.h
  arangod/VocBase/LogicalCollection.cpp
  tests/Mocks/StorageEngineMock.cpp
  tests/Mocks/StorageEngineMock.h
Labels: 3 RocksDB

#13978 [3.8] BTS-352
  CHANGELOG
  arangod/Aql/IResearchViewExecutor.cpp
  arangod/Aql/MaterializeExecutor.cpp
  arangod/ClusterEngine/ClusterCollection.cpp
  arangod/ClusterEngine/ClusterCollection.h
  arangod/Graph/Cache/RefactoredTraverserCache.cpp
  arangod/Graph/Cursors/RefactoredSingleServerEdgeCursor.cpp
  arangod/Graph/SingleServerEdgeCursor.cpp
  arangod/Indexes/IndexIterator.cpp
  arangod/RocksDBEngine/RocksDBCollection.cpp
  arangod/RocksDBEngine/RocksDBCollection.h
  arangod/RocksDBEngine/RocksDBGeoIndex.cpp
  arangod/RocksDBEngine/RocksDBVPackIndex.cpp
  arangod/StorageEngine/PhysicalCollection.h
  tests/Mocks/StorageEngineMock.cpp
  tests/Mocks/StorageEngineMock.h
Labels: 3 RocksDB

#13994 Fixed BTS-350, BTS-358
  CHANGELOG
  arangod/Replication/ReplicationApplier.cpp
  arangod/Replication/ReplicationFeature.cpp
Labels: 9 Ready to Merge

#13995 [3.7] timely update of rebootIds and cluster memberships in clusterinfo
  CHANGELOG
  arangod/Cluster/HeartbeatThread.cpp
  arangod/Cluster/HeartbeatThread.h
Labels: 1 Bug, 3 Cluster

#14003 Bug fix 3.8/cppcheck
  CHANGELOG
  arangod/Aql/AqlCall.h
  arangod/Aql/InputAqlItemRow.cpp
  arangod/Aql/OptimizerUtils.cpp
  arangod/Cache/CachedValue.cpp
  arangod/Cluster/ClusterInfo.cpp
  arangod/Cluster/ClusterInfo.h
  arangod/Graph/KShortestPathsFinder.cpp
  arangod/Graph/Providers/ClusterProvider.h
  arangod/Graph/Providers/SingleServerProvider.h
  arangod/IResearch/ExpressionFilter.cpp
  arangod/IResearch/GeoFilter.cpp
  arangod/IResearch/IResearchViewStoredValues.cpp
  arangod/Network/ConnectionPool.cpp
  arangod/Network/Methods.cpp
  arangod/RestServer/dynarray.h
  arangod/RocksDBEngine/Listeners/RocksDBShaCalculator.cpp
  arangod/VocBase/Methods/UpgradeTasks.cpp
  lib/ApplicationFeatures/CpuUsageFeature.cpp
  lib/Basics/csv.cpp
  lib/V8/v8-buffer.cpp
  utils/cppcheck.sh
Labels: 3 Build

#13985 Fix cluster internal network request retry behaviour
  3rdParty/fuerte/include/fuerte/types.h
  CHANGELOG
  arangod/Agency/AsyncAgencyComm.cpp
  arangod/Aql/EngineInfoContainerDBServerServerBased.cpp
  arangod/Aql/RestAqlHandler.cpp
  arangod/Cluster/ClusterMethods.cpp
  arangod/Cluster/ClusterTraverser.cpp
  arangod/Cluster/ClusterTrxMethods.cpp
  arangod/Cluster/v8-cluster.cpp
  arangod/ClusterEngine/RocksDBMethods.cpp
  arangod/GeneralServer/RestHandler.cpp
  arangod/Graph/Providers/ClusterProvider.cpp
  arangod/Graph/ShortestPathFinder.cpp
  arangod/IResearch/IResearchAnalyzerFeature.cpp
  arangod/Network/Methods.cpp
  arangod/Network/Methods.h
  arangod/Pregel/Conductor.cpp
  arangod/Pregel/Worker.cpp
  arangod/RestHandler/RestAdminClusterHandler.cpp
  arangod/RestHandler/RestAdminLogHandler.cpp
  arangod/RestHandler/RestDocumentHandler.cpp
  arangod/RestHandler/RestDocumentHandler.h
  arangod/RestHandler/RestImportHandler.cpp
  arangod/Sharding/ShardDistributionReporter.cpp
  arangod/Transaction/Manager.cpp
  arangod/Transaction/Methods.cpp
  arangod/V8Server/v8-actions.cpp
  arangod/VocBase/Methods/Queries.cpp
  js/common/bootstrap/errors.js
  lib/Basics/error-registry.h
  lib/Basics/errors.dat
  lib/Basics/voc-errors.h
  lib/Rest/CommonDefines.h
  lib/Rest/GeneralResponse.cpp
  tests/AsyncAgencyComm/AsyncAgencyCommTest.cpp
  tests/Network/MethodsTest.cpp
  tests/js/client/server_parameters/exclusive-collections-on.js
  tests/js/client/shell/shell-document-api-internal-http-return-codes-cluster.js
Labels: 3 Cluster

#13998 deprecate the /_admin/statistics API in favor of /_admin/metrics/v2
  Documentation/DocuBlocks/Rest/Administration/get_admin_statistics.md
  Documentation/DocuBlocks/Rest/Administration/get_admin_statistics_description.md
Labels: 3 Documentation, 3 Metrics

#14007 Add deprecation warning to /_api/export (#13929)
  Documentation/DocuBlocks/Rest/Bulk/post_api_export.md
Labels: 3 API, 3 Documentation

#14011 [3.8] timely update of rebootIds and cluster memberships in clusterinfo
  CHANGELOG
  arangod/Cluster/HeartbeatThread.cpp
  arangod/Cluster/HeartbeatThread.h
Labels: 1 Bug, 3 Cluster

#14002 Added `--query.require-with` startup option
  CHANGELOG
  arangod/Graph/TraverserCache.cpp
  arangod/Graph/TraverserCache.h
  arangod/RestServer/QueryRegistryFeature.cpp
  arangod/RestServer/QueryRegistryFeature.h
  arangod/Transaction/Options.h
  tests/js/client/server_parameters/test-require-with.js
  tests/js/server/aql/aql-graph-traverser.js
  tests/js/server/aql/aql-graph.js
  tests/js/server/aql/aql-profiler-noncluster.js
Labels: 3 AQL, 3 Cluster, 9 Ready to Merge

#14014 bug-fix-3.8/internal-issue-#700
  3rdParty/iresearch/core/formats/formats_10.cpp
  CHANGELOG
Labels: 1 Bug, 3 ArangoSearch

#14015 bug-fix-3.7/internal-issue-#700
  3rdParty/iresearch/core/formats/formats_10.cpp
  CHANGELOG
Labels: 1 Bug, 3 ArangoSearch

#14013 bug-fix/internal-issue-#700
  3rdParty/iresearch/core/formats/formats_10.cpp
  CHANGELOG
Labels: 1 Bug, 3 ArangoSearch

#14016 bug-fix-3.6/internal-issue-#700
  3rdParty/iresearch/core/formats/formats_10.cpp
  CHANGELOG
Labels: 1 Bug, 3 ArangoSearch

#14022 Fix crashes during arangorestore operations
  CHANGELOG
  arangod/RestHandler/RestReplicationHandler.cpp
  arangod/RestHandler/RestReplicationHandler.h
  tests/js/client/authentication/restore.js
Labels: 1 Bug, 3 ImportExport, 9 Ready to Merge

#14020 Improve parallelism capabilities of arangorestore.
  CHANGELOG
  arangod/RestHandler/RestReplicationHandler.cpp
  arangosh/Restore/RestoreFeature.cpp
  arangosh/Restore/RestoreFeature.h
  arangosh/Utils/ManagedDirectory.cpp
  arangosh/Utils/ManagedDirectory.h
  arangosh/Utils/ProgressTracker.h
  js/client/modules/@arangodb/testsuites/dump.js
  js/client/modules/@arangodb/testutils/process-utils.js
  lib/Maskings/Maskings.cpp
  lib/Maskings/Maskings.h
  tests/js/client/shell/shell-dump-integration.js
  tests/js/server/dump/dump-maskings.js
Labels: 3 ImportExport, 9 Ready to Merge, performance

#14026 deprecate collection load/unload functions
  Documentation/DocuBlocks/Rest/Collections/put_api_collection_load.md
  Documentation/DocuBlocks/Rest/Collections/put_api_collection_unload.md
Labels: 3 Documentation, 9 Ready to Merge

#14028 Web UI: Mention that Node.js and Yarn need to be installed for building
  README_maintainers.md
Labels: 3 Build, 3 Documentation, 3 UI

#14031 BTS-374 (#14027)
  CHANGELOG
  arangod/IResearch/IResearchLink.cpp
Labels: 3 ArangoSearch, ASan

#14024 Fix crashes during arangorestore operations
  CHANGELOG
  arangod/RestHandler/RestReplicationHandler.cpp
  arangod/RestHandler/RestReplicationHandler.h
  tests/js/client/authentication/restore.js
Labels: 1 Bug, 3 ImportExport, 9 Ready to Merge

#14023 Fix crashes during arangorestore operations
  CHANGELOG
  arangod/RestHandler/RestReplicationHandler.cpp
  arangod/RestHandler/RestReplicationHandler.h
  tests/js/client/authentication/restore.js
Labels: 1 Bug, 3 ImportExport, 9 Ready to Merge

#14032 BTS-374 (#14027)
  CHANGELOG
  arangod/IResearch/IResearchLink.cpp
Labels: 3 ArangoSearch, ASan

#13745 Allow AQL variable names starting with an underscore, as stated in the docs
  CHANGELOG
  arangod/Aql/Ast.cpp
  arangod/Aql/VariableGenerator.cpp
  arangod/Aql/VariableGenerator.h
  arangod/Aql/tokens.cpp
  arangod/Aql/tokens.ll
  tests/js/server/aql/aql-parse.js
Labels: 1 Feature, 3 AQL

#14008 improve performance in case of conflicts in batch CRUD operation
  CHANGELOG
  arangod/IResearch/IResearchRocksDBLink.h
  arangod/RocksDBEngine/RocksDBBuilderIndex.cpp
  arangod/RocksDBEngine/RocksDBBuilderIndex.h
  arangod/RocksDBEngine/RocksDBCollection.cpp
  arangod/RocksDBEngine/RocksDBCollection.h
  arangod/RocksDBEngine/RocksDBEdgeIndex.cpp
  arangod/RocksDBEngine/RocksDBEdgeIndex.h
  arangod/RocksDBEngine/RocksDBFulltextIndex.cpp
  arangod/RocksDBEngine/RocksDBFulltextIndex.h
  arangod/RocksDBEngine/RocksDBGeoIndex.cpp
  arangod/RocksDBEngine/RocksDBGeoIndex.h
  arangod/RocksDBEngine/RocksDBIndex.cpp
  arangod/RocksDBEngine/RocksDBIndex.h
  arangod/RocksDBEngine/RocksDBPrimaryIndex.cpp
  arangod/RocksDBEngine/RocksDBPrimaryIndex.h
  arangod/RocksDBEngine/RocksDBTransactionState.cpp
  arangod/RocksDBEngine/RocksDBTransactionState.h
  arangod/RocksDBEngine/RocksDBTtlIndex.cpp
  arangod/RocksDBEngine/RocksDBTtlIndex.h
  arangod/RocksDBEngine/RocksDBVPackIndex.cpp
  arangod/RocksDBEngine/RocksDBVPackIndex.h
Labels: 9 WIP

#14037 Feature/hybrid smart graph api
  arangod/Aql/GraphNode.cpp
  arangod/Aql/GraphNode.h
  arangod/Graph/Graph.cpp
  arangod/Graph/Graph.h
  arangod/Graph/GraphManager.cpp
  arangod/Graph/GraphOperations.cpp
  lib/Basics/StaticStrings.cpp
  lib/Basics/StaticStrings.h
Labels: 1 Feature

#14036 [3.6] Fix BTS-340: Prevent overzealous remove-redundant-or
  CHANGELOG
  arangod/Aql/OptimizerRules.cpp
  tests/js/server/aql/aql-optimizer-rule-remove-redundant-or.js
Labels: 3 Optimizer

#14035 [3.7] Fix BTS-340: Prevent overzealous remove-redundant-or
  CHANGELOG
  arangod/Aql/OptimizerRules.cpp
  tests/js/server/aql/aql-optimizer-rule-remove-redundant-or.js
Labels: 1 Bug, 3 AQL, 3 Optimizer

#14046 Improve TTL handling for streaming cursors
  CHANGELOG
  arangod/Utils/Cursor.h
  tests/rb/HttpInterface/api-cursor-spec.rb
Labels: 3 Index

#14030 3.8: chop request functions into handy bits, reuse code (#14001)
  CHANGELOG
  arangosh/Shell/V8ClientConnection.cpp
  lib/Basics/StaticStrings.cpp
  lib/Basics/StaticStrings.h
  tests/js/client/shell/shell-foxx-interface.js
  tests/js/client/shell/shell-vpack.js
Labels: 3 Arangosh

#14034 [3.8] Fix BTS-340: Prevent overzealous remove-redundant-or
  CHANGELOG
  arangod/Aql/OptimizerRules.cpp
  tests/js/server/aql/aql-optimizer-rule-remove-redundant-or.js
Labels: 1 Bug, 3 AQL, 3 Optimizer

#14041 Added `--query-max-runtime` option for arangoexport
  CHANGELOG
  arangosh/Export/ExportFeature.cpp
  arangosh/Export/ExportFeature.h
  js/client/modules/@arangodb/testsuites/export.js
Labels: 3 ImportExport, 9 Ready to Merge

#14045 Improve TTL handling for streaming cursors
  CHANGELOG
  arangod/Utils/Cursor.h
  tests/rb/HttpInterface/api-cursor-spec.rb
Labels: 3 Index, 9 Ready to Merge

#14048 remove the use of UsePadding velocypack options
  CHANGELOG
  arangod/RestHandler/RestReplicationHandler.cpp
Labels: 9 Ready to Merge, ASan

#14050 fixed issue BTS-373
  CHANGELOG
  arangod/Transaction/V8Context.cpp
  arangod/Transaction/V8Context.h
Labels: 9 Ready to Merge, ASan

#14019 Retry if an ex leader cannot drop a follower
  CHANGELOG
  arangod/Cluster/ClusterTrxMethods.cpp
  arangod/Transaction/Methods.cpp
Labels: 1 Bug, 3 Cluster

#14040 [3.8] Retry if an ex leader cannot drop a follower
  CHANGELOG
  arangod/Cluster/ClusterTrxMethods.cpp
  arangod/Transaction/Methods.cpp
Labels: 1 Bug, 3 Cluster

#14069 3.7: fix internal-issue #798
  3rdParty/iresearch/core/index/index_writer.cpp
  CHANGELOG
  tests/js/common/aql/aql-view-arangosearch-feature.js
Labels: 1 Bug, 3 ArangoSearch

#14068 3.8: fix internal-issue #798
  3rdParty/iresearch/core/index/index_writer.cpp
  CHANGELOG
  tests/js/common/aql/aql-view-arangosearch-feature.js
Labels: 1 Bug, 3 ArangoSearch

#14061 Fix return code on shutting down in sendRequestRetry
  CHANGELOG
  arangod/Network/Methods.cpp
  tests/Network/MethodsTest.cpp
Labels: 1 Bug, 3 Cluster

#14070 3.6: fix internal-issue #798
  3rdParty/iresearch/core/index/index_writer.cpp
  CHANGELOG
  tests/js/common/aql/aql-view-arangosearch-feature.js
Labels: 1 Bug, 3 ArangoSearch

#14055 [3.8] Only guarded access to actionbase result
  CHANGELOG
  arangod/Cluster/ActionBase.cpp
  arangod/Cluster/ActionBase.h
  arangod/Cluster/CreateCollection.cpp
  arangod/Cluster/CreateDatabase.cpp
  arangod/Cluster/DropCollection.cpp
  arangod/Cluster/DropDatabase.cpp
  arangod/Cluster/DropIndex.cpp
  arangod/Cluster/EnsureIndex.cpp
  arangod/Cluster/ResignShardLeadership.cpp
  arangod/Cluster/SynchronizeShard.cpp
  arangod/Cluster/TakeoverShardLeadership.cpp
  arangod/Cluster/UpdateCollection.cpp
  tests/Maintenance/MaintenanceFeatureTest.cpp
Labels: 1 Bug, 3 Cluster

#14064 Fix return code on shutting down in sendRequestRetry
  CHANGELOG
  arangod/Network/Methods.cpp
  tests/Network/MethodsTest.cpp
Labels: 1 Bug

#14063 Fix return code on shutting down in sendRequestRetry
  CHANGELOG
  arangod/Network/Methods.cpp
  tests/Network/MethodsTest.cpp
Labels: 1 Bug, 3 Cluster

#13979 timely update of rebootIds and cluster memberships in clusterinfo
  CHANGELOG
  arangod/Cluster/HeartbeatThread.cpp
  arangod/Cluster/HeartbeatThread.h
Labels: 1 Bug, 3 Cluster

#13993 Fix BTS-340: Prevent overzealous remove-redundant-or
  CHANGELOG
  arangod/Aql/OptimizerRules.cpp
  tests/js/server/aql/aql-optimizer-rule-remove-redundant-or.js
Labels: 1 Bug, 3 AQL, 3 Optimizer, 9 Ready to Merge

#14079 fix some potential issues in Pregel tests
  tests/js/common/shell/shell-pregel-basics-example.js
  tests/js/common/shell/shell-pregel-components.js
  tests/js/common/shell/shell-pregel-random.js
  tests/js/common/shell/shell-pregel-start-cluster.js
Labels: 3 - Testing, 3 Pregel

#14080 fix some potential issues in Pregel tests
  tests/js/common/shell/shell-pregel-basics-example.js
  tests/js/common/shell/shell-pregel-components.js
  tests/js/common/shell/shell-pregel-random.js
  tests/js/common/shell/shell-pregel-start-cluster.js
Labels: 3 - Testing, 3 Pregel

#14083 Bug fix 3.6/fix pregel tests
  tests/js/common/shell/shell-pregel-start-cluster.js
  tests/js/server/shell/shell-pregel.js
Labels: 3 - Testing, 3 Pregel

#14086 AQL micro optimizations
  arangod/Aql/AqlCall.h
  arangod/Aql/AqlItemBlock.h
  arangod/Aql/AqlItemBlockInputRange.cpp
  arangod/Aql/AqlItemMatrix.cpp
  arangod/Aql/BlocksWithClients.cpp
  arangod/Aql/ConstrainedSortExecutor.cpp
  arangod/Aql/ConstrainedSortExecutor.h
  arangod/Aql/EnumerateListExecutor.cpp
  arangod/Aql/ExecutionBlockImpl.cpp
  arangod/Aql/MultiAqlItemBlockInputRange.cpp
  arangod/Aql/MultiDependencySingleRowFetcher.cpp
  arangod/Aql/Stats.h
Labels: 9 Review Required

#14081 human-readable sizes outputs in client tools
  CHANGELOG
  arangosh/Dump/DumpFeature.cpp
  arangosh/Export/ExportFeature.cpp
  arangosh/Import/ImportHelper.cpp
  arangosh/Restore/RestoreFeature.cpp
  lib/Basics/StringUtils.cpp
  lib/Basics/StringUtils.h
  tests/Basics/StringUtilsTest.cpp
Labels: 9 Review Required

#14084 Fix maintenance amok and HTTP responses
  CHANGELOG
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/GeneralServer/HttpCommTask.cpp
Labels: 3 Cluster

#14082 Bug fix 3.7/fix pregel tests
  tests/js/common/shell/shell-pregel-start-cluster.js
  tests/js/common/shell/shell-pregel.js
Labels: 3 - Testing, 3 Pregel

#14090 Fix maintenance amok and HTTP responses
  CHANGELOG
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/GeneralServer/HttpCommTask.cpp
Labels: 3 Cluster

#14089 Fix maintenance amok and HTTP responses
  CHANGELOG
  arangod/Cluster/MaintenanceFeature.cpp
  arangod/GeneralServer/HttpCommTask.cpp
Labels: 3 Cluster

#14097 Docs: Add deprecation remark to PUT /_api/cursor/{cursor-identifier} title
  Documentation/DocuBlocks/Rest/Cursors/put_api_cursor_identifier.md
Labels: 3 Documentation, 9 Ready to Merge

#14096 Docs: Add deprecation remark to PUT /_api/cursor/{cursor-identifier} title
  Documentation/DocuBlocks/Rest/Cursors/put_api_cursor_identifier.md
Labels: 3 Documentation, 9 Ready to Merge

#14087 Bug fix 3.8/collection not available during start up
  CHANGELOG
  arangod/Aql/Collection.cpp
  arangod/Aql/Collection.h
  arangod/Auth/UserManager.cpp
  arangod/GeneralServer/CommTask.cpp
  arangod/GeneralServer/H2CommTask.cpp
  arangod/GeneralServer/H2CommTask.h
  arangod/GeneralServer/HttpCommTask.cpp
  arangod/GeneralServer/HttpCommTask.h
  arangod/GeneralServer/VstCommTask.cpp
  arangod/RestServer/BootstrapFeature.cpp
  arangod/RestServer/BootstrapFeature.h
  js/common/bootstrap/errors.js
  lib/Basics/errors.dat
  lib/Basics/voc-errors.h
  lib/Rest/GeneralResponse.cpp
  tests/js/client/authentication/auth.js
Labels: 3 Cluster

#14092 Fix various tsan issues
  3rdParty/iresearch/core/index/index_writer.hpp
  3rdParty/iresearch/core/utils/object_pool.hpp
  CHANGELOG
  arangod/Agency/Agent.cpp
  arangod/Agency/AsyncAgencyComm.h
  arangod/Agency/Supervision.cpp
  arangod/Aql/Query.h
  arangod/Aql/QueryContext.h
  arangod/Cluster/AgencyCache.cpp
  arangod/Cluster/HeartbeatThread.cpp
  arangod/GeneralServer/AcceptorTcp.cpp
  arangod/GeneralServer/AcceptorTcp.h
  arangod/GeneralServer/AcceptorUnixDomain.cpp
  arangod/GeneralServer/AcceptorUnixDomain.h
  arangod/IResearch/IResearchFeature.cpp
  arangod/Network/NetworkFeature.h
  arangod/Pregel/PregelFeature.cpp
  arangod/Pregel/PregelFeature.h
  arangod/Pregel/Worker.h
  arangod/RestServer/Metrics.h
  arangod/RocksDBEngine/RocksDBCollection.h
  arangod/Sharding/ShardingInfo.h
  arangod/Utils/Cursor.h
  arangod/VocBase/LogicalCollection.h
  arangod/VocBase/LogicalDataSource.h
  arangosh/Shell/V8ClientConnection.h
  tsan_arangodb_suppressions.txt
Labels: TSan

#14106 Rename ArangoDB VERSION file
  ARANGO-VERSION
  CMakeLists.txt
  utils/generateSwagger.py
Labels: 3 Build, 4 MacOSX

#14107 Rename ArangoDB VERSION file (3.8)
  ARANGO-VERSION
  CMakeLists.txt
  utils/generateSwagger.py
Labels: 3 Build, 4 MacOSX

#14108 Rename ArangoDB VERSION file (3.7)
  ARANGO-VERSION
  CMakeLists.txt
  utils/generateSwagger.py
Labels: 3 Build, 4 MacOSX

#14109 Rename ArangoDB VERSION file (3.6)
  ARANGO-VERSION
  CMakeLists.txt
  utils/generateSwagger.py
Labels: 3 Build, 4 MacOSX

#14091 display peak memory usage in query profiling output
  CHANGELOG
  js/common/modules/@arangodb/aql/explainer.js
Labels: 9 Ready to Merge

#14111 Fix move after free bug in connection pool
  CHANGELOG
  arangod/Network/ConnectionPool.cpp
Labels: 1 Bug

#14110 Fix move after free bug in connection pool
  CHANGELOG
  arangod/Network/ConnectionPool.cpp
Labels: 1 Bug
