Repository arangodb/arangodb, pull requests merged in 2021-10, with the labels that each got.

#14847 willi
  arangosh/Shell/ClientFeature.cpp
Labels: 3 Arangosh

#14845 Added support for adding ZKD index through Web UI.
  js/apps/system/_admin/aardvark/APP/frontend/js/templates/indicesView.ejs
  js/apps/system/_admin/aardvark/APP/frontend/js/views/indicesView.js
Labels: 3 UI

#14850 properly throw an exception in case an invalid state is encountered
  arangod/Cache/Table.cpp
Labels: ASan

#14852 improve usage of `__has_include`
  lib/Basics/Mutex.h
Labels: ASan

#14859 fix race in RocksDB throttle startup
  CHANGELOG
  arangod/RocksDBEngine/RocksDBEngine.cpp
  arangod/RocksDBEngine/RocksDBThrottle.cpp
  arangod/RocksDBEngine/RocksDBThrottle.h
Labels: 3 RocksDB

#14856 Fix race in RocksDBThrottle
  CHANGELOG
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.cpp
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.h
  arangod/RocksDBEngine/RocksDBEngine.cpp
Labels: 3 RocksDB

#14837 Fix missing rows in unsorted gather
  arangod/Aql/ConstFetcher.cpp
  arangod/Aql/ExecutionBlock.cpp
  arangod/Aql/ExecutionBlockImpl.cpp
  arangod/Aql/ExecutionBlockImpl.h
  arangod/Aql/RestAqlHandler.cpp
  tests/js/server/aql/aql-gather-block-cluster.js
Labels: 1 Bug, 3 AQL, 3 Cluster

#14857 Fix race in RocksDBThrottle
  CHANGELOG
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.cpp
  arangod/RocksDBEngine/Listeners/RocksDBThrottle.h
  arangod/RocksDBEngine/RocksDBEngine.cpp
Labels: 3 RocksDB

#14999 [3.8] Fix the order in which arangorestore restored collections
  CHANGELOG
  arangosh/Restore/RestoreFeature.cpp
  arangosh/Restore/RestoreFeature.h
  lib/Basics/StaticStrings.cpp
  lib/Basics/StaticStrings.h
  tests/js/client/shell/shell-restore-integration.js
Labels: 1 Bug, 9 Ready to Merge, 3 ImportExport
